Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(pain): DA Round 3 피드백 반영
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
  modules/shared/programs/claude/files/skills/pain/SKILL.md
Due: shellcheck

refactor(pain): REJECTS 감지 코드 제거
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
Due: shellcheck

refactor(pain): 컨텍스트 주입 10건 → 5건으로 축소
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
Due: shellcheck

fix(pain): REPO fallback 버그 수정
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
Due: shellcheck

settings(claude): `showThinkingSummaries`, `showClearContextOnPlanAccept` 활성화
  modules/shared/programs/claude/files/settings.json
Due: none

refactor(pain): 하이브리드 아키텍처로 전환
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/pain/SKILL.md
Due: nixfmt, shellcheck

fix(pain): DA Round 5 피드백 반영
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
Due: shellcheck

feat(claude): CLAUDE.md에 extended thinking 한국어 사고 지시 추가
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

fix(pain): DA Round 6 피드백 반영
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
Due: shellcheck

fix(pain): jq rewrite 시 -c 플래그 추가 (JSONL 형식 유지)
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
Due: shellcheck

fix(atuin): 거짓 경고 빈발하는 atuin-watchdog 전체 제거
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/monitoring.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
  modules/darwin/home.nix
  modules/darwin/programs/atuin/default.nix
  modules/darwin/programs/atuin/files/atuin-watchdog.sh
  modules/darwin/programs/hammerspoon/default.nix
  modules/darwin/programs/hammerspoon/files/atuin_menubar.lua
  modules/darwin/programs/hammerspoon/files/init.lua
  modules/shared/programs/secrets/default.nix
  secrets/pushover-atuin.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(skills): codex exec Bash tool sandbox 호환성 수정
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: none

feat(pain): mkdir 기반 lock 추가 (동시 4세션 환경 보호)
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
Due: shellcheck

fix(atuin): 거짓 경고 빈발하는 atuin-watchdog 전체 제거 (#347)
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/monitoring.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
  modules/darwin/home.nix
  modules/darwin/programs/atuin/default.nix
  modules/darwin/programs/atuin/files/atuin-watchdog.sh
  modules/darwin/programs/hammerspoon/default.nix
  modules/darwin/programs/hammerspoon/files/atuin_menubar.lua
  modules/darwin/programs/hammerspoon/files/init.lua
  modules/shared/programs/secrets/default.nix
  secrets/pushover-atuin.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(pain): DA Round 8 피드백 반영
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
Due: shellcheck

feat(claude): CLAUDE.md에 extended thinking 한국어 사고 지시 추가 (#349)
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

feat(pain): pain point collection harness (#343)
  docs/superpowers/plans/2026-03-28-pain-point-collection.md
  docs/superpowers/specs/2026-03-28-pain-point-collection-design.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
  modules/shared/programs/claude/files/settings.json
Due: nixfmt, shellcheck

fix(skills): codex exec Bash tool sandbox 호환성 수정 (#348)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: none

refactor(skills): codex exec DA를 background Bash tool로 실행
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: none

refactor(claude): CLAUDE.md 대폭 압축 (141줄 → 40줄)
  CLAUDE.md
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

style(skills): run-da 코드 블록 fence label bash → zsh
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

refactor(skills): codex exec DA를 background Bash tool로 실행 (#350)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: none

feat(pain): /show-pains 스킬 — pain point HTML 대시보드 (#344)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/scripts/show-pain-points.sh
  modules/shared/programs/claude/files/skills/show-pains/SKILL.md
  modules/shared/programs/claude/files/skills/show-pains/references/template.html
Due: nixfmt, shellcheck

fix(pain): DA for_pr Round 1 반영 — context 추출 안전성 + 문서 정확성
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/scripts/show-pain-points.sh
  modules/shared/programs/claude/files/skills/show-pains/SKILL.md
  modules/shared/programs/codex/files/config.darwin.toml
Due: shellcheck

fix(pain): 전수조사 반영 — SKILL.md 용어 수정 + 무관 변경 제거
  modules/shared/programs/claude/files/skills/show-pains/SKILL.md
  modules/shared/programs/codex/files/config.darwin.toml
Due: none

fix(pain): 불량 JSONL 행에 대시보드 전면 실패 방지
  modules/shared/programs/claude/files/scripts/show-pain-points.sh
Due: shellcheck

fix(claude): DA for_pr Round 1 피드백 반영
  CLAUDE.md
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

feat(pain): /show-pains — pain point 인터랙티브 HTML 대시보드 (#352)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/scripts/show-pain-points.sh
  modules/shared/programs/claude/files/skills/show-pains/SKILL.md
  modules/shared/programs/claude/files/skills/show-pains/references/template.html
Due: nixfmt, shellcheck

fix(pain): jq -Rsc inputs 첫 줄 누락 수정
  modules/shared/programs/claude/files/scripts/show-pain-points.sh
Due: shellcheck

fix(pain): long_session 제거 + "야," 키워드 추가 + 빈 context 필터링
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/scripts/show-pain-points.sh
Due: shellcheck

settings(codex): `fast` 모드 비활성
  modules/shared/programs/codex/files/config.darwin.toml
Due: none

fix(pain): long_session 제거 + "야," 키워드 추가 + 빈 context 필터링 (#353)
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/scripts/show-pain-points.sh
Due: shellcheck

fix(claude): DA for_pr Round 2 피드백 반영
  CLAUDE.md
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

fix(devtools): agent-browser Homebrew 주석 정확화
  modules/darwin/programs/homebrew.nix
Due: nixfmt

feat(devtools): agent-browser v0.23.0 재도입 (Rust 네이티브, Skill 방식)
  .gitignore
  modules/darwin/programs/homebrew.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

feat(devtools): agent-browser v0.23.0 재도입 (Rust 네이티브, Skill 방식) (#354)
  .gitignore
  modules/darwin/programs/homebrew.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

refactor(claude): CLAUDE.md 대폭 압축 (141줄 → 58줄) (#356)
  CLAUDE.md
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

fix(caddy): nixpkgs 업데이트로 Go 버전 불일치 해소
  flake.lock
Due: none

fix(caddy): nixpkgs 업데이트로 Go 버전 불일치 해소 (#358)
  flake.lock
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
