Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(run-da): DA Round 3 피드백 — 문서 전체 for_plan 동기화
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(run-da): DA 프롬프트 예시 unquoted heredoc → quoted 수정
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

fix(run-da): Arbiter for_plan 오탐 해결 — 계획 기반 판정 기준 도입 (#390)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(codex): heredoc + codex exec 체이닝 stdin hang 방지 문서화
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(skills): LLM의 bash 배열 문법 오류 재발 방지 — zsh 환경 명시 + 코드 예시 개선
  CLAUDE.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(codex): DA Round 1 CONFIRMED 반영 — $TDIR 버그 + 서술 개선
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(codex): DA Round 2 반영 — 경고 범위 축소 + mktemp 복원
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(codex): heredoc + codex exec 체이닝 stdin hang 방지 문서화 (#391)
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(skills): DA for_pr Round 1 피드백 반영 — 용어 통일 + 금지 범위 정밀화
  CLAUDE.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(skills): DA for_pr Round 2 피드백 반영 — 참조 정리 + 확장 규칙 명시
  CLAUDE.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(skills): LLM bash 배열 문법 오류 재발 방지 — zsh 환경 명시 + 코드 예시 개선 (#393)
  CLAUDE.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

settings(codex): 공식 github 커넥터 추가
  modules/shared/programs/codex/files/config.darwin.toml
Due: none

feat(darwin): manage cmux declaratively
  modules/darwin/home.nix
  modules/darwin/programs/cmux/default.nix
  modules/darwin/programs/homebrew.nix
Due: nixfmt

feat(darwin): manage cmux declaratively (#396)
  modules/darwin/home.nix
  modules/darwin/programs/cmux/default.nix
  modules/darwin/programs/homebrew.nix
Due: nixfmt

fix(wt): restore codex harness sync in worktrees
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/codex-sync.sh
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

settings(claude): `CLAUDE_CODE_NO_FLICKER` 활성화`
  modules/shared/programs/claude/files/settings.json
Due: none

fix(wt): detect deployed codex-sync binary
  modules/shared/scripts/wt.sh
Due: shellcheck

fix(wt): detect deployed codex-sync binary during bootstrap (#398)
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/codex-sync.sh
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

docs(run-da): switch default review to 4 bundles
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

docs(audit): lower default audit fan-out to 6
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

docs(research): record da harness remeasurement
  docs/superpowers/research/2026-04-03-da-harness-research.md
Due: none

docs(research): add remeasurement method playbook
  docs/superpowers/research/2026-04-03-da-harness-remeasurement-method.md
Due: none

docs(research): preserve da harness plan and design docs
  docs/superpowers/plans/2026-04-03-da-harness-research-improvement.md
  docs/superpowers/specs/2026-04-03-da-harness-research-design.md
Due: none

fix(docs): address review feedback on research plan
  docs/superpowers/plans/2026-04-03-da-harness-research-improvement.md
Due: none

fix(docs): correct research plan regex example
  docs/superpowers/plans/2026-04-03-da-harness-research-improvement.md
Due: none

docs(claude): 하네스 기본 fan-out 축소와 계측 문서화 (#399)
  docs/superpowers/plans/2026-04-03-da-harness-research-improvement.md
  docs/superpowers/research/2026-04-03-da-harness-remeasurement-method.md
  docs/superpowers/research/2026-04-03-da-harness-research.md
  docs/superpowers/specs/2026-04-03-da-harness-research-design.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

docs(codex): add hooks sync design
  docs/superpowers/specs/2026-04-03-codex-hooks-sync-design.md
Due: none

feat(codex): sync compatible hooks from Claude harness
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/codex-structure.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/compile-hooks.py
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/test-hooks-sync.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-drift.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-same.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/project-settings.json
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

docs(codex): remove repo-specific example strings
  docs/superpowers/specs/2026-04-03-codex-hooks-sync-design.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

docs(codex): add hooks sync implementation plan
  docs/superpowers/plans/2026-04-03-codex-hooks-sync.md
Due: none

fix(codex): wrap generated hooks payload
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/compile-hooks.py
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/test-hooks-sync.sh
Due: shellcheck

fix(codex): tighten hooks verification and docs
  docs/superpowers/plans/2026-04-03-codex-hooks-sync.md
  docs/superpowers/specs/2026-04-03-codex-hooks-sync-design.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/compile-hooks.py
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/test-hooks-sync.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-drift.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-same.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/project-settings.json
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix(codex): address PR review feedback
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/compile-hooks.py
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/test-hooks-sync.sh
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

feat(codex): sync compatible hooks from Claude harness (#406)
  AGENTS.override.md
  docs/superpowers/plans/2026-04-03-codex-hooks-sync.md
  docs/superpowers/specs/2026-04-03-codex-hooks-sync-design.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/codex-structure.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/compile-hooks.py
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/test-hooks-sync.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-drift.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-same.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/project-settings.json
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

test(darwin): restore intent-level eval coverage
  tests/eval-tests.nix
  tests/run-eval-tests.sh
Due: nixfmt, shellcheck

fix(tests): address DA feedback on Darwin evals
  tests/eval-tests.nix
Due: nixfmt

test(darwin): restore intent-level eval coverage (#414)
  tests/eval-tests.nix
  tests/run-eval-tests.sh
Due: nixfmt, shellcheck

fix(skills): prefer native subagents in direct codex sessions
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: shellcheck

fix(skills): prefer native subagents in direct codex sessions (#415)
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: shellcheck

refactor(scripts): split wt and rebuild-common by responsibility
  README.md
  lefthook.yml
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/README.md
  modules/shared/scripts/lib/rebuild/common.sh
  modules/shared/scripts/lib/rebuild/locks.sh
  modules/shared/scripts/lib/rebuild/preflight.sh
  modules/shared/scripts/lib/rebuild/preview.sh
  modules/shared/scripts/lib/rebuild/relink.sh
  modules/shared/scripts/lib/rebuild/worktree.sh
  modules/shared/scripts/lib/wt/commands.sh
  modules/shared/scripts/lib/wt/git-state.sh
  modules/shared/scripts/lib/wt/tmux.sh
  modules/shared/scripts/lib/wt/ui.sh
  modules/shared/scripts/rebuild-common.sh
  modules/shared/scripts/wt.sh
  tests/fixtures/shell-scripts/bin/gh
  tests/fixtures/shell-scripts/bin/gum
  tests/run-shell-script-tests.sh
  tests/shell-script-tests.sh
Due: nixfmt, shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
