Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(skills): 런타임 표 fallback 설명을 상세 절차와 일치시키기
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

fix(skills): DA는 standard, Arbiter만 strong review profile 사용 (#424) (#429)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
Due: none

feat(recall): add session_id-based dedup for live/archive (#430)
  flake.lock
Due: none

settings(claude): `linear` 공식 플러그인 추가
  modules/shared/programs/claude/files/settings.json
Due: none

fix(skills): for_issue Step I-6 선택지 3개로 세분화
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): address PR feedback — create-issue 중복 write-handoff 방지
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): for_issue Step I-6 선택지 3개로 세분화 (#433)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): 런타임 경로를 3-way로 확장하여 Claude Code codex exec 회귀 복원
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
Due: shellcheck

fix(skills): DA for_pr Round 1 CONFIRMED 4건 수정 — 잔여 용어 + Agent fallback contract
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: shellcheck

fix(skills): codex exec 경로 위생 규칙 추가 — 결과 섞임 + stdin hang 방지
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

fix(skills): PR 리뷰 피드백 반영 — Agent tool fallback 절차 + 잔여 용어
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
Due: none

fix(skills): 런타임 경로 3-way 확장으로 Claude Code codex exec 회귀 복원 (#435)
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: shellcheck

refactor(hooks): fragile-hardcoding-guard Write/Edit 비대칭 해소 + false positive 제거
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
Due: shellcheck

test(scripts): derive fixture layout from deployment contract
  modules/shared/scripts/README.md
  tests/shell-script-tests.sh
Due: shellcheck

fix(hooks): DA R1 피드백 — delta count 비교 + fence strip 함수 추출
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
Due: shellcheck

fix(tests): verify pkgs.replaceVars wiring in register_replace_vars
  tests/shell-script-tests.sh
Due: shellcheck

refactor(hooks): fragile-hardcoding-guard Write/Edit 비대칭 해소 + false positive 제거 (#437)
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
Due: shellcheck

feat(hooks): rm-path-guard PreToolUse hook — deny 보조 방어선 (#439)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/rm-path-guard.sh
  modules/shared/programs/claude/files/settings.json
Due: nixfmt, shellcheck

fix(hooks): rm-path-guard "/" catch-all 버그 수정 + 글로벌 변수 제거
  modules/shared/programs/claude/files/hooks/rm-path-guard.sh
Due: shellcheck

fix(hooks): rm-path-guard CodeRabbit nitpick 2건 반영
  modules/shared/programs/claude/files/hooks/rm-path-guard.sh
Due: shellcheck

setting(claude): autoMemoryEnabled: false로 설정
  modules/shared/programs/claude/files/settings.json
Due: none

fix(skills): codex exec 세션 격리 + stdin hang 해결 (#438, #428)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(skills): < /dev/null 적용 범위를 병렬/run_in_background 환경 필수로 명확화
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(skills): codex exec 세션 격리 + stdin hang 해결 (#442)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

settings(claude): atlassian 공식 Claude Code 플러그인 추가
  modules/shared/programs/claude/files/settings.json
Due: none

fix(tests): address CodeRabbit PR feedback on wiring assertions
  tests/shell-script-tests.sh
Due: shellcheck

test(scripts): derive shell fixture layout from deployment contract (#436)
  modules/shared/scripts/README.md
  tests/shell-script-tests.sh
Due: shellcheck

settings(claude): `CLAUDE_CODE_DISABLE_ADAPTIVE_THINKING` 비활성화
  modules/shared/programs/claude/files/settings.json
Due: none

settings: claude-code, codex 자잘한 설정 추가
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/codex/files/config.darwin.toml
Due: none

fix(claude): refreshInterval 값을 string -> number로 수정
  modules/shared/programs/claude/files/settings.json
Due: none

settings(claude): `CLAUDE_CODE_EFFORT_LEVEL`을 `max`로 설정하는 환경변수 제거
  modules/shared/programs/claude/files/settings.json
Due: none

feat(claude): statusline에 프롬프트 캐시 TTL 카운트다운 추가
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/record-last-stop.sh
  modules/shared/programs/claude/files/hooks/record-prompt-submit.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/settings.json
Due: nixfmt, shellcheck

fix(claude): PR #444 CodeRabbit 피드백 반영
  modules/shared/programs/claude/files/hooks/record-last-stop.sh
  modules/shared/programs/claude/files/hooks/record-prompt-submit.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude): PR #444 CodeRabbit 2차 피드백 반영
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

feat(claude): statusline에 프롬프트 캐시 TTL 카운트다운 추가 (#444)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/record-last-stop.sh
  modules/shared/programs/claude/files/hooks/record-prompt-submit.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/settings.json
Due: nixfmt, shellcheck

feat(devtools): @playwright/cli 도입 및 agent-browser 대체 (#445)
  .gitignore
  modules/darwin/programs/homebrew.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/element-attributes.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/playwright-tests.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/request-mocking.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/running-code.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/storage-state.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/test-generation.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/tracing.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/video-recording.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(skills): playwright-cli references에서 CodeRabbit 피드백 반영
  modules/shared/programs/claude/files/skills/playwright-cli/references/running-code.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/video-recording.md
Due: none

fix(skills): auth.json → auth-state.json 일관 적용 (Codex review)
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/storage-state.md
Due: none

feat(devtools): @playwright/cli 도입 및 agent-browser 대체 (#446)
  .gitignore
  modules/darwin/programs/homebrew.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/element-attributes.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/playwright-tests.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/request-mocking.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/running-code.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/storage-state.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/test-generation.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/tracing.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/video-recording.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(awesome-anki): pull 실패 시 5초 대기 후 1회 재시도 추가
  modules/nixos/programs/docker/awesome-anki.nix
Due: nixfmt
