Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(skills): clarify fan-out consult boundaries
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix(skills): lock down native fan-out authorization (#655)
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix(hooks): bound GitHub attachment sanitizer
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-malformed-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-malformed-positive.json
Due: shellcheck

fix(hooks): tighten attachment URL boundary
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-nonhex-suffix-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-nonhex-suffix-positive.json
Due: shellcheck

fix(hooks): allow quoted attachment URLs
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-pass.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-pass.json
Due: shellcheck

fix(hooks): reject extended attachment URLs
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-punct-suffix-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-punct-suffix-positive.json
Due: shellcheck

fix(hooks): allow terminal attachment punctuation
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-pass.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-pass.json
Due: shellcheck

test(hooks): cover attachment URLs in commit messages
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/commit-msg/attachment-extended-positive.expected
  tests/fixtures/codex-hooks/commit-msg/attachment-extended-positive.msg
  tests/fixtures/codex-hooks/commit-msg/attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/commit-msg/attachment-mixed-positive.msg
  tests/fixtures/codex-hooks/commit-msg/attachment-pass.expected
  tests/fixtures/codex-hooks/commit-msg/attachment-pass.msg
  tests/fixtures/codex-hooks/commit-msg/revert-skip.expected
  tests/fixtures/codex-hooks/commit-msg/revert-skip.msg
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

docs(skills): require approved phase bodies
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
Due: none

docs(skills): address approval review feedback
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

fix(hooks): allow GitHub attachment asset URLs
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/commit-msg/attachment-extended-positive.expected
  tests/fixtures/codex-hooks/commit-msg/attachment-extended-positive.msg
  tests/fixtures/codex-hooks/commit-msg/attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/commit-msg/attachment-mixed-positive.msg
  tests/fixtures/codex-hooks/commit-msg/attachment-pass.expected
  tests/fixtures/codex-hooks/commit-msg/attachment-pass.msg
  tests/fixtures/codex-hooks/commit-msg/revert-skip.expected
  tests/fixtures/codex-hooks/commit-msg/revert-skip.msg
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-malformed-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-mixed-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-nonhex-suffix-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-pass.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-pass.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-punct-suffix-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-malformed-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-mixed-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-nonhex-suffix-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-pass.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-pass.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-punct-suffix-positive.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

docs(skills): harden split PRD approval gates
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

docs(skills): simplify final PR write gate
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

docs(skills): namespace phase PRD steps
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

docs(skills): harden PR write execution contract
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

docs(skills): centralize split PRD gate contracts
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

docs(skills): align final PR write packet
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

docs(skills): cover PRD resume audit gaps
  modules/shared/programs/claude/files/skills/create-pr/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  tests/shell-script-tests.sh
Due: shellcheck

docs(skills): align phase remediation references
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  tests/shell-script-tests.sh
Due: shellcheck

docs(skills): tighten PRD audit guards
  modules/shared/programs/claude/files/skills/create-pr/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  tests/shell-script-tests.sh
Due: shellcheck

docs(claude-md): macOS BSD vs GNU 도구 라우팅 가이드 추가 (stat 케이스)
  CLAUDE.md
Due: none

docs(claude-md): macOS BSD vs GNU 도구 라우팅 가이드 추가 (stat 케이스) (#660)
  CLAUDE.md
Due: none

chore(plans): add issue/661 timeout budget plan for handoff
  .claude/plans/codex-timeout-budget-1800s.md
Due: none

fix(codex): unify timeout budget to 1800s with measurable rationale
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/scripts/codex-exec-supervised.sh
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-exec-supervised.sh
Due: shellcheck

chore(plans): drop handoff plan file before squash merge
  .claude/plans/codex-timeout-budget-1800s.md
Due: none

fix(codex): unify timeout budget to 1800s with measurable rationale (#662)
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/scripts/codex-exec-supervised.sh
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-exec-supervised.sh
Due: shellcheck

fix(pinning): generalize finding label and decouple grep token via lib helper
  modules/shared/programs/claude/files/hooks/pinning-guard.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  scripts/ai/commit-msg-pinning.sh
  tests/fixtures/codex-hooks/commit-msg/attachment-extended-positive.expected
  tests/fixtures/codex-hooks/commit-msg/attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-edit-positive-4patterns.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-moveto.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-consult-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-consult-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-consult-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-consult-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-bash-cherrypick-comment.expected
Due: shellcheck

fix(pinning): audit fixes — verify-ai-compat coverage, README label parity, guide scope
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
Due: shellcheck

docs(fixtures): add README rows for neue consult-path negative fixtures
  tests/fixtures/codex-hooks/README.md
Due: none

refactor(skills): run-da 검토 강도 자동 판단을 메인 LLM 인라인 체크리스트로 전환
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/intensity-fixtures.json
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
Due: none

fix(skills): for_pr 평가 결과 반영 — fixture 경로 정정 + 게이트 wording 약화
  modules/shared/programs/claude/files/skills/run-da/evals/intensity-fixtures.json
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
Due: none

fix(skills): for_pr 후속 평가 반영 — fixture 경로/입력 계약/cleanup glob 정정
  modules/shared/programs/claude/files/skills/run-da/evals/intensity-fixtures.json
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
Due: none

fix(skills): R3 평가 반영 — diff stat 입력 명세 정정 + 체크리스트 표 일관성 + durable 문서에서 PR 본문 의존 제거
  modules/shared/programs/claude/files/skills/run-da/evals/intensity-fixtures.json
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
Due: none

fix(skills): 후속 평가 반영 — 인젝션 방어 추가 + 룰 안정 ID 도입 + 알고리즘 분리 명시
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(skills): audit 결과 반영 — 룰 ID 일관화 + 인젝션 fixture + cleanup glob 보강
  modules/shared/programs/claude/files/skills/run-da/evals/intensity-fixtures.json
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
Due: none

fix(pinning): generalize finding label and decouple grep token via lib helper (#664)
  modules/shared/programs/claude/files/hooks/pinning-guard.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  scripts/ai/commit-msg-pinning.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/commit-msg/attachment-extended-positive.expected
  tests/fixtures/codex-hooks/commit-msg/attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-edit-positive-4patterns.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-moveto.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-consult-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-consult-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-consult-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-consult-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-bash-cherrypick-comment.expected
Due: shellcheck

refactor(skills): run-da Review Intensity를 메인 LLM 인라인 체크리스트로 전환 (#670)
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/intensity-fixtures.json
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
Due: none

feat(skills): analyzing-da-sessions Skill 등록 — DA 세션 정량 측정 워크플로 정식화
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/SKILL.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/evals/queries.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/algorithm.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/data-sources.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/host-handling.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/output-format.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/conftest.py
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/01-skill-doc.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/01-skill-doc.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/02-xxxxxx-template.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/02-xxxxxx-template.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/03-json-unmarked.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/03-json-unmarked.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/04-kv-arbiter-window.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/04-kv-arbiter-window.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/05-nl-summary-dedup.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/05-nl-summary-dedup.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/test_analyze.py
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(skills): analyzing-da-sessions 코드 리뷰 결과 반영 — 14개 finding CONFIRMED 자동 수정
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/SKILL.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/algorithm.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/data-sources.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/host-handling.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
Due: none

fix(skills): analyzing-da-sessions PR 코멘트 4건 반영 — 4-tier fallback 정합 + SSH quoting + M-5 docs 정합
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/output-format.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
