Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

refactor(skills/run-da): parallel-audit 검토 4건 반영 (#624)
  modules/shared/programs/claude/files/skills/run-da/modes/for_pr.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
Due: none

refactor(skills/run-da): DA for_pr 검토 반영 (#624)
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_pr.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
Due: none

refactor(skills/run-da): SKILL.md를 progressive disclosure로 분리 (#624)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_plan.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_pr.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
Due: none

refactor(skills/run-da): 기존 references의 SKILL.md 위치 참조를 새 분리 파일로 갱신 (#624)
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
Due: none

refactor(skills): run-da SKILL.md 분리에 따른 외부 스킬 cross-skill link 갱신 (#624)
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/validation-paths.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/rejection-taxonomy.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: shellcheck

refactor(skills/run-da): main 통합 후 새 references에 main의 SKILL.md 변경 흡수 (#624)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_plan.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
Due: none

fix(skills/run-da): intensity-procedure heredoc 절대경로 user-neutral화 (#624 PR review)
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
Due: none

refactor(skills/run-da): SKILL.md를 progressive disclosure로 분리 (modes/ + references/) (#627)
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/validation-paths.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/rejection-taxonomy.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_plan.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_pr.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: shellcheck

feat(editor): Zed → VSCode 마이그레이션 일괄 롤백 (#329 reverse)
  .agents/skills/managing-vscode
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/evals/queries.json
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/evals/queries.json
  .claude/skills/managing-vscode/references/extensions.md
  .claude/skills/managing-vscode/references/settings.md
  .claude/skills/managing-vscode/references/troubleshooting.md
  README.md
  flake.lock
  flake.nix
  libraries/nixpkgs/default.nix
  modules/darwin/home.nix
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/keybindings.json
  modules/darwin/programs/vscode/files/settings.json
  modules/darwin/programs/zed/default.nix
  modules/darwin/programs/zed/files/keymap.json
  modules/darwin/programs/zed/files/settings.json
  modules/shared/programs/claude/default.nix
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: nixfmt

chore(skills): extract NixOS MiniPC host-prerequisite SSOT (#598)
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/host-prerequisites.md
Due: none

fix(editor): for_pr DA 1차 피드백 반영 (5 CONFIRMED 흡수)
  .claude/skills/managing-vscode/evals/queries.json
  .claude/skills/managing-vscode/references/troubleshooting.md
  docs/TRIAL_AND_ERROR.md
  modules/darwin/programs/vscode/default.nix
  modules/shared/programs/claude/default.nix
Due: nixfmt

fix(skills): host-prerequisite SSOT R1 DA findings 반영 (#598)
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-minipc/references/host-prerequisites.md
Due: none

fix(editor): for_pr DA 2차 피드백 반영 (3 CONFIRMED 흡수)
  .claude/skills/managing-vscode/references/extensions.md
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/settings.json
  modules/shared/programs/claude/default.nix
Due: nixfmt

fix(skills): consumer doc glob을 Podman-backed hosting 3종으로 명시 좁힘 (#598)
  .claude/skills/managing-minipc/references/host-prerequisites.md
Due: none

fix(skills): follow-up inventory를 실제 root-relative 표기 위치로 정정 (#598)
  .claude/skills/managing-minipc/references/host-prerequisites.md
Due: none

fix(skills): parallel-audit EDGECASE 2건 반영 (#598)
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/managing-minipc/references/host-prerequisites.md
Due: none

docs(editor): parallel-audit 피드백 반영
  docs/TRIAL_AND_ERROR.md
Due: none

docs(skills): align plan DA contract
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

docs(skills): harden plan DA lifecycle
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

docs(skills): persist DA resume state
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

chore(skills): shared host-prerequisite SSOT 추출 (#598) (#629)
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/host-prerequisites.md
Due: none

docs(skills): resolve plan audit edge cases
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

docs(skills): align plan DA contract
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

fix(codex): programmatic codex exec hang via supervised wrapper (#593)
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_plan.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/codex-exec-supervised.sh
  tests/fixtures/codex-hooks/README.md
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

docs(codex): drop transient process metadata from supervised wrapper docs
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/scripts/codex-exec-supervised.sh
  tests/fixtures/codex-hooks/README.md
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(skills): pin model explicitly in all Layer 1 codex-exec-supervised calls
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_plan.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(codex): supervised wrapper hardening + Layer 1 SSOT 일관성
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/scripts/codex-exec-supervised.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(codex): add --ignore-rules to all Layer 1/2 supervised wrapper calls
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_plan.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_pr.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(skills): align Layer 1 background examples + summaries with --ignore-rules
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: none

fix(codex): add wrapper --check capability probe + align preflight callsites
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/scripts/codex-exec-supervised.sh
Due: shellcheck

fix(reviews): typo in hardening-contract + rc=0 result file assertion
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(codex): programmatic codex exec hang via supervised wrapper (#636)
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_plan.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_pr.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/codex-exec-supervised.sh
  tests/fixtures/codex-hooks/README.md
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

fix(codex): expose macOS Codex CLI in login shell (#640)
  modules/shared/programs/codex/default.nix
Due: nixfmt

fix(codex): prune stale user hook artifacts
  .claude/prds/prd-codex-user-legacy-hooks.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-01-scope-lock.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-02-cleanup-implementation.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-03-verifier-tests.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-04-validation-handoff.md
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/lib/rebuild/common.sh
  scripts/ai/verify-ai-compat.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(codex): support Intel Homebrew prefix
  modules/shared/programs/codex/default.nix
Due: nixfmt

Revert "fix(codex): support Intel Homebrew prefix"
  modules/shared/programs/codex/default.nix
Due: nixfmt

fix(codex): expose macOS Codex CLI in login shell (#641)
  modules/shared/programs/codex/default.nix
Due: nixfmt

fix(codex): harden legacy hook cleanup shims
  .claude/prds/prd-codex-user-legacy-hooks.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-02-cleanup-implementation.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-03-verifier-tests.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-04-validation-handoff.md
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/lib/rebuild/codex-legacy-hooks.sh
  modules/shared/scripts/lib/rebuild/common.sh
  scripts/ai/verify-ai-compat.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(codex): preserve symlinked user hooks
  .claude/prds/prd-codex-user-legacy-hooks.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-02-cleanup-implementation.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-03-verifier-tests.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-04-validation-handoff.md
  modules/shared/scripts/lib/rebuild/codex-legacy-hooks.sh
  scripts/ai/verify-ai-compat.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(codex): inspect symlinked user hook targets
  .claude/prds/prd-codex-user-legacy-hooks.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-03-verifier-tests.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-04-validation-handoff.md
  scripts/ai/verify-ai-compat.sh
  tests/shell-script-tests.sh
Due: shellcheck
