Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(skill): user-scope CLAUDE.md 라우팅에 "프로그래밍적 실행" 키워드 누락 수정
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

fix(skill): skill-reviewer 피드백 반영 (minor 3건)
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
Due: none

fix(shell): DA 리뷰 반영 — 제거된 alias 참조 잔존 수정
  modules/shared/programs/cheat/cheatsheets/nrs/command
  modules/shared/scripts/rebuild-common.sh
  modules/shared/scripts/wt.sh
Due: shellcheck

fix(skill): CLAUDE_CODE_MAX_TURNS 우선순위 오류 수정
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
Due: none

fix(shell): DA R2 반영 — 스킬/문서의 제거된 alias·경로 참조 업데이트
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/references/troubleshooting.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/managing-secrets/references/troubleshooting.md
  .claude/skills/managing-ssh/references/troubleshooting.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  docs/CHROME_DEVTOOLS_MCP_AUTOCONNECT.md
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(skill): CLAUDE_CODE_MAX_TURNS 환경변수 hallucination 수정
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
Due: none

fix(shell): DA R3 반영 — macOS nrh-all 스킬 참조 + nrs-offline 잔여 1곳
  .claude/skills/managing-macos/references/features.md
  .claude/skills/understanding-nix/references/features.md
Due: none

fix(skill): 10-agent 전수 팩트체크 hallucination 7건 수정
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
Due: none

docs: 스킬 문서 버전/경로 경미 수정 (#252)
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/monitoring.md
  .claude/skills/viewing-immich-photo/SKILL.md
Due: none

fix(skill): gotchas #23 빈 줄 입력 hallucination 수정
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
Due: none

docs(skills): 서비스/시크릿 목록을 실제 Nix 소스와 동기화 (#250)
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/running-containers/references/service-update-system.md
Due: none

fix(docs): CLAUDE.md에서 nrs 'alias' 용어를 제거
  CLAUDE.md
Due: none

refactor(shell): 스크립트 배포 경로에서 .sh 확장자 제거 (#247)
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/references/troubleshooting.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/managing-secrets/references/troubleshooting.md
  .claude/skills/managing-ssh/references/troubleshooting.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  CLAUDE.md
  docs/CHROME_DEVTOOLS_MCP_AUTOCONNECT.md
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrp.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/cheat/cheatsheets/nrs/command
  modules/shared/programs/shell/darwin.nix
  modules/shared/programs/shell/default.nix
  modules/shared/programs/shell/nixos.nix
  modules/shared/scripts/nfu.sh
  modules/shared/scripts/nrs-lock.sh
  modules/shared/scripts/nrs-relink.sh
  modules/shared/scripts/rebuild-common.sh
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

feat: claude -p 프로그래밍적 사용법 및 harness 셀프테스트 스킬 (#245) (#248)
  CLAUDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/patterns.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
Due: nixfmt

docs(skills): 서비스/시크릿 목록을 실제 Nix 소스와 동기화 (#250) (#255)
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/running-containers/references/service-update-system.md
Due: none

docs: 스킬 문서 경로/값 오류 일괄 수정 (#251)
  .claude/skills/configuring-claude-code/references/hooks.md
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
Due: none

docs: 스킬 문서 경로/값 오류 일괄 수정 (#251) (#256)
  .claude/skills/configuring-claude-code/references/hooks.md
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
Due: none

docs: 스킬 문서 버전/경로 경미 수정 (#252) (#254)
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/monitoring.md
  .claude/skills/viewing-immich-photo/SKILL.md
Due: none

fix(nrs): main rebuild 시 stale 워크트리 심링크 자동 제거
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

docs(nrs): stale 워크트리 심링크 제거 로직에 CIR 기록
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): Phase 1이 probe 파일 삭제 시 NO_CHANGES 경로에서 restore 누락 수정
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): main rebuild 시 stale 워크트리 심링크 자동 제거 (#258)
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): NixOS nrs.sh에 pre-rebuild maybe_relink_or_restore 추가
  modules/nixos/scripts/nrs.sh
Due: shellcheck

fix(nrs): 주석 문구 "darwin과 동일" → "darwin과 같은 이유" 수정
  modules/nixos/scripts/nrs.sh
Due: shellcheck

fix(nrs): pre-rebuild restore에 HM gcroot 유효성 검증 추가
  modules/nixos/scripts/nrs.sh
Due: shellcheck

fix(nrs): gcroot 검증을 -L에서 -e로 변경 (dangling 방지)
  modules/nixos/scripts/nrs.sh
Due: shellcheck

fix(nrs): NixOS nrs.sh에 pre-rebuild maybe_relink_or_restore 추가 (#261)
  modules/nixos/scripts/nrs.sh
Due: shellcheck

fix(nrs): DA 피드백 반영 — errexit 우회 방지 + TOCTOU 방어
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): main에서 nrs 동시 실행 시 rebuild serialize
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

refactor(nrs): acquire/release 패턴으로 rebuild lock 리팩토링
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): post-switch relink을 rebuild lock 안으로 이동
  modules/darwin/scripts/nrs.sh
Due: shellcheck

fix(nrs): PID fallback을 macOS lockf로 교체 — TOCTOU 완전 제거
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): preflight_cask_conflict_check를 rebuild lock 안으로 이동
  modules/darwin/scripts/nrs.sh
Due: shellcheck

fix(nrs): main에서 nrs 동시 실행 시 rebuild serialize (#262)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

feat(claude): statusbar에 Jira, Slack, Figma, Memo 아이콘 추가 (#236)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: nixfmt, shellcheck

fix(claude): statusline 피드백 반영 — printf %s 안전성, 단일 jq, resume 포맷
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: shellcheck

fix(claude): SessionStart hook에서 LLM이 링크를 물어보도록 지시 추가
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): additionalContext에서 ACTION REQUIRED 제거
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): additionalContext에 ACTION REQUIRED 복구
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): Plan 아이콘을 세션별로 격리
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck
