Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(skills): DA for_pr Round 2 피드백 반영 — NSS branch 확인 중단점 + QA 드리프트 + 1-C 확장
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): DA for_pr Round 3 피드백 반영 — echo 안내문 조건부 + Step 8 WORKING_BRANCH 검증
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): DA for_pr Round 4 피드백 반영 — fallback 모순 해소 + log 순서 정리 + helper capability 분기
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): DA for_pr Round 5 피드백 반영 — bare 번호 wrong-repo fail-closed + shell injection 가드 + placeholder 구분
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): parallel-audit 피드백 반영 — Step 9 URL 게시 + branch single-quote 가드 + 엣지 케이스 방어
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

refactor(skills): write-handoff branch를 issue/{N} 규약 + graceful fallback으로 대체
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: shellcheck

fix(skills): write-handoff DA for_pr Round 1 피드백 반영
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): write-handoff DA for_pr Round 2 피드백 반영
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

refactor(skills): write-handoff DA for_pr Round 3 피드백 반영 — 방향 전환
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(skills): write-handoff DA for_pr Round 4 피드백 반영
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: shellcheck

fix(skills): write-handoff DA for_pr Round 5 피드백 반영
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/codex/default.nix
Due: nixfmt, shellcheck

fix(skills): write-handoff parallel-audit 피드백 반영
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): write-handoff NSS error handler exit-code fail-closed
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

docs(skills): write-handoff 프로세스 메타데이터 정리
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/codex/default.nix
Due: nixfmt, shellcheck

revert(skills): write-handoff 방향 전환 revert — issue/{N} 규약 + graceful fallback 복원
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

docs(skills): write-handoff shared layer trade-off 근거 명시
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

settings(claude): config 설정 추가
  modules/shared/programs/claude/files/settings.json
Due: none

fix(flake): nixpkgs/home-manager 26.05 breaking change 대응
  flake.lock
  modules/darwin/programs/zed/default.nix
  modules/shared/programs/neovim/default.nix
Due: nixfmt

fix(flake): nixpkgs/home-manager 26.05 breaking change 대응 (#559)
  flake.lock
  modules/darwin/programs/zed/default.nix
  modules/shared/programs/neovim/default.nix
Due: nixfmt

refactor(codex): default model gpt-5.4 → gpt-5.5 (templates + profile literals + N=3 pin + fixtures)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  tests/fixtures/shell-scripts/codex-config/bare_sync_compat/expected.toml
  tests/fixtures/shell-scripts/codex-config/bare_sync_compat/template.toml
  tests/fixtures/shell-scripts/codex-config/check_match/target.toml
  tests/fixtures/shell-scripts/codex-config/check_match/template.toml
  tests/fixtures/shell-scripts/codex-config/check_missing_leaf/target.toml
  tests/fixtures/shell-scripts/codex-config/check_missing_leaf/template.toml
  tests/fixtures/shell-scripts/codex-config/check_type_mismatch/expected_drift.json
  tests/fixtures/shell-scripts/codex-config/check_type_mismatch/template.toml
  tests/fixtures/shell-scripts/codex-config/check_value_mismatch/expected_drift.json
  tests/fixtures/shell-scripts/codex-config/check_value_mismatch/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_basic_merge/expected.toml
  tests/fixtures/shell-scripts/codex-config/sync_basic_merge/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_malformed_root/expected.toml
  tests/fixtures/shell-scripts/codex-config/sync_malformed_root/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_malformed_toml_quarantine/expected.toml
  tests/fixtures/shell-scripts/codex-config/sync_malformed_toml_quarantine/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_baseline/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_baseline/template.toml
Due: none

refactor(skills): reviewer/Intensity + parallel-audit auditor effort → medium on GPT-5.5
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

refactor(codex): GPT-5.5 migration + reviewer/audit effort → medium (#560)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  tests/fixtures/shell-scripts/codex-config/bare_sync_compat/expected.toml
  tests/fixtures/shell-scripts/codex-config/bare_sync_compat/template.toml
  tests/fixtures/shell-scripts/codex-config/check_match/target.toml
  tests/fixtures/shell-scripts/codex-config/check_match/template.toml
  tests/fixtures/shell-scripts/codex-config/check_missing_leaf/target.toml
  tests/fixtures/shell-scripts/codex-config/check_missing_leaf/template.toml
  tests/fixtures/shell-scripts/codex-config/check_type_mismatch/expected_drift.json
  tests/fixtures/shell-scripts/codex-config/check_type_mismatch/template.toml
  tests/fixtures/shell-scripts/codex-config/check_value_mismatch/expected_drift.json
  tests/fixtures/shell-scripts/codex-config/check_value_mismatch/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_basic_merge/expected.toml
  tests/fixtures/shell-scripts/codex-config/sync_basic_merge/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_malformed_root/expected.toml
  tests/fixtures/shell-scripts/codex-config/sync_malformed_root/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_malformed_toml_quarantine/expected.toml
  tests/fixtures/shell-scripts/codex-config/sync_malformed_toml_quarantine/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_baseline/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_baseline/template.toml
Due: none

feat(skills): create-issue에 --parent 옵션 추가 — Sub-Issues API 자동 연결 (#540)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
Due: none

refactor(skills): create-issue DA Round 1 반영 — YAGNI cleanup + PR 배제 (#540)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
Due: none

refactor(skills): create-issue DA Round 2 반영 (#540)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
Due: none

refactor(skills): create-issue DA Round 3 반영 (#540)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
Due: none

fix(skills): create-issue DA Round 4 실버그 2건 반영 + DA 루프 종료 (#540)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
Due: none

fix(skills): create-issue parallel-audit 반영 — 중복/escape/null guard (#540)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
Due: none

fix(skills): create-issue PR #561 리뷰 반영 — stdout 본문 덤프 제거 + SUBISSUE_STATUS scope 명시 (#540)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
Due: none

feat(skills): create-issue에 --parent 옵션 추가 (#540) (#561)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
Due: none

refactor(wt): remove Codex projection from bootstrap
  modules/shared/scripts/lib/wt/bootstrap.sh
  tests/shell-script-tests.sh
Due: shellcheck

refactor(skills): run-da SKILL.md 도구-중립 리팩토링 (#549)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
Due: none

refactor(skills): run-da DA for_pr Round 1 피드백 반영 (#549)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
Due: none

refactor(skills): run-da DA for_pr Round 2 피드백 반영 (#549)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

refactor(skills): run-da DA for_pr Round 3 피드백 반영 (#549)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

refactor(skills): run-da DA for_pr Round 4 피드백 반영 (#549)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

refactor(skills): run-da DA for_pr Round 5 피드백 반영 (#549)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

refactor(skills): run-da DA for_pr Round 6 피드백 반영 (#549)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

refactor(skills): run-da DA for_pr Round 7 피드백 반영 (#549)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

refactor(skills): run-da DA for_pr Round 8 부분 반영 (#549)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
