Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}

fix(nixos): deprecated auto-optimise-store 제거 + journald 로그 제한 추가 + 디버그 코드 정리
  modules/nixos/configuration.nix
  modules/nixos/programs/docker/copyparty.nix
  modules/nixos/programs/docker/immich.nix
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: nixfmt, shellcheck

fix(nixos): 스토어 최적화 복원 + uptime-kuma rolling tag 주석 추가
  modules/nixos/configuration.nix
  modules/nixos/programs/docker/uptime-kuma.nix
Due: nixfmt

nixos: 안전 적용 가능 개선안 1차 반영 및 자동화 스크립트 안정화
  flake.nix
  hosts/greenhead-minipc/hardware-configuration.nix
  libraries/nixpkgs/default.nix
  modules/nixos/configuration.nix
  modules/nixos/home.nix
  modules/nixos/programs/anki-sync-server/default.nix
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/docker/runtime.nix
  modules/nixos/programs/immich-cleanup/default.nix
  modules/shared/programs/secrets/default.nix
  modules/shared/programs/shell/darwin.nix
  modules/shared/programs/shell/default.nix
  modules/shared/programs/shell/nixos.nix
  scripts/update-agent-browser-skill.sh
  scripts/update-codex-cli.sh
  secrets/secrets.nix
Due: nixfmt, shellcheck

refactor(nix): A-2/E-2 반영 및 pre-push flake 검증 추가
  flake.nix
  lefthook.yml
  modules/darwin/home.nix
  modules/darwin/programs/ghostty/default.nix
  modules/nixos/configuration.nix
  modules/shared/configuration.nix
Due: nixfmt

NixOS: systemd 조건/대기 스크립트 경고 제거 및 Vaultwarden 재시작 회귀 수정
  modules/nixos/lib/tailscale-wait.nix
  modules/nixos/programs/docker/copyparty.nix
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/docker/vaultwarden.nix
Due: nixfmt

fix(nixos): 헬스체크 레이스 컨디션 방지 + Vaultwarden 스킬 문서 경로 드리프트 수정
  .agents/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/references/setup.md
  .claude/skills/hosting-vaultwarden/references/troubleshooting.md
  modules/nixos/programs/docker/immich.nix
  modules/nixos/scripts/nrs.sh
Due: nixfmt, shellcheck

chore(claude-code): `settings.json`에 `skipDangerousModePermissionPrompt`: `true` 조건 추가
  modules/shared/programs/claude/files/settings.json
Due: none

feat(codex): nrs 실행 시 Codex CLI 자동 업데이트 + 0.98.0 → 0.101.0
  .agents/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/SKILL.md
  .gitignore
  libraries/packages/codex-cli.nix
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  scripts/update-codex-cli.sh
Due: nixfmt, shellcheck

refactor(nixos): fail2ban 제거 — Tailscale VPN 환경에서 불필요한 복잡도 감소
  .agents/skills/managing-secrets/SKILL.md
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/managing-secrets/SKILL.md
  README.md
  modules/nixos/configuration.nix
  modules/nixos/programs/fail2ban.nix
  modules/shared/programs/secrets/default.nix
  secrets/pushover-fail2ban.age
  secrets/secrets.nix
Due: nixfmt

docs(skill): Tailscale MagicDNS SERVFAIL 트러블슈팅 추가
  .claude/skills/managing-ssh/references/troubleshooting.md
Due: none

fix(nixos): systemd.watchdog deprecated 옵션을 systemd.settings.Manager로 마이그레이션
  modules/nixos/configuration.nix
Due: nixfmt

feat(nixos): 원격 서버 복원력 강화 — watchdog + WoL + 커널 패닉 자동 재부팅
  modules/nixos/configuration.nix
Due: nixfmt

refactor(nixos): WoL을 호스트별 설정으로 이동 + managing-minipc 스킬 배치 가이드 추가
  .agents/skills/managing-minipc/SKILL.md
  .agents/skills/managing-minipc/agents/openai.yaml
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/managing-minipc/references/installation.md
  .claude/skills/managing-minipc/references/troubleshooting.md
  CLAUDE.md
  hosts/greenhead-minipc/default.nix
  modules/nixos/configuration.nix
Due: nixfmt

docs(nixos): WoL 한계 명시 — 같은 LAN 전용, 원격 불가
  .agents/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/features.md
  hosts/greenhead-minipc/default.nix
Due: nixfmt

docs: record Termius Codex scrollback troubleshooting
  docs/TRIAL_AND_ERROR.md
  docs/TROUBLESHOOTING.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(nixos): lm-sensors 패키지 설치 — 하드웨어 온도 모니터링 준비
  libraries/packages.nix
  modules/nixos/configuration.nix
Due: nixfmt

feat(nixos): Immich PostgreSQL 매일 백업 — pg_dump -Fc + HDD 보관 + Pushover 알림
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/docker/immich-backup.nix
Due: nixfmt

feat(nixos): smartd 디스크 건강 모니터링 — SMART 자동감지 + Pushover 알림
  modules/nixos/configuration.nix
  modules/nixos/programs/smartd.nix
  secrets/secrets.nix
Due: nixfmt

docs: 스킬 문서 최신화 — smartd, lm-sensors, immich-db-backup 반영
  .agents/skills/managing-minipc/SKILL.md
  .agents/skills/managing-secrets/SKILL.md
  .agents/skills/running-containers/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/running-containers/SKILL.md
  CLAUDE.md
Due: none

chore: pushover-system-monitor.age 추가 — fail2ban 크레덴셜 재활용
  modules/nixos/programs/docker/immich-backup.nix
  secrets/pushover-system-monitor.age
Due: nixfmt

docs: 실행 환경 인식 규칙 추가 — Platform 기반 SSH 미스매칭 방지
  .agents/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  CLAUDE.md
Due: none

feat(nixos): dev-proxy — 로컬 개발 서버 HTTPS 리버스 프록시 (dev.greenhead.dev)
  .agents/skills/proxying-dev-server/SKILL.md
  .agents/skills/proxying-dev-server/agents/openai.yaml
  .claude/skills/proxying-dev-server/SKILL.md
  CLAUDE.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/lib/caddy-security-headers.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/dev-proxy/default.nix
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

fix(dev-proxy): Codex 코드 리뷰 반영 — fuser 시그널, systemd 복구 안내, BACKUP fallback
  .agents/skills/proxying-dev-server/SKILL.md
  .claude/skills/proxying-dev-server/SKILL.md
  modules/nixos/programs/dev-proxy/default.nix
Due: nixfmt

feat(tests): pre-commit E2E eval 테스트 도입 — 네트워크 노출 경계 보안 검증
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/understanding-nix/references/features.md
  lefthook.yml
  tests/eval-tests.nix
  tests/run-eval-tests.sh
Due: nixfmt, shellcheck

fix(tests): Codex devil's advocate 피드백 반영 — Test 6d tailscale0 필수, 문서 drift 수정
  tests/eval-tests.nix
  tests/run-eval-tests.sh
Due: nixfmt, shellcheck

fix(tests): Codex devil's advocate 5라운드 피드백 완료 — 29개 테스트, A 등급
  .claude/skills/managing-minipc/references/features.md
  tests/eval-tests.nix
  tests/run-eval-tests.sh
Due: nixfmt, shellcheck

fix(tests): Opus 4.6 DA 피드백 루프 완료 — 36→29개 테스트, A 등급 달성
  .claude/skills/managing-minipc/references/features.md
  tests/eval-tests.nix
  tests/run-eval-tests.sh
Due: nixfmt, shellcheck

feat(skill): managing-github-issues 스킬 신규 생성 — GitHub Issues gh CLI 관리 체계 도입
  .agents/skills/managing-github-issues/SKILL.md
  .agents/skills/managing-github-issues/agents/openai.yaml
  .agents/skills/managing-github-issues/references
  .claude/skills/managing-github-issues/SKILL.md
  .claude/skills/managing-github-issues/references/issue-template.md
  .claude/skills/managing-github-issues/references/label-taxonomy.md
  CLAUDE.md
Due: none

fix(skill): area 라벨을 필수로 변경 — LLM의 area 누락 방지
  .agents/skills/managing-github-issues/SKILL.md
  .claude/skills/managing-github-issues/SKILL.md
  .claude/skills/managing-github-issues/references/label-taxonomy.md
Due: none

feat(skill): 이슈 템플릿에 Related Commits 섹션 추가 — LLM 컨텍스트 강화
  .agents/skills/managing-github-issues/SKILL.md
  .claude/skills/managing-github-issues/SKILL.md
  .claude/skills/managing-github-issues/references/issue-template.md
Due: none

chore(flake): update all flake inputs (2026-02-10 → 2026-02-17)
  flake.lock
Due: none

fix(nrp): FLAKE_PATH 경로 수정 — "$HOME/nixos-config" → "$HOME/IdeaProjects/nixos-config"
  modules/nixos/scripts/nrp.sh
Due: shellcheck

fix(codex): openai.yaml 생성기 템플릿 불일치 해소 + pre-commit 자동 재생성
  .agents/skills/automating-hammerspoon/agents/openai.yaml
  .agents/skills/configuring-claude-code/agents/openai.yaml
  .agents/skills/configuring-codex/agents/openai.yaml
  .agents/skills/configuring-git/agents/openai.yaml
  .agents/skills/configuring-neovim/agents/openai.yaml
  .agents/skills/hosting-anki/agents/openai.yaml
  .agents/skills/hosting-copyparty/agents/openai.yaml
  .agents/skills/hosting-vaultwarden/agents/openai.yaml
  .agents/skills/managing-cursor/agents/openai.yaml
  .agents/skills/managing-github-issues/agents/openai.yaml
  .agents/skills/managing-macos/agents/openai.yaml
  .agents/skills/managing-minipc/agents/openai.yaml
  .agents/skills/managing-mise/agents/openai.yaml
  .agents/skills/managing-secrets/agents/openai.yaml
  .agents/skills/managing-ssh/agents/openai.yaml
  .agents/skills/managing-tmux/agents/openai.yaml
  .agents/skills/proxying-dev-server/agents/openai.yaml
  .agents/skills/running-containers/agents/openai.yaml
  .agents/skills/sharing-text/agents/openai.yaml
  .agents/skills/syncing-atuin/agents/openai.yaml
  .agents/skills/understanding-nix/agents/openai.yaml
  .agents/skills/viewing-immich-photo/agents/openai.yaml
  lefthook.yml
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  scripts/ai/regen-and-stage-openai-yaml.sh
Due: shellcheck

fix(codex): Codex DA 피드백 3라운드 반영 — pre-commit 경쟁조건, YAML 인젝션, 커밋 오염 해소
  lefthook.yml
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  scripts/ai/regen-and-stage-openai-yaml.sh
Due: shellcheck

refactor(codex): YAGNI 단순화 — 159줄 pre-commit 인프라 제거, 1줄 템플릿 수정만 유지
  lefthook.yml
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  scripts/ai/regen-and-stage-openai-yaml.sh
Due: shellcheck

fix(codex): display_name 약어 보정에 Github → GitHub 패턴 추가
  .agents/skills/managing-github-issues/agents/openai.yaml
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/default.nix
Due: nixfmt, shellcheck

refactor(codex): openai.yaml 생성 로직 단일 소스화 — default.nix에서 sync.sh 호출
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/default.nix
Due: nixfmt, shellcheck

fix(codex): YAGNI 리뷰 피드백 반영 — SYNC_SH 루프 외부 이동 + short_desc 기본값 통일
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/default.nix
Due: nixfmt, shellcheck
