Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

docs: sync README service and secret counts
  README.md
Due: none

fix(karakeep): 대용량 HTML 크롤러 타임아웃 해결 및 리소스 증설
  libraries/constants.nix
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

fix(karakeep): 대용량 HTML 크롤러 타임아웃 해결 및 리소스 증설 (#54)
  libraries/constants.nix
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

fix: pre-rebuild-check 스크립트 정상 동작하도록 수정 (#51)
  modules/darwin/programs/atuin/default.nix
  modules/darwin/programs/cursor/default.nix
  modules/darwin/programs/hammerspoon/default.nix
  modules/darwin/programs/keybindings/default.nix
  scripts/pre-rebuild-check.sh
Due: nixfmt, shellcheck

test: extend firewall eval-tests to cover extraCommands allowlist (#53)
  tests/eval-tests.nix
Due: nixfmt

test: add raw iptables target bypass detection to Test 6i
  tests/eval-tests.nix
Due: nixfmt

test: extend firewall eval-tests to cover extraCommands allowlist (#57)
  tests/eval-tests.nix
Due: nixfmt

fix: pre-rebuild-check 스크립트 정상 동작하도록 수정 (#51) (#56)
  modules/darwin/programs/atuin/default.nix
  modules/darwin/programs/cursor/default.nix
  modules/darwin/programs/hammerspoon/default.nix
  modules/darwin/programs/keybindings/default.nix
  scripts/pre-rebuild-check.sh
Due: nixfmt, shellcheck

refactor(packages): programs.*.enable 중복 제거 및 packages.nix 정리
  libraries/packages.nix
Due: nixfmt

refactor(packages): programs.*.enable 중복 제거 및 packages.nix 정리 (#58)
  libraries/packages.nix
Due: nixfmt

fix(karakeep): Node.js heap OOM 크래시 루프 해결
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

fix(karakeep): heap 1536MB 부족 → 컨테이너 3GB + heap 2048MB로 증설
  libraries/constants.nix
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

fix(karakeep): 메모리 증설 롤백 + 85MB precrawled 아카이브 근본 원인 규명
  libraries/constants.nix
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

feat(karakeep): add OOM guard log monitor and skill updates
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/running-containers/references/service-update-system.md
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/docker/karakeep-log-monitor.nix
  modules/nixos/programs/docker/karakeep-log-monitor/files/log-monitor.sh
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt, shellcheck

feat(karakeep): add fallback HTML auto-relink sync
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/service-update-system.md
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/docker/karakeep-fallback-sync.nix
  modules/nixos/programs/docker/karakeep-fallback-sync/files/fallback-sync.sh
  modules/nixos/programs/docker/karakeep-log-monitor.nix
  modules/nixos/programs/docker/karakeep-log-monitor/files/log-monitor.sh
Due: nixfmt, shellcheck

chore(secrets): share pushover-karakeep across all hosts
  secrets/pushover-karakeep.age
  secrets/secrets.nix
Due: nixfmt

feat(anki): headless Anki + AnkiConnect API 서비스 추가
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-connect/default.nix
  secrets/anki-connect-api-key.age
  secrets/secrets.nix
Due: nixfmt

feat(karakeep): add singlefile size guard bridge
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/service-update-system.md
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/docker/karakeep-fallback-sync/files/fallback-sync.sh
  modules/nixos/programs/docker/karakeep-singlefile-bridge.nix
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
Due: nixfmt, shellcheck

fix(anki): withAddons 경로 충돌로 인한 dead code 제거
  modules/nixos/programs/anki-connect/default.nix
  secrets/anki-connect-api-key.age
  secrets/secrets.nix
Due: nixfmt

fix(karakeep): replace cgi parsing in singlefile bridge
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
Due: none

fix(anki): 첫 부팅 시 프로필 디렉터리 자동 생성
  modules/nixos/programs/anki-connect/default.nix
Due: nixfmt

fix(karakeep): handle cross-device fallback move
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
Due: none

feat(karakeep): attach fallback URL to bookmark note
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
Due: none

docs(karakeep): clarify fallback note linkage behavior
  .claude/skills/hosting-karakeep/SKILL.md
Due: none

feat(karakeep): store large singlefile as native archive asset
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/running-containers/SKILL.md
  modules/nixos/programs/docker/karakeep-fallback-sync.nix
  modules/nixos/programs/docker/karakeep-singlefile-bridge.nix
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

fix(karakeep): avoid large-singlefile crawler OOM with fullPageArchive attach
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/running-containers/SKILL.md
  modules/nixos/configuration.nix
  modules/nixos/programs/docker/karakeep-singlefile-bridge.nix
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

fix(karakeep): cleanup crawler tasks only for existing bookmarks
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
Due: none

fix(karakeep): apply actionable review items and add update guardrails
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/service-update-system.md
  modules/nixos/programs/docker/karakeep-fallback-sync.nix
  modules/nixos/programs/docker/karakeep-fallback-sync/files/fallback-sync.sh
  modules/nixos/programs/docker/karakeep-log-monitor.nix
  modules/nixos/programs/docker/karakeep-log-monitor/files/log-monitor.sh
  modules/nixos/programs/docker/karakeep-singlefile-bridge.nix
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
  modules/nixos/programs/karakeep-update/default.nix
  modules/nixos/programs/karakeep-update/files/update-script.sh
Due: nixfmt, shellcheck

refactor(karakeep): share failed-url queue path via option
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/docker/karakeep-fallback-sync.nix
  modules/nixos/programs/docker/karakeep-log-monitor.nix
Due: nixfmt

fix(karakeep): address review hardening items
  modules/nixos/programs/docker/karakeep-fallback-sync/files/fallback-sync.sh
  modules/nixos/programs/docker/karakeep-singlefile-bridge.nix
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
  modules/nixos/programs/karakeep-update/files/update-script.sh
Due: nixfmt, shellcheck

feat(karakeep): OOM 재발 방지 3-Layer 방어 + 로그 모니터 도입 (#61)
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/service-update-system.md
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/docker/karakeep-fallback-sync.nix
  modules/nixos/programs/docker/karakeep-fallback-sync/files/fallback-sync.sh
  modules/nixos/programs/docker/karakeep-log-monitor.nix
  modules/nixos/programs/docker/karakeep-log-monitor/files/log-monitor.sh
  modules/nixos/programs/docker/karakeep-singlefile-bridge.nix
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
  modules/nixos/programs/docker/karakeep.nix
  modules/nixos/programs/karakeep-update/default.nix
  modules/nixos/programs/karakeep-update/files/update-script.sh
  secrets/pushover-karakeep.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(karakeep): notify unmatched fallback files only once
  .claude/skills/hosting-karakeep/SKILL.md
  modules/nixos/programs/docker/karakeep-fallback-sync/files/fallback-sync.sh
Due: shellcheck

chore(anki): PR 리뷰 반영 — 조건부 chown, 추가 하드닝
  modules/nixos/programs/anki-connect/default.nix
Due: nixfmt

fix(karakeep): GC fallback sync state files
  .claude/skills/hosting-karakeep/SKILL.md
  modules/nixos/programs/docker/karakeep-fallback-sync/files/fallback-sync.sh
Due: shellcheck

docs(anki): hosting-anki 스킬 갱신 — AnkiConnect 서비스 문서 추가
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  CLAUDE.md
Due: none

fix(karakeep): retry unmatched alert on notify failure
  modules/nixos/programs/docker/karakeep-fallback-sync/files/fallback-sync.sh
Due: shellcheck

fix(karakeep): suppress repeated unmatched fallback notifications (#63)
  .claude/skills/hosting-karakeep/SKILL.md
  modules/nixos/programs/docker/karakeep-fallback-sync/files/fallback-sync.sh
Due: shellcheck

feat(anki): headless Anki + AnkiConnect API 서비스 추가 (#62)
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  CLAUDE.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-connect/default.nix
Due: nixfmt

fix(anki): headless 첫 부팅 hang 해결 — prefs21.db 초기화 + GPU 비활성
  modules/nixos/programs/anki-connect/default.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
