Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

feat(vaultwarden): 버전 체크 + Pushover 알림 모듈 추가
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/vaultwarden-update/default.nix
  modules/nixos/programs/vaultwarden-update/files/update-script.sh
  secrets/secrets.nix
Due: nixfmt, shellcheck

chore(secrets): pushover-vaultwarden agenix 시크릿 추가
  secrets/pushover-vaultwarden.age
Due: none

feat(vaultwarden): 버전 체크 + Pushover 알림 모듈 추가 (#35)
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/vaultwarden-update/default.nix
  modules/nixos/programs/vaultwarden-update/files/update-script.sh
  secrets/pushover-vaultwarden.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(copyparty): 세션 영속성 볼륨 마운트 추가하여 재시작 후 403 해결
  .agents/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  modules/nixos/programs/docker/copyparty.nix
Due: nixfmt

fix(copyparty): 세션 영속성 볼륨 마운트 추가하여 재시작 후 403 해결 (#36)
  .agents/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  modules/nixos/programs/docker/copyparty.nix
Due: nixfmt

feat(nrs): build/cleanup sudo 제거 + darwin-rebuild NOPASSWD 설정
  modules/darwin/configuration.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

feat(vaultwarden): implement update flow with backup and notifications
  modules/nixos/programs/vaultwarden-update/default.nix
  modules/nixos/programs/vaultwarden-update/files/update-script.sh
Due: nixfmt, shellcheck

fix(vaultwarden): address PR review feedback in update script
  modules/nixos/programs/vaultwarden-update/files/update-script.sh
Due: shellcheck

chore(codex): AGENTS.md 심링크를 git 추적으로 전환
  .gitignore
  AGENTS.md
Due: none

docs(codex): configuring-codex 스킬을 디렉토리 심링크 정책에 맞게 최신화
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat-2026-02-08.md
Due: none

feat: vaultwarden update script with backup/healthcheck/pushover (#39)
  modules/nixos/programs/vaultwarden-update/default.nix
  modules/nixos/programs/vaultwarden-update/files/update-script.sh
Due: nixfmt, shellcheck

feat(nrs): build/cleanup sudo 제거 + darwin-rebuild NOPASSWD 설정 (#40)
  modules/darwin/configuration.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

fix(codex): activation 심링크 가드 + gitignore 부산물 패턴 추가
  .gitignore
  modules/shared/programs/codex/default.nix
Due: nixfmt

fix(codex): activation 심링크 가드 + gitignore 부산물 패턴 추가 (#41)
  .gitignore
  modules/shared/programs/codex/default.nix
Due: nixfmt

refactor(claude): viewing-immich-photo를 정적 스킬로 전환하여 Nix 생성 비대칭 제거
  .agents/skills/viewing-immich-photo
  .claude/skills/viewing-immich-photo/SKILL.md
  .gitignore
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
Due: nixfmt

refactor(claude): viewing-immich-photo를 정적 스킬로 전환하여 Nix 생성 비대칭 제거 (#43)
  .agents/skills/viewing-immich-photo
  .claude/skills/viewing-immich-photo/SKILL.md
  .gitignore
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
Due: nixfmt

chore(claude): karpathy-guidelines 스킬 제거 — 효용 부족 및 컨텍스트 오염 우려
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/karpathy-guidelines/SKILL.md
  modules/shared/programs/claude/files/skills/karpathy-guidelines/references/EXAMPLES.md
Due: nixfmt

chore(claude): karpathy-guidelines 스킬 제거 — 효용 부족 및 컨텍스트 오염 우려 (#44)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/karpathy-guidelines/SKILL.md
  modules/shared/programs/claude/files/skills/karpathy-guidelines/references/EXAMPLES.md
Due: nixfmt

feat(uptime-kuma): upgrade container tag to v2
  modules/nixos/programs/docker/uptime-kuma.nix
Due: nixfmt

feat(uptime-kuma): upgrade container tag to v2 (#45)
  modules/nixos/programs/docker/uptime-kuma.nix
Due: nixfmt

fix(codex): user-scope 글로벌 스킬 3개 심링크 누락 추가
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(codex): user-scope 글로벌 스킬 3개 심링크 누락 추가 (#46)
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(ssh): 비-ETM MAC 추가로 Echo iOS SSH 클라이언트 호환성 확보
  modules/nixos/programs/ssh.nix
Due: nixfmt

chore(skills): remove agent-browser skill and dependencies
  README.md
  modules/darwin/home.nix
  modules/nixos/configuration.nix
  modules/nixos/home.nix
  modules/shared/programs/agent-browser/default.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
  modules/shared/programs/claude/files/skills/agent-browser/references/authentication.md
  modules/shared/programs/claude/files/skills/agent-browser/references/commands.md
  modules/shared/programs/claude/files/skills/agent-browser/references/proxy-support.md
  modules/shared/programs/claude/files/skills/agent-browser/references/session-management.md
  modules/shared/programs/claude/files/skills/agent-browser/references/snapshot-refs.md
  modules/shared/programs/claude/files/skills/agent-browser/references/troubleshooting.md
  modules/shared/programs/claude/files/skills/agent-browser/references/video-recording.md
  modules/shared/programs/claude/files/skills/agent-browser/templates/authenticated-session.sh
  modules/shared/programs/claude/files/skills/agent-browser/templates/capture-workflow.sh
  modules/shared/programs/claude/files/skills/agent-browser/templates/form-automation.sh
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
  scripts/update-agent-browser-skill.sh
Due: nixfmt, shellcheck

refactor(skills): resolve all skill audit fail/warn findings
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/managing-mise/SKILL.md
  .claude/skills/managing-ssh/SKILL.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/proxying-dev-server/SKILL.md
  .claude/skills/proxying-dev-server/references/troubleshooting.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/viewing-immich-photo/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

docs(skills): CodeRabbit 피드백 11건 선별 반영
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/managing-ssh/SKILL.md
  .claude/skills/proxying-dev-server/references/troubleshooting.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/viewing-immich-photo/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

chore(ssh): codex 리뷰 반영 — MAC 협상 주석 정확성 개선
  modules/nixos/programs/ssh.nix
Due: nixfmt

style(ssh): 비-ETM MAC 순서를 ETM 블록과 일치시킴 (512→256)
  modules/nixos/programs/ssh.nix
Due: nixfmt

refactor(skills): remove agent-browser and close skill audit gaps (#47)
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/managing-mise/SKILL.md
  .claude/skills/managing-ssh/SKILL.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/proxying-dev-server/SKILL.md
  .claude/skills/proxying-dev-server/references/troubleshooting.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/viewing-immich-photo/SKILL.md
  README.md
  modules/darwin/home.nix
  modules/nixos/configuration.nix
  modules/nixos/home.nix
  modules/shared/programs/agent-browser/default.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
  modules/shared/programs/claude/files/skills/agent-browser/references/authentication.md
  modules/shared/programs/claude/files/skills/agent-browser/references/commands.md
  modules/shared/programs/claude/files/skills/agent-browser/references/proxy-support.md
  modules/shared/programs/claude/files/skills/agent-browser/references/session-management.md
  modules/shared/programs/claude/files/skills/agent-browser/references/snapshot-refs.md
  modules/shared/programs/claude/files/skills/agent-browser/references/troubleshooting.md
  modules/shared/programs/claude/files/skills/agent-browser/references/video-recording.md
  modules/shared/programs/claude/files/skills/agent-browser/templates/authenticated-session.sh
  modules/shared/programs/claude/files/skills/agent-browser/templates/capture-workflow.sh
  modules/shared/programs/claude/files/skills/agent-browser/templates/form-automation.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
  scripts/update-agent-browser-skill.sh
Due: nixfmt, shellcheck

fix(ssh): 비-ETM MAC 추가로 Echo iOS SSH 클라이언트 호환성 확보 (#48)
  modules/nixos/programs/ssh.nix
Due: nixfmt

docs: add using-codex-exec skill and update Korean routing/readme (#37)
  .agents/skills/using-codex-exec
  .claude/skills/using-codex-exec/SKILL.md
  .claude/skills/using-codex-exec/references/examples.md
  .claude/skills/using-codex-exec/references/troubleshooting.md
  CLAUDE.md
  README.md
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

docs: keep README Getting Started heading in English
  README.md
Due: none

feat(homeserver): Karakeep OpenAI AI 태깅/요약 활성화 (#29)
  .claude/skills/hosting-karakeep/SKILL.md
  modules/nixos/programs/docker/karakeep.nix
  secrets/karakeep-openai-key.age
  secrets/secrets.nix
Due: nixfmt

docs: address CodeRabbit feedback for codex exec skill
  .claude/skills/using-codex-exec/SKILL.md
  .claude/skills/using-codex-exec/references/troubleshooting.md
Due: none

docs: using-codex-exec 스킬 추가 (#49)
  .agents/skills/using-codex-exec
  .claude/skills/using-codex-exec/SKILL.md
  .claude/skills/using-codex-exec/references/examples.md
  .claude/skills/using-codex-exec/references/troubleshooting.md
  CLAUDE.md
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

fix(homeserver): 분리된 OpenAI env로 Karakeep 권한/의존성 축소
  .claude/skills/hosting-karakeep/SKILL.md
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

feat: Karakeep AI 태깅/요약 기능 활성화 (OpenAI 연동) (#50)
  .claude/skills/hosting-karakeep/SKILL.md
  modules/nixos/programs/docker/karakeep.nix
  secrets/karakeep-openai-key.age
  secrets/secrets.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
