Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

feat(skills): analyzing-da-sessions Skill 등록 — DA 세션 정량 측정 워크플로 정식화 (#671) (#672)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/SKILL.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/evals/queries.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/algorithm.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/data-sources.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/host-handling.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/output-format.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/conftest.py
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/01-skill-doc.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/01-skill-doc.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/02-xxxxxx-template.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/02-xxxxxx-template.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/03-json-unmarked.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/03-json-unmarked.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/04-kv-arbiter-window.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/04-kv-arbiter-window.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/05-nl-summary-dedup.expected.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/fixtures/05-nl-summary-dedup.txt
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/test_analyze.py
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

docs(prds): add session handoff automation PRD (#614)
  .claude/prds/prd-session-handoff-automation.md
  .claude/prds/prd-session-handoff-automation/phase-01-discovery.md
  .claude/prds/prd-session-handoff-automation/phase-02-helper-and-wrappers.md
  .claude/prds/prd-session-handoff-automation/phase-03-hook-registration.md
  .claude/prds/prd-session-handoff-automation/phase-04-secret-and-prdiff.md
  .claude/prds/prd-session-handoff-automation/phase-05-dogfooding.md
  .claude/prds/prd-session-handoff-automation/phase-06-followup.md
Due: none

feat(hooks): handoff-lib + Claude/Codex thin wrappers + drift fixture (#614)
  modules/shared/programs/claude/files/hooks/handoff-lib.sh
  modules/shared/programs/claude/files/hooks/handoff-session-end.sh
  modules/shared/programs/claude/files/hooks/handoff-session-start.sh
  modules/shared/programs/claude/files/hooks/handoff-stop.sh
  modules/shared/programs/codex/files/hooks/handoff-lib.sh
  modules/shared/programs/codex/files/hooks/handoff-session-start.sh
  modules/shared/programs/codex/files/hooks/handoff-stop.sh
  tests/test-handoff-hooks.sh
Due: shellcheck

feat(skills): plan-with-questions question UX PRD (1개씩 + 두 layer + 합의 추천) (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-01-schema-and-anchoring.md
  .claude/prds/prd-pwq-question-ux/phase-02-skill-and-modes-flow.md
  .claude/prds/prd-pwq-question-ux/phase-03-output-templates-and-runtime.md
  .claude/prds/prd-pwq-question-ux/phase-04-bias-measurement.md
  .claude/prds/prd-pwq-question-ux/phase-05-dogfooding-and-followup.md
Due: none

feat(hooks): register session handoff hooks in Claude/Codex (#614)
  .claude/prds/prd-session-handoff-automation.md
  .claude/prds/prd-session-handoff-automation/phase-03-hook-registration.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
  tests/fixtures/codex-hooks/sync-preservation/scenario-C-user-different-event.toml
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

docs(prd): cross-host resume 대응 보강 (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-01-schema-and-anchoring.md
  .claude/prds/prd-pwq-question-ux/phase-02-skill-and-modes-flow.md
  .claude/prds/prd-pwq-question-ux/phase-03-output-templates-and-runtime.md
  .claude/prds/prd-pwq-question-ux/phase-04-bias-measurement.md
  .claude/prds/prd-pwq-question-ux/phase-05-dogfooding-and-followup.md
Due: none

feat(hooks): expand secret/PII redaction + .gitattributes for handoff (#614)
  .claude/prds/prd-session-handoff-automation.md
  .claude/prds/prd-session-handoff-automation/phase-04-secret-and-prdiff.md
  .gitattributes
  .gitleaksignore
  modules/shared/programs/claude/files/hooks/handoff-lib.sh
  modules/shared/programs/codex/files/hooks/handoff-lib.sh
  tests/test-handoff-hooks.sh
Due: shellcheck

docs(prds): mark Phase 5 dogfooding pending user smoke (#614)
  .claude/prds/prd-session-handoff-automation.md
  .claude/prds/prd-session-handoff-automation/phase-05-dogfooding.md
Due: none

feat(skills): plan-with-questions Phase 1 — consulting-step 두 layer schema + D4 합의 알고리즘 (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-01-schema-and-anchoring.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
Due: none

feat(skills): plan-with-questions Phase 2 — SKILL Invariant 8 + modes D1/D2/D4 통일 (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-02-skill-and-modes-flow.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
Due: none

chore(gitignore): ignore ScheduleWakeup runtime lock
  .gitignore
Due: none

feat(skills): plan-with-questions Phase 3 — output-templates + runtime-boundaries 라운드 정책 통일 (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-03-output-templates-and-runtime.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

feat(skills): plan-with-questions Phase 4 — bias-measurement source sanitization baseline (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-04-bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

docs(prd): plan-with-questions Question UX PRD Closeout (Phase 5) (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-05-dogfooding-and-followup.md
Due: none

fix(hooks): apply DA findings — untracked diff, allowlist, timeout, single SoT (#614)
  .claude/prds/prd-session-handoff-automation.md
  modules/shared/programs/claude/files/hooks/handoff-lib.sh
  modules/shared/programs/claude/files/hooks/handoff-session-start.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/hooks/handoff-lib.sh
  modules/shared/programs/codex/files/hooks/handoff-session-start.sh
  tests/test-handoff-hooks.sh
Due: nixfmt, shellcheck

fix(hooks): apply follow-up DA findings — codex hook resolve, BSD sed, ASIA, dirty edit (#614)
  .claude/prds/prd-session-handoff-automation.md
  .claude/prds/prd-session-handoff-automation/phase-06-followup.md
  modules/shared/programs/claude/files/hooks/handoff-lib.sh
  modules/shared/programs/claude/files/hooks/handoff-session-end.sh
  modules/shared/programs/claude/files/hooks/handoff-session-start.sh
  modules/shared/programs/claude/files/hooks/handoff-stop.sh
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/codex/files/hooks/handoff-session-start.sh
  modules/shared/programs/codex/files/hooks/handoff-stop.sh
  tests/fixtures/codex-hooks/README.md
  tests/test-handoff-hooks.sh
Due: shellcheck

fix(skills): plan-with-questions 자동 검토 피드백 9건 반영 (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-05-dogfooding-and-followup.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
Due: none

fix(hooks): apply 3rd-pass DA findings — last-commit idempotency + abs-path redaction (#614)
  .claude/prds/prd-session-handoff-automation.md
  modules/shared/programs/claude/files/hooks/handoff-lib.sh
  tests/test-handoff-hooks.sh
Due: shellcheck

fix(skills): plan-with-questions 후속 검토 피드백 7건 반영 (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-01-schema-and-anchoring.md
  .claude/prds/prd-pwq-question-ux/phase-05-dogfooding-and-followup.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

fix(skills): plan-with-questions 추가 검토 피드백 9건 반영 (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-04-bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
Due: none

fix(skills): plan-with-questions 추가 검토 5건 반영 + closeout monitoring issue (#646)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-01-schema-and-anchoring.md
  .claude/prds/prd-pwq-question-ux/phase-05-dogfooding-and-followup.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
Due: none

fix(hooks): apply parallel-audit findings — opt-in gate, darwin SessionStart, BSD readlink (#614)
  .claude/handoffs/.opt-in
  .claude/prds/prd-session-handoff-automation.md
  .claude/prds/prd-session-handoff-automation/phase-02-helper-and-wrappers.md
  .claude/prds/prd-session-handoff-automation/phase-05-dogfooding.md
  .claude/prds/prd-session-handoff-automation/phase-06-followup.md
  modules/shared/programs/claude/files/hooks/handoff-lib.sh
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
  tests/test-handoff-hooks.sh
Due: shellcheck

fix(skills): plan-with-questions PR 코멘트 6건 반영 (#646)
  .claude/prds/prd-pwq-question-ux/phase-03-output-templates-and-runtime.md
  .claude/prds/prd-pwq-question-ux/phase-04-bias-measurement.md
  .claude/prds/prd-pwq-question-ux/phase-05-dogfooding-and-followup.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
Due: none

fix(skills): address plan-with-questions review findings (#646)
  .claude/prds/prd-pwq-question-ux/phase-03-output-templates-and-runtime.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

fix(hooks): harden handoff gitleaks runtime
  libraries/packages.nix
  modules/shared/programs/claude/files/hooks/handoff-lib.sh
  tests/test-handoff-hooks.sh
Due: nixfmt, shellcheck

fix(hooks): address handoff review feedback
  .claude/prds/prd-session-handoff-automation/phase-03-hook-registration.md
  modules/shared/programs/claude/files/hooks/handoff-session-end.sh
  modules/shared/programs/claude/files/settings.json
  tests/test-handoff-hooks.sh
Due: shellcheck

feat(skills): plan-with-questions question UX PRD (1개씩 + 두 layer + 합의 추천) (#675)
  .claude/prds/prd-pwq-question-ux.md
  .claude/prds/prd-pwq-question-ux/phase-01-schema-and-anchoring.md
  .claude/prds/prd-pwq-question-ux/phase-02-skill-and-modes-flow.md
  .claude/prds/prd-pwq-question-ux/phase-03-output-templates-and-runtime.md
  .claude/prds/prd-pwq-question-ux/phase-04-bias-measurement.md
  .claude/prds/prd-pwq-question-ux/phase-05-dogfooding-and-followup.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

fix(pinning): align plan SSOT with guard-safe durable state
  .claude/prds/prd-pinning-ssot-compatibility.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-01-discovery-and-guard-baseline.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-02-baseline-and-resume-contract.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-03-durable-external-review-wording.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-04-validation-activation-closeout.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

fix(pinning): close durable state review gaps
  .claude/prds/prd-pinning-ssot-compatibility.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-02-baseline-and-resume-contract.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-03-durable-external-review-wording.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-04-validation-activation-closeout.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

fix(pinning): keep review correlation runtime-only
  .claude/prds/prd-pinning-ssot-compatibility.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-02-baseline-and-resume-contract.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-03-durable-external-review-wording.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-04-validation-activation-closeout.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

docs(prd): close pinning ssot workflow
  .claude/prds/prd-pinning-ssot-compatibility.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-04-validation-activation-closeout.md
Due: none

fix(pinning): remove legacy resume compatibility
  .claude/prds/prd-pinning-ssot-compatibility.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-02-baseline-and-resume-contract.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-04-validation-activation-closeout.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

fix(pinning): align plan SSOT with durable policy (#683)
  .claude/prds/prd-pinning-ssot-compatibility.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-01-discovery-and-guard-baseline.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-02-baseline-and-resume-contract.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-03-durable-external-review-wording.md
  .claude/prds/prd-pinning-ssot-compatibility/phase-04-validation-activation-closeout.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

feat(pinning): expose match line and token for all categories + DA scratch whitelist
  modules/shared/programs/claude/files/hooks/pinning-guard.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  scripts/ai/commit-msg-pinning.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/stdin/pinning-claude-edit-positive-4patterns.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-md-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-moveto.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-multifile.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-bash-cherrypick-comment.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-bash-git-option-commit.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-bash-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-notebook-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-consult-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-da-traversal-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-da-traversal-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-da-workspace-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-da-workspace-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-consult-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-malformed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-nonhex-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-punct-suffix-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-moveto.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-multifile.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-multimatch.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-bash-cherrypick-comment.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-bash-gh-api-comment.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-bash-git-option-commit.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-bash-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-write-positive.expected
Due: shellcheck

fix(pinning): apply for_pr review feedback
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  scripts/ai/commit-msg-pinning.sh
  tests/fixtures/codex-hooks/commit-msg/line-token-a-positive.expected
  tests/fixtures/codex-hooks/commit-msg/line-token-a-positive.msg
  tests/fixtures/codex-hooks/commit-msg/line-token-b-positive.expected
  tests/fixtures/codex-hooks/commit-msg/line-token-b-positive.msg
  tests/fixtures/codex-hooks/commit-msg/line-token-c-positive.expected
  tests/fixtures/codex-hooks/commit-msg/line-token-c-positive.msg
Due: shellcheck

fix(pinning): apply second pass of for_pr review feedback
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

fix(pinning): use less-recognizable hex token in DA workspace fixtures
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-da-traversal-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-da-traversal-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-da-workspace-clean.json
Due: none

fix(pinning): add path-aware scan wrappers
  modules/shared/programs/claude/files/hooks/pinning-alert.sh
  modules/shared/programs/claude/files/hooks/pinning-guard.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  scripts/ai/verify-ai-compat.sh
Due: shellcheck
