Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

feat(shortcuts): Cherri DSL 기반 iOS Shortcuts 선언적 관리 파이프라인 (#131)
  docs/PROMPT_MOBILE_SHORTCUT.md
  flake.lock
  flake.nix
  modules/darwin/home.nix
  modules/darwin/programs/shortcuts/default.nix
  modules/darwin/programs/shortcuts/sources/prompt-render.cherri
Due: nixfmt

fix(shortcuts): mktemp orphan 파일 제거
  modules/darwin/programs/shortcuts/default.nix
Due: nixfmt

fix(shortcuts): preset 이름 single quote 셸 이스케이프 추가
  modules/darwin/programs/shortcuts/sources/prompt-render.cherri
Due: none

test(anki): AnkiConnect config API 계약 검증 및 운영 가드레일 강화 (#77)
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-connect/default.nix
  tests/eval-tests.nix
Due: nixfmt

test(anki): AnkiConnect config API 계약 검증 및 운영 가드레일 강화 (#77) (#135)
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-connect/default.nix
  tests/eval-tests.nix
Due: nixfmt

fix(shortcuts): Cherri 컴파일 오류 3건 수정
  modules/darwin/programs/shortcuts/default.nix
  modules/darwin/programs/shortcuts/sources/prompt-render.cherri
Due: nixfmt

fix(shortcuts): --derive-uuids 제거 — GroupingIdentifier 충돌 해결
  modules/darwin/programs/shortcuts/default.nix
Due: nixfmt

fix(shortcuts): Cherri 문자열 보간 문법 수정 및 빌드 안정화
  modules/darwin/programs/shortcuts/default.nix
  modules/darwin/programs/shortcuts/sources/prompt-render.cherri
Due: nixfmt

fix(shortcuts): Cherri 컴파일 오류 수정 및 문법 가이드 (#131) (#133)
  modules/darwin/programs/shortcuts/default.nix
  modules/darwin/programs/shortcuts/sources/prompt-render.cherri
Due: nixfmt

fix(nrs): --force 플래그가 NO_CHANGES 스킵도 우회하도록 수정
  modules/darwin/scripts/nrs.sh
Due: shellcheck

docs(skills): nrs --force NO_CHANGES 우회 기능 문서 반영
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/understanding-nix/references/features.md
Due: none

fix(nrs): --force 플래그가 NO_CHANGES 스킵도 우회하도록 수정 (#136)
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/understanding-nix/references/features.md
  modules/darwin/scripts/nrs.sh
Due: shellcheck

refactor(skills): using-codex-exec 스킬을 project scope에서 user scope로 이동
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: nixfmt

chore(skills): 전체 스킬 감사 — description 표준화, 내용 최신화, managing-shortcuts 신규 추가
  .agents/skills/managing-shortcuts
  .agents/skills/using-codex-exec
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-cursor/SKILL.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-mise/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-shortcuts/SKILL.md
  .claude/skills/managing-ssh/SKILL.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/sharing-text/SKILL.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/viewing-immich-photo/SKILL.md
  CLAUDE.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

fix(skills): hosting-vaultwarden 크로스레퍼런스 링크 수정
  .claude/skills/hosting-vaultwarden/SKILL.md
Due: none

chore(skills): 전체 스킬 감사 — description 표준화, 내용 최신화, managing-shortcuts 신규 추가 (#138)
  .agents/skills/managing-shortcuts
  .agents/skills/using-codex-exec
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-cursor/SKILL.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-mise/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-shortcuts/SKILL.md
  .claude/skills/managing-ssh/SKILL.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/sharing-text/SKILL.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/viewing-immich-photo/SKILL.md
  CLAUDE.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

fix(shortcuts): deprecated pkgs.system을 pkgs.stdenv.hostPlatform.system으로 교체
  modules/darwin/programs/shortcuts/default.nix
Due: nixfmt

feat(homeserver): awesome-anki Podman 서비스 추가 (#75)
  README.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/docker/awesome-anki.nix
  secrets/secrets.nix
  tests/eval-tests.nix
Due: nixfmt

fix(awesome-anki): ConditionPathExists에 Gemini 키 경로 추가
  modules/nixos/programs/docker/awesome-anki.nix
Due: nixfmt

chore(secrets): awesome-anki OpenAI/Gemini API 키 .age 파일 추가
  secrets/awesome-anki-gemini-key.age
  secrets/awesome-anki-openai-key.age
Due: none

feat(homeserver): awesome-anki Podman 서비스 추가 (#143)
  README.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/docker/awesome-anki.nix
  secrets/awesome-anki-gemini-key.age
  secrets/awesome-anki-openai-key.age
  secrets/secrets.nix
  tests/eval-tests.nix
Due: nixfmt

fix(secrets): awesome-anki .age 시크릿 재생성 — 빈 파일 수정
  secrets/awesome-anki-gemini-key.age
  secrets/awesome-anki-openai-key.age
Due: none

feat(claude): `skill-creator` 앤트로픽 공식 플러그인 추가
  modules/shared/programs/claude/files/settings.json
Due: none

fix(mise): NixOS에서 소스 빌드 대신 prebuilt 바이너리 사용
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

fix(mise): NixOS에서 소스 빌드 대신 prebuilt 바이너리 사용 (#145)
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

chore(claude): 추론레벨 `high`로 고정
  modules/shared/programs/claude/files/settings.json
Due: none

feat(claude): 프롬프트 제안 강제 활성화
  modules/shared/programs/claude/files/settings.json
Due: none

feat(homebrew): sox 추가 — Claude Code /voice 모드 지원
  modules/darwin/programs/homebrew.nix
Due: nixfmt

feat(homebrew): sox 추가 — Claude Code /voice 모드 지원 (#146)
  modules/darwin/programs/homebrew.nix
Due: nixfmt

feat(claude): `voice` 모드 활성화
  modules/shared/programs/claude/files/settings.json
Due: none

chore(codex): 기본 모델 `codex-5.3-codex` -> `gpt-5.4`로 변경
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
Due: none

docs(cheat): nvim 검색 범위 키맵 추가 (LSP root vs cwd)
  modules/shared/programs/cheat/cheatsheets/nvim/search
Due: none

fix(cheat): 중복 키맵 정의 제거, cwd 변형을 기존 목록에 통합
  modules/shared/programs/cheat/cheatsheets/nvim/search
Due: none

docs(cheat): nvim 검색 범위 키맵 추가 (LSP root vs cwd) (#147)
  modules/shared/programs/cheat/cheatsheets/nvim/search
Due: none

fix(nvim): explorer에서 <leader> 키맵 사용 불가 회귀 수정
  modules/shared/programs/cheat/cheatsheets/nvim/search
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: none

refactor(nrs): rebuild 스크립트 안정성·UX 개선 5건
  modules/darwin/scripts/nrp.sh
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrp.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): cleanup_build_artifacts의 count 이중 출력 버그 수정
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): cleanup을 Done 메시지 전에 실행하여 출력 순서 정상화
  modules/darwin/scripts/nrp.sh
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrp.sh
  modules/nixos/scripts/nrs.sh
Due: shellcheck

refactor(nrs): rebuild 스크립트 안정성·UX 개선 5건 (#148)
  modules/darwin/scripts/nrp.sh
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrp.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
