Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(scripts): Codex R3 — test_results 없는 iteration에서 — 표시
  modules/shared/programs/claude/files/scripts/generate-report.py
Due: none

refactor(scripts): run-loop.sh eval 순서 변경 — train/test 동일 description 보장 (#320) (#321)
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

feat(vscode): Mermaid Chart 확장 추가
  modules/darwin/programs/vscode/default.nix
Due: nixfmt

feat(using-claude-p): v2.1.81 실측 발견사항 반영 — gotcha #38~#40 + #3/#5 보강
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/patterns.md
Due: none

fix(statusline): muted color를 256-color 고정 그레이로 교체
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(using-claude-p): DA for_pr Round 1 피드백 반영
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
Due: none

fix(using-claude-p): DA for_pr Round 2 피드백 반영
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/patterns.md
Due: none

feat(using-claude-p): v2.1.81 실측 발견사항 반영 — gotcha #38~#40 + #3/#5 보강 (#324)
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/patterns.md
Due: none

fix(statusline): muted color를 256-color 고정 그레이로 교체 (#325)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

setting(vscode): 작업 디렉터리 신뢰여부를 묻는 팝업 비활성화
  modules/darwin/programs/vscode/files/settings.json
Due: none

chore(claude): `managing-status-icons` 스킬을 명시적 호출만 가능하도록 수정
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: none

rename(claude): `managing-status-icons` → `set-icons` 스킬 이름 간결화
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: nixfmt, shellcheck

feat(packages): yt-dlp 추가 및 ffmpeg를 shared로 이동
  libraries/packages.nix
Due: nixfmt

fix(folder-actions): compress-video를 하드웨어 가속 인코딩으로 전환
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
Due: shellcheck

refactor(folder-actions): compress-video 품질 파라미터를 상수로 추출
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
Due: shellcheck

fix(folder-actions): VT_QUALITY를 65→1로 조정 (HW 최대 압축)
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
Due: shellcheck

fix(folder-actions): compress-video 하드웨어 가속 인코딩 전환 (#326)
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
Due: shellcheck

fix(claude): /clear 시 상태바 아이콘 보존
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): /clear 시 Plan 아이콘 보존 (project-wide fallback)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude): /clear 시 status icons 복원 + Memo/Plan 복사본 생성
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

refactor(claude): DA R1 피드백 반영
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude): ls -t pipefail 가드 추가 (CodeRabbit)
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): /clear 시 상태바 아이콘 보존 (#327)
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

refactor(skills): plan-with-questions Superpowers 벤치마킹 4건 이식 (#328)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): DA for_pr 피드백 반영 — Step 3 접근법 비교에서 절차 규칙 분리
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

refactor(skills): plan-with-questions Superpowers 벤치마킹 4건 이식 (#328) (#331)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

chore(codex): fast 모드 기본적으로 활성화
  modules/shared/programs/codex/files/config.darwin.toml
Due: none

setting(codex): context limit 1M으로 변경
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
Due: none

fix(flake): 전체 input 업데이트로 atuin migration 불일치 해결
  flake.lock
  modules/nixos/programs/caddy.nix
Due: nixfmt

fix(flake): 전체 input 업데이트로 atuin migration 불일치 해결 (#333)
  flake.lock
  modules/nixos/programs/caddy.nix
Due: nixfmt

docs(skills): syncing-atuin에 DB migration 불일치 이슈 추가
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
Due: none

fix(home-manager): NixOS stateVersion 25.05로 올려 git signing 경고 해소
  modules/nixos/home.nix
Due: nixfmt

feat(editor): VSCode → Zed 마이그레이션 (#329)
  .agents/skills/managing-vscode
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/evals/queries.json
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/evals/queries.json
  .claude/skills/managing-vscode/references/extensions.md
  .claude/skills/managing-vscode/references/settings.md
  .claude/skills/managing-vscode/references/troubleshooting.md
  docs/SKILL_WRITING_GUIDE.md
  flake.lock
  flake.nix
  libraries/nixpkgs/default.nix
  modules/darwin/home.nix
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/keybindings.json
  modules/darwin/programs/vscode/files/settings.json
  modules/darwin/programs/zed/default.nix
  modules/darwin/programs/zed/files/keymap.json
  modules/darwin/programs/zed/files/settings.json
  modules/shared/programs/claude/default.nix
Due: nixfmt

fix(editor): 전수조사 발견사항 수정 (#329)
  modules/darwin/programs/zed/files/keymap.json
  modules/darwin/programs/zed/files/settings.json
Due: none

fix(editor): 전수조사 발견사항 수정 (#329)
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  README.md
  modules/darwin/programs/zed/files/keymap.json
  modules/darwin/programs/zed/files/settings.json
Due: none

fix(editor): F12 터미널 토글을 terminal_panel::Toggle로 변경 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): codex DA Round 1 피드백 반영 (#329)
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/evals/queries.json
  flake.lock
  modules/darwin/programs/zed/default.nix
  modules/darwin/programs/zed/files/keymap.json
Due: nixfmt

fix(editor): zed CLI alias 추가 (#329)
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

fix(editor): 전수조사 발견사항 수정 (#329)
  .claude/skills/configuring-neovim/SKILL.md
  modules/darwin/programs/zed/default.nix
  modules/darwin/programs/zed/files/settings.json
Due: nixfmt

fix(editor): theme object 형식 → 문자열로 수정 (#329)
  modules/darwin/programs/zed/files/settings.json
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
