Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

refactor(shell): rebuild-common.sh FLAKE_PATH를 Nix에서 자동 주입하여 관리 포인트 1개로 축소
  flake.nix
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

docs(README): 프로젝트 구조 전면 업데이트 — 홈서버 14개 서비스, 아키텍처 트리, 상수 테이블 반영
  README.md
Due: none

docs(ghostty): font-family fallback chain 동작 방식 및 전환 시 주의사항 주석 추가
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

docs(caddy): Tailscale 전용 환경 맥락 주석 추가 — 보안 헤더 실질적 효과 및 외부 전환 시 유지 필수 표시
  modules/nixos/lib/caddy-security-headers.nix
Due: nixfmt

fix(claude-code): 1M Context 모델 비활성화
  modules/shared/programs/claude/files/settings.json
Due: none

fix(claude): karpathy-guidelines SKILL.md 강제 로드 지시문 추가 및 description third-person 전환
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/karpathy-guidelines/SKILL.md
Due: none

fix(claude): 필수 스킬 지시문 범위 확장 — 버그 수정, 기능 구현 명시 추가
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

fix: karpathy-guidelines 강제 로드 지시문 추가 및 description 개선 (#22)
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/karpathy-guidelines/SKILL.md
Due: none

refactor(claude): managing-github-issues 스킬을 project → global(user) 스코프로 승격 — 멀티 레포 지원
  .agents/skills/managing-github-issues/agents/openai.yaml
  .agents/skills/managing-github-issues/references
  .claude/skills/managing-github-issues/SKILL.md
  CLAUDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/managing-github-issues/SKILL.md
  modules/shared/programs/claude/files/skills/managing-github-issues/references/issue-template.md
  modules/shared/programs/claude/files/skills/managing-github-issues/references/label-taxonomy.md
Due: nixfmt

refactor(claude): managing-github-issues 스킬을 project → global(user) 스코프로 승격 — 멀티 레포 지원 (#23)
  .agents/skills/managing-github-issues/agents/openai.yaml
  .agents/skills/managing-github-issues/references
  .claude/skills/managing-github-issues/SKILL.md
  CLAUDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/managing-github-issues/SKILL.md
  modules/shared/programs/claude/files/skills/managing-github-issues/references/issue-template.md
  modules/shared/programs/claude/files/skills/managing-github-issues/references/label-taxonomy.md
Due: nixfmt

refactor(claude): Global CLAUDE.md 정리 및 Astral 플러그인 제거
  libraries/packages.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
Due: nixfmt

refactor(claude): Global CLAUDE.md 정리 및 Astral 플러그인 제거 (#24)
  libraries/packages.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
Due: nixfmt

feat(homeserver): ArchiveBox → Karakeep 전환 — 3컨테이너 웹 아카이버/북마크 관리 (#19)
  .agents/skills/hosting-archivebox/SKILL.md
  .agents/skills/hosting-archivebox/agents/openai.yaml
  .agents/skills/hosting-karakeep/SKILL.md
  .agents/skills/hosting-karakeep/agents/openai.yaml
  .agents/skills/managing-minipc/SKILL.md
  .agents/skills/running-containers/SKILL.md
  .agents/skills/viewing-immich-photo/SKILL.md
  .agents/skills/viewing-immich-photo/agents/openai.yaml
  .claude/skills/hosting-archivebox/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/immich-update.md
  .claude/skills/running-containers/references/service-update-system.md
  CLAUDE.md
  README.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/archivebox-update/default.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/docker/archivebox-notify.nix
  modules/nixos/programs/docker/archivebox-notify/files/event-poller.sh
  modules/nixos/programs/docker/archivebox-notify/files/install-hook.sh
  modules/nixos/programs/docker/archivebox-notify/files/notify-hook.py
  modules/nixos/programs/docker/archivebox-notify/files/server-error-notify.sh
  modules/nixos/programs/docker/archivebox.nix
  modules/nixos/programs/docker/archivebox/files/sync-admin-password.sh
  modules/nixos/programs/docker/karakeep-backup.nix
  modules/nixos/programs/docker/karakeep-notify.nix
  modules/nixos/programs/docker/karakeep-notify/files/webhook-bridge.sh
  modules/nixos/programs/docker/karakeep.nix
  modules/nixos/programs/karakeep-update/default.nix
  modules/nixos/programs/karakeep-update/files/update-script.sh
  secrets/archivebox-admin-password.age
  secrets/karakeep-meili-master-key.age
  secrets/karakeep-nextauth-secret.age
  secrets/pushover-karakeep.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(karakeep): CodeRabbitAI 리뷰 피드백 반영 — 4건 선별 적용
  .agents/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  modules/nixos/programs/docker/karakeep-notify/files/webhook-bridge.sh
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt, shellcheck

fix(karakeep): CodeRabbitAI 2차 리뷰 피드백 반영 — 2건 선별 적용
  .agents/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  libraries/constants.nix
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

feat(claude): maintaining-skills 글로벌 스킬 추가 — 스킬 감사·최신화·정리 자동화
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
  modules/shared/programs/claude/files/skills/maintaining-skills/references/quality-criteria.md
Due: nixfmt

feat(nrs): git worktree에서 nrs/nrp 빌드 및 심링크 지원
  flake.nix
  modules/darwin/home.nix
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

docs(skills): nrs worktree 지원 정보 반영
  .agents/skills/managing-macos/SKILL.md
  .agents/skills/managing-minipc/SKILL.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/features.md
Due: none

docs(karakeep): SingleFile ZodError 트러블슈팅 추가
  .agents/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
Due: none

fix: CodeRabbit 리뷰 반영 — 미사용 인수 제거 및 주석 갱신
  modules/darwin/home.nix
  modules/shared/programs/shell/default.nix
Due: nixfmt

docs(flake): 두 변수 네이밍 설계 이유 주석 추가
  flake.nix
Due: nixfmt

feat(claude): maintaining-skills 글로벌 스킬 추가 — 스킬 감사·최신화·정리 자동화 (#26)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
  modules/shared/programs/claude/files/skills/maintaining-skills/references/quality-criteria.md
Due: nixfmt

fix(karakeep): Podman 브릿지에서 웹훅 포트 방화벽 허용
  modules/nixos/programs/docker/karakeep-notify.nix
Due: nixfmt

feat(nrs): git worktree에서 nrs/nrp 빌드 및 심링크 지원 (#28)
  .agents/skills/managing-macos/SKILL.md
  .agents/skills/managing-minipc/SKILL.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/features.md
  flake.nix
  modules/darwin/home.nix
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

fix(karakeep): WEBHOOK_URL 환경변수 제거 — 웹훅은 UI에서 사용자별 설정
  .agents/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  modules/nixos/programs/docker/karakeep.nix
Due: nixfmt

fix(karakeep): Pushover 알림에 도메인+경로 표시
  modules/nixos/programs/docker/karakeep-notify/files/webhook-bridge.sh
Due: shellcheck

fix(karakeep): Meilisearch 메모리 512MB→1GB 증설 (OOM 크래시 루프)
  .agents/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  libraries/constants.nix
Due: nixfmt

feat(homeserver): ArchiveBox → Karakeep 전환 — 3컨테이너 웹 아카이버/북마크 관리 (#25)
  .agents/skills/hosting-archivebox/SKILL.md
  .agents/skills/hosting-archivebox/agents/openai.yaml
  .agents/skills/hosting-karakeep/SKILL.md
  .agents/skills/hosting-karakeep/agents/openai.yaml
  .agents/skills/managing-minipc/SKILL.md
  .agents/skills/running-containers/SKILL.md
  .agents/skills/viewing-immich-photo/SKILL.md
  .agents/skills/viewing-immich-photo/agents/openai.yaml
  .claude/skills/hosting-archivebox/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/immich-update.md
  .claude/skills/running-containers/references/service-update-system.md
  CLAUDE.md
  README.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/archivebox-update/default.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/docker/archivebox-notify.nix
  modules/nixos/programs/docker/archivebox-notify/files/event-poller.sh
  modules/nixos/programs/docker/archivebox-notify/files/install-hook.sh
  modules/nixos/programs/docker/archivebox-notify/files/notify-hook.py
  modules/nixos/programs/docker/archivebox-notify/files/server-error-notify.sh
  modules/nixos/programs/docker/archivebox.nix
  modules/nixos/programs/docker/archivebox/files/sync-admin-password.sh
  modules/nixos/programs/docker/karakeep-backup.nix
  modules/nixos/programs/docker/karakeep-notify.nix
  modules/nixos/programs/docker/karakeep-notify/files/webhook-bridge.sh
  modules/nixos/programs/docker/karakeep.nix
  modules/nixos/programs/karakeep-update/default.nix
  modules/nixos/programs/karakeep-update/files/update-script.sh
  secrets/archivebox-admin-password.age
  secrets/karakeep-meili-master-key.age
  secrets/karakeep-nextauth-secret.age
  secrets/pushover-karakeep.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(nrs): worktree 빌드 후 심링크 회귀 해결 — nixosConfigPath 항상 메인 레포 고정
  flake.nix
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/claude/default.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

fix(skills): add YAML frontmatter to hosting-karakeep SKILL.md
  .agents/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
Due: none

chore(skills): project viewing-immich-photo and refresh openai manifests
  .agents/skills/hosting-karakeep/agents/openai.yaml
  .agents/skills/proxying-dev-server/agents/openai.yaml
  .agents/skills/viewing-immich-photo/SKILL.md
  .agents/skills/viewing-immich-photo/agents/openai.yaml
Due: none

docs(skills): document uptime-kuma notification trigger rules
  .agents/skills/running-containers/SKILL.md
  .claude/skills/running-containers/SKILL.md
Due: none

fix(claude): worktree stale symlink cleanup 범위 정밀화 및 문서 동기화
  .agents/skills/managing-macos/SKILL.md
  .agents/skills/managing-minipc/SKILL.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/features.md
  modules/shared/programs/claude/default.nix
Due: nixfmt

docs(claude): document cleanStaleWorktreeSymlinks glob sync
  modules/shared/programs/claude/default.nix
Due: nixfmt

fix(nrs): worktree→main 전환 시 HM checkLinkTargets 회귀 수정 (#30)
  .agents/skills/managing-macos/SKILL.md
  .agents/skills/managing-minipc/SKILL.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/features.md
  flake.nix
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/claude/default.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

docs(codex): `proxying-dev-server` 스킬 동기화
  .agents/skills/proxying-dev-server/agents/openai.yaml
Due: none

fix(copyparty): ACL에 move 권한 추가하여 이름 변경 허용
  modules/nixos/programs/docker/copyparty.nix
Due: nixfmt

fix(copyparty): ACL에 move 권한 추가하여 이름 변경 허용 (#33)
  modules/nixos/programs/docker/copyparty.nix
Due: nixfmt

chore: update username references to greenheadHQ
  .claude/skills/managing-minipc/references/installation.md
  .claude/skills/managing-minipc/references/troubleshooting.md
  .claude/skills/managing-ssh/references/troubleshooting.md
  README.md
  modules/nixos/scripts/install-minipc.sh
  modules/nixos/scripts/post-install-minipc.sh
Due: shellcheck

chore: update username references to greenheadHQ (#34)
  .claude/skills/managing-minipc/references/installation.md
  .claude/skills/managing-minipc/references/troubleshooting.md
  .claude/skills/managing-ssh/references/troubleshooting.md
  README.md
  modules/nixos/scripts/install-minipc.sh
  modules/nixos/scripts/post-install-minipc.sh
Due: shellcheck
