Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

chore(claude): loosen rm -rf deny rules
  modules/shared/programs/claude/files/settings.json
Due: none

chore(claude): loosen rm -rf deny rules (#502)
  modules/shared/programs/claude/files/settings.json
Due: none

docs(skills): playwright-cli SKILL 문서 v0.1.6 → v0.1.8 sync
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/video-recording.md
Due: none

docs(skills): playwright-cli attach 경로에 보안 가드 추가
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
Due: none

docs(skills): attach 가드 범위 확장 + SKILL.md 보안 포인터 추가
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
Due: none

feat(codex): add tomlkit-based config merge script
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

refactor(codex): manage ~/.codex/config.toml via activation merge
  modules/shared/programs/codex/default.nix
Due: nixfmt

refactor(verify): assess ~/.codex/config.toml by state not by symlink
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

refactor(relink): drop ~/.codex/config.toml from OOS probe set
  modules/shared/scripts/lib/rebuild/relink.sh
Due: shellcheck

docs(chrome-devtools): align ~/.codex/config.toml guidance with new management
  docs/CHROME_DEVTOOLS_MCP_AUTOCONNECT.md
Due: none

fix(verify): unify file-mode reading via Python to bypass stat BSD/GNU split
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

docs(skills): Installation 섹션을 저장소 프로비저닝 경로로 정렬
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
Due: none

refactor(codex): harden sync-codex-config.py for hostile inputs
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

fix(codex): source config template from the current flake, not the main checkout
  modules/shared/programs/codex/default.nix
Due: nixfmt

refactor(verify): harden Codex config checks and unify Python helpers
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

refactor(codex): preserve unknown sections; fail-loud on unreadable target
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

refactor(verify): make TOML helpers safe under set -e and fix naming
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

refactor(codex): recursive leaf-level merge preserves user child keys
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

fix(relink): warn users upgrading from legacy ~/.codex/config.toml symlink
  modules/shared/scripts/lib/rebuild/relink.sh
Due: shellcheck

docs(skills): playwright-cli SKILL 문서 v0.1.6 → v0.1.8 sync (#505)
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/video-recording.md
Due: none

fix(codex): repair non-table projects/mcp_servers roots before merge
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

docs(verify): align chrome-devtools check comment with actual pass semantics
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix(relink): also warn when ~/.codex/config.toml went missing after worktree cleanup
  modules/shared/scripts/lib/rebuild/relink.sh
Due: shellcheck

docs(verify): drop internal review tags from inline comments
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

docs(codex): align sync-codex-config header comment with UTF-8 policy
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

feat(codex): manage ~/.codex/config.toml via activation merge (#512)
  docs/CHROME_DEVTOOLS_MCP_AUTOCONNECT.md
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/sync-codex-config.py
  modules/shared/scripts/lib/rebuild/relink.sh
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

feat(skills): prd 스킬 + validation-path catalog 도입 (#507, #508)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/prd/SKILL.md
  modules/shared/programs/claude/files/skills/prd/references/file-mode-selection.md
  modules/shared/programs/claude/files/skills/prd/references/multi-pass-review.md
  modules/shared/programs/claude/files/skills/prd/references/phase-template.md
  modules/shared/programs/claude/files/skills/prd/references/prd-master-template.md
  modules/shared/programs/claude/files/skills/prd/references/validation-paths.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

feat(skills): review-implementation 스킬 도입 (#509)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/prd/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/references/requirement-status.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

feat(skills): plan-with-questions Post-Implementation에 10-pass Final Review 추가 (#510)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): prd 템플릿의 생성 산출물 참조 경로를 user-home 기반으로 교정
  modules/shared/programs/claude/files/skills/prd/references/phase-template.md
  modules/shared/programs/claude/files/skills/prd/references/prd-master-template.md
Due: none

fix(skills): parallel-audit CONFIRMED 반영 — sync 범위, validation taxonomy, eval fixture
  modules/shared/programs/claude/files/skills/prd/evals/queries.json
  modules/shared/programs/claude/files/skills/prd/references/multi-pass-review.md
  modules/shared/programs/claude/files/skills/prd/references/phase-template.md
  modules/shared/programs/claude/files/skills/review-implementation/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/evals/queries.json
Due: none

fix(skills): prd description 최적화 — trigger accuracy 82.35% → 100%
  modules/shared/programs/claude/files/skills/prd/SKILL.md
Due: none

fix(skills): prd 템플릿의 home-path 하드코딩 제거 — scope-agnostic 문자열로 교체
  modules/shared/programs/claude/files/skills/prd/references/phase-template.md
  modules/shared/programs/claude/files/skills/prd/references/prd-master-template.md
Due: none

fix(hooks): warn-skill-consistency.sh 에 shared skill source 검증 추가
  scripts/ai/warn-skill-consistency.sh
Due: shellcheck

fix(codex): DA for_pr Round 1 CONFIRMED 5건 반영
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/codex/files/sync-codex-config.py
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/shell-scripts/codex-config/check_quoted_dotted_key_match/expected_drift.json
  tests/fixtures/shell-scripts/codex-config/check_quoted_dotted_key_match/expected_exit
  tests/fixtures/shell-scripts/codex-config/check_quoted_dotted_key_match/target.toml
  tests/fixtures/shell-scripts/codex-config/check_quoted_dotted_key_match/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_quoted_dotted_key/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_quoted_dotted_key/expected.toml
  tests/fixtures/shell-scripts/codex-config/sync_quoted_dotted_key/template.toml
  tests/shell-script-tests.sh
Due: shellcheck

fix(codex): import re as top-level import (DA for_pr Round 2 M1)
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

fix(codex): DA for_pr Round 3 CONFIRMED 6건 반영
  flake.nix
  libraries/python-runtimes.nix
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
  scripts/ai/warn-skill-consistency.sh
  tests/run-shell-script-tests.sh
  tests/shell-script-tests.sh
Due: nixfmt, shellcheck

chore: dead code/drift 일괄 정리 (#514)
  .claude/skills/automating-hammerspoon/references/hotkeys.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  README.md
  docs/CHROME_DEVTOOLS_MCP_AUTOCONNECT.md
  docs/SKILL_WRITING_GUIDE.md
  docs/TRIAL_AND_ERROR.md
  docs/archive/TROUBLESHOOTING.md
  docs/superpowers/plans/2026-04-03-da-harness-research-improvement.md
  docs/superpowers/research/2026-04-03-da-harness-remeasurement-method.md
  docs/superpowers/research/2026-04-03-da-harness-research.md
  docs/superpowers/specs/2026-04-03-da-harness-research-design.md
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/codex-structure.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/openai-yaml-generation.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  scripts/pre-rebuild-check.sh
Due: shellcheck

fix(codex): DA for_pr Round 4 CONFIRMED 5건 반영
  README.md
  modules/shared/programs/codex/files/sync-codex-config.py
  scripts/ai/lib/render-check-report.py
  scripts/ai/lib/tomlkit-bootstrap.sh
  scripts/ai/verify-ai-compat.sh
  tests/run-shell-script-tests.sh
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
