Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}

feat(cursor): `hashicorp.terraform` 확장 프로그램 추가
  modules/darwin/programs/cursor/default.nix
Due: nixfmt

feat(wt): 삭제 시 부모 브랜치 기준 커밋 체크 추가
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/config.md
  modules/shared/programs/git/default.nix
  modules/shared/programs/shell/default.nix
Due: nixfmt

sync: nixos-config-secret 동기화
  flake.lock
Due: none

feat(claude): `settings.json` 플러그인 추가
  modules/shared/programs/claude/files/settings.json
Due: none

fix(immich): network-online.target wants 의존성 추가
  .claude/skills/running-containers/references/troubleshooting.md
  modules/nixos/programs/docker/immich.nix
Due: nixfmt

fix(darwin): SSH 세션 로케일 C 폴백 문제 수정
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

docs(managing-macos): SSH 세션 로케일 설정 문서 추가
  .claude/skills/managing-macos/references/features.md
Due: none

feat(ssh): MiniPC ↔ macOS 양방향 SSH 접속 설정
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/managing-ssh/references/tailscale.md
  modules/darwin/configuration.nix
  modules/nixos/home.nix
  modules/nixos/programs/ssh-client/default.nix
Due: nixfmt

refactor(nrs): Y/n 확인 프롬프트 제거
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  CLAUDE.md
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
Due: shellcheck

refactor: nixos-config-secret 의존성 완전 제거 및 CLAUDE.md 재구성
  .claude/skills/configuring-claude-code/references/hooks.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/troubleshooting.md
  .claude/skills/managing-ssh/SKILL.md
  .claude/skills/managing-ssh/references/tailscale.md
  .claude/skills/managing-ssh/references/troubleshooting.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  CLAUDE.md
  flake.lock
  flake.nix
  modules/darwin/home.nix
  modules/darwin/scripts/nrs.sh
  modules/nixos/home.nix
  modules/nixos/scripts/nrs.sh
Due: nixfmt, shellcheck

docs(syncing-atuin): `한글 히스토리 TUI 깨짐` 이슈 문서화
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/monitoring.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
Due: none

feat(atuin): atuin-clean-kr 스크립트 추가
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
  modules/shared/programs/shell/default.nix
  modules/shared/programs/shell/nixos.nix
  modules/shared/scripts/atuin-clean-kr.py
Due: nixfmt

chore(git): global gitignore에 __pycache__/ 추가
  modules/shared/programs/git/default.nix
Due: nixfmt

feat(claude): stop hook 알림에 호스트·레포·브랜치 정보 추가
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

feat(claude): AskUserQuestion hook 추가 및 Pushover credentials 서비스별 분리
  modules/darwin/programs/atuin/files/atuin-watchdog.sh
  modules/nixos/programs/fail2ban.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/secrets/default.nix
  secrets/pushover-atuin.age
  secrets/pushover-claude-ask.age
  secrets/pushover-claude-stop.age
  secrets/pushover-credentials.age
  secrets/pushover-fail2ban.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

refactor(pushover): Claude Code credentials 2개를 1개로 통합
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/secrets/default.nix
  secrets/pushover-claude-ask.age
  secrets/pushover-claude-code.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

style(pushover): 알림 title 띄어쓰기 수정
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

feat(claude): ExitPlanMode hook 추가 — 계획 승인 요청 시 Pushover 알림
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/settings.json
Due: nixfmt, shellcheck

feat(claude): managing-secrets 스킬 추가 및 devShell rage 제거
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-secrets/references/troubleshooting.md
  CLAUDE.md
  flake.nix
Due: nixfmt

docs: OSC 52 클립보드 실패 기록 추가
  docs/TRIAL_AND_ERROR.md
Due: none

fix(pushover): notification hook UTF-8 인코딩 문제 해결
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

docs(claude): Pushover 알림 인코딩 깨짐 트러블슈팅 추가
  .claude/skills/configuring-claude-code/references/troubleshooting.md
Due: none

refactor: nixos-config 종합 개선 (보안, DRY, 모듈화, 자동화, 문서화)
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/running-containers/SKILL.md
  CLAUDE.md
  README.md
  flake.nix
  hosts/greenhead-minipc/default.nix
  libraries/constants.nix
  libraries/packages.nix
  modules/darwin/configuration.nix
  modules/darwin/home.nix
  modules/darwin/programs/ssh/default.nix
  modules/darwin/programs/sshd/default.nix
  modules/nixos/configuration.nix
  modules/nixos/home.nix
  modules/nixos/lib/tailscale-wait.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/docker/plex.nix
  modules/nixos/programs/docker/runtime.nix
  modules/nixos/programs/docker/uptime-kuma.nix
  modules/nixos/programs/ssh-client/default.nix
  modules/nixos/programs/ssh.nix
  scripts/add-host.sh
  scripts/pre-rebuild-check.sh
  scripts/update-input.sh
  secrets/immich-db-password.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

refactor(tmux): 설정 종합 개선 (Nix 모듈화, 버그 수정, 성능, 견고성)
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  .claude/skills/managing-tmux/references/troubleshooting.md
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/pane-helpers.sh
  modules/shared/programs/tmux/files/scripts/pane-link.sh
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-restore.sh
  modules/shared/programs/tmux/files/scripts/pane-tag.sh
  modules/shared/programs/tmux/files/scripts/prefix-help.sh
  modules/shared/programs/tmux/files/scripts/restore-pane-vars.sh
  modules/shared/programs/tmux/files/scripts/save-pane-vars.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt, shellcheck

fix(packages): neovim 공통 패키지 추가
  libraries/packages.nix
Due: nixfmt

fix(tmux): display-popup에서 에디터/뷰어 command not found 방지
  .claude/skills/managing-tmux/references/troubleshooting.md
  modules/shared/programs/tmux/files/scripts/pane-note.sh
Due: shellcheck

refactor(editor): vim → neovim 통합 마이그레이션
  .claude/skills/configuring-git/references/config.md
  libraries/packages.nix
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/git/default.nix
  modules/shared/programs/neovim/default.nix
  modules/shared/programs/tmux/files/scripts/pane-link.sh
  modules/shared/programs/vim/default.nix
Due: nixfmt, shellcheck

feat(shell): SSH 접속 시 tmux 자동 연결 + 세션 대시보드
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

feat(tmux): tmux-thumbs 플러그인 추가 (패턴 기반 텍스트 복사)
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt

feat(git): delta line-numbers + side-by-side 활성화
  modules/shared/programs/git/default.nix
Due: nixfmt

fix(hooks): Pushover 알림 curl 인코딩 방식 통일 (--data-urlencode)
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

feat(shell): .. / ... 디렉토리 이동 alias 추가
  modules/shared/programs/shell/default.nix
Due: nixfmt

docs(tmux): prefix-help 초보자 섹션 + tmux-thumbs 문서 추가
  modules/shared/programs/tmux/files/scripts/prefix-help.sh
Due: shellcheck

docs(skills): 모바일 SSH 편의설정 변경사항 반영
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/config.md
  .claude/skills/managing-ssh/SKILL.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
Due: none

fix(hooks): Pushover 질문 알림에 모든 질문 표시 + iOS 표시 한계 문서화
  modules/shared/programs/claude/files/hooks/ask-notification.sh
Due: shellcheck

feat(git): pull 전략을 merge에서 rebase로 변경
  modules/shared/programs/git/default.nix
Due: nixfmt

feat(neovim): 최소 설정을 LazyVim IDE 환경으로 전환
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  CLAUDE.md
  README.md
  modules/shared/programs/neovim/default.nix
  modules/shared/programs/neovim/files/nvim/init.lua
  modules/shared/programs/neovim/files/nvim/lua/config/autocmds.lua
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/neovim/files/nvim/lua/config/lazy.lua
  modules/shared/programs/neovim/files/nvim/lua/config/options.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/colorscheme.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/disabled.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/lsp.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/treesitter.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/ui.lua
  modules/shared/programs/neovim/files/nvim/stylua.toml
Due: nixfmt

fix(neovim): macOS 빌드 실패 해결 (gcc LLVM, marksman Swift)
  .claude/skills/configuring-neovim/README.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  modules/shared/programs/neovim/default.nix
  modules/shared/programs/neovim/files/nvim/lua/plugins/lsp.lua
Due: nixfmt

fix(neovim): 플러그인 에러 3건 해결 (indent-blankline, tree-sitter, mini.surround)
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  modules/shared/programs/neovim/default.nix
  modules/shared/programs/neovim/files/nvim/lazy-lock.json
  modules/shared/programs/neovim/files/nvim/lazyvim.json
  modules/shared/programs/neovim/files/nvim/lua/plugins/disabled.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/ui.lua
Due: nixfmt

docs(neovim): surround 치트시트 + 실전 콤보 레시피 추가
  .claude/skills/configuring-neovim/README.md
Due: none
