Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

refactor(codex-hooks): nrs-session-cleanup 헤더 SoT 단일화
  modules/shared/programs/codex/files/hooks/nrs-session-cleanup.sh
Due: shellcheck

refactor(codex-hooks): dispatcher 진입 시점에 sub-script 경로 resolve
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
Due: shellcheck

refactor(codex): Stop dispatcher cleanup before notification (#590) (#604)
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
  modules/shared/programs/codex/files/hooks/nrs-session-cleanup.sh
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

feat(hooks): PostToolUse warn-only pinning alert (Claude+Codex)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/pinning-alert.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/sync-preservation/scenario-E-posttooluse-template-owned.toml
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

fix(hooks): pinning-alert pipefail safety + apply_patch 파일별 검사
  modules/shared/programs/claude/files/hooks/pinning-alert.sh
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
Due: shellcheck

fix(hooks): pinning-alert R2 — long path mktemp + PATTERN_D 동등 + verifier lockstep
  modules/shared/programs/claude/files/hooks/pinning-alert.sh
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix(hooks): pinning-alert R3 functional — apply_patch Move to + backtick length
  modules/shared/programs/claude/files/hooks/pinning-alert.sh
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
Due: shellcheck

fix(hooks): parallel-audit 반영 — Codex hook early-exit + docs 보완
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
  tests/fixtures/codex-hooks/README.md
  tests/lib/codex-hook-expectations.sh
Due: shellcheck

fix(hooks): PR #605 review feedback — verifier pipefail/fail args + 헤더 주석 sync
  modules/shared/programs/claude/files/hooks/pinning-alert.sh
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

feat(hooks): PostToolUse warn-only pinning alert (Claude+Codex) (#605)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/pinning-alert.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/sync-preservation/scenario-E-posttooluse-template-owned.toml
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

test(codex-hooks): pinning-alert behavioral fixture 카테고리 7 추가 (#606)
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-claude-edit-positive-4patterns.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-edit-positive-4patterns.json
  tests/fixtures/codex-hooks/stdin/pinning-claude-self-exclude.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-self-exclude.json
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-clean.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-clean.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-backtick-short.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-backtick-short.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-md-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-md-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-moveto.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-moveto.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-multifile.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-multifile.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-removeonly.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-removeonly.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-bash-out-of-scope.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-bash-out-of-scope.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

test(codex-hooks): pinning-alert fixture DA for_pr 반영 (#606)
  tests/fixtures/codex-hooks/README.md
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

docs(codex-hooks): runner 카테고리 1 표기를 baseline subset으로 정확화 (#606)
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

test(codex-hooks): pinning-alert behavioral fixture 카테고리 7 추가 (#606) (#608)
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-claude-edit-positive-4patterns.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-edit-positive-4patterns.json
  tests/fixtures/codex-hooks/stdin/pinning-claude-self-exclude.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-self-exclude.json
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-clean.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-clean.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-backtick-short.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-backtick-short.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-md-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-md-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-moveto.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-moveto.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-multifile.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-multifile.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-removeonly.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-removeonly.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-bash-out-of-scope.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-bash-out-of-scope.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(skills): syncing-codex-harness `set -e` 안전 가드 패턴 + 빠른 참조 재구성 (#556)
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

fix(skills): playwright-cli npx fallback 정확성 + cache-only 권한 일관성 (#556)
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/playwright-tests.md
Due: none

revert(skills): playwright-cli references/playwright-tests.md cache-only 정정 분리 (#556)
  modules/shared/programs/claude/files/skills/playwright-cli/references/playwright-tests.md
Due: none

refactor(skills): SKILL.md 도구-중립 cleanup batch (9개 스킬, #556) (#599)
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/running-containers/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

refactor(plan-with-questions): Phase 1 progressive disclosure split
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

feat(plan-with-questions): Phase 2 — Step 3.5 consulting-step body
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
Due: none

feat(plan-with-questions): Phase 3 — plan-file-template + resume-state
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

feat(plan-with-questions): Phase 4 — for_prd mode + auto-trigger + review-impl
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

feat(plan-with-questions): Phase 5 — anchoring-bias measurement infrastructure
  .gitignore
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

fix(plan-with-questions): DA Round 1 Group A — measure-anchoring-bias.sh hardening
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

fix(plan-with-questions): DA Round 1 Group B+D — Step 3.5 hardening + stale stubs
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

refactor(plan-with-questions): for_prd handoff wrapper + trigger narrowing
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

fix(plan-with-questions): second-pass DA cleanup
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

fix(plan-with-questions): third-pass DA cleanup (xhigh)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

fix(plan-with-questions): fourth-pass DA cleanup and approval gate
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

fix(plan-with-questions): parallel-audit cleanup — Step 3.5 reliability + script hardening
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

fix(plan-with-questions): SKILL.md invariant 7 — Living checkbox update obligation
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix: measure-anchoring-bias.sh — fail-closed on mktemp + escape_json correctness
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

fix(plan-with-questions): address PR feedback (CodeRabbit)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

feat(plan-with-questions): PRD/review-impl 통합 + 외부 LLM 자문 단계 + progressive disclosure (#612)
  .gitignore
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

docs(prd): add prd-skill-router-consolidation (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-01-design-lockin.md
  .claude/prds/prd-skill-router-consolidation/phase-02-references-move.md
  .claude/prds/prd-skill-router-consolidation/phase-03-standalone-removal.md
  .claude/prds/prd-skill-router-consolidation/phase-04-codex-sot-trigger.md
  .claude/prds/prd-skill-router-consolidation/phase-05-validation-final-review.md
Due: none

docs(prd): define DL-17 + clarify path/phase split (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-01-design-lockin.md
  .claude/prds/prd-skill-router-consolidation/phase-02-references-move.md
  .claude/prds/prd-skill-router-consolidation/phase-04-codex-sot-trigger.md
  .claude/prds/prd-skill-router-consolidation/phase-05-validation-final-review.md
Due: none

docs(prd): scrub stale DL-1~16 references and Commit 5 framing (#611)
  .claude/prds/prd-skill-router-consolidation/phase-01-design-lockin.md
  .claude/prds/prd-skill-router-consolidation/phase-05-validation-final-review.md
Due: none

docs(prd): align Decision Log counter to current SSOT 17 entries (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-01-design-lockin.md
Due: none

docs(prd): Phase 1 design lock-in complete (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-01-design-lockin.md
Due: none

fix(prd): correct verify-ai-compat baseline line numbers (#611)
  .claude/prds/prd-skill-router-consolidation/phase-01-design-lockin.md
  .claude/prds/prd-skill-router-consolidation/phase-04-codex-sot-trigger.md
Due: none
