Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}

docs(FEATURES): Pre-commit Hooks 섹션 추가
  docs/FEATURES.md
Due: none

docs(FEATURES): gitleaks allowlist 패턴 상세 설명 추가
  .gitleaks.toml
  docs/FEATURES.md
Due: none

fix(zsh): macOS NFD 유니코드로 인한 autosuggestion 레이아웃 깨짐 부분 해결
  docs/TROUBLESHOOTING.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(nixos): MiniPC NixOS 전환을 위한 다중 플랫폼 지원 구조 구현
  docs/MINIPC_PLAN_V3.md
  flake.lock
  flake.nix
  hosts/greenhead-minipc/default.nix
  hosts/greenhead-minipc/disko.nix
  hosts/greenhead-minipc/hardware-configuration.nix
  modules/darwin/home.nix
  modules/nixos/configuration.nix
  modules/nixos/home.nix
  modules/nixos/programs/fail2ban.nix
  modules/nixos/programs/mosh.nix
  modules/nixos/programs/ssh.nix
  modules/nixos/programs/tailscale.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/agents/document-task.md
  modules/shared/programs/claude/files/commands/catchup.md
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/claude/files/mcp-config.json
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/document-task/SKILL.md
  modules/shared/programs/claude/files/skills/document-task/assets/template.md
  modules/shared/programs/claude/files/skills/document-task/references/example.md
  modules/shared/programs/shell/darwin.nix
  modules/shared/programs/shell/default.nix
  modules/shared/programs/shell/nixos.nix
  scripts/nrp-nixos.sh
  scripts/nrs-nixos.sh
Due: nixfmt, shellcheck

docs(minipc): Phase 1 완료 상태 업데이트
  docs/MINIPC_PLAN_V3.md
Due: none

feat: git 명령어 자동 nix develop 래핑 훅 추가
  .claude/scripts/wrap-git-with-nix-develop.sh
  modules/shared/programs/git/default.nix
Due: nixfmt, shellcheck

feat(minipc): Phase 2 설치 스크립트 및 체크리스트 추가
  docs/MINIPC_CHECKLIST.md
  docs/MINIPC_PLAN_V3.md
  scripts/install-minipc.sh
  scripts/post-install-minipc.sh
  scripts/setup-minipc-ssh.sh
Due: shellcheck

docs(minipc): 체크리스트 업데이트 - ISO 25.11, 무결성 검사 완료
  docs/MINIPC_CHECKLIST.md
Due: none

fix(nixos): 설치 시 private repo 의존성 임시 제거
  modules/nixos/home.nix
Due: nixfmt

fix(flake): nixos-config-secret input 임시 제거
  flake.nix
Due: nixfmt

feat(minipc): add actual hardware-configuration.nix
  hosts/greenhead-minipc/hardware-configuration.nix
Due: nixfmt

fix(minipc): remove disko-managed fileSystems from hardware-configuration.nix
  hosts/greenhead-minipc/hardware-configuration.nix
Due: nixfmt

fix(nixos): add curl package for Claude Code installation
  modules/nixos/home.nix
Due: nixfmt

feat(nixos): enable nix-ld for dynamic binary support
  modules/nixos/configuration.nix
Due: nixfmt

docs(troubleshooting): NixOS 설치 트러블슈팅 섹션 추가
  docs/TROUBLESHOOTING.md
Due: none

feat(nixos): enable nixos-config-secret after SSH key setup
  flake.nix
  modules/nixos/home.nix
Due: nixfmt

feat(nixos): enable passwordless sudo for wheel group
  modules/nixos/configuration.nix
Due: nixfmt

feat(nixos): add ghostty for terminfo support
  modules/nixos/home.nix
Due: nixfmt

docs(troubleshooting): add SSH/sudo/Ghostty terminfo issues
  docs/TROUBLESHOOTING.md
Due: none

feat(darwin): add minipc SSH host alias
  modules/darwin/programs/ssh/default.nix
Due: nixfmt

docs: MiniPC Phase 3 문서 최신화 완료
  README.md
  docs/FEATURES.md
  docs/HOW_TO_EDIT.md
  docs/MINIPC_CHECKLIST.md
  docs/MINIPC_PLAN_V3.md
Due: none

refactor(darwin): macOS 호스트명 변경 (yunnogduui → greenhead)
  docs/MINIPC_PLAN_V3.md
  flake.nix
Due: nixfmt

fix(nixos): locale을 영어로 변경 (en_US.UTF-8)
  modules/nixos/configuration.nix
Due: nixfmt

fix(nixos): zsh에 COMBINING_CHARS 추가 (wide character 지원)
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

test(nixos): Starship 임시 비활성화 (Termius 한국어 입력 테스트)
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

test(nixos): zsh-autosuggestion 비활성화 (Termius 한국어 입력 테스트)
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

revert: zsh-autosuggestion 복구
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

test(nixos): atuin 비활성화 (Termius 한국어 입력 테스트)
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

test(nixos): zsh-syntax-highlighting 비활성화 (테스트)
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

test(nixos): zsh-autosuggestion도 비활성화
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

revert: 테스트용 비활성화 코드 복구
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

docs: Termius 한국어 입력 문제 시행착오 기록
  docs/TRIAL_AND_ERROR.md
Due: none

docs: Termius 한국어 문제 임시 해결책 추가
  docs/TRIAL_AND_ERROR.md
Due: none

docs: 대안 앱들이 미검증임을 명시
  docs/TRIAL_AND_ERROR.md
Due: none

fix(claude): PreToolUse 훅 JSON validation 에러 수정 (Base64 방식)
  .claude/scripts/wrap-git-with-nix-develop.sh
  docs/FEATURES.md
  docs/TROUBLESHOOTING.md
Due: shellcheck

fix(atuin): 검색 모드를 fulltext로 변경하여 fuzzy 오매칭 문제 해결
  docs/FEATURES.md
  docs/TROUBLESHOOTING.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(claude): PreToolUse 훅 JSON에 hookEventName 필드 추가
  .claude/scripts/wrap-git-with-nix-develop.sh
Due: shellcheck

feat(nixos): NixOS nixosConfigPath를 ~/IdeaProjects로 변경
  flake.nix
Due: nixfmt

refactor(claude): 미사용 컴포넌트 정리 및 MCP 설정 표준화
  docs/FEATURES.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/agents/.gitkeep
  modules/shared/programs/claude/files/agents/document-task.md
  modules/shared/programs/claude/files/commands/catchup.md
  modules/shared/programs/claude/files/mcp-config.json
  modules/shared/programs/claude/files/mcp.json
  modules/shared/programs/claude/files/skills/.gitkeep
  modules/shared/programs/claude/files/skills/document-task/SKILL.md
  modules/shared/programs/claude/files/skills/document-task/assets/template.md
  modules/shared/programs/claude/files/skills/document-task/references/example.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(mise): SSH 비대화형 세션에서 mise 사용 가능하도록 개선
  docs/TROUBLESHOOTING.md
  modules/shared/programs/git/default.nix
  modules/shared/programs/shell/default.nix
Due: nixfmt
