Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(codex): address DA for_pr findings (shell injection, plan-file semantics)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/codex/default.nix
Due: nixfmt

fix(codex): address DA round 2 findings (bare-number recovery, Codex tool names)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

fix(codex): address DA round 3 confirmed findings
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: shellcheck

fix(codex): address parallel-audit findings (doc drift, broken-symlink guard)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

settings(claude): `superpowers` 플러그인 제거
  modules/shared/programs/claude/files/settings.json
Due: none

fix(skills): {BUNDLE} 플레이스홀더 오독 + Bash tool zsh 금지 목록 카테고리 확장
  CLAUDE.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
Due: none

fix(skills): Bash tool 환경 표의 indexed array 대안 정확도 보정
  CLAUDE.md
Due: none

fix(skills): indexed array 인덱스 대안에서 off-by-one 유발 표기 제거
  CLAUDE.md
Due: none

fix(skills): 비동치 indexed-array 대안 문장 완전 제거
  CLAUDE.md
Due: none

fix(skills): 간접 확장 행을 용도별로 분리하여 indexed array 오치환 경로 차단
  CLAUDE.md
Due: none

refactor(hooks): PreToolUse envelope을 hookSpecificOutput.permissionDecision으로 정렬
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
  modules/shared/programs/claude/files/hooks/worktree-path-guard.sh
Due: shellcheck

feat(claude-code): system-bash-guard PreToolUse hook 추가
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/system-bash-guard.sh
  modules/shared/programs/claude/files/settings.json
Due: nixfmt, shellcheck

refactor: 21개 스크립트를 #!/usr/bin/env bash로 마이그레이션
  .claude/scripts/detect-empty-commit.sh
  .claude/scripts/wrap-git-with-nix-develop.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
  modules/nixos/lib/generic-version-check.sh
  modules/nixos/lib/service-lib.sh
  modules/nixos/programs/copyparty-update/files/update-script.sh
  modules/nixos/programs/docker/karakeep-notify/files/webhook-bridge.sh
  modules/nixos/programs/immich-cleanup/files/cleanup-script.sh
  modules/nixos/programs/immich-update/files/update-script.sh
  modules/nixos/programs/immich-update/files/version-check.sh
  modules/nixos/programs/karakeep-update/files/update-script.sh
  modules/nixos/programs/temp-monitor/files/check-temp.sh
  modules/nixos/programs/uptime-kuma-update/files/update-script.sh
  modules/nixos/programs/vaultwarden-update/files/update-script.sh
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/scripts/validate-skills.sh
Due: shellcheck

fix(skills): Case modification 행을 전체/첫 글자 + inline/할당 속성으로 분리
  CLAUDE.md
Due: none

fix(skills): da-domains.md 경고 블록에서 bundle 이름 중복 열거 제거
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
Due: none

fix(hooks): system-bash-guard deny 메시지의 Nix bash 단정 완화
  modules/shared/programs/claude/files/hooks/system-bash-guard.sh
Due: shellcheck

fix(skills): da-domains.md 의 casing/case-modification 중복 규칙을 canonical 참조로 축소
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
Due: none

fix(skills): placeholder casing 규칙을 bundle/세부 관점 별로 분리 명시
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
Due: none

fix(hooks): system-bash-guard Edit 케이스 post-edit 재구성 검사 추가
  modules/shared/programs/claude/files/hooks/system-bash-guard.sh
Due: shellcheck

fix(skills): using-codex-exec patterns.md 의 bash 전용 경고를 카테고리 수준으로 확장
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

feat(claude-code): system bash 3.2 가드 hook + shebang 마이그레이션 (#493)
  .claude/scripts/detect-empty-commit.sh
  .claude/scripts/wrap-git-with-nix-develop.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
  modules/nixos/lib/generic-version-check.sh
  modules/nixos/lib/service-lib.sh
  modules/nixos/programs/copyparty-update/files/update-script.sh
  modules/nixos/programs/docker/karakeep-notify/files/webhook-bridge.sh
  modules/nixos/programs/immich-cleanup/files/cleanup-script.sh
  modules/nixos/programs/immich-update/files/update-script.sh
  modules/nixos/programs/immich-update/files/version-check.sh
  modules/nixos/programs/karakeep-update/files/update-script.sh
  modules/nixos/programs/temp-monitor/files/check-temp.sh
  modules/nixos/programs/uptime-kuma-update/files/update-script.sh
  modules/nixos/programs/vaultwarden-update/files/update-script.sh
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
  modules/shared/programs/claude/files/hooks/system-bash-guard.sh
  modules/shared/programs/claude/files/hooks/worktree-path-guard.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/scripts/validate-skills.sh
Due: nixfmt, shellcheck

fix(skills): {BUNDLE} 플레이스홀더 오독 + Bash tool zsh 금지 카테고리 확장 (#494)
  CLAUDE.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(codex): align shared skill contracts with direct Codex runtime (#486) (#488)
  AGENTS.override.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

settings(codex): chrome-devtools mcp 설정오류 수정
  modules/shared/programs/codex/files/config.darwin.toml
Due: none

settings(claude): Opus 4.7 관련 설정 추가
  modules/shared/programs/claude/files/settings.json
Due: none

feat(shared): yazi TUI 파일 매니저 통합 (#496)
  flake.lock
  flake.nix
  modules/darwin/home.nix
  modules/darwin/programs/ghostty/default.nix
  modules/nixos/home.nix
  modules/nixos/programs/ssh.nix
  modules/shared/programs/tmux/files/tmux.conf
  modules/shared/programs/yazi/default.nix
Due: nixfmt

docs(shared): yazi 통합 DA Round 1 피드백 주석 반영 (#496)
  modules/shared/programs/tmux/files/tmux.conf
  modules/shared/programs/yazi/default.nix
Due: nixfmt

fix(darwin): yazi 통합 parallel-audit 반영 (#496)
  README.md
  modules/darwin/programs/sshd/default.nix
Due: nixfmt

feat(shared): yazi TUI 파일 매니저 통합 (#496) (#497)
  README.md
  flake.lock
  flake.nix
  modules/darwin/home.nix
  modules/darwin/programs/ghostty/default.nix
  modules/darwin/programs/sshd/default.nix
  modules/nixos/home.nix
  modules/nixos/programs/ssh.nix
  modules/shared/programs/tmux/files/tmux.conf
  modules/shared/programs/yazi/default.nix
Due: nixfmt

docs(README): 본인 복귀용 구조 재배치 + 정확성 수정
  README.md
Due: none

fix(README): ai-skills-consistency 훅 동작 설명 정정
  README.md
Due: none

fix(README): CodeRabbit 피드백 반영
  README.md
Due: none

docs(README): 본인 복귀용 구조 재배치 + 정확성 수정 (#499)
  README.md
Due: none

docs(cheat): yazi 핵심 키바인딩 cheatsheet 추가
  modules/shared/programs/cheat/cheatsheets/yazi/keybinding
Due: none

feat(yazi): C 키로 cheat-browse 실행 바인딩 추가
  modules/shared/programs/cheat/cheatsheets/yazi/keybinding
  modules/shared/programs/yazi/default.nix
Due: nixfmt

refactor(yazi): cheat-browse 절대경로 호출로 tmux 패턴과 통일
  modules/shared/programs/yazi/default.nix
Due: nixfmt

docs(cheat): yazi 핵심 키바인딩 cheatsheet + C 바인딩 통합 (#500)
  modules/shared/programs/cheat/cheatsheets/yazi/keybinding
  modules/shared/programs/yazi/default.nix
Due: nixfmt

fix(yazi): 한글 IME Shift+C(ㅊ) 이중 바인딩
  modules/shared/programs/cheat/cheatsheets/yazi/keybinding
  modules/shared/programs/yazi/default.nix
Due: nixfmt

feat(yazi): [mgr] 단일 문자 키 전체 한글 IME dual binding
  modules/shared/programs/cheat/cheatsheets/yazi/keybinding
  modules/shared/programs/yazi/default.nix
Due: nixfmt

feat(yazi): [mgr] 단일 문자 키 전체 한글 IME dual binding (#501)
  modules/shared/programs/cheat/cheatsheets/yazi/keybinding
  modules/shared/programs/yazi/default.nix
Due: nixfmt
