Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

docs: Claude Code 세션 아카이빙 설계 스펙 작성
  docs/superpowers/specs/2026-03-31-archive-claude-code-session-design.md
Due: none

docs: 스펙에 recall 포크 TUI 열람 섹션 추가
  docs/superpowers/specs/2026-03-31-archive-claude-code-session-design.md
Due: none

feat(claude): /archive 스킬 + claude-archive.sh + recall TUI 연동
  flake.lock
  flake.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/claude-archive.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/archive/SKILL.md
Due: nixfmt, shellcheck

fix(claude): DA Round 1 피드백 반영
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/claude-archive.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/recall/default.nix
Due: nixfmt, shellcheck

fix(claude): --list에서 corrupt meta.json이 전체를 중단시키는 문제 수정
  modules/shared/programs/claude/files/scripts/claude-archive.sh
Due: shellcheck

fix(claude): corrupt JSONL 헤더가 set -e+pipefail로 배치 중단하는 문제 수정
  modules/shared/programs/claude/files/scripts/claude-archive.sh
Due: shellcheck

refactor(claude): --list에서 meta.json당 jq 호출 6→1회로 통합
  modules/shared/programs/claude/files/scripts/claude-archive.sh
Due: shellcheck

fix(claude): --list에서 빈 git_branch로 TSV 필드 밀림 수정
  modules/shared/programs/claude/files/scripts/claude-archive.sh
Due: shellcheck

feat(claude): /archive 스킬 — worktree 삭제 후 세션 보존 + recall TUI (#376)
  docs/superpowers/specs/2026-03-31-archive-claude-code-session-design.md
  flake.lock
  flake.nix
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/claude-archive.sh
  modules/shared/programs/claude/files/skills/archive/SKILL.md
  modules/shared/programs/recall/default.nix
Due: nixfmt, shellcheck

feat(run-da): DA Arbiter 검증 시스템 — 피고=심판 구조 해소 (#375)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(run-da): DA for_pr R1 피드백 반영 — 판정 로직 모순 해소
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(run-da): 전수조사 피드백 반영 — 잔존 모순 3건 해소
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
Due: none

fix(run-da): arbiter-prompt.md 오탈자 수정 (사유지 → 사유이지)
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
Due: none

feat(run-da): DA Arbiter 검증 시스템 — 피고=심판 구조 해소 (#379)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(nix): download-buffer-size 256 MiB 설정 — 병렬 다운로드 정체 해소
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  modules/shared/configuration.nix
Due: nixfmt

fix(nix): download-buffer-size 256 MiB 설정 — 병렬 다운로드 정체 해소 (#381)
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  modules/shared/configuration.nix
Due: nixfmt

feat(run-da): Review Intensity 독립 에이전트 분리 + 규칙 강화
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(run-da): DA for_pr Arbiter CONFIRMED 2건 수정
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
Due: none

fix(nix): deprecated system 참조를 hostPlatform으로 대체
  flake.nix
  modules/shared/programs/recall/default.nix
Due: nixfmt

fix(run-da): Intensity 에이전트 수정 금지 지시 추가 + 파싱 실패 fallback
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

fix(run-da): 합리화 방지 테이블에서 세션 종속 사례 제거
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(codex): Arbiter 흐름의 Codex 투영 호환성 개선
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(codex): PR 피드백 반영 — codex 버전 기록 + SKIP→LITE 중복 제거
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
Due: none

fix(codex-exec): 참조 불가한 upstream bug 번호 제거
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

feat(run-da): Review Intensity 독립 에이전트 + Codex 투영 호환성 (#382)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(hooks): fragile-hardcoding-guard 코드 블록 내 false positive 해소
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
Due: shellcheck

feat(shell): ANDROID_HOME/PATH를 Home Manager 선언적 관리로 이전
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

fix(hooks): DA 피드백 반영 — awk fence parser + Write 전용 strip
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
Due: shellcheck

fix(docs): LLM 오탐 방지 — nrs 워크트리 심링크 전환 문서화
  CLAUDE.md
  flake.nix
Due: nixfmt

style(hooks): DA R2 피드백 — awk 변수명 + SCAN_INPUT + 주석 보강
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
Due: shellcheck

fix(hooks): CRLF 줄끝에서 fence closing 실패 수정
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
Due: shellcheck

fix(shell): Android PATH 주석을 자족적 설명으로 개선
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

fix(hooks): fragile-hardcoding-guard 코드 블록 내 false positive 해소 (#386)
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
Due: shellcheck

fix(docs): DA for_pr 피드백 반영 — trigger/보장 수준 정밀화
  CLAUDE.md
  flake.nix
Due: nixfmt

fix(shell): platform-tools PATH에 존재 확인 가드 추가
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

fix(docs): LLM 오탐 방지 — nrs 워크트리 심링크 전환 문서화 (#380) (#388)
  CLAUDE.md
  flake.nix
Due: nixfmt

feat(shell): ANDROID_HOME/PATH를 Home Manager 선언적 관리로 이전 (#387)
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

fix(run-da): Arbiter for_plan 오탐 해결 — 계획 기반 판정 기준 도입
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(run-da): DA Round 1 피드백 반영 — heredoc/출력 형식/반복 키 동기화
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

fix(run-da): DA Round 2 피드백 — NOT_AN_ISSUE 증거 규칙 단일 소스화
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
