Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

refactor(darwin): hostType별 Tailscale 의존 기능 분리 (#90)
  modules/darwin/configuration.nix
  modules/darwin/programs/folder-actions/default.nix
  modules/darwin/programs/ssh/default.nix
Due: nixfmt

fix(darwin): Figma cask 제거 및 Homebrew 업그레이드 정책 도입 (#91)
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  modules/darwin/programs/homebrew.nix
Due: nixfmt

fix(darwin): Slack cask 제거 — 수동 설치로 전환
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  modules/darwin/programs/homebrew.nix
Due: nixfmt

feat(cheat): cheat/cheat CLI 도입 — nvim cheatsheet를 터미널에서 즉시 조회 (#71)
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/references/cheatsheet.md
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
  modules/shared/programs/cheat/cheatsheets/nvim/case
  modules/shared/programs/cheat/cheatsheets/nvim/combo
  modules/shared/programs/cheat/cheatsheets/nvim/custom
  modules/shared/programs/cheat/cheatsheets/nvim/git
  modules/shared/programs/cheat/cheatsheets/nvim/lsp
  modules/shared/programs/cheat/cheatsheets/nvim/plugin
  modules/shared/programs/cheat/cheatsheets/nvim/search
  modules/shared/programs/cheat/cheatsheets/nvim/surround
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/cheat-browse.sh
  modules/shared/programs/tmux/files/scripts/prefix-help.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt, shellcheck

fix(cheat): <leader>cc → <leader>C 키맵 변경 — LazyVim CodeLens 충돌 방지
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
Due: none

fix(darwin): Shottr 글로벌 핫키 미작동 — symbolic hotkeys dict replace 제거 및 activation 순서 수정
  modules/darwin/configuration.nix
  modules/darwin/programs/shottr/default.nix
Due: nixfmt

fix(cheat): CodeRabbit 피드백 반영 — Y 키맵 수정 + fzf {1} 플레이스홀더 + enter:become
  modules/shared/programs/cheat/cheatsheets/nvim/combo
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/tmux/files/scripts/cheat-browse.sh
Due: shellcheck

feat(cheat): cheat/cheat CLI 도입 — nvim cheatsheet를 터미널에서 즉시 조회 (#97)
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/references/cheatsheet.md
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
  modules/shared/programs/cheat/cheatsheets/nvim/case
  modules/shared/programs/cheat/cheatsheets/nvim/combo
  modules/shared/programs/cheat/cheatsheets/nvim/custom
  modules/shared/programs/cheat/cheatsheets/nvim/git
  modules/shared/programs/cheat/cheatsheets/nvim/lsp
  modules/shared/programs/cheat/cheatsheets/nvim/plugin
  modules/shared/programs/cheat/cheatsheets/nvim/search
  modules/shared/programs/cheat/cheatsheets/nvim/surround
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/cheat-browse.sh
  modules/shared/programs/tmux/files/scripts/prefix-help.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt, shellcheck

fix(darwin): codex 리뷰 피드백 반영 — Shottr 재시작 비치명화 및 주석 정밀화
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  modules/darwin/configuration.nix
Due: nixfmt

docs(skill): features.md 고정 수치(~229개) 제거 — CodeRabbit 피드백 반영
  .claude/skills/managing-macos/references/features.md
Due: none

fix(darwin): Shottr 글로벌 핫키 미작동 — symbolic hotkeys 관리 방식 전면 개선 (#98)
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  modules/darwin/configuration.nix
  modules/darwin/programs/shottr/default.nix
Due: nixfmt

fix(devShell): worktree 복귀 후 lefthook core.hooksPath 충돌 해결
  flake.nix
Due: nixfmt

chore(devShell): shellHook 주석 정확성 개선
  flake.nix
Due: nixfmt

fix(devShell): worktree 복귀 후 lefthook core.hooksPath 충돌 해결 (#99)
  flake.nix
Due: nixfmt

fix(scripts): validate-skills.sh에 pipefail 누락 — yq 실패 시 에러 은폐 (#96)
  modules/shared/scripts/validate-skills.sh
Due: shellcheck

fix(scripts): validate-skills.sh에 pipefail 누락 — yq 실패 시 에러 은폐 (#96) (#100)
  modules/shared/scripts/validate-skills.sh
Due: shellcheck

fix(folder-actions): ffmpeg -nostdin 추가로 다중 파일 처리 시 누락 해결 (#95)
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
Due: shellcheck

feat(cheat): DX 개선 — tmux cheatsheet, fzf content 검색, 경로 일반화
  modules/shared/programs/cheat/cheatsheets/tmux/keybinding
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/shell/default.nix
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/cheat-browse.sh
  modules/shared/programs/tmux/files/scripts/prefix-help.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt, shellcheck

feat(darwin): 한글 폰트 Apple SD Gothic Neo 명시적 폴백 지정
  .claude/skills/managing-macos/references/features.md
  modules/darwin/configuration.nix
  modules/darwin/programs/cursor/files/settings.json
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

fix(cheat): cheat-browse SELF 경로를 동적 resolve로 변경
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

feat(darwin): 한글 폰트 Apple SD Gothic Neo 명시적 폴백 지정 (#103)
  .claude/skills/managing-macos/references/features.md
  modules/darwin/configuration.nix
  modules/darwin/programs/cursor/files/settings.json
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

fix(folder-actions): ffmpeg -nostdin 추가로 다중 파일 처리 시 누락 해결 (#95) (#101)
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
Due: shellcheck

fix(cheat): pipefail 방어 및 스킬 문서 동기화
  .claude/skills/managing-tmux/SKILL.md
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

feat(darwin): 한글 폴백 폰트를 Apple SD Gothic Neo에서 D2Coding으로 변경
  .claude/skills/managing-macos/references/features.md
  modules/darwin/configuration.nix
  modules/darwin/programs/cursor/files/settings.json
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

fix(nrs): no-op 빌드 시 rebuild skip + docker cask 이름 수정
  modules/darwin/programs/homebrew.nix
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

docs(font): 확인 방법에 D2Coding fc-list 검증 명령어 추가
  .claude/skills/managing-macos/references/features.md
Due: none

feat(darwin): 한글 폴백 폰트를 D2Coding으로 변경 (#105)
  .claude/skills/managing-macos/references/features.md
  modules/darwin/configuration.nix
  modules/darwin/programs/cursor/files/settings.json
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

docs(font): fc-list 미표시 시 fc-cache 안내 추가
  .claude/skills/managing-macos/references/features.md
Due: none

fix(nrs): no-op 빌드 시 rebuild skip + docker cask 이름 수정 (#106)
  modules/darwin/programs/homebrew.nix
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

feat(cheat): DX 개선 — tmux cheatsheet, fzf content 검색, 경로 일반화 (#104)
  .claude/skills/managing-tmux/SKILL.md
  modules/shared/programs/cheat/cheatsheets/tmux/keybinding
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/shell/default.nix
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/cheat-browse.sh
  modules/shared/programs/tmux/files/scripts/prefix-help.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt, shellcheck

fix(cheat): title 모드에서 fzf가 경로까지 검색하는 문제 수정
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

feat(cheat): fzf 미리보기에 구문 강조 추가
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

fix(cheat): title 모드에서 파일 경로/태그 컬럼 숨김
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

fix(cheat): title 모드 검색 범위 수정 + 미리보기 구문 강조 (#107)
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

fix(claude): npm 명령어를 Bash deny 목록에 추가
  modules/shared/programs/claude/files/settings.json
Due: none

fix(hammerspoon): postActivation 이중 리로드 제거
  modules/darwin/configuration.nix
Due: nixfmt

fix(hammerspoon): postActivation 이중 리로드 제거 (#109)
  modules/darwin/configuration.nix
Due: nixfmt

refactor(skill): using-codex-exec 전면 재설계
  .claude/skills/using-codex-exec/SKILL.md
  .claude/skills/using-codex-exec/references/examples.md
  .claude/skills/using-codex-exec/references/known-issues.md
  .claude/skills/using-codex-exec/references/patterns.md
  .claude/skills/using-codex-exec/references/troubleshooting.md
Due: none

refactor(skill): using-codex-exec 전면 재설계 (#110)
  .claude/skills/using-codex-exec/SKILL.md
  .claude/skills/using-codex-exec/references/examples.md
  .claude/skills/using-codex-exec/references/known-issues.md
  .claude/skills/using-codex-exec/references/patterns.md
  .claude/skills/using-codex-exec/references/troubleshooting.md
Due: none
