Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(editor): Shift+Cmd+N untitled 버퍼 바인딩 수정 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): Shift+Cmd+N Sequence 롤백 → 단순 NewFile (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): 언어 선택 단축키 Ctrl+Cmd+M 추가 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): 창 분할/패인 이동을 Ghostty 스타일로 변경 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): Git 패널 Ctrl+Cmd+K 토글 + j/k 네비게이션 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): Cmd+K git panel 해제 + Split Down 기본 바인딩 복원 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): 창 분할을 Cmd+K h/j/k/l Vim 스타일로 변경 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): Git 히스토리 Ctrl+Alt+Cmd+H + j/k 네비게이션 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): Emmet wrap/unwrap 바인딩 정리 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): 언어 선택을 Zed 기본 Cmd+K M chord로 복원 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): Claude Agent Cmd+\ 토글 + AgentPanel ESC 포커스 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): AgentPanel ESC 포커스 — 하위 컨텍스트 추가 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(editor): Git 패널 Cmd+9 + Git Graph 미활성 정리 (#329)
  modules/darwin/programs/zed/files/keymap.json
Due: none

feat(editor): VSCode → Zed 마이그레이션 (#329) (#330)
  .agents/skills/managing-vscode
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/evals/queries.json
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/evals/queries.json
  .claude/skills/managing-vscode/references/extensions.md
  .claude/skills/managing-vscode/references/settings.md
  .claude/skills/managing-vscode/references/troubleshooting.md
  README.md
  docs/SKILL_WRITING_GUIDE.md
  flake.lock
  flake.nix
  libraries/nixpkgs/default.nix
  modules/darwin/home.nix
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/keybindings.json
  modules/darwin/programs/vscode/files/settings.json
  modules/darwin/programs/zed/default.nix
  modules/darwin/programs/zed/files/keymap.json
  modules/darwin/programs/zed/files/settings.json
  modules/shared/programs/claude/default.nix
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

fix(nrs): worktree-only 새 디렉토리 파일의 mkOutOfStoreSymlink relink 누락 수정
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

fix(nrs): post-relink nix store OOS 체인 무결성 검증 추가 (#338)
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

style(nrs): DA for_pr 피드백 반영 — CIR 표현 정정 + max_hops 근거 주석
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

style(nrs): _check_oos_chain skip 분기에 why-comment 추가
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

docs(nrs): 전수조사 피드백 반영 — #332 이후 stale 주석 수정
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

style(nrs): DA Round 2 피드백 반영 — 주석 정확화 + 출력 일관성
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

fix(nrs): worktree-only 새 파일의 mkOutOfStoreSymlink relink 누락 수정 (#339)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

fix(hook): worktree에서 plan 생성 시 worktree-path-guard 차단 해소
  modules/shared/programs/claude/files/hooks/worktree-path-guard.sh
Due: shellcheck

fix(nrs): post-relink nix store OOS 체인 무결성 검증 (#338) (#340)
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

refactor(skills): run-da 실행 엔진을 codex exec 기반 병렬로 전환
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(skills): run-da codex DA 피드백 반영 (R1)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(hook): worktree에서 plan 생성 시 worktree-path-guard 차단 해소 (#341)
  modules/shared/programs/claude/files/hooks/worktree-path-guard.sh
Due: shellcheck

fix(skills): run-da wait exit code 추적을 PID별로 강화
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

fix(skills): CodeRabbit PR 피드백 반영
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

fix(skills): "bash 백그라운드" → "백그라운드" 환경 중립 표현
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

docs(skills): workspace-write 트레이드오프 이유 추가
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

refactor(skills): run-da 실행 엔진을 codex exec 기반 병렬로 전환 (#342)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

feat(pain): collect-pain-points.sh Stop hook
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
Due: shellcheck

feat(pain): /pain 수동 태깅 스킬 생성
  modules/shared/programs/claude/files/skills/pain/SKILL.md
Due: none

docs(plan): pain point collection harness 구현 계획
  docs/superpowers/plans/2026-03-28-pain-point-collection.md
Due: none

docs(spec): pain point collection harness 설계 문서
  docs/superpowers/specs/2026-03-28-pain-point-collection-design.md
Due: none

feat(pain): read-pain-points.sh SessionStart hook
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
Due: shellcheck

fix(pain): PR #343 리뷰 피드백 반영
  docs/superpowers/plans/2026-03-28-pain-point-collection.md
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
Due: shellcheck

fix(pain): DA Round 2 피드백 반영
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
  modules/shared/programs/claude/files/skills/pain/SKILL.md
Due: shellcheck

feat(pain): Nix 통합 — hooks + skill symlink 추가
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/settings.json
Due: nixfmt

fix(pain): DA Round 1 피드백 반영
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/pain/SKILL.md
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
