Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(nrs): worktree에서 .nix 수정 시 pre-rebuild restore 추가
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
Due: shellcheck

fix(nrs): worktree에서 .nix 수정 시 pre-rebuild restore 추가 (#288)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
Due: shellcheck

fix(nrs): worktree pre-rebuild에서 worktree-only entry 직접 제거
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): worktree pre-rebuild에서 worktree-only entry 직접 제거 (#291)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

feat(nrs): worktree_symlink_guard()에 역방향 검사 추가 (#292)
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

style(nrs): DA R1 피드백 반영 — 에러 핸들링 통일 + comm 주석
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): early return 제거로 역방향 검사 도달 보장
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

refactor(nrs): 역방향 검사를 missing_count 블록 밖으로 hoisting
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

docs(nrs): 역방향 검사 설계 전환 CIR 인라인 기록
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

feat(nrs): worktree_symlink_guard() 역방향 검사 추가 (#293)
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): worktree 삭제 후 dangling 심링크 3중 자동 복구 (#294)
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/nrs-relink.sh
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

fix(nrs): DA 피드백 반영 — precmd return code + 주석 정합성
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/nrs-relink.sh
Due: nixfmt, shellcheck

refactor(skills): 3개 스킬 동사형 개명 + 워크플로우 개선
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/evals/queries.json
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  modules/shared/programs/claude/files/skills/create-pr/references/pre-merge-guide.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/codex/default.nix
Due: nixfmt

fix(skills): DA R1 피드백 반영 — 문구 명확화 3건
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(nrs): worktree 삭제 후 dangling 심링크 3중 자동 복구 (#294) (#295)
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/nrs-relink.sh
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

fix(skills): 삭제된 configuring-codex 스킬 NOT-for 참조 제거
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
Due: none

fix(skills): PR #296 리뷰 피드백 3건 반영
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): ExitPlanMode 수정 루프에 EnterPlanMode 재진입 명시
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): CodeRabbit nitpick 2건 반영
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): review-pr-feedback에 검증 의무 섹션 추가
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
Due: none

feat(skills): run-da에 fresh modifier + 사용자 질문 맥락 설명 의무 추가
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

refactor(skills): 스킬 개명 + 워크플로우 개선 + 검증 의무 강화 + dangling 참조 정리 (#296)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/evals/queries.json
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  modules/shared/programs/claude/files/skills/create-pr/references/pre-merge-guide.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/codex/default.nix
Due: nixfmt

fix(skills): DA/audit/review 묵살 안티패턴 5+2가지 금지 + 구조화된 기각 포맷
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(skills): protocol.md 안티패턴 3번 케이스 번호 수정
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(skills): CodeRabbit 피드백 반영 — 기각 분류 참조 명확화 + 필드 규칙 정합성
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(skills): CodeRabbit 피드백 반영 — 기각 분류 참조 명확화 + 필드 규칙 정합성
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
Due: none

fix(skills): DA/audit/review 묵살 안티패턴 5+2가지 금지 + 구조화된 기각 포맷 (#299)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(skills): skill-creator override를 run_eval.py까지 확장 + CLI 레퍼런스 추가
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

fix(skills): DA Round 1 피드백 반영 — run_loop.py ANTHROPIC_API_KEY 경고 + json-file 명확화
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

fix(skills): 플러그인 캐시 디렉토리 식별 힌트 추가
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

fix(skills): skill-creator override를 run_eval.py까지 확장 + CLI 레퍼런스 추가 (#300)
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

feat(darwin): inshellisense 재도입 — Homebrew tap 0.0.1 stable
  modules/darwin/home.nix
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/inshellisense/default.nix
Due: nixfmt

docs(inshellisense): CIR에 nixpkgs 대신 Homebrew 선택 사유 상세 기록
  modules/darwin/programs/inshellisense/default.nix
Due: nixfmt

feat(hosting): 호스팅 서비스 일괄 업데이트 + 마이그레이션 이슈 등록
  modules/nixos/programs/docker/vaultwarden.nix
Due: nixfmt

feat(darwin): inshellisense 재도입 — Homebrew tap 0.0.1 stable (#302)
  modules/darwin/home.nix
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/inshellisense/default.nix
Due: nixfmt

feat(hosting): 호스팅 서비스 일괄 업데이트 + 마이그레이션 이슈 등록 (#305)
  modules/nixos/programs/docker/vaultwarden.nix
Due: nixfmt

fix(darwin): inshellisense 재제거 — TUI 렌더링 충돌
  modules/darwin/home.nix
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/inshellisense/default.nix
Due: nixfmt

fix(darwin): inshellisense 재제거 — TUI 렌더링 충돌 (#307)
  modules/darwin/home.nix
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/inshellisense/default.nix
Due: nixfmt

feat(skills): Superpowers 통합 + Tier 1 벤치마킹 이식 (#308)
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/running-containers/SKILL.md
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(skills): PR 피드백 반영 — 버전 하드코딩 제거 + merge 방향 명시
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
Due: none
