Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}

shellcheck:
  run: shellcheck -S warning {staged_files}

chore(skills): configuring-claude-code description 영문화
  .claude/skills/configuring-claude-code/SKILL.md
Due: none

chore(skills): understanding-nix description 영문화
  .claude/skills/understanding-nix/SKILL.md
Due: none

chore(skills): managing-macos description 영문화
  .claude/skills/managing-macos/SKILL.md
Due: none

chore(skills): configuring-git description 영문화
  .claude/skills/configuring-git/SKILL.md
Due: none

chore(skills): managing-ssh description 영문화
  .claude/skills/managing-ssh/SKILL.md
Due: none

docs(CLAUDE.md): 2차 스킬 라우팅 영문화
  CLAUDE.md
Due: none

chore(skills): managing-mise description 영문화
  .claude/skills/managing-mise/SKILL.md
Due: none

chore(skills): syncing-atuin description 영문화
  .claude/skills/syncing-atuin/SKILL.md
Due: none

chore(skills): automating-hammerspoon description 영문화
  .claude/skills/automating-hammerspoon/SKILL.md
Due: none

chore(skills): running-containers description 영문화
  .claude/skills/running-containers/SKILL.md
Due: none

docs(CLAUDE.md): 3차 스킬 라우팅 영문화
  CLAUDE.md
Due: none

chore: remove temporary baseline file
  baseline-20260124.txt
Due: none

refactor(scripts): 플랫폼별 디렉토리로 분리
  CLAUDE.md
  modules/darwin/scripts/nrh.sh
  modules/darwin/scripts/nrp.sh
  modules/darwin/scripts/nrs.sh
  modules/darwin/scripts/setup-minipc-ssh.sh
  modules/nixos/scripts/install-minipc.sh
  modules/nixos/scripts/nrp.sh
  modules/nixos/scripts/nrs.sh
  modules/nixos/scripts/post-install-minipc.sh
  modules/shared/programs/shell/darwin.nix
  modules/shared/programs/shell/nixos.nix
  modules/shared/scripts/git-cleanup.sh
  modules/shared/scripts/validate-skills.sh
Due: nixfmt, shellcheck

fix(git-cleanup): Nix 환경에서 GNU date 대신 BSD date 사용
  modules/shared/scripts/git-cleanup.sh
Due: shellcheck

docs(README): 중복 제거 및 간결화
  README.md
Due: none

sync: nixos-config-secret 동기화
  flake.lock
Due: none

feat: migrate secrets from nixos-config-secret to agenix
  flake.lock
  flake.nix
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/secrets/default.nix
  secrets/pushover-credentials.age
  secrets/secrets.nix
Due: nixfmt

docs: update references from home-manager-secrets to agenix
  CLAUDE.md
  modules/nixos/programs/fail2ban.nix
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: nixfmt, shellcheck

feat(direnv): add whitelist for ~/IdeaProjects
  modules/shared/programs/direnv/default.nix
Due: nixfmt

feat(shell): add wt/wt_cleanup for git worktree management
  modules/darwin/programs/cursor/files/settings.json
  modules/shared/programs/git/default.nix
  modules/shared/programs/shell/default.nix
Due: nixfmt

refactor(shell): rename wt_cleanup to wt-cleanup and hide job control messages
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(wt): add cd to worktree and --stay flag
  modules/shared/programs/shell/default.nix
Due: nixfmt

docs(configuring-git): add wt/wt-cleanup documentation
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/config.md
Due: none

fix(wt): delete existing branch when choosing [n] option
  .claude/skills/configuring-git/references/config.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(tmux): add tmux-resurrect and migrate links.txt to agenix
  modules/shared/programs/secrets/default.nix
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/pane-link.sh
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-peek.sh
  modules/shared/programs/tmux/files/scripts/prefix-help.sh
  modules/shared/programs/tmux/files/scripts/restore-pane-vars.sh
  modules/shared/programs/tmux/files/scripts/save-pane-vars.sh
  modules/shared/programs/tmux/files/tmux.conf
  secrets/pane-note-links.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

docs(tmux): update managing-tmux skill with resurrect and agenix
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  CLAUDE.md
Due: none

fix(tmux): resolve resurrect pane variable restoration issue
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/troubleshooting.md
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/restore-pane-vars.sh
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt, shellcheck

feat(tmux): improve pane-note system with folder structure and tags
  docs/TROUBLESHOOTING.md
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/pane-link-helpers.sh
  modules/shared/programs/tmux/files/scripts/pane-link.sh
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-peek.sh
  modules/shared/programs/tmux/files/scripts/pane-search.sh
  modules/shared/programs/tmux/files/scripts/pane-tag.sh
  modules/shared/programs/tmux/files/scripts/prefix-help.sh
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt, shellcheck

fix(tmux): filter invalid tags and add smoke-test
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-tag.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
Due: nixfmt, shellcheck

fix(tmux): prompt user when creating note with existing name
  modules/shared/programs/tmux/files/scripts/pane-note.sh
Due: shellcheck

feat(tmux): change fzf preview layout to top-bottom split
  modules/shared/programs/tmux/files/scripts/pane-link.sh
  modules/shared/programs/tmux/files/scripts/pane-peek.sh
  modules/shared/programs/tmux/files/tmux.conf
Due: shellcheck

fix(tmux): fix tag selection bug and improve fzf help text
  modules/shared/programs/tmux/files/scripts/pane-link.sh
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-peek.sh
Due: shellcheck

feat(tmux): add custom tag input with comma separation
  modules/shared/programs/tmux/files/scripts/pane-note.sh
Due: shellcheck

feat(tmux): highlight tags with bright orange color in fzf list
  modules/shared/programs/tmux/files/scripts/pane-link-helpers.sh
Due: shellcheck

docs(tmux): update managing-tmux skill with pane-note improvements
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  .claude/skills/managing-tmux/references/troubleshooting.md
Due: none

fix(tmux): fix pane-search preview failure and improve UX
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  .claude/skills/managing-tmux/references/troubleshooting.md
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/pane-search-helpers.sh
  modules/shared/programs/tmux/files/scripts/pane-search.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
Due: nixfmt, shellcheck

refactor(tmux): pane-note 검색 기능 통합 및 yq frontmatter 파싱 버그 수정
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  .claude/skills/managing-tmux/references/troubleshooting.md
  modules/shared/programs/tmux/default.nix
  modules/shared/programs/tmux/files/scripts/pane-helpers.sh
  modules/shared/programs/tmux/files/scripts/pane-link-helpers.sh
  modules/shared/programs/tmux/files/scripts/pane-link.sh
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-peek.sh
  modules/shared/programs/tmux/files/scripts/pane-restore.sh
  modules/shared/programs/tmux/files/scripts/pane-search-helpers.sh
  modules/shared/programs/tmux/files/scripts/pane-search.sh
  modules/shared/programs/tmux/files/scripts/pane-tag.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt, shellcheck

refactor(cursor): managing-cursor 스킬 구조 개선
  .claude/skills/managing-cursor/SKILL.md
  .claude/skills/managing-cursor/references/extensions.md
  .claude/skills/managing-cursor/references/settings.md
Due: none

chore(flake): update all flake inputs
  flake.lock
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
