Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

docs(prompts): enforce DA evidence rules and PR-first parallel review flow
  scripts/prompts/README.md
  scripts/prompts/modules/DA-피드백.md
  scripts/prompts/modules/PR.md
  scripts/prompts/modules/검증.md
  scripts/prompts/modules/계획.md
  scripts/prompts/modules/원칙.md
  scripts/prompts/modules/커밋.md
  scripts/prompts/presets/PR-피드백.md
  scripts/prompts/presets/기능개발-라이트.md
  scripts/prompts/presets/기능개발-풀.md
  scripts/prompts/presets/기술학습.md
  scripts/prompts/presets/도메인무지-이슈.md
  scripts/prompts/presets/리팩토링.md
  scripts/prompts/presets/버그수정.md
  scripts/prompts/presets/코드리뷰.md
  scripts/prompts/presets/탐색조사.md
Due: none

docs(prompts): apply CodeRabbit review fixes for markdown and safety guidance
  scripts/prompts/README.md
  scripts/prompts/modules/DA-피드백.md
  scripts/prompts/presets/기능개발-라이트.md
  scripts/prompts/presets/기능개발-풀.md
  scripts/prompts/presets/기술학습.md
  scripts/prompts/presets/리팩토링.md
Due: none

docs(prompts): add explicit required-placeholder warning to refactoring preset
  scripts/prompts/presets/리팩토링.md
Due: none

docs(skills): document wt nested-dir regression and rename codex runbook
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/configuring-git/references/troubleshooting.md
  docs/TROUBLESHOOTING.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/codex-structure.md
Due: none

fix(wt): enforce non-recursive bootstrap and add regression automation
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/configuring-git/references/troubleshooting.md
  docs/TROUBLESHOOTING.md
  lefthook.yml
  modules/shared/scripts/git-worktree-functions.sh
  tests/run-wt-regression.sh
Due: shellcheck

refactor(rebuild): pre-flight 체크를 known-trivial allowlist에서 known-heavy blocklist로 전환
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(rebuild): codex 리뷰 피드백 반영 — grep 에러 핸들링, 패턴 강화
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

docs(skills): wt 중첩 디렉터리 회귀 문서화 및 codex 런북 파일명 일반화 (#119)
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/configuring-git/references/troubleshooting.md
  docs/TROUBLESHOOTING.md
  lefthook.yml
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/codex-structure.md
  modules/shared/scripts/git-worktree-functions.sh
  tests/run-wt-regression.sh
Due: shellcheck

refactor(rebuild): pre-flight allowlist → blocklist 전환 (#121)
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

feat(prompts): 프롬프트 템플릿 모듈화 및 프리셋 체계 구축 (#118)
  scripts/prompts/README.md
  scripts/prompts/modules/DA-피드백.md
  scripts/prompts/modules/PR.md
  scripts/prompts/modules/검증.md
  scripts/prompts/modules/계획.md
  scripts/prompts/modules/원칙.md
  scripts/prompts/modules/커밋.md
  scripts/prompts/presets/PR-피드백.md
  scripts/prompts/presets/기능개발-라이트.md
  scripts/prompts/presets/기능개발-풀.md
  scripts/prompts/presets/기술학습.md
  scripts/prompts/presets/도메인무지-이슈.md
  scripts/prompts/presets/리팩토링.md
  scripts/prompts/presets/버그수정.md
  scripts/prompts/presets/코드리뷰.md
  scripts/prompts/presets/탐색조사.md
Due: none

feat(nvim,fzf): Tab/Space 키바인딩 통일 및 cheatsheet 정비
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
  modules/shared/programs/cheat/cheatsheets/nvim/search
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
  modules/shared/programs/shell/default.nix
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-tag.sh
  modules/shared/scripts/git-diff-fzf-functions.sh
  modules/shared/scripts/git-worktree-functions.sh
Due: nixfmt, shellcheck

style(cheatsheet): Explorer 키 표기를 Neovim 표준으로 통일
  modules/shared/programs/cheat/cheatsheets/nvim/search
Due: none

feat(nvim,fzf): Tab/Space 키바인딩 통일 및 cheatsheet 정비 (#124)
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
  modules/shared/programs/cheat/cheatsheets/nvim/search
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
  modules/shared/programs/shell/default.nix
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-tag.sh
  modules/shared/scripts/git-diff-fzf-functions.sh
  modules/shared/scripts/git-worktree-functions.sh
Due: nixfmt, shellcheck

feat(prompts): CLI 렌더러 + clipboard 자동복사 워크플로우 도입 (#120)
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
  scripts/prompt-render.sh
  scripts/prompts/README.md
  scripts/prompts/modules/commit.md
  scripts/prompts/modules/da-feedback.md
  scripts/prompts/modules/planning.md
  scripts/prompts/modules/pr.md
  scripts/prompts/modules/principles.md
  scripts/prompts/modules/verification.md
  scripts/prompts/presets/bugfix.md
  scripts/prompts/presets/code-review.md
  scripts/prompts/presets/domain-unfamiliar.md
  scripts/prompts/presets/exploration.md
  scripts/prompts/presets/feature-dev-full.md
  scripts/prompts/presets/feature-dev-light.md
  scripts/prompts/presets/pr-feedback.md
  scripts/prompts/presets/refactoring.md
  scripts/prompts/presets/tech-learning.md
  scripts/prompts/presets/기술학습.md
Due: nixfmt, shellcheck

fix(prompts): DA 피드백 반영 — fzf preview 인젝션 방지 + prompt-render 존재 확인
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

fix(prompts): 2차 DA 반영 — 첫 번째 코드블록만 추출 + printf 안전 출력
  scripts/prompt-render.sh
Due: shellcheck

fix(prompts): xargs -0 파이프라인을 find -exec로 대체하여 이식성 개선
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
  scripts/prompt-render.sh
Due: shellcheck

fix(prompts): --var의 공백 전용 value를 parse 시점에 거부
  scripts/prompt-render.sh
Due: shellcheck

feat(prompts): prompt preset CLI 렌더러 + clipboard 자동복사 워크플로우 (#126)
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
  scripts/prompt-render.sh
  scripts/prompts/README.md
  scripts/prompts/modules/commit.md
  scripts/prompts/modules/da-feedback.md
  scripts/prompts/modules/planning.md
  scripts/prompts/modules/pr.md
  scripts/prompts/modules/principles.md
  scripts/prompts/modules/verification.md
  scripts/prompts/presets/bugfix.md
  scripts/prompts/presets/code-review.md
  scripts/prompts/presets/domain-unfamiliar.md
  scripts/prompts/presets/exploration.md
  scripts/prompts/presets/feature-dev-full.md
  scripts/prompts/presets/feature-dev-light.md
  scripts/prompts/presets/pr-feedback.md
  scripts/prompts/presets/refactoring.md
  scripts/prompts/presets/tech-learning.md
  scripts/prompts/presets/기술학습.md
Due: nixfmt, shellcheck

fix(cheat): cheat-browse를 wrapper로 전환하여 PROMPT_PRESETS_DIR 주입
  modules/shared/programs/cheat/default.nix
Due: nixfmt

fix(cheat): --prompts 환경변수 미주입 + fzf preview 경로 오류 수정
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

fix(cheat): --prompts 환경변수 미주입 + fzf preview 경로 오류 수정 (#127)
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: nixfmt, shellcheck

feat(cheat): --prompts fzf 미리보기에 syntax highlight 적용
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

feat(cheat): --prompts fzf 미리보기에 syntax highlight 적용 (#128)
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

feat(prompts): JSON 모드 + iOS Shortcut 모바일 원탭 복사 기반 구축 (#123)
  docs/PROMPT_MOBILE_SHORTCUT.md
  hosts/greenhead-minipc/default.nix
  libraries/constants.nix
  scripts/prompt-render.sh
  scripts/prompts/README.md
Due: nixfmt, shellcheck

feat(prompts): iPhone Shortcuts SSH 공개키 등록
  libraries/constants.nix
Due: nixfmt

docs(prompt-render): JSON 모드 인자 파싱 예외 문서화
  scripts/prompt-render.sh
Due: shellcheck

style(docs): fenced code block 언어 태그 추가 (MD040)
  docs/PROMPT_MOBILE_SHORTCUT.md
Due: none

feat(prompts): iOS Shortcut 기반 prompt preset 모바일 원탭 복사 UX (#129)
  docs/PROMPT_MOBILE_SHORTCUT.md
  hosts/greenhead-minipc/default.nix
  libraries/constants.nix
  scripts/prompt-render.sh
  scripts/prompts/README.md
Due: nixfmt, shellcheck

fix(docs): SSH PATH에 Home Manager 프로필 경로 추가
  docs/PROMPT_MOBILE_SHORTCUT.md
Due: none

docs(prompts): iOS Shortcut 실제 빌드 경험 기반 문서 최신화
  docs/PROMPT_MOBILE_SHORTCUT.md
Due: none

feat(prompts): 변수 메타데이터 반환으로 모바일 입력 UX 개선 (#123)
  scripts/prompt-render.sh
  scripts/prompts/presets/exploration.md
  scripts/prompts/presets/feature-dev-full.md
  scripts/prompts/presets/feature-dev-light.md
  scripts/prompts/presets/tech-learning.md
Due: shellcheck

fix(prompt-render): vars 블록 누락 변수에 대한 fallback 객체 자동 추가
  scripts/prompt-render.sh
Due: shellcheck

fix(presets): DA_TOOL 플레이스홀더 안내를 vars 블록 옵션과 통일
  scripts/prompts/presets/feature-dev-full.md
  scripts/prompts/presets/feature-dev-light.md
Due: none

docs(prompts): iOS Shortcut 가이드를 vars 메타데이터 기반으로 전면 재작성
  docs/PROMPT_MOBILE_SHORTCUT.md
Due: none

feat(ssh): MacBook Shortcuts SSH 공개키 등록 및 macOS 키 리셋 함정 문서화
  docs/PROMPT_MOBILE_SHORTCUT.md
  hosts/greenhead-minipc/default.nix
  libraries/constants.nix
Due: nixfmt

fix(presets): refactoring vars 블록 누락 수정 및 tech-learning UX 개선
  scripts/prompts/presets/refactoring.md
  scripts/prompts/presets/tech-learning.md
Due: none

feat(prompts): 변수 메타데이터 반환으로 모바일 입력 UX 개선 (#130)
  docs/PROMPT_MOBILE_SHORTCUT.md
  hosts/greenhead-minipc/default.nix
  libraries/constants.nix
  scripts/prompt-render.sh
  scripts/prompts/presets/exploration.md
  scripts/prompts/presets/feature-dev-full.md
  scripts/prompts/presets/feature-dev-light.md
  scripts/prompts/presets/refactoring.md
  scripts/prompts/presets/tech-learning.md
Due: nixfmt, shellcheck
