Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(skills): plan-with-questions DA for_pr Round 2 — 자동 진행 범위 동의 근거 SKILL.md 고정 + Step 8 필수화
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): grill-me DA for_pr Round 1 — 트리거 책임 분리
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
  modules/shared/programs/claude/files/skills/grill-me/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): grill-me DA for_pr Round 2 — generic 트리거 한정
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
Due: none

fix(skills): grill-me DA for_pr Round 3 — eval why 자체 설명화
  modules/shared/programs/claude/files/skills/grill-me/evals/queries.json
Due: none

fix(skills): grill-me DA for_pr Round 4 — lifecycle 용어 일관화
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
Due: none

fix(skills): plan-with-questions Step 9 약어 목록과 Step 8 일치 (parallel-audit BUG)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): plan-with-questions Post-Implementation 자동 수행 게이트 제거 (#569) (#572)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): grill-me confusion pair 3건 추가 — 라우팅 충돌 위험 차단
  modules/shared/programs/claude/files/skills/grill-me/evals/queries.json
Due: none

fix(skills): grill-me PR #575 CodeRabbit — 한국어 조사 'grill-me은'→'grill-me는'
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
Due: none

feat(skills): grill-me 스킬 user-scope 이식 (Claude/Codex parity) (#575)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
  modules/shared/programs/claude/files/skills/grill-me/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

refactor(skills): plan-with-questions SKILL.md 도구-중립 리팩토링 (#550)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): plan-with-questions DA for_pr round 1 반영 (#550)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): plan-with-questions DA for_pr round 2 반영 (#550)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): plan-with-questions parallel-audit Audit-4 F1 반영 (#550)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): plan-with-questions CodeRabbit 피드백 반영 (#550)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): plan-with-questions CodeRabbit Nitpick 3건 반영 (#550)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

refactor(skills): plan-with-questions SKILL.md 도구-중립 리팩토링 (#550) (#576)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

refactor(skills): documenting-intent 스킬 제거
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/references/pre-merge-guide.md
  modules/shared/programs/claude/files/skills/documenting-intent/SKILL.md
  modules/shared/programs/claude/files/skills/documenting-intent/references/philosophy.md
  modules/shared/programs/claude/files/skills/documenting-intent/references/templates.md
  modules/shared/programs/claude/files/skills/grill-me/evals/queries.json
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/rejection-taxonomy.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

refactor(skills): create-issue + write-handoff SKILL.md 도구-중립 리팩토링 (#551 + #555)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

chore(codex): GPT-5.5 토큰 비용 완화 — fast mode 비활성화 + Arbiter strong xhigh→high
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  tests/fixtures/shell-scripts/codex-config/bare_sync_compat/expected.toml
  tests/fixtures/shell-scripts/codex-config/bare_sync_compat/template.toml
Due: none

docs(skills): run-da arbiter-scaling 가독성 보강 (DA for_pr Round 1 반영)
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

refactor(skills): create-issue + write-handoff SKILL.md 도구-중립 리팩토링 (#551 + #555) (#579)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

refactor(skills): documenting-intent 스킬 제거 (#578)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/references/pre-merge-guide.md
  modules/shared/programs/claude/files/skills/documenting-intent/SKILL.md
  modules/shared/programs/claude/files/skills/documenting-intent/references/philosophy.md
  modules/shared/programs/claude/files/skills/documenting-intent/references/templates.md
  modules/shared/programs/claude/files/skills/grill-me/evals/queries.json
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/rejection-taxonomy.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

chore(codex): GPT-5.5 fast tier 비활성화 + Arbiter strong xhigh→high (#580)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  tests/fixtures/shell-scripts/codex-config/bare_sync_compat/expected.toml
  tests/fixtures/shell-scripts/codex-config/bare_sync_compat/template.toml
Due: none

settings(claude): 플러그인 정리
  modules/shared/programs/claude/files/settings.json
Due: none

docs(research): LLM 박제 패턴 전수조사 결과 영구 보관 (#582)
  .claude/research/2026-04-28-llm-pinning-audit.md
Due: none

feat(hooks): commit-msg pinning hook (warn-only) — 박제 패턴 4종 감지 (#582)
  lefthook.yml
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

feat(skills): create-pr 박제 금지 instruction 강화 (#582)
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
Due: none

feat(skills): create-issue 박제 가드 + epic 제목 sub-issue 박제 금지 (#582)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
Due: none

refactor(skills): SKILL.md baked 이슈/PR 번호 박제 8건 선별 정리 (#582)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

refactor: 코드 리뷰 권고 9건 반영 — 정규식 false positive 좁힘 + 자기 모순 해소 (#582)
  .claude/research/2026-04-28-llm-pinning-audit.md
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  scripts/ai/commit-msg-pinning.sh
  scripts/ai/warn-skill-consistency.sh
Due: shellcheck

refactor: 추가 코드 리뷰 권고 반영 — false positive 추가 차단 + self-test 통과 (#582)
  .claude/research/2026-04-28-llm-pinning-audit.md
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

refactor: 추가 검토 권고 반영 — 워크트리 호환 가드 + CIR 섹션 정합성 (#582)
  lefthook.yml
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

fix(hooks): commit-msg-pinning hook의 set -e 충돌 수정 (#582)
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

docs: research note를 archive 전용으로 격리 (#582)
  .claude/research/2026-04-28-llm-pinning-audit.md
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

fix(skills): pr-template CIR 규칙에 PR 생성 전 초안 예외 명시
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
Due: none

fix(hooks): commit-msg-pinning hook의 SIGPIPE silent fail 수정 (#582)
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

docs: parallel-audit 권고 4건 반영 — 정책 일관성 + lefthook 라인번호 stale 정정 (#582)
  README.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

settings(zed): claude-acp 추가
  modules/darwin/programs/zed/files/settings.json
Due: none

refactor: 추가 검토 권고 7건 반영 — partial hash 감지 확장 + 정책 정합성 (#582)
  .claude/research/2026-04-28-llm-pinning-audit.md
  README.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
