Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}

shellcheck:
  run: shellcheck -S warning {staged_files}

docs(scripts): nvd diff <none> 버전 표시에 대한 설명 주석 추가
  scripts/nrp-nixos.sh
  scripts/nrp.sh
  scripts/nrs-nixos.sh
  scripts/nrs.sh
Due: shellcheck

feat(fail2ban): SSH 공격 차단 시 Pushover 알림 전송 기능 추가
  modules/nixos/programs/fail2ban.nix
Due: nixfmt

sync: nixos-config-secret 동기화
  flake.lock
Due: none

feat(docker): Podman 기반 홈서버 서비스 모듈 추가 (Phase 1: Uptime Kuma)
  modules/nixos/configuration.nix
  modules/nixos/programs/docker/default.nix
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/docker/plex.nix
  modules/nixos/programs/docker/uptime-kuma.nix
Due: nixfmt

feat(darwin): macOS SSH/mosh 원격 접속 설정 추가
  docs/FEATURES.md
  docs/HOW_TO_EDIT.md
  modules/darwin/configuration.nix
  modules/darwin/programs/mosh/default.nix
  modules/darwin/programs/sshd/default.nix
Due: nixfmt

fix(immich): 메모리 제한 2GB→4GB 증가 (OOM 방지)
  modules/nixos/programs/docker/immich.nix
Due: nixfmt

feat(docker): Immich 서비스 활성화 (Phase 2)
  IMMICH_PROGRESS.md
  modules/nixos/programs/docker/default.nix
Due: nixfmt

docs: Immich 마이그레이션 진행 상황 업데이트 (OOM 해결)
  IMMICH_PROGRESS.md
Due: none

feat(claude): `settings.json` 환경변수 추가
  modules/shared/programs/claude/files/settings.json
Due: none

fix(scripts): nrs-nixos.sh FLAKE_PATH 경로 수정
  scripts/nrs-nixos.sh
Due: shellcheck

feat(immich): Intel N100 OpenVINO GPU 가속 활성화
  modules/nixos/programs/docker/immich.nix
Due: nixfmt

fix(hooks): stop-notification.sh shebang 수정 (NixOS 호환)
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

feat(scripts): git-cleanup 로컬 브랜치 정리 스크립트 추가
  docs/FEATURES.md
  modules/shared/programs/shell/darwin.nix
  modules/shared/programs/shell/nixos.nix
  scripts/git-cleanup.sh
Due: nixfmt, shellcheck

docs: NixOS flake 시스템 트러블슈팅 케이스 3건 추가
  docs/TROUBLESHOOTING.md
Due: none

fix(scripts): nrs-nixos.sh에 SSH 인증 사전 검증 추가
  scripts/nrs-nixos.sh
Due: shellcheck

fix(immich): ML 컨테이너 CPU 버전으로 변경 (OOM 방지)
  modules/nixos/programs/docker/immich.nix
Due: nixfmt

fix(docker): Tailscale IP 할당 대기 로직 추가
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/docker/plex.nix
  modules/nixos/programs/docker/uptime-kuma.nix
Due: nixfmt

feat(i18n): 기본 로케일을 한국어로 변경
  modules/nixos/configuration.nix
Due: nixfmt

docs: Tailscale IP 바인딩 부팅 순서 문제 트러블슈팅 추가
  docs/TROUBLESHOOTING.md
Due: none

docs: 트러블슈팅 적용 상태 및 향후 개선 사항 추가
  docs/TROUBLESHOOTING.md
Due: none

feat(nrs): nixos-config-secret 변경 감지 및 --update 옵션 추가
  .gitignore
  README.md
  scripts/nrs-nixos.sh
  scripts/nrs.sh
Due: shellcheck

feat(claude): Claude Code를 실행한 작업 디렉토리 기준, `./.claude/plans` 내부에 플랜파일 생성되도록 `settings.json`에 `plansDirectory` 추가
  modules/shared/programs/claude/files/settings.json
Due: none

feat(nixos): SSH 에이전트 자동 시작 및 키 자동 로드 설정 추가
  modules/nixos/home.nix
Due: nixfmt

fix(nrs): ssh -T의 pipefail 호환성 문제 수정
  scripts/nrs-nixos.sh
Due: shellcheck

docs: 레거시 문서 제거
  .gitleaks.toml
  README.md
  docs/CURSOR_EXTENSIONS.md
  docs/FEATURES.md
  docs/HOW_TO_EDIT.md
  docs/MINIPC_CHECKLIST.md
  docs/MINIPC_PLAN_V3.md
  docs/TRIAL_AND_ERROR.md
  docs/TROUBLESHOOTING.md
Due: none

fix(immich): Redis RDB 저장 실패 문제 해결
  modules/nixos/programs/docker/immich.nix
Due: nixfmt

feat(direnv): devShell 환경 자동 활성화 설정 추가
  .envrc
  .gitignore
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/direnv/default.nix
Due: nixfmt

feat(claude): plugins에서 skills로 전환
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/automating-hammerspoon/references/hotkeys.md
  .claude/skills/automating-hammerspoon/references/troubleshooting.md
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/references/hooks.md
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/config.md
  .claude/skills/configuring-git/references/troubleshooting.md
  .claude/skills/managing-cursor/SKILL.md
  .claude/skills/managing-cursor/references/extensions.md
  .claude/skills/managing-cursor/references/troubleshooting.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/managing-minipc/references/installation.md
  .claude/skills/managing-minipc/references/troubleshooting.md
  .claude/skills/managing-mise/SKILL.md
  .claude/skills/managing-mise/references/troubleshooting.md
  .claude/skills/managing-ssh/SKILL.md
  .claude/skills/managing-ssh/references/tailscale.md
  .claude/skills/managing-ssh/references/troubleshooting.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/immich-setup.md
  .claude/skills/running-containers/references/troubleshooting.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/monitoring.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  .gitignore
  .gitleaksignore
  README.md
Due: none

docs: 프로젝트 루트 CLAUDE.md 추가
  CLAUDE.md
Due: none

chore(claude): `CLAUDE.md` 간결화
  CLAUDE.md
Due: none

docs: 더 이상 사용되지 않는 `IMMICH_PROGRESS.md` 문서 제거
  IMMICH_PROGRESS.md
Due: none

checkpoint: before skills description update
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/managing-cursor/SKILL.md
  baseline-20260124.txt
  scripts/validate-skills.sh
Due: shellcheck

chore(skills): managing-minipc description 영문화
  .claude/skills/managing-minipc/SKILL.md
Due: none

chore(skills): managing-tmux description 영문화
  .claude/skills/managing-tmux/SKILL.md
Due: none

chore(skills): managing-cursor description 영문화
  .claude/skills/managing-cursor/SKILL.md
Due: none

docs(CLAUDE.md): 1차 스킬 라우팅 영문화
  CLAUDE.md
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
