Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

chore: DA for_pr CONFIRMED 4건 반영 (#514)
  .claude/skills/automating-hammerspoon/references/hotkeys.md
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

chore: parallel-audit CONFIRMED 4건 반영 (#514)
  .claude/skills/configuring-codex/SKILL.md
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
Due: none

fix(codex): DA for_pr Round 5 CONFIRMED 3건 반영 + 3건 CIR 기각
  README.md
  lefthook.yml
  scripts/ai/verify-ai-compat.sh
  scripts/ai/warn-skill-consistency.sh
Due: shellcheck

fix(codex): parallel-audit 5건 반영 (Docs 2 BUG + EdgeCases 3)
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/sync-codex-config.py
  tests/fixtures/shell-scripts/codex-config/check_empty_template/expected_drift.json
  tests/fixtures/shell-scripts/codex-config/check_empty_template/expected_exit
  tests/fixtures/shell-scripts/codex-config/check_empty_template/target.toml
  tests/fixtures/shell-scripts/codex-config/check_empty_template/template.toml
  tests/fixtures/shell-scripts/codex-config/check_quoted_dotted_key_value_mismatch/expected_drift.json
  tests/fixtures/shell-scripts/codex-config/check_quoted_dotted_key_value_mismatch/expected_exit
  tests/fixtures/shell-scripts/codex-config/check_quoted_dotted_key_value_mismatch/target.toml
  tests/fixtures/shell-scripts/codex-config/check_quoted_dotted_key_value_mismatch/template.toml
  tests/shell-script-tests.sh
Due: nixfmt, shellcheck

docs(using-claude-p): add verification scope note to gotchas footer
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
Due: none

feat(skills): agent-skills 벤치마크 4종 이식 (#507 #508 #509 #510)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/prd/SKILL.md
  modules/shared/programs/claude/files/skills/prd/evals/queries.json
  modules/shared/programs/claude/files/skills/prd/references/file-mode-selection.md
  modules/shared/programs/claude/files/skills/prd/references/multi-pass-review.md
  modules/shared/programs/claude/files/skills/prd/references/phase-template.md
  modules/shared/programs/claude/files/skills/prd/references/prd-master-template.md
  modules/shared/programs/claude/files/skills/prd/references/validation-paths.md
  modules/shared/programs/claude/files/skills/review-implementation/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/evals/queries.json
  modules/shared/programs/claude/files/skills/review-implementation/references/requirement-status.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
  scripts/ai/warn-skill-consistency.sh
Due: nixfmt, shellcheck

chore(codex): 파일 주석에서 프로세스 메타데이터 제거
  lefthook.yml
  modules/shared/programs/codex/files/sync-codex-config.py
  scripts/ai/lib/render-check-report.py
  scripts/ai/lib/tomlkit-bootstrap.sh
  scripts/ai/verify-ai-compat.sh
  tests/run-shell-script-tests.sh
Due: shellcheck

chore(cleanup): dead code/drift 일괄 정리 (#514) (#515)
  .claude/skills/automating-hammerspoon/references/hotkeys.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  README.md
  docs/CHROME_DEVTOOLS_MCP_AUTOCONNECT.md
  docs/SKILL_WRITING_GUIDE.md
  docs/TRIAL_AND_ERROR.md
  docs/archive/TROUBLESHOOTING.md
  docs/superpowers/plans/2026-04-03-da-harness-research-improvement.md
  docs/superpowers/research/2026-04-03-da-harness-remeasurement-method.md
  docs/superpowers/research/2026-04-03-da-harness-research.md
  docs/superpowers/specs/2026-04-03-da-harness-research-design.md
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/codex-structure.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/openai-yaml-generation.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  scripts/pre-rebuild-check.sh
Due: shellcheck

refactor(codex): NO_CHANGES 경로 ~/.codex/config.toml drift 자동 복구
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/codex/files/sync-codex-config.py
  modules/shared/scripts/lib/rebuild/codex.sh
  modules/shared/scripts/lib/rebuild/relink.sh
  modules/shared/scripts/rebuild-common.sh
  tests/fixtures/shell-scripts/codex-config/sync_noop_preserves_bytes/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_preserves_bytes/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_rejects_bad_mode/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_rejects_bad_mode/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_rejects_symlink/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_rejects_symlink/template.toml
  tests/shell-script-tests.sh
Due: shellcheck

refactor(codex): DA for_pr Round 1 반영 — TOCTOU 해소 + offline/compat/docs
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/codex/files/sync-codex-config.py
  modules/shared/scripts/README.md
  modules/shared/scripts/lib/rebuild/codex.sh
  modules/shared/scripts/rebuild-common.sh
  tests/fixtures/shell-scripts/codex-config/sync_noop_baseline/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_baseline/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_rejects_bad_mode/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_rejects_bad_mode/template.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_rejects_symlink/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_rejects_symlink/template.toml
  tests/shell-script-tests.sh
Due: shellcheck

refactor(codex): DA for_pr Round 2 반영 — cmd_sync no-op probe 추출
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

refactor(codex): DA for_pr Round 3 반영 — ELOOP self-heal + public API smoke
  modules/shared/programs/codex/files/sync-codex-config.py
  modules/shared/scripts/lib/rebuild/codex.sh
  modules/shared/scripts/lib/rebuild/relink.sh
  tests/shell-script-tests.sh
Due: shellcheck

docs(codex): DA for_pr Round 4 반영 — docstring/주석 self-heal 범위 정정
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

feat(codex): expose documenting-intent skill to direct Codex sessions
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

refactor(codex): DA for_pr Round 5 반영 — symlink self-heal 완전화 + test Darwin 호환
  modules/shared/programs/codex/files/sync-codex-config.py
  tests/shell-script-tests.sh
Due: shellcheck

docs(codex): DA for_pr Round 6 반영 — errno 포맷 + cross-reference 정리
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

docs(skills): review-pr-feedback references 추가 (수집·기각분류) (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/comment-collection.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/rejection-taxonomy.md
Due: none

refactor(skills): 라벨 체계 단일 진실 원천화 (#464)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/references/requirement-status.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

docs(skills): review-pr-feedback reply/resolve playbook 추가 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/reply-and-resolve.md
Due: none

refactor(skills): review-pr-feedback SKILL.md GraphQL-first + Step 7 재확인 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
Due: none

test(skills): review-pr-feedback + create-pr eval 신규 트리거 보강 (#404)
  modules/shared/programs/claude/files/skills/create-pr/evals/queries.json
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/queries.json
Due: none

fix(security): nrs-relink에 git-common-dir trust gate 추가
  modules/shared/scripts/nrs-relink.sh
  tests/shell-script-tests.sh
Due: shellcheck

feat(codex): expose documenting-intent skill to direct Codex sessions (#520)
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

refactor(skills): DA Round 1 반영 — 라벨 체계 소비 범위 + [CONFLICTING] 분기 복원
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

refactor(codex): DA for_pr Round 7 반영 — FIFO/special file DoS 차단 + 주석/포맷 정리
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

refactor(skills): DA Round 2 반영 — review-implementation '라벨 없음' 규칙 복원
  modules/shared/programs/claude/files/skills/review-implementation/SKILL.md
Due: none

fix(codex): DA for_pr Round 8 반영 — symlink referent special file 차단
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

fix(security): nrs-relink trust gate에 worktree-list 교차검증 추가
  modules/shared/scripts/nrs-relink.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(skills): review-pr-feedback DA for_pr Arbiter 7건 반영 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/comment-collection.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/reply-and-resolve.md
Due: none

fix(folder-actions): stranded file 재스캔 + 실패 격리 + Pushover 알림
  modules/darwin/programs/folder-actions/default.nix
  modules/darwin/programs/folder-actions/files/scripts/_folder-actions-lib.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
  modules/shared/programs/secrets/default.nix
  secrets/pushover-folder-actions.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(skills): review-pr-feedback DA for_pr Round 2 Arbiter 4건 반영 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/comment-collection.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/reply-and-resolve.md
Due: none

docs+fix(codex): parallel-audit 반영 — readable symlink 의미 명시 + 가드/문서 보강
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/codex/files/sync-codex-config.py
  modules/shared/scripts/lib/rebuild/codex.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

refactor(security): nrs-relink trust gate를 worktree-list 단일 검증으로 통합
  modules/shared/scripts/nrs-relink.sh
  tests/shell-script-tests.sh
Due: shellcheck

refactor(skills): 라벨 체계 단일 진실 원천화 (#464) (#525)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/references/requirement-status.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

docs(security): nrs-relink trust gate 위협 모델 범위 명시
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

fix(codex): cmd_sync에 advisory file lock 추가 — own writers 간 race 차단
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

fix(folder-actions): wait_file_stable + drain_queue로 DA for_pr finding 반영
  modules/darwin/programs/folder-actions/files/scripts/_folder-actions-lib.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
Due: shellcheck

fix(skills): review-pr-feedback parallel-audit 7건 반영 (#404)
  modules/shared/programs/claude/files/skills/review-implementation/references/requirement-status.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/reply-and-resolve.md
Due: none

fix(codex): _sync_lock의 lockfile path도 hardening — FIFO/symlink/special file 차단
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
