Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(security): detect_worktree에 worktree-list 교차검증 추가
  modules/shared/scripts/lib/rebuild/common.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(folder-actions): DA for_pr Round 2 finding 6건 반영
  modules/darwin/programs/folder-actions/files/scripts/_folder-actions-lib.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
  secrets/pushover-folder-actions.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(codex): PR 리뷰 반영 — load_optional_toml/load_target_for_check TOCTOU-safe fd read
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

docs(folder-actions): .failed/ 격리 디렉토리 + 복구 절차 안내 (#374)
  .claude/skills/managing-macos/references/features.md
Due: none

fix(codex): Unix socket(S_IFSOCK) 회귀 보정 — lstat 기반 non-regular 감지 추가
  modules/shared/programs/codex/files/sync-codex-config.py
Due: none

fix(skills): review-pr-feedback Codex review 3건 반영 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/comment-collection.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/reply-and-resolve.md
Due: none

fix(skills): review-pr-feedback summary state-aware 분기 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/comment-collection.md
Due: none

fix(folder-actions): DA for_pr Round 3 finding 5건 반영
  modules/darwin/programs/folder-actions/files/scripts/_folder-actions-lib.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
Due: shellcheck

docs(folder-actions): Pushover 알림/deferred 계약 정확히 반영 (#374)
  .claude/skills/managing-macos/references/features.md
Due: none

fix(skills): review-pr-feedback approval-only 판정으로 summary 유실 방지 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/comment-collection.md
Due: none

fix(skills): review-pr-feedback approval-only 판정을 APPROVED에만 한정 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/comment-collection.md
Due: none

fix(skills): review-pr-feedback APPROVED drop 규칙을 exact-match로 축소 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/comment-collection.md
Due: none

fix(skills): review-pr-feedback 정규화 4단계 "단일 토큰" 게이트 제거 (#404)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
Due: none

feat(skills): review-pr-feedback 내구성 강화 (#404) (#530)
  modules/shared/programs/claude/files/skills/create-pr/evals/queries.json
  modules/shared/programs/claude/files/skills/review-implementation/references/requirement-status.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/queries.json
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/comment-collection.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/rejection-taxonomy.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/reply-and-resolve.md
Due: none

fix(folder-actions): stranded file 재스캔 + 실패 격리 + 공유 헬퍼 (#374) (#532)
  .claude/skills/managing-macos/references/features.md
  modules/darwin/programs/folder-actions/default.nix
  modules/darwin/programs/folder-actions/files/scripts/_folder-actions-lib.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
  modules/shared/programs/secrets/default.nix
  secrets/pushover-folder-actions.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

refactor(codex): NO_CHANGES 경로 ~/.codex/config.toml drift 자동 복구 (#526)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/codex/files/sync-codex-config.py
  modules/shared/scripts/README.md
  modules/shared/scripts/lib/rebuild/codex.sh
  modules/shared/scripts/lib/rebuild/relink.sh
  modules/shared/scripts/rebuild-common.sh
  tests/fixtures/shell-scripts/codex-config/sync_noop_baseline/existing.toml
  tests/fixtures/shell-scripts/codex-config/sync_noop_baseline/template.toml
  tests/shell-script-tests.sh
Due: shellcheck

settings(claude): `codex-plugin-cc` 자동업데이트 활성화
  modules/shared/programs/claude/files/settings.json
Due: none

refactor(skills): arbiter-prompt.md에 Portability / Cross-Environment Drift 축 guardrail 반영 (#521)
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
Due: none

feat(skills): stability-measurement.md 신설 + vote-shape v1 정책 (#522)
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
Due: none

feat(scripts): vote-shape + offline Fleiss kappa harness 신설 (#522)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/fleiss-kappa.py
Due: nixfmt

refactor(skills): protocol.md에 selective consistency 상태 전이 추가 (#522)
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

refactor(skills): SKILL.md + arbiter-scaling.md에 selective consistency 통합 (#521, #522)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

refactor(scripts): nfu 제거 (미사용)
  .claude/skills/understanding-nix/SKILL.md
  docs/TRIAL_AND_ERROR.md
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/nfu.sh
  modules/shared/scripts/wt.sh
  scripts/fix-fod-hashes.sh
Due: nixfmt, shellcheck

docs(skills,trial): nfu 제거 후 FOD hash 보정 단계 복원
  .claude/skills/understanding-nix/SKILL.md
  docs/TRIAL_AND_ERROR.md
Due: none

docs(skills): references FOD fix 단계로 canonical과 일관화
  .claude/skills/syncing-atuin/references/troubleshooting.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
Due: none

refactor(skills): DA for_pr R1 Arbiter 10건 반영 (#521, #522)
  modules/shared/programs/claude/files/scripts/fleiss-kappa.py
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/codex/default.nix
Due: nixfmt

docs(skills): flake update 워크플로우에 플랫폼 보정 주의 추가
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
Due: none

refactor(skills): DA for_pr R2 Arbiter 7건 반영 (#521, #522)
  modules/shared/programs/claude/files/scripts/fleiss-kappa.py
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

docs(skills,trial): fix-fod-hashes 주의 문구/커밋 명령 통일
  .claude/skills/syncing-atuin/references/troubleshooting.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  docs/TRIAL_AND_ERROR.md
Due: none

refactor(skills): DA for_pr R3 즉시 반영 — low_confidence_warning/partial_failure/xhigh/unknown sentinel (#521, #522)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
Due: none

feat(skills): shared user-scope 스킬 description skill-creator eval 최적화 확산 (#518)
  modules/shared/programs/claude/files/scripts/improve-description.sh
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/evals/queries.json
  modules/shared/programs/claude/files/skills/write-handoff/evals/queries.json
Due: shellcheck

docs(skills,trial): git add -u clean tree 전제 + top-level 보강
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  docs/TRIAL_AND_ERROR.md
Due: none

fix(skills): CodeRabbit PR #541 피드백 반영 — MCP 차단 + mode rule 충돌 해소
  modules/shared/programs/claude/files/scripts/improve-description.sh
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: shellcheck

docs(skills,trial): nrs --force 명시 + multi-host 예시 정합화
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  docs/TRIAL_AND_ERROR.md
Due: none

fix(skills): plan-with-questions description 1024자 초과 해소
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

refactor(skills): parallel-audit BUG/REGRESSION 10건 반영 (#521, #522)
  modules/shared/programs/claude/files/scripts/fleiss-kappa.py
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
Due: none

chore(skills): 프로세스 메타데이터 제거 — 스킬 실행 시 노이즈 축소
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

epic(skills): Arbiter drift 대응 — Portability 5축 guardrail + vote-shape v1 selective consistency (#521, #522) (#543)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/fleiss-kappa.py
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

refactor(skills): write-handoff branch 결정 로직 전면 제거 (YAGNI)
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

fix(skills): DA for_pr 피드백 반영 — <WORKING_BRANCH> shell injection 차단 + stale Step 1-D 참조 정리
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
