Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

refactor(skills): run-da parallel-audit 반영 (#549)
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
Due: none

refactor(skills): run-da SKILL.md 도구-중립 리팩토링 (#549) (#563)
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/run-da/references/stability-measurement.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

refactor(skills): parallel-audit SKILL.md 도구-중립 리팩토링 (#548)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fixup(skills): parallel-audit baseline 세션 네임스페이스 + aggregate 한계 명시
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fixup(skills): parallel-audit Round 2 DA 5건 반영
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fixup(skills): parallel-audit Round 3 DA 5건 반영
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fixup(skills): parallel-audit Round 4 DA 7건 반영
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fixup(skills): parallel-audit Round 5 DA 3건 반영
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fixup(skills): parallel-audit Round 6 critical bug fix
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fixup(skills): parallel-audit 전수조사 EDGECASE 반영
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fix(skills): parallel-audit 경로 B precedence 명확화 (PR #564 CodeRabbit nit)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

refactor(skills): parallel-audit SKILL.md 도구-중립 리팩토링 (#548) (#564)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

refactor(skills): sharing-text SKILL.md 도구-중립 리팩토링 (#554)
  .claude/skills/sharing-text/SKILL.md
Due: none

docs(sharing-text): exit 1 → return 1 — push는 shell 함수 (#554)
  .claude/skills/sharing-text/SKILL.md
Due: none

refactor(skills): sharing-text SKILL.md 도구-중립 리팩토링 (#554) (#565)
  .claude/skills/sharing-text/SKILL.md
Due: none

refactor(skills): write-handoff branch를 issue/{N} 규약 + graceful fallback으로 대체 (#558)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

refactor(skills): review-pr-feedback SKILL.md 도구-중립 리팩토링 (#552)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/rejection-taxonomy.md
Due: none

refactor(skills): review-pr-feedback SKILL.md 도구-중립 리팩토링 (#552) (#566)
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/rejection-taxonomy.md
Due: none

refactor(skills): viewing-immich-photo SKILL.md 도구-중립 리팩토링 (#553)
  .claude/skills/viewing-immich-photo/SKILL.md
Due: none

fixup(skills): viewing-immich-photo DA for_pr Round 1 4건 반영 (#553)
  .claude/skills/viewing-immich-photo/SKILL.md
Due: none

fixup(skills): viewing-immich-photo DA for_pr Round 2 1건 반영 (#553)
  .claude/skills/viewing-immich-photo/SKILL.md
Due: none

fixup(skills): viewing-immich-photo parallel-audit 2건 반영 (#553)
  .claude/skills/viewing-immich-photo/SKILL.md
  libraries/packages.nix
Due: nixfmt

refactor(skills): viewing-immich-photo SKILL.md 도구-중립 리팩토링 (#553) (#567)
  .claude/skills/viewing-immich-photo/SKILL.md
  libraries/packages.nix
Due: nixfmt

fix(skills): write-handoff NSS 서브쉘 fail-fast를 명시적 || exit 1로 교체
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

docs(skills): NSS 실패 경로 격리 설명을 sub-bullet 3개로 분리
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): NSS fail-fast 정책 일관화 + 상세 근거를 SKILL.md로 이동
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

docs(skills): NSS fail-fast 설명에서 probe 명령(ls-remote/show-ref) 분리 명시
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): write-handoff NSS 서브쉘+set -e fail-fast correctness gap (#568)
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

feat(skills): write-handoff helper에 stderr 진단 코드 추가
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: shellcheck

fix(skills): write-handoff DA Round 1 — ERR_GH_UNKNOWN contract align + stale step ref
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

fix(skills): write-handoff DA Round 2 — ERR_AUTH 신규 환경 매칭 + control flow 분리
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: shellcheck

fix(skills): write-handoff DA Round 3 — network 패턴 확장 + Step 1-C 단일 진실화
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: shellcheck

fix(skills): write-handoff DA Round 4 — no-remote 매칭 + classifier 가독성
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
Due: shellcheck

fix(skills): write-handoff DA Round 5 — non-GitHub remote 오분류 + drift 비용 축소
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
Due: shellcheck

fix(skills): write-handoff DA Round 6 — ERR_GH_UNKNOWN debug 안내 정정 + template stale ref
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix(skills): write-handoff PR #570 — NETWORK 패턴에 context deadline exceeded 추가
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
Due: shellcheck

fix(skills): plan-with-questions Post-Implementation 자동 수행 게이트 3개 제거
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

feat(skills): write-handoff helper에 stderr 진단 코드 추가 (#536) (#570)
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: shellcheck

fix(skills): plan-with-questions DA for_pr Round 1 — 자동 진행 범위 명시 + RECOVERABLE VIOLATION 표기 정정
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

feat(skills): grill-me 스킬 user-scope 이식 (Claude/Codex parity)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
  modules/shared/programs/claude/files/skills/grill-me/evals/queries.json
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck
