Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

chore(claude): remove codex-plugin-cc plugin and marketplace (#699)
  modules/shared/programs/claude/files/settings.json
Due: none

docs(cheat): nvim 윈도우 크기 조정 단축키 추가
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
Due: none

chore(claude): remove skill-creator plugin + custom eval infra (#700)
  .gitignore
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/hooks/log-skill.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/improve-description.sh
  modules/shared/programs/claude/files/scripts/run-eval.sh
  modules/shared/programs/claude/files/scripts/run-loop.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/SKILL.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/evals/queries.json
  modules/shared/programs/claude/files/skills/create-pr/evals/queries.json
  modules/shared/programs/claude/files/skills/grill-me/evals/queries.json
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/evals/intensity-fixtures.json
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/using-claude-p/evals/queries.json
  modules/shared/programs/claude/files/skills/using-codex-exec/evals/queries.json
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: nixfmt, shellcheck

chore(claude): remove skill-creator plugin + custom eval infra (#700) (#701)
  .gitignore
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/hooks/log-skill.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/improve-description.sh
  modules/shared/programs/claude/files/scripts/run-eval.sh
  modules/shared/programs/claude/files/scripts/run-loop.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/SKILL.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/evals/queries.json
  modules/shared/programs/claude/files/skills/create-pr/evals/queries.json
  modules/shared/programs/claude/files/skills/grill-me/evals/queries.json
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/evals/intensity-fixtures.json
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/using-claude-p/evals/queries.json
  modules/shared/programs/claude/files/skills/using-codex-exec/evals/queries.json
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: nixfmt, shellcheck

refactor(skills): write-handoff에서 Next Session Starter 블록 제거
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
  modules/shared/programs/codex/default.nix
Due: nixfmt, shellcheck

refactor(skills): write-handoff NSS 제거 PR 리뷰 피드백 반영
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

refactor(skills): write-handoff에서 Next Session Starter 블록 제거 (#703)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/write-handoff-repo-and-issue.sh
  modules/shared/programs/claude/files/scripts/write-handoff-repo-slug.sh
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

settings(claude): atlassian, slack, figma 플러그인 제거
  modules/shared/programs/claude/files/settings.json
Due: none

chore(claude,codex): pushover 알림 hooks 제거 — native push로 대체
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/sharing-text/SKILL.md
  .claude/skills/sharing-text/references/push-implementation.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
  modules/shared/programs/secrets/default.nix
  modules/shared/programs/shell/default.nix
  secrets/pushover-codex.age
  secrets/pushover-share.age
  secrets/secrets.nix
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/stop-no-last-message-codex-transcript.json
  tests/fixtures/codex-hooks/stdin/stop-with-secret-reply.json
  tests/fixtures/codex-hooks/transcripts/codex-0.124-sample.jsonl
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

refactor(skills): plan-with-questions 정책 부채 청산 1차 PR (#704)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

chore(tests): hook fixture에서 stop-notification 잔재 정리
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

refactor(skills): plan-with-questions 외부 검토 결과 반영 (#704)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

refactor(skills): consulting-step callsite 정책 정합 + P4 표기 (#704)
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
Due: none

chore(claude,codex): pushover 알림 hooks 제거 — native push로 대체 (#706)
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/sharing-text/SKILL.md
  .claude/skills/sharing-text/references/push-implementation.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
  modules/shared/programs/secrets/default.nix
  modules/shared/programs/shell/default.nix
  secrets/pushover-codex.age
  secrets/pushover-share.age
  secrets/secrets.nix
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/stop-no-last-message-codex-transcript.json
  tests/fixtures/codex-hooks/stdin/stop-with-secret-reply.json
  tests/fixtures/codex-hooks/transcripts/codex-0.124-sample.jsonl
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

refactor(skills): plan-with-questions 약어 taxonomy 제거 (#704 review)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

refactor(skills): tier-1/aux 표현을 자연어 정본으로 통일 (#704 review follow-up)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

refactor(skills): plan-with-questions 정책 부채 청산 1차 PR (#704)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/bias-measurement.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

refactor(cheat): rename cheat-browse wrapper to cheatsheet
  modules/shared/programs/cheat/cheatsheets/yazi/keybinding
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/cheat/files/scripts/cheatsheet.sh
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/tmux/files/tmux.conf
  modules/shared/programs/yazi/default.nix
Due: nixfmt, shellcheck

refactor(cheat): rename cheat-browse wrapper to cheatsheet (#709)
  modules/shared/programs/cheat/cheatsheets/yazi/keybinding
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/cheat/files/scripts/cheatsheet.sh
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/tmux/files/tmux.conf
  modules/shared/programs/yazi/default.nix
Due: nixfmt, shellcheck

perf(ssh): mac/minipc matchBlocks에 ControlMaster 다중화 추가
  modules/darwin/programs/ssh/default.nix
  modules/nixos/programs/ssh-client/default.nix
Due: nixfmt

perf(skills): analyzing-da-sessions에 worker pool + ControlMaster preflight 도입
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
Due: none

refactor(skills): analyzing-da-sessions HOST_PATH_MAP 역할 분리 + boundary check 강화
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/SKILL.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/data-sources.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/host-handling.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
Due: none

test(skills): analyzing-da-sessions에 hostile path 거부 + worker pool partial result 테스트 추가
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/test_analyze.py
Due: none

fix(skills): analyzing-da-sessions DA review 코드 단계 반영 — fail-fast degrade + warning 결정성 + 분류 단순화
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/host-handling.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/test_analyze.py
Due: none

docs(skills): analyzing-da-sessions parallel-audit 단계 docs mismatch 정정
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/data-sources.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/host-handling.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
Due: none

fix(skills): analyzing-da-sessions PR 리뷰 피드백 반영 — warning 메시지 fail-fast 일관 + corpus 모드 host filter/subagents 일관
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
Due: none

feat(anki-study): MVP 첫 세션 아카이브 + dogfooding 가이드
  anki-study/GUIDE.md
  anki-study/README.md
  anki-study/sessions/2026-05-10/SESSION.md
  anki-study/sessions/2026-05-10/answers/01_deadlock_4conditions.json
  anki-study/sessions/2026-05-10/answers/02_syscall_dual_mode.json
  anki-study/sessions/2026-05-10/answers/03_tlb_page_table.json
  anki-study/sessions/2026-05-10/answers/04_nic.json
  anki-study/sessions/2026-05-10/answers/05_tcpip_osi.json
  anki-study/sessions/2026-05-10/img1.png
  anki-study/sessions/2026-05-10/img2.png
  anki-study/sessions/2026-05-10/index.html
  anki-study/sessions/2026-05-10/nic.html
  anki-study/sessions/2026-05-10/nic_card.png
  anki-study/sessions/2026-05-10/nic_external.png
  anki-study/sessions/2026-05-10/sc_flow.png
  anki-study/sessions/2026-05-10/sc_hello.png
  anki-study/sessions/2026-05-10/sc_kernel_area.png
  anki-study/sessions/2026-05-10/sc_modes.png
  anki-study/sessions/2026-05-10/sc_sync.png
  anki-study/sessions/2026-05-10/syscall.html
  anki-study/sessions/2026-05-10/tcpip.html
  anki-study/sessions/2026-05-10/tcpip_5layer.png
  anki-study/sessions/2026-05-10/tcpip_compare.png
  anki-study/sessions/2026-05-10/tlb.html
  anki-study/sessions/2026-05-10/tlb_flow.png
  anki-study/sessions/2026-05-10/tlb_ptbr.png
Due: none

fix(anki-study): Stage 4 selfScore 누락 버그 + GUIDE.md 회피 패턴 박제
  anki-study/GUIDE.md
  anki-study/sessions/2026-05-10/index.html
  anki-study/sessions/2026-05-10/nic.html
  anki-study/sessions/2026-05-10/syscall.html
  anki-study/sessions/2026-05-10/tcpip.html
  anki-study/sessions/2026-05-10/tlb.html
Due: none

fix(anki-study): selfScore length threshold + 콘텐츠 팩트 정정
  anki-study/sessions/2026-05-10/index.html
  anki-study/sessions/2026-05-10/syscall.html
  anki-study/sessions/2026-05-10/tcpip.html
  anki-study/sessions/2026-05-10/tlb.html
Due: none

perf(skills): analyzing-da-sessions SSH multiplexing + worker pool로 양 호스트 5분 회복 (#710)
  modules/darwin/programs/ssh/default.nix
  modules/nixos/programs/ssh-client/default.nix
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/SKILL.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/data-sources.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/references/host-handling.md
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/scripts/analyze.py
  modules/shared/programs/claude/files/skills/analyzing-da-sessions/tests/test_analyze.py
Due: nixfmt

feat(anki-study): MVP 첫 세션 아카이브 + dogfooding 가이드 (#712)
  anki-study/GUIDE.md
  anki-study/README.md
  anki-study/sessions/2026-05-10/SESSION.md
  anki-study/sessions/2026-05-10/answers/01_deadlock_4conditions.json
  anki-study/sessions/2026-05-10/answers/02_syscall_dual_mode.json
  anki-study/sessions/2026-05-10/answers/03_tlb_page_table.json
  anki-study/sessions/2026-05-10/answers/04_nic.json
  anki-study/sessions/2026-05-10/answers/05_tcpip_osi.json
  anki-study/sessions/2026-05-10/img1.png
  anki-study/sessions/2026-05-10/img2.png
  anki-study/sessions/2026-05-10/index.html
  anki-study/sessions/2026-05-10/nic.html
  anki-study/sessions/2026-05-10/nic_card.png
  anki-study/sessions/2026-05-10/nic_external.png
  anki-study/sessions/2026-05-10/sc_flow.png
  anki-study/sessions/2026-05-10/sc_hello.png
  anki-study/sessions/2026-05-10/sc_kernel_area.png
  anki-study/sessions/2026-05-10/sc_modes.png
  anki-study/sessions/2026-05-10/sc_sync.png
  anki-study/sessions/2026-05-10/syscall.html
  anki-study/sessions/2026-05-10/tcpip.html
  anki-study/sessions/2026-05-10/tcpip_5layer.png
  anki-study/sessions/2026-05-10/tcpip_compare.png
  anki-study/sessions/2026-05-10/tlb.html
  anki-study/sessions/2026-05-10/tlb_flow.png
  anki-study/sessions/2026-05-10/tlb_ptbr.png
Due: none

chore(inputs): 종속성 업데이트
  flake.lock
Due: none

chore(inputs): 종속성 업데이트 (#724)
  flake.lock
Due: none

fix(caddy): nixpkgs 업데이트로 깨진 withPlugins FOD hash 갱신
  modules/nixos/programs/caddy.nix
Due: nixfmt

chore(plan-with-questions): SKILL.md + modes/* 진입 복잡도 감축 (#726)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
Due: none

fix(plan-with-questions): for_issue 체크리스트 ASCII 표기 SSOT 동기화 (#726)
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
Due: none

settings(claude): `skipAutoPermissionPrompt: true` 추가
  modules/shared/programs/claude/files/settings.json
Due: none

refactor(plan-with-questions): 한국어 오타 유발 토크나이저/SSOT/표기 부채 해소 (#729)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/multi-pass-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/implementation-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/validation-paths.md
Due: none
