Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

docs(ghostty): notify-on-command-finish-after 10s 선택 CIR 추가
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

docs(skills): reset-term alias 제거에 따른 스킬 문서 참조 정리
  .claude/skills/automating-hammerspoon/references/troubleshooting.md
  .claude/skills/understanding-nix/references/features.md
Due: none

feat(ghostty): Ghostty 1.3.0 신규 기능 nixos-config 통합 (#184)
  .claude/skills/automating-hammerspoon/references/troubleshooting.md
  .claude/skills/understanding-nix/references/features.md
  modules/darwin/programs/ghostty/default.nix
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

feat(fzf): single-select 모드에서 Tab/Shift+Tab 커서 이동 바인딩 추가
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(fzf): single-select 모드에서 Tab/Shift+Tab 커서 이동 바인딩 추가 (#185)
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(claude): chrome-devtools MCP 연결 실패 해결 — npm registry 명시
  modules/shared/programs/claude/files/mcp.darwin.json
Due: none

fix(claude): chrome-devtools MCP 연결 실패 해결 — npm registry 명시 (#186)
  modules/shared/programs/claude/files/mcp.darwin.json
Due: none

refactor(claude): `c` alias에서 `--chrome` 플래그 제거, chrome-devtools MCP로 전환
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/evals/trigger-eval.json
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/maintaining-skills/references/quality-criteria.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

docs(claude): CIR에 PR #74 참조 추가 — chrome-devtools MCP 전환 계기 명시
  modules/shared/programs/shell/default.nix
Due: nixfmt

refactor(claude): `c` alias에서 `--chrome` 제거, chrome-devtools MCP 전환 (#187)
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/evals/trigger-eval.json
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/maintaining-skills/references/quality-criteria.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(fzf): fzf-tab 플러그인 도입 — Tab completion에 fuzzy 검색 통합
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(fzf): fzf-tab 플러그인 도입 — Tab completion에 fuzzy 검색 통합 (#188)
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(fzf): fzf-tab Tab 바인딩을 기본값 tab:down으로 복원 — 독립 fzf와 일관성 확보
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

refactor(git): gdf/gdl 셸 함수 제거 — lazygit으로 대체
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/evals/trigger-eval.json
  .claude/skills/configuring-git/references/commands.md
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/git-diff-fzf-functions.sh
Due: nixfmt, shellcheck

style(skill): commands.md 문구 수정 — 단일 명령어에 맞게 "등" 제거
  .claude/skills/configuring-git/references/commands.md
Due: none

fix(fzf): fzf-tab Tab 바인딩을 기본값 tab:down으로 복원 — 독립 fzf와 일관성 확보 (#189)
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

refactor(git): gdf/gdl 셸 함수 제거 — lazygit으로 대체 (#190)
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/evals/trigger-eval.json
  .claude/skills/configuring-git/references/commands.md
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/git-diff-fzf-functions.sh
Due: nixfmt, shellcheck

chore: dev-proxy 기능 전체 제거 (#191)
  .agents/skills/proxying-dev-server
  .claude/skills/proxying-dev-server/SKILL.md
  .claude/skills/proxying-dev-server/evals/trigger-eval.json
  .claude/skills/proxying-dev-server/references/troubleshooting.md
  CLAUDE.md
  README.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/lib/caddy-security-headers.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/dev-proxy/default.nix
  modules/shared/programs/shell/nixos.nix
  tests/eval-tests.nix
Due: nixfmt

chore: dev-proxy 기능 전체 제거 (#191) (#192)
  .agents/skills/proxying-dev-server
  .claude/skills/proxying-dev-server/SKILL.md
  .claude/skills/proxying-dev-server/evals/trigger-eval.json
  .claude/skills/proxying-dev-server/references/troubleshooting.md
  CLAUDE.md
  README.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/lib/caddy-security-headers.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/dev-proxy/default.nix
  modules/shared/programs/shell/nixos.nix
  tests/eval-tests.nix
Due: nixfmt

fix(nfu): delta pager 비활성화 — stdin 오염으로 인한 확인 프롬프트 실패 방지
  modules/shared/scripts/nfu.sh
Due: shellcheck

fix(nfu): FOD hash 검증 헤더 중복 출력 제거
  modules/shared/scripts/nfu.sh
Due: shellcheck

feat(nfu): 캐시 미스 목록에서 heavy 빌드 패키지 강조 표시
  scripts/fix-fod-hashes.sh
Due: shellcheck

chore(nix): nixpkgs 패키지 버전 업그레이드
  flake.lock
Due: none

refactor(nfu): heavy 빌드 판별을 Multi-Signal Scoring으로 전환
  scripts/fix-fod-hashes.sh
Due: shellcheck

docs(nfu): Python/Node MODERATE 제외 의도 주석 추가
  scripts/fix-fod-hashes.sh
Due: shellcheck

docs(nfu): nodejs-slim/python3 실측 결과 반영 — 검증 20/20
  scripts/fix-fod-hashes.sh
Due: shellcheck

refactor(nfu): heavy 빌드 판별을 Multi-Signal Scoring으로 전환 (#193)
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(nfu): NixOS glue derivation 누락으로 인한 false positive HEAVY 분류 수정
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(caddy): FOD hash 업데이트 — caddy-src-with-plugins upstream 변경
  modules/nixos/programs/caddy.nix
Due: nixfmt

fix(ghostty): 1.3.0 phantom drag 버그 회피를 위해 tip 빌드로 임시 전환 (#194)
  modules/darwin/programs/homebrew.nix
Due: nixfmt

docs(claude): VSCode 확장 유지 결정 CIR 기록 — 업데이트 이중 채널 조사 결과
  modules/darwin/programs/vscode/default.nix
  modules/shared/programs/claude/default.nix
Due: nixfmt

docs(claude): VSCode 확장 유지 결정 CIR 기록 — 업데이트 이중 채널 조사 결과 (#195)
  modules/darwin/programs/vscode/default.nix
  modules/shared/programs/claude/default.nix
Due: nixfmt

refactor(prompt): cheat-browse --prompts UX/DX 전체 리팩토링
  docs/PROMPT_MOBILE_SHORTCUT.md
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/tmux/files/tmux.conf
  scripts/prompt-render.sh
  scripts/prompts/README.md
  scripts/prompts/modules/da-feedback.md
  scripts/prompts/presets/bugfix.md
  scripts/prompts/presets/code-review.md
  scripts/prompts/presets/domain-unfamiliar.md
  scripts/prompts/presets/exploration.md
  scripts/prompts/presets/feature-dev-full.md
  scripts/prompts/presets/feature-dev-light.md
  scripts/prompts/presets/pr-feedback.md
  scripts/prompts/presets/refactoring.md
  scripts/prompts/presets/tech-learning.md
Due: shellcheck

fix(cheat-browse): 프리뷰 모듈 목록 comma 구분자 NR 하드코딩 제거
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
Due: shellcheck

fix(prompt): PR #196 피드백 9건 일괄 반영
  docs/PROMPT_MOBILE_SHORTCUT.md
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
  modules/shared/programs/tmux/files/tmux.conf
  scripts/prompt-render.sh
  scripts/prompts/presets/feature-dev-light.md
  scripts/prompts/presets/refactoring.md
Due: shellcheck

fix(tmux): command-prompt display-message에서 미치환 %%% 제거
  modules/shared/programs/tmux/files/tmux.conf
Due: none

fix(prompt): PR #196 2차 피드백 2건 반영
  scripts/prompt-render.sh
  scripts/prompts/presets/feature-dev-full.md
Due: shellcheck

fix(prompt): fzf 변수 편집 UI의 stdin 충돌 및 에러 핸들링 수정
  scripts/prompt-render.sh
Due: shellcheck

fix(docs): 변수 개수 하드코딩 제거 — 프리셋 변경 시 문서 동기화 누락 방지
  docs/PROMPT_MOBILE_SHORTCUT.md
Due: none

fix(prompt): DA_TIMING 옵션 복원 및 validate 조기 종료 수정
  scripts/prompt-render.sh
  scripts/prompts/presets/feature-dev-full.md
Due: shellcheck
