Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

refactor(claude): 아이콘 순서 변경 + Plan 세션격리 레거시 정리
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude): AskUserQuestion을 Jira/Slack/Figma 개별 3회로 변경
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): AskUserQuestion 1회로 Jira/Slack/Figma 일괄 질문
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): AskUserQuestion 3회 개별 질문 + 서비스명 title 지정
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): AskUserQuestion 1회 호출 + 3개 링크 줄 구분 질문
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): AskUserQuestion 3회 개별 호출 복구 (Jira/Slack/Figma 탭)
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): AskUserQuestion questions 배열로 탭 UI + label 키 명시
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): AskUserQuestion options 최소 2개 제약 충족
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

fix(claude): jq -n 사용 금지 명시 — memo 키 휘발 방지
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

feat(claude): statusbar에 Jira, Slack, Figma, Memo 아이콘 추가 (#263)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: nixfmt, shellcheck

refactor(claude): status icons 세션 초기 질문 제거 + 스킬 문서 컨벤션 정비
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: shellcheck

fix(claude): Memo 아이콘도 스킬 호출 시에만 표시
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: shellcheck

docs(claude): status icons 초기화 전략 CIR 기록
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
Due: shellcheck

feat(claude): statusbar에 Memory 아이콘 자동 표시 추가
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: shellcheck

fix(claude): SKILL.md description에서 Memory를 managed scope에서 분리
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: none

feat(claude): statusbar에 Memory 아이콘 자동 표시 추가 (#264)
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: shellcheck

fix(claude): Memory 아이콘 worktree 호환 + orphan 경고 표시
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: shellcheck

fix(claude): orphan 감지 grep -c exit code 1 시 이중 출력 버그 수정
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude): orphan 감지 grep 패턴을 POSIX [[:space:]]로 변경
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude): Memory 아이콘 worktree 호환 + orphan 경고 표시 (#265)
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
Due: shellcheck

fix(claude): Memory 아이콘 클릭 시 디렉토리를 Finder에서 열기
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

feat(claude): 프롬프트 빌딩 블록 스킬 6개 추가
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/da-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/da-feedback/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/da-feedback/references/da-domains.md
  modules/shared/programs/claude/files/skills/da-feedback/references/protocol.md
  modules/shared/programs/claude/files/skills/llm-migration-guide/SKILL.md
  modules/shared/programs/claude/files/skills/llm-migration-guide/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/llm-migration-guide/references/guide-template.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/pr-detailed/SKILL.md
  modules/shared/programs/claude/files/skills/pr-detailed/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/pr-detailed/references/pr-template.md
  modules/shared/programs/claude/files/skills/pr-detailed/references/pre-merge-guide.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/trigger-eval.json
Due: nixfmt

refactor(claude): DA 피드백 반영 — description 영문화, da-domains 압축, protocol 간소화
  modules/shared/programs/claude/files/skills/da-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/da-feedback/references/da-domains.md
  modules/shared/programs/claude/files/skills/da-feedback/references/protocol.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
Due: none

fix(claude): CodeRabbit 피드백 8건 반영 — 펜스 수정, 트리거 충돌 해소, GraphQL 안내
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/da-feedback/references/da-domains.md
  modules/shared/programs/claude/files/skills/da-feedback/references/protocol.md
  modules/shared/programs/claude/files/skills/llm-migration-guide/references/guide-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/pr-detailed/references/pr-template.md
  modules/shared/programs/claude/files/skills/pr-detailed/references/pre-merge-guide.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
Due: none

feat(codex): 프롬프트 빌딩 블록 스킬 6개 Codex global 프로젝션 등록
  modules/shared/programs/codex/default.nix
Due: nixfmt

fix(claude): plan-with-questions argument-hint를 본문 입력 계약과 일치
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(claude): 전수조사 BUG 5건 반영 — NOT for 양방향, eval 보완, fallback 추가
  modules/shared/programs/claude/files/skills/da-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/llm-migration-guide/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/pr-detailed/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
Due: none

feat(claude): 프롬프트 빌딩 블록 스킬 6개 추가 (#267)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/da-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/da-feedback/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/da-feedback/references/da-domains.md
  modules/shared/programs/claude/files/skills/da-feedback/references/protocol.md
  modules/shared/programs/claude/files/skills/llm-migration-guide/SKILL.md
  modules/shared/programs/claude/files/skills/llm-migration-guide/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/llm-migration-guide/references/guide-template.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/pr-detailed/SKILL.md
  modules/shared/programs/claude/files/skills/pr-detailed/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/pr-detailed/references/pr-template.md
  modules/shared/programs/claude/files/skills/pr-detailed/references/pre-merge-guide.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/trigger-eval.json
  modules/shared/programs/codex/default.nix
Due: nixfmt

refactor(claude): managing-github-issues → create-issue 등록 전용 리팩터
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/create-issue/references/label-taxonomy.md
  modules/shared/programs/claude/files/skills/llm-migration-guide/SKILL.md
  modules/shared/programs/claude/files/skills/managing-github-issues/SKILL.md
  modules/shared/programs/claude/files/skills/managing-github-issues/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(claude): label-taxonomy.md area 정책을 SKILL.md와 일관되게 갱신
  modules/shared/programs/claude/files/skills/create-issue/references/label-taxonomy.md
Due: none

refactor(claude): managing-github-issues → create-issue 등록 전용 리팩터 (#270)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/create-issue/references/label-taxonomy.md
  modules/shared/programs/claude/files/skills/llm-migration-guide/SKILL.md
  modules/shared/programs/claude/files/skills/managing-github-issues/SKILL.md
  modules/shared/programs/claude/files/skills/managing-github-issues/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(ghostty,claude): 회사 맥북 Claude Code 알림 활성화
  modules/darwin/programs/homebrew.nix
  modules/shared/programs/claude/default.nix
Due: nixfmt

fix: DA R1 피드백 반영 — isPersonal 인라인 + SKILL.md stale ref
  .claude/skills/configuring-claude-code/SKILL.md
  modules/darwin/programs/homebrew.nix
Due: nixfmt

docs(claude): patchClaudeJson fragility 분석 CIR 주석 추가
  modules/shared/programs/claude/default.nix
Due: nixfmt

fix: DA R2 — adopt 가이드 예시에서 ghostty 제거
  modules/darwin/programs/homebrew.nix
Due: nixfmt

fix(claude): CodeRabbit 피드백 — ghostty 채널 레거시 값 자동 교체
  modules/shared/programs/claude/default.nix
Due: nixfmt

fix(ghostty,claude): 회사 맥북 Claude Code 알림 활성화 (#271)
  .claude/skills/configuring-claude-code/SKILL.md
  modules/darwin/programs/homebrew.nix
  modules/shared/programs/claude/default.nix
Due: nixfmt

feat(claude): hs.notify 로컬 데스크탑 알림 추가 — Pushover 보완 (#272)
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

fix(claude): hs.notify withdrawAfter CIR 추가 + Banners 스타일 의사결정 기록
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
