Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

docs(skills): playwright-cli SKILL 문서 0.1.8 → 0.1.13 sync (#503 follow-up) (#774)
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/test-generation.md
Due: none

fix(pinning): split review-mode category into workflow + volatile sub-patterns (#767) (#778)
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  scripts/ai/commit-msg-pinning.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-body-temp-traversal-pattern-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-body-temp-traversal-pattern-c-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-issue-draft-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-issue-draft-pattern-c-workflow-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-plans-pattern-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-plans-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-plans-pattern-c-workflow-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-b-to-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-b-to-c-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-c-workflow-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-workflow-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-c-workflow-clean.json
Due: shellcheck

fix(pinning): PATTERN_C_VOLATILE 한글 alternation 뒤 단어 경계 제거 — GNU grep 매칭 fail 해소
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
Due: shellcheck

fix(pinning): PATTERN_C_VOLATILE 한글 alternation 뒤 단어 경계 제거 — GNU grep 매칭 fail 해소 (#785)
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
Due: shellcheck

feat(cheat): process 모니터링 cheatsheet 10장 + htop/btop 양 플랫폼 통합 (#782)
  libraries/packages.nix
  modules/nixos/configuration.nix
  modules/shared/programs/cheat/cheatsheets/process/btop
  modules/shared/programs/cheat/cheatsheets/process/comparison
  modules/shared/programs/cheat/cheatsheets/process/htop
  modules/shared/programs/cheat/cheatsheets/process/kill
  modules/shared/programs/cheat/cheatsheets/process/lsof
  modules/shared/programs/cheat/cheatsheets/process/pgrep
  modules/shared/programs/cheat/cheatsheets/process/pkill
  modules/shared/programs/cheat/cheatsheets/process/ps
  modules/shared/programs/cheat/cheatsheets/process/scenarios
  modules/shared/programs/cheat/cheatsheets/process/top
Due: nixfmt

fix(cheat): process/comparison + process/lsof frontmatter에 process 태그 추가
  modules/shared/programs/cheat/cheatsheets/process/comparison
  modules/shared/programs/cheat/cheatsheets/process/lsof
Due: none

docs(cheat): process/scenarios 2·3번 시나리오 상황 + 출력 예시 + 후속 행동 보강
  modules/shared/programs/cheat/cheatsheets/process/scenarios
Due: none

feat(cheat): process 모니터링 cheatsheet 10장 + htop/btop 양 플랫폼 통합 (#786)
  libraries/packages.nix
  modules/nixos/configuration.nix
  modules/shared/programs/cheat/cheatsheets/process/btop
  modules/shared/programs/cheat/cheatsheets/process/comparison
  modules/shared/programs/cheat/cheatsheets/process/htop
  modules/shared/programs/cheat/cheatsheets/process/kill
  modules/shared/programs/cheat/cheatsheets/process/lsof
  modules/shared/programs/cheat/cheatsheets/process/pgrep
  modules/shared/programs/cheat/cheatsheets/process/pkill
  modules/shared/programs/cheat/cheatsheets/process/ps
  modules/shared/programs/cheat/cheatsheets/process/scenarios
  modules/shared/programs/cheat/cheatsheets/process/top
Due: nixfmt

feat(statusline): SSH rate gauge 압축 + session-id 아이콘 제거 (#784)
  modules/shared/programs/claude/files/docs/statusline-env.md
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(lefthook): direnv 진입 경고 + nested-marker race 제거 (#783)
  scripts/ai/install-lefthook-hooks.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(statusline/bats): XDG paths pin + bracket leak guard 양방향 (#787 feedback)
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: none

feat(statusline): SSH rate gauge 압축 + session-id 아이콘 제거 (#784) (#787)
  modules/shared/programs/claude/files/docs/statusline-env.md
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(lefthook): D-3 메인 한정 복귀 + 회귀 방지 layer + DA 반영 (#783)
  lefthook.yml
  scripts/ai/check-lefthook-staged-config.sh
  scripts/ai/install-lefthook-hooks.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(lefthook): parallel-audit findings 반영 — staged-files-0 우회 차단 외 (#783)
  README.md
  lefthook.yml
  scripts/ai/install-lefthook-hooks.sh
  tests/shell-script-tests.sh
Due: shellcheck

test(lefthook): concurrent test의 background syntax 수정으로 race 실제 trigger (#788 feedback)
  tests/shell-script-tests.sh
Due: shellcheck

fix(lefthook): direnv 경고 + race 제거 + 회귀 방지 layer (#783) (#788)
  README.md
  lefthook.yml
  scripts/ai/check-lefthook-staged-config.sh
  scripts/ai/install-lefthook-hooks.sh
  tests/shell-script-tests.sh
Due: shellcheck

feat(skills): codex-fan-out에 fan-in 표준 절차 명문화 + plan-with-questions 경로 한정 정합
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
Due: none

refactor(skills): codex-fan-out fan-in 절차 호출자 적용 범위 명확화 + fanout-fanin.md 5 카테고리 런타임 무관 분리
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
Due: none

fix(skills): codex-fan-out fan-in 절차 cleanup glob 위험 해소 — 출력 FO_DIR 리터럴 경로 명시
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
Due: none

feat(skills): codex-fan-out에 fan-in 표준 절차 명문화 + 호출자 정합 (#757) (#799)
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
Due: none

perf(codex): MiniPC startup latency 완화 (#772)
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(pinning): equal-count B→C workflow 우회 차단 + 카테고리 C records 정렬 (#779)
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-body-temp-traversal-pattern-b-to-c-workflow-equal-count-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-body-temp-traversal-pattern-b-to-c-workflow-equal-count-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-body-temp-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-body-temp-pattern-c-workflow-clean.json
Due: shellcheck

refactor(codex): claude↔codex hook 공통 코어 추출 + cross-tree fallback 제거 + USED-BY oracle
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/pinning-alert.sh
  modules/shared/programs/claude/files/hooks/pinning-guard.sh
  modules/shared/programs/claude/files/hooks/record-last-stop.sh
  modules/shared/programs/claude/files/hooks/record-prompt-submit.sh
  modules/shared/programs/claude/files/lib/hook-runtime.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/claude/files/lib/session-state.sh
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  modules/shared/programs/codex/files/hooks/record-last-stop.sh
  modules/shared/programs/codex/files/hooks/record-prompt-submit.sh
  scripts/ai/verify-ai-compat.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

fix(codex): pinning-guard scan-dir init failure → fail-closed deny + verify-ai-compat REPO_ROOT quoting (#759 review)
  modules/shared/programs/claude/files/hooks/pinning-guard.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

refactor(pinning): for_pr 리뷰 반영 — 주석 분리 + helper docstring + awk dedupe (#779)
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
Due: shellcheck

feat(skills): create-issue에 TL;DR section 표준화 (#803)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
Due: none

fix(skills): DA/parallel-audit 피드백 반영 — TL;DR template 정합 (#803)
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
Due: none

fix(skills): TL;DR escape hatch 제거 — 모든 이슈에 TL;DR 강제 (#803)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
Due: none

feat(skills): create-issue에 TL;DR section 표준화 (#803) (#804)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
Due: none

fix(tmux): NO_COLOR/COLORTERM 회귀 차단 안전망
  modules/shared/programs/tmux/files/tmux.conf
Due: none

chore(darwin): 미사용 cmux 선언 제거
  modules/darwin/home.nix
  modules/darwin/programs/cmux/default.nix
  modules/darwin/programs/homebrew.nix
Due: nixfmt

fix(pinning): raw-shape classifier에 canonicalize 단계 추가 (#779)
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
Due: shellcheck

refactor(codex): claude↔codex hook 공통 코어 추출 + cross-tree fallback 제거 + USED-BY oracle (#759) (#801)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/pinning-alert.sh
  modules/shared/programs/claude/files/hooks/pinning-guard.sh
  modules/shared/programs/claude/files/hooks/record-last-stop.sh
  modules/shared/programs/claude/files/hooks/record-prompt-submit.sh
  modules/shared/programs/claude/files/lib/hook-runtime.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/claude/files/lib/session-state.sh
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  modules/shared/programs/codex/files/hooks/record-last-stop.sh
  modules/shared/programs/codex/files/hooks/record-prompt-submit.sh
  scripts/ai/verify-ai-compat.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

fix(tmux,darwin): NO_COLOR 회귀 차단 + 미사용 cmux 선언 제거 (#805)
  modules/darwin/home.nix
  modules/darwin/programs/cmux/default.nix
  modules/darwin/programs/homebrew.nix
  modules/shared/programs/tmux/files/tmux.conf
Due: nixfmt

fix(pinning): equal-count B→C workflow 우회 차단 + records 정렬 (#779) (#802)
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-body-temp-traversal-pattern-b-to-c-workflow-equal-count-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-body-temp-traversal-pattern-b-to-c-workflow-equal-count-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-body-temp-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-body-temp-pattern-c-workflow-clean.json
Due: shellcheck

settings(claude): wortree.baseRef 값을 fresh에서 head로 변경
  modules/shared/programs/claude/files/settings.json
Due: none

feat(statusline): worktree 폴더명 == 브랜치명이면 L3 라인 생략
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: shellcheck

docs(statusline): L3 가드 주석을 실제 동작과 정합하도록 수정
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

test(statusline): CWD_CANONICAL 부재 시 L3 가드 비활성 fixture 추가
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: none

feat(statusline): worktree 폴더명 == 브랜치명이면 L3 라인 생략 (#806)
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: shellcheck
