Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

refactor(wt): gum→fzf TUI 전환 + human test 피드백 반영 (#207)
  modules/shared/programs/git/default.nix
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

feat(wt): --tmux 플래그 — tmux 밖에서 독립 세션 생성+attach
  modules/shared/programs/cheat/cheatsheets/wt/command
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

fix(wt): DA 피드백 반영 — tmux exact match, 래퍼 bypass 조건, cd - 경로
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

fix(wt): Codex DA 피드백 — 세션 kill 가드, 재생성 stale 세션, 문서 수정
  modules/shared/programs/cheat/cheatsheets/wt/command
  modules/shared/scripts/wt.sh
Due: shellcheck

fix(wt): 재생성 시 attached tmux 세션이 있으면 중단
  modules/shared/scripts/wt.sh
Due: shellcheck

fix(wt): CodeRabbit 피드백 — cleanup 세션 가드 + cd 옵션 파서 강화
  modules/shared/scripts/wt.sh
Due: shellcheck

fix(wt): 세션 이름에 repo 네임스페이스 추가 — 멀티 repo 충돌 방지
  modules/shared/programs/cheat/cheatsheets/wt/command
  modules/shared/scripts/wt.sh
Due: shellcheck

docs(wt): 세션 네이밍 의사결정 CIR 추가
  modules/shared/scripts/wt.sh
Due: shellcheck

feat(wt): --tmux 플래그 — tmux 밖에서 독립 세션 생성+attach (#209)
  modules/shared/programs/cheat/cheatsheets/wt/command
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

fix(nrs): release_nrs_lock_on_failure에 PID 소유권 확인 추가
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): DA 3차 피드백 반영 — first-acquire 원자적 생성 + hook PID 체크
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): DA 2차 피드백 반영 — 원자적 lock 갱신, regex 강화, PID 체크
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

feat(nrs): worktree lock 시스템 구현 — 동시 rebuild 충돌 방지 (#210)
  modules/darwin/scripts/nrs.sh
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/shell/darwin.nix
  modules/shared/scripts/nrs-lock.sh
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

docs(cheat): nrs cheatsheet 추가 — rebuild/preview/lock 명령어 통합
  modules/shared/programs/cheat/cheatsheets/nrs/command
Due: none

fix(nrs): DA 4차 — nrs-status false match 수정 + CWD 판별 한계 CIR
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
Due: shellcheck

chore(nrs): 주석에서 DA 피드백 참조 제거
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

feat(claude): statusbar에 plan 파일 경로 표시 custom statusline 추가
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/settings.json
Due: nixfmt, shellcheck

feat(nrs): worktree lock 시스템 — 동시 rebuild 충돌 방지 (#213)
  modules/darwin/scripts/nrs.sh
  modules/shared/programs/cheat/cheatsheets/nrs/command
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/shell/darwin.nix
  modules/shared/scripts/nrs-lock.sh
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

fix(claude): statusline shebang 이식성 + 최신 plan 경로 추출
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(hammerspoon): 비-Ghostty 앱에서 key repeat 회귀 방지
  modules/darwin/programs/hammerspoon/files/init.lua
Due: none

fix(hammerspoon): 한글 입력소스 Claude Code 단축키 처리 개선 (#206)
  modules/darwin/programs/hammerspoon/files/init.lua
Due: none

fix(hammerspoon): 크로스앱 연타 시 restoreAppBundleID 갱신 누락 수정
  modules/darwin/programs/hammerspoon/files/init.lua
Due: none

refactor(claude): statusline UX 개선 — cwd 기반 탐색 + 미니멀 표시
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

feat(claude): statusbar에 plan 파일 경로 표시 (#215)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/settings.json
Due: nixfmt, shellcheck

fix(claude): statusline plan 표시 — 세션 무관 오표시 버그 수정
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

feat(shell): recall resume 시 RECALL_CLAUDE_CMD로 권한 우회 모드 활성화
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(claude): statusline plan 감지 — agent plan 필터링 추가
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude): statusline — agent_progress 이벤트 필터링 추가
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

feat(shell): recall resume 시 RECALL_CLAUDE_CMD로 권한 우회 모드 활성화 (#219)
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(claude): statusline — agent plan 필터를 파일명 범위로 한정
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

chore(claude): CLAUDE.md 슬림화 + 라우팅 중복 제거 (122→92줄)
  .claude/skills/running-containers/SKILL.md
  CLAUDE.md
Due: none

fix(claude): statusline — planFilePath 키도 plan 감지에 포함
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

chore(claude): CLAUDE.md 슬림화 + 라우팅 중복 제거 (122→92줄) (#221)
  .claude/skills/running-containers/SKILL.md
  CLAUDE.md
Due: none

fix(nrs): worktree mkOutOfStoreSymlink silent removal 방지 가드 (#217)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(claude): statusline plan 감지 — 세션 무관 오표시 버그 수정 (#222)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(hammerspoon): 한글 입력소스 Claude Code 단축키 처리 개선 (#214)
  modules/darwin/programs/hammerspoon/files/init.lua
Due: none

fix(hammerspoon): 한글 입력소스 Ctrl/Alt 단축키 → 영어 전환만 수행 (PR #214 롤백)
  modules/darwin/programs/hammerspoon/files/init.lua
Due: none

fix(hammerspoon): 한글 입력소스 Ctrl/Alt 단축키 → 영어 전환만 수행 (PR #214 롤백) (#224)
  modules/darwin/programs/hammerspoon/files/init.lua
Due: none

fix(nrs): worktree mkOutOfStoreSymlink silent removal 방지 가드 (#217) (#223)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

feat(claude-rc): MiniPC Remote Control 상시 서버 래퍼 (#208)
  modules/nixos/scripts/claude-rc.sh
  modules/shared/programs/shell/nixos.nix
Due: nixfmt, shellcheck
