Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

refactor(plan-with-questions): 외부 리뷰 발견 9건 자동 반영 (#729)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix(plan-with-questions): 영문 명사 + 한국어 조사 정서법 복구 + 후속 finding 반영 (#729)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/multi-pass-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/implementation-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/validation-paths.md
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix(plan-with-questions): consulting-step-shell.md anchor 갱신 + schema mirror 표현 완화 (#729)
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
Due: none

refactor(plan-with-questions): markdown bold 강조 일괄 제거 + em-dash 콜론 복구 (#729)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/multi-pass-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/implementation-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/validation-paths.md
Due: none

feat(claude/statusline): cwd·branch·session-id 라인 추가 + Cmd+클릭으로 VSCode/Finder 열기
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(plan-with-questions): markdown lazy continuation 회귀 수정 (#729)
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
Due: none

fix(plan-with-questions): MD038 lint 위반 해소 — explicit resume 예시 단순화 (#729)
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
Due: none

fix(claude/statusline): parallel-audit HIGH+MEDIUM 7건 반영
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(claude/statusline): BSD stat fallback에 /usr/bin/stat 절대경로 사용
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

feat(claude/statusline): cwd·branch·session-id 라인 추가 + Cmd+클릭 VSCode/Finder (#733)
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(claude/statusline): cwd URL을 file:// 로 통일 (vscode:// Ghostty dispatch 미동작)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude/statusline): vscode:// URL 복귀 + worktree display 단축
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

refactor(plan-with-questions): 한국어 오타 유발 토크나이저/SSOT/표기 부채 해소 (#729) (#730)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/multi-pass-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/implementation-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/validation-paths.md
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix(claude/statusline): cwd file:// 확정 + 옵션 A(public.folder duti) 한계 주석
  modules/darwin/programs/vscode/default.nix
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: nixfmt, shellcheck

fix(claude/statusline): cwd vscode:// 확정 + Cmd+Shift+클릭 UX 안내
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(vscode): window.openFoldersInNewWindow=default — statusline cwd 클릭 멀티태스킹 지원
  modules/darwin/programs/vscode/files/settings.json
Due: none

fix(claude/statusline): cwd URL에 ?windowId=_blank — VSCode 새 창 강제
  modules/darwin/programs/vscode/files/settings.json
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude/statusline): worktree display 단축 + cwd vscode:// (Cmd+Shift+클릭) (#736)
  modules/darwin/programs/vscode/default.nix
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: nixfmt, shellcheck

fix(claude/statusline): /set-icons cwd 격리 lineage 복원 + STATE_FILE 보존
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/record-last-session.sh
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: nixfmt, shellcheck

refactor(claude/statusline): hook invariant 공유 lib화 + lineage memo 검증
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/record-last-session.sh
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/lib/session-state.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: nixfmt, shellcheck

refactor(claude/statusline): lib SSOT 범위 확장 + cp 실패 invariant 정합
  modules/shared/programs/claude/files/hooks/record-last-session.sh
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/lib/session-state.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude/statusline): 진단 로그 sanitize + 문서 경로 정정
  modules/shared/programs/claude/files/lib/session-state.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(claude/statusline): C1 sanitize + 기존 sidecar 사용자 마이그레이션 seed
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/lib/session-state.sh
Due: shellcheck

refactor(claude/statusline): 진단 로그 UTF-8 보존 + bootstrap marker 의도 정합
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/lib/session-state.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(claude/statusline): startup 분기는 빈 상태로 시작 + marker reset
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(claude/statusline): 30일 자동 정리 제거 (아카이빙 우선)
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/lib/session-state.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(claude/statusline): startup이 marker를 건드리지 않도록 변경
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: shellcheck

fix(claude/statusline): /set-icons cwd 격리 lineage 복원 + STATE_FILE 보존 (#737)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/record-last-session.sh
  modules/shared/programs/claude/files/hooks/session-init-icons.sh
  modules/shared/programs/claude/files/lib/session-state.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
Due: nixfmt, shellcheck

fix(skills/check-skill-noise): CommonMark fence tokenizer + 검증 기준 정합 (#732)
  scripts/ai/check-skill-noise.sh
Due: shellcheck

refactor(plan-with-questions): anti-anchoring 1번/2번 규칙 + 부속 측정 인프라 전면 제거
  .claude/prds/prd-pwq-question-ux.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

refactor(plan-with-questions): 외부 검토 잔존 1차 정리 — 명칭/지침/supersede trail 정합
  .claude/prds/prd-pwq-question-ux.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

refactor(plan-with-questions): 외부 검토 잔존 2차 — PRD 식별자 매핑 + SSOT 단일 출처 정합
  .claude/prds/prd-pwq-question-ux.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
Due: none

refactor(plan-with-questions): consulting-step-shell.md 자문 실패 사용자 문구 SSOT 인용 정합
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
Due: none

refactor(plan-with-questions): anti-anchoring 1번/2번 규칙 + 부속 측정 인프라 전면 제거 (#742)
  .claude/prds/prd-pwq-question-ux.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

chore(skills): check-skill-noise.sh robustness 정정 + lefthook pre-commit 통합 (#740)
  lefthook.yml
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  scripts/ai/check-skill-noise.sh
Due: shellcheck

chore(skills): SSOT 정합 / 표기 일관성 정비 3건 (#741)
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/patterns.md
Due: none

fix(skills): check-skill-noise.sh — env override 제거 + tokenizer CommonMark 호환 (#740 외부 검토 반영)
  lefthook.yml
  scripts/ai/check-skill-noise.sh
Due: shellcheck

fix(skills): durable 주석 정리 + lefthook hook scope 명시 (#740 외부 검토 후속 반영)
  lefthook.yml
  scripts/ai/check-skill-noise.sh
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
