Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(scripts): harden helper loading and fixture coverage
  lefthook.yml
  modules/shared/scripts/README.md
  modules/shared/scripts/lib/wt/commands.sh
  modules/shared/scripts/rebuild-common.sh
  modules/shared/scripts/wt.sh
  tests/fixtures/shell-scripts/bin/codex-sync
  tests/shell-script-tests.sh
Due: shellcheck

test(scripts): harden shell fixture isolation
  modules/shared/scripts/README.md
  modules/shared/scripts/rebuild-common.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(audit): fail closed on helper lookup regressions
  README.md
  lefthook.yml
  modules/shared/scripts/README.md
  modules/shared/scripts/rebuild-common.sh
  modules/shared/scripts/wt.sh
  tests/shell-script-tests.sh
Due: shellcheck

test(fixtures): mark managed codex-sync selection
  tests/fixtures/shell-scripts/bin/codex-sync
Due: none

refactor(wt): split command orchestration by flow
  modules/shared/scripts/README.md
  modules/shared/scripts/lib/wt/bootstrap.sh
  modules/shared/scripts/lib/wt/cleanup.sh
  modules/shared/scripts/lib/wt/commands.sh
  modules/shared/scripts/lib/wt/create.sh
  modules/shared/scripts/lib/wt/navigate.sh
  modules/shared/scripts/rebuild-common.sh
  modules/shared/scripts/wt.sh
  tests/shell-script-tests.sh
Due: shellcheck

test(scripts): cover cleanup guards and darwin smoke
  tests/shell-script-tests.sh
Due: shellcheck

test(scripts): harden fixture contract checks
  modules/shared/scripts/README.md
  tests/shell-script-tests.sh
Due: shellcheck

test(scripts): tighten deployed and cleanup regressions
  tests/shell-script-tests.sh
Due: shellcheck

fix(wt): preserve caller state on create flows
  modules/shared/scripts/lib/wt/bootstrap.sh
  modules/shared/scripts/lib/wt/create.sh
Due: shellcheck

fix(scripts): address PR review feedback
  modules/shared/scripts/lib/rebuild/preview.sh
  modules/shared/scripts/lib/wt/tmux.sh
Due: shellcheck

fix(wt): include tmux flag in create usage
  modules/shared/scripts/lib/wt/create.sh
Due: shellcheck

fix(wt): canonicalize repo root in recreate guard
  modules/shared/scripts/lib/wt/ui.sh
  tests/shell-script-tests.sh
Due: shellcheck

refactor(scripts): split wt and rebuild-common by responsibility (#416)
  README.md
  lefthook.yml
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/README.md
  modules/shared/scripts/lib/rebuild/common.sh
  modules/shared/scripts/lib/rebuild/locks.sh
  modules/shared/scripts/lib/rebuild/preflight.sh
  modules/shared/scripts/lib/rebuild/preview.sh
  modules/shared/scripts/lib/rebuild/relink.sh
  modules/shared/scripts/lib/rebuild/worktree.sh
  modules/shared/scripts/lib/wt/bootstrap.sh
  modules/shared/scripts/lib/wt/cleanup.sh
  modules/shared/scripts/lib/wt/create.sh
  modules/shared/scripts/lib/wt/git-state.sh
  modules/shared/scripts/lib/wt/navigate.sh
  modules/shared/scripts/lib/wt/tmux.sh
  modules/shared/scripts/lib/wt/ui.sh
  modules/shared/scripts/rebuild-common.sh
  modules/shared/scripts/wt.sh
  tests/fixtures/shell-scripts/bin/codex-sync
  tests/fixtures/shell-scripts/bin/gh
  tests/fixtures/shell-scripts/bin/gum
  tests/run-shell-script-tests.sh
  tests/shell-script-tests.sh
Due: nixfmt, shellcheck

fix(skills): harden direct codex native-subagent fan-out
  AGENTS.override.md
  docs/superpowers/plans/2026-04-04-direct-codex-native-subagent-hardening.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

fix(skills): tighten direct codex hardening contract
  AGENTS.override.md
  docs/superpowers/plans/2026-04-04-direct-codex-native-subagent-hardening.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

fix(skills): align sync and violation reporting
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

refactor(scripts): reduce ambient-global coupling in helper loaders
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/README.md
  modules/shared/scripts/lib/rebuild/locks.sh
  modules/shared/scripts/lib/rebuild/relink.sh
  modules/shared/scripts/lib/wt/create.sh
  modules/shared/scripts/lib/wt/git-state.sh
  modules/shared/scripts/lib/wt/navigate.sh
  modules/shared/scripts/rebuild-common.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(skills): tighten override migration behavior
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

fix(skills): harden legacy override sync path
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

test(scripts): cover rebuild helper compatibility edges
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/README.md
  modules/shared/scripts/rebuild-common.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(skills): preserve legacy override semantics
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

fix(sync): keep generated override generic
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

test(scripts): isolate nrs lock fixture path
  modules/shared/scripts/lib/rebuild/locks.sh
  modules/shared/scripts/nrs-lock.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(sync): address review feedback
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

fix(scripts): address PR lock feedback
  modules/shared/scripts/lib/rebuild/locks.sh
Due: shellcheck

fix(skills): harden direct codex native-subagent fan-out (#421)
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

refactor(scripts): reduce ambient-global coupling in helper loaders (#422)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/README.md
  modules/shared/scripts/lib/rebuild/locks.sh
  modules/shared/scripts/lib/rebuild/relink.sh
  modules/shared/scripts/lib/wt/create.sh
  modules/shared/scripts/lib/wt/git-state.sh
  modules/shared/scripts/lib/wt/navigate.sh
  modules/shared/scripts/nrs-lock.sh
  modules/shared/scripts/rebuild-common.sh
  tests/shell-script-tests.sh
Due: shellcheck

feat(skills): plan-with-questions 이중 모드 재설계 (#420)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
Due: none

fix(skills): DA for_pr CONFIRMED 3건 반영
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): write-handoff 표현 수정 — 자동 → 사용자 제안
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): PR 피드백 반영 — 출력 선택적 표기 + 레퍼런스 일관성
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

feat(skills): plan-with-questions 이중 모드 재설계 (#420) (#423)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
Due: none

fix(claude): harden archive/recall session flow (#395)
  docs/superpowers/specs/2026-03-31-archive-claude-code-session-design.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/auto-archive.sh
  modules/shared/programs/claude/files/scripts/claude-archive.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/archive/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-same.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/project-settings.json
Due: nixfmt, shellcheck

fix(claude): address DA for_pr findings on archive script
  modules/shared/programs/claude/files/scripts/claude-archive.sh
Due: shellcheck

fix(claude): address CodeRabbit nitpick feedback (#426)
  docs/superpowers/specs/2026-03-31-archive-claude-code-session-design.md
  modules/shared/programs/claude/files/hooks/auto-archive.sh
  modules/shared/programs/claude/files/scripts/claude-archive.sh
Due: shellcheck

fix(skills): DA는 standard review profile, Arbiter만 strong review profile 사용 (#424)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-rules.md
Due: none

fix(claude): harden archive/recall session flow (#426)
  docs/superpowers/specs/2026-03-31-archive-claude-code-session-design.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/auto-archive.sh
  modules/shared/programs/claude/files/scripts/claude-archive.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/archive/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-same.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/project-settings.json
Due: nixfmt, shellcheck

settings(git): `gs` (git stash --include-untracked) alias 추가
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(recall): add session_id-based dedup for live/archive
  flake.lock
Due: none

fix(skills): DA for_pr Arbiter 피드백 반영 — 누락된 프로파일 참조 보강
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none
