Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(codex): raise macOS nofile limit for hooks
  modules/shared/programs/shell/darwin.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(codex): make nofile verifier self-healing
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix: harden pinning checks
  .github/workflows/pinning-check.yml
  flake.nix
  lefthook.yml
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  scripts/ai/lib/pinning-rules.json
  tests/test-pinning-rules.sh
Due: nixfmt, shellcheck

fix: tune pinning guard runtime
  .github/workflows/pinning-check.yml
  flake.nix
  scripts/ai/lib/tomlkit-bootstrap.sh
  scripts/ai/verify-ai-compat.sh
  tests/run-shell-script-tests.sh
  tests/test-codex-hook-fixtures.sh
  tests/test-pinning-rules.sh
Due: nixfmt, shellcheck

fix: tighten pinning pre-push checks
  lefthook.yml
  scripts/ai/lib/tomlkit-bootstrap.sh
  tests/test-pinning-rules.sh
Due: shellcheck

fix: share tomlkit pre-push runtime
  lefthook.yml
  tests/run-tomlkit-pre-push-tests.sh
  tests/shell-script-tests.sh
  tests/test-pinning-rules.sh
Due: shellcheck

fix: wrap tomlkit pre-push suites
  README.md
  flake.nix
  lefthook.yml
  tests/shell-script-tests.sh
Due: nixfmt, shellcheck

fix: harden codex subprocess runtime
  .claude/skills/configuring-codex/SKILL.md
  flake.nix
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  scripts/ai/lib/tomlkit-bootstrap.sh
  scripts/ai/verify-ai-compat.sh
  tests/run-shell-script-tests.sh
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

docs: avoid hash-like fanout examples
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
Due: none

fix: enforce codex live hook checks
  flake.nix
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

docs: apply plugin-free audit subprocesses
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

docs: isolate codex audit subprocesses
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

docs: isolate codex subprocess home
  .claude/skills/configuring-codex/SKILL.md
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
Due: none

docs: fix scratch codex auth source
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
Due: none

fix: batch pre-commit pinning scan
  scripts/ai/pre-commit-pinning.sh
  tests/test-pinning-rules.sh
Due: shellcheck

docs: quote codex config pins
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

fix: scan fork pull request bodies
  .github/workflows/pinning-check.yml
  tests/test-pinning-rules.sh
Due: shellcheck

fix: anchor closing issue refs
  lefthook.yml
  scripts/ai/lib/pinning-rules.json
  tests/test-pinning-rules.sh
Due: shellcheck

docs: align live hook fixture contract
  tests/fixtures/codex-hooks/README.md
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix: scan plus-prefixed staged lines
  scripts/ai/pre-commit-pinning.sh
  tests/test-pinning-rules.sh
Due: shellcheck

fix: preserve plus header-like staged lines
  scripts/ai/pre-commit-pinning.sh
  tests/test-pinning-rules.sh
Due: shellcheck

fix: treat missing fork head as untrusted
  .github/workflows/pinning-check.yml
  tests/test-pinning-rules.sh
Due: shellcheck

docs: add issue 600 closeout PRD
  .claude/prds/prd-issue-600-pinning-guardrails.md
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

docs: harden macos audit namespace hash
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

fix: avoid gnu readlink in verifier
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

docs: avoid bare handoff issue refs
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix: reserve allowlists for non-reference pinning
  .claude/prds/prd-issue-600-pinning-guardrails.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .github/workflows/pinning-check.yml
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/create-pr/references/pre-merge-guide.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
  scripts/ai/lib/pinning-rules.json
  scripts/ai/pre-commit-pinning.sh
  tests/test-pinning-rules.sh
Due: shellcheck

docs: align pinning reference guidance
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

docs: require full stable commit refs
  .claude/prds/prd-issue-600-pinning-guardrails.md
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  scripts/ai/lib/pinning-rules.json
Due: none

docs: clarify leading closing refs
  .github/workflows/pinning-check.yml
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  modules/shared/programs/claude/files/skills/prd/references/validation-paths.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none

fix: require leading closing refs
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  scripts/ai/lib/pinning-rules.json
  tests/test-pinning-rules.sh
Due: shellcheck

docs: align pinning guidance
  .github/workflows/pinning-check.yml
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  scripts/ai/commit-msg-pinning.sh
  scripts/ai/pre-commit-pinning.sh
Due: shellcheck

docs: avoid hardcoded line references
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-karakeep/references/troubleshooting.md
  .claude/skills/managing-mise/references/troubleshooting.md
  .claude/skills/syncing-atuin/references/troubleshooting.md
  docs/TRIAL_AND_ERROR.md
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/references/requirement-status.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/references/rejection-taxonomy.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

docs: scrub numbered process references
  .claude/prds/prd-pinning-guardrails-closeout.md
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

docs: remove lessons-learned metadata
  .claude/prds/prd-pinning-guardrails-closeout.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  .claude/skills/managing-minipc/references/troubleshooting.md
  .claude/skills/managing-ssh/references/troubleshooting.md
  .claude/skills/running-containers/references/troubleshooting.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  docs/TRIAL_AND_ERROR.md
Due: none

fix: isolate pinning test git fixtures
  tests/test-pinning-rules.sh
Due: shellcheck

fix: bootstrap pinning workflow rules
  .github/workflows/pinning-check.yml
  tests/test-pinning-rules.sh
Due: shellcheck

refactor(codex): Stop dispatcher cleanup before notification (#590)
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
  modules/shared/programs/codex/files/hooks/nrs-session-cleanup.sh
  tests/lib/codex-hook-expectations.sh
Due: nixfmt, shellcheck

refactor(codex-hooks): 후속 피드백 반영 — 주석 명료화 + fixture 인자 순서 정렬
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
  modules/shared/programs/codex/files/hooks/nrs-session-cleanup.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
