Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

refactor(skills): move prd/review-implementation references into plan-with-questions (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-02-references-move.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/multi-pass-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/validation-paths.md
Due: none

feat(skills): remove standalone prd/review-implementation skills (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-03-standalone-removal.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/prd/SKILL.md
  modules/shared/programs/claude/files/skills/prd/evals/queries.json
  modules/shared/programs/claude/files/skills/review-implementation/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/evals/queries.json
Due: nixfmt

feat(skills): absorb prd/review-impl triggers + clean up skill body (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-04-codex-sot-trigger.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(skills): route natural-language PRD/review triggers correctly (#611)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
Due: none

fix(skills): drop "Phase ≥4 가능성" issue-body marker (#611)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
Due: none

fix(skills): branch Step I-6 prompt template by trigger category (#611)
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
Due: none

fix(skills): cap Step I-6 options at 3 for Codex Plan mode (#611)
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
Due: none

refactor(skills): update run-da cross-skill links + Phase 5 closeout (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-05-validation-final-review.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
Due: none

fix(run-da): replace nonexistent placeholder with real skill in arbiter example (#611)
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
Due: none

fix(run-da): correct arbiter example evidence line + mark fiction (#611)
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
Due: none

fix(skills): apply auto-fix from devil's-advocate review (#611)
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/multi-pass-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/validation-paths.md
Due: none

docs(prd): record DL-18 — keep issue-first routing per user decision (#611)
  .claude/prds/prd-skill-router-consolidation.md
Due: none

fix(skills): restore 9-pass review-only owner + clean stale skill references (#611)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/implementation-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

docs(prd): record DL-19 — relocate 9-pass owner to implementation-review.md (#611)
  .claude/prds/prd-skill-router-consolidation.md
Due: none

refactor(skills): collapse 9-pass into PRD 10-pass overlay + final review fixes (#611)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/implementation-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

docs(prd): record DL-20 — collapse 9-pass to overlay (supersede DL-19) (#611)
  .claude/prds/prd-skill-router-consolidation.md
Due: none

fix(skills): refine overlay scope + cleanup stale references (#611)
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/multi-pass-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/implementation-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  scripts/ai/measure-anchoring-bias.sh
Due: shellcheck

docs(prd): align master + phase-05 wording to overlay model (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-05-validation-final-review.md
Due: none

docs(prd): clear Open Questions + align DL counter to overlay model (#611)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-05-validation-final-review.md
Due: none

fix(prd): apply CodeRabbit feedback — markdown lint + template path absolutism (#611)
  .claude/prds/prd-skill-router-consolidation/phase-03-standalone-removal.md
  .claude/prds/prd-skill-router-consolidation/phase-05-validation-final-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
Due: none

feat(skills): consolidate /prd and /review-implementation into plan-with-questions router (#615)
  .claude/prds/prd-skill-router-consolidation.md
  .claude/prds/prd-skill-router-consolidation/phase-01-design-lockin.md
  .claude/prds/prd-skill-router-consolidation/phase-02-references-move.md
  .claude/prds/prd-skill-router-consolidation/phase-03-standalone-removal.md
  .claude/prds/prd-skill-router-consolidation/phase-04-codex-sot-trigger.md
  .claude/prds/prd-skill-router-consolidation/phase-05-validation-final-review.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/file-mode-selection.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/multi-pass-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/phase-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/prd/prd-master-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/implementation-review.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/review-impl/requirement-status.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/task-size-routing.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/validation-paths.md
  modules/shared/programs/claude/files/skills/prd/SKILL.md
  modules/shared/programs/claude/files/skills/prd/evals/queries.json
  modules/shared/programs/claude/files/skills/review-implementation/SKILL.md
  modules/shared/programs/claude/files/skills/review-implementation/evals/queries.json
  modules/shared/programs/claude/files/skills/review-implementation/references/requirement-status.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-prompt.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
  modules/shared/programs/codex/default.nix
  scripts/ai/measure-anchoring-bias.sh
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

settings(codex): codex 설정 수정 - `goals` 활성화 - default mode에서도 `request_user_input` 기능 활성화 - `suppress_unstable_features_warning` 활성화
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
Due: none

docs(skills): default mode request_user_input 활성화에 맞춰 하네스 지침 수정 (#616)
  .claude/skills/configuring-codex/SKILL.md
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

docs(skills): verbose 가정 조항 제거, configuring-codex SSOT 참조로 일원화 (PR #617 review)
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

docs(skills): Codex 세션 표현 단순화 + redundant 문장 제거 (PR #617 review round 2)
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

docs(skills): run-da 표 셀의 "Plan/default 공용" 표현 제거 (PR #617 review round 3)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

docs(skills): "request_user_input 페이로드 한계" → "가이드"로 정정 (PR #617 fact-check)
  .claude/skills/configuring-codex/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

docs(skills): default mode request_user_input 활성화에 맞춰 하네스 지침 수정 (#617)
  .claude/skills/configuring-codex/SKILL.md
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/grill-me/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_issue.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

fix(skills): fail fast on missing MCP sources
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(skills): tighten plugin MCP tuple validation
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(skills): fail fast on missing MCP sources (#619)
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(tests): isolate wt fixtures from TMUX
  tests/shell-script-tests.sh
Due: shellcheck

docs(skills): clarify codex isolation and playwright cache-only tests
  modules/shared/programs/claude/files/skills/playwright-cli/references/playwright-tests.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

docs(skills): clarify codex isolation and playwright cache-only tests (#622)
  modules/shared/programs/claude/files/skills/playwright-cli/references/playwright-tests.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

feat(codex): separate pushover credentials
  .claude/skills/managing-secrets/SKILL.md
  modules/shared/programs/codex/files/hooks/stop-notification.sh
  modules/shared/programs/secrets/default.nix
  secrets/pushover-codex.age
  secrets/secrets.nix
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

feat(scripts): add SKILL.md tool-neutral lint
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  README.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  scripts/ai/fixtures/guardrail/live-root/non-excluded/SKILL.md
  scripts/ai/fixtures/guardrail/live-root/set-icons/SKILL.md
  scripts/ai/fixtures/guardrail/manifest.json
  scripts/ai/fixtures/guardrail/should-fail/agent-background.md
  scripts/ai/fixtures/guardrail/should-fail/ask-user-question.md
  scripts/ai/fixtures/guardrail/should-fail/backticked-agent-tool.md
  scripts/ai/fixtures/guardrail/should-fail/backticked-read-tool.md
  scripts/ai/fixtures/guardrail/should-fail/blockquote-downgrade.md
  scripts/ai/fixtures/guardrail/should-fail/generic-dual-table.md
  scripts/ai/fixtures/guardrail/should-fail/non-table-dual-prose.md
  scripts/ai/fixtures/guardrail/should-fail/standalone-grep.md
  scripts/ai/fixtures/guardrail/should-fail/warn-web-tool.md
  scripts/ai/fixtures/guardrail/should-pass/binding-table-backticked-tool.md
  scripts/ai/fixtures/guardrail/should-pass/fenced-code.md
  scripts/ai/fixtures/guardrail/should-pass/frontmatter-allowed-tools.md
  scripts/ai/fixtures/guardrail/should-pass/rest-reviews-path.md
  scripts/ai/fixtures/guardrail/should-pass/review-pr-command.md
  scripts/ai/fixtures/guardrail/should-pass/runtime-table.md
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

feat(codex): separate pushover credentials (#625)
  .claude/skills/managing-secrets/SKILL.md
  modules/shared/programs/codex/files/hooks/stop-notification.sh
  modules/shared/programs/secrets/default.nix
  secrets/pushover-codex.age
  secrets/secrets.nix
  tests/test-codex-hook-fixtures.sh
Due: nixfmt, shellcheck

docs(skills): address PR feedback
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
Due: none

feat(scripts): add SKILL.md tool-neutral lint (#623)
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  README.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  scripts/ai/fixtures/guardrail/live-root/non-excluded/SKILL.md
  scripts/ai/fixtures/guardrail/live-root/set-icons/SKILL.md
  scripts/ai/fixtures/guardrail/manifest.json
  scripts/ai/fixtures/guardrail/should-fail/agent-background.md
  scripts/ai/fixtures/guardrail/should-fail/ask-user-question.md
  scripts/ai/fixtures/guardrail/should-fail/backticked-agent-tool.md
  scripts/ai/fixtures/guardrail/should-fail/backticked-read-tool.md
  scripts/ai/fixtures/guardrail/should-fail/blockquote-downgrade.md
  scripts/ai/fixtures/guardrail/should-fail/generic-dual-table.md
  scripts/ai/fixtures/guardrail/should-fail/non-table-dual-prose.md
  scripts/ai/fixtures/guardrail/should-fail/standalone-grep.md
  scripts/ai/fixtures/guardrail/should-fail/warn-web-tool.md
  scripts/ai/fixtures/guardrail/should-pass/binding-table-backticked-tool.md
  scripts/ai/fixtures/guardrail/should-pass/fenced-code.md
  scripts/ai/fixtures/guardrail/should-pass/frontmatter-allowed-tools.md
  scripts/ai/fixtures/guardrail/should-pass/rest-reviews-path.md
  scripts/ai/fixtures/guardrail/should-pass/review-pr-command.md
  scripts/ai/fixtures/guardrail/should-pass/runtime-table.md
  scripts/ai/verify-ai-compat.sh
Due: shellcheck
