Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

feat(claude): hs.notify subtitle에 세션 이름 표시
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

refactor(claude): hs.notify 레이아웃 개선 — 세션이름 body 이동 + worktree repo 수정
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

docs(claude): hs.notify 레이아웃 CIR 인라인 주석 추가
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

fix(claude): hs.notify sanitization에 backtick/dollar 제거 추가
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

fix(claude): hs.notify 보안 강화 + 아이콘 배포 + timeout 래핑
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/assets/notification-icon.png
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: nixfmt, shellcheck

fix(claude): DA R1 피드백 반영 — 비일관성 해소 + early exit + 보안
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: nixfmt, shellcheck

fix(claude): DA R2 피드백 반영 — PUSHOVER_API_URL 변수 제거 + 아이콘 macOS 전용 배포
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/plan-notification.sh
Due: nixfmt, shellcheck

feat(claude): hs.notify 성공 시 Pushover skip — 중복 알림 해소
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

feat(claude): 서브에이전트/팀원 알림 필터링 — 메인 워커만 알림
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

refactor(claude): CLAUDE_CODE_ENTRYPOINT 가드 제거 — agent_id 가드만 유지
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

feat(claude): hs.notify 로컬 데스크탑 알림 추가 — Pushover 보완 (#272) (#273)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/assets/notification-icon.png
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: nixfmt, shellcheck

refactor: iOS Shortcuts, Cherri DSL, cheat-browse --prompts 인프라 제거
  .agents/skills/managing-shortcuts
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/automating-hammerspoon/evals/trigger-eval.json
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-shortcuts/SKILL.md
  .claude/skills/managing-shortcuts/evals/trigger-eval.json
  CLAUDE.md
  docs/PROMPT_MOBILE_SHORTCUT.md
  flake.lock
  flake.nix
  hosts/greenhead-minipc/default.nix
  libraries/constants.nix
  modules/darwin/home.nix
  modules/darwin/programs/shortcuts/default.nix
  modules/darwin/programs/shortcuts/sources/prompt-render.cherri
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/tmux/files/tmux.conf
  scripts/prompt-render.sh
  scripts/prompts/README.md
  scripts/prompts/modules/commit.md
  scripts/prompts/modules/da-feedback.md
  scripts/prompts/modules/planning.md
  scripts/prompts/modules/pr.md
  scripts/prompts/modules/principles.md
  scripts/prompts/modules/verification.md
  scripts/prompts/presets/bugfix.md
  scripts/prompts/presets/code-review.md
  scripts/prompts/presets/domain-unfamiliar.md
  scripts/prompts/presets/exploration.md
  scripts/prompts/presets/feature-dev-full.md
  scripts/prompts/presets/feature-dev-light.md
  scripts/prompts/presets/pr-feedback.md
  scripts/prompts/presets/refactoring.md
  scripts/prompts/presets/tech-learning.md
Due: nixfmt, shellcheck

refactor: iOS Shortcuts, Cherri DSL, cheat-browse --prompts 인프라 제거 (#274)
  .agents/skills/managing-shortcuts
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/automating-hammerspoon/evals/trigger-eval.json
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-shortcuts/SKILL.md
  .claude/skills/managing-shortcuts/evals/trigger-eval.json
  CLAUDE.md
  docs/PROMPT_MOBILE_SHORTCUT.md
  flake.lock
  flake.nix
  hosts/greenhead-minipc/default.nix
  libraries/constants.nix
  modules/darwin/home.nix
  modules/darwin/programs/shortcuts/default.nix
  modules/darwin/programs/shortcuts/sources/prompt-render.cherri
  modules/shared/programs/cheat/default.nix
  modules/shared/programs/cheat/files/scripts/cheat-browse.sh
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/tmux/files/tmux.conf
  scripts/prompt-render.sh
  scripts/prompts/README.md
  scripts/prompts/modules/commit.md
  scripts/prompts/modules/da-feedback.md
  scripts/prompts/modules/planning.md
  scripts/prompts/modules/pr.md
  scripts/prompts/modules/principles.md
  scripts/prompts/modules/verification.md
  scripts/prompts/presets/bugfix.md
  scripts/prompts/presets/code-review.md
  scripts/prompts/presets/domain-unfamiliar.md
  scripts/prompts/presets/exploration.md
  scripts/prompts/presets/feature-dev-full.md
  scripts/prompts/presets/feature-dev-light.md
  scripts/prompts/presets/pr-feedback.md
  scripts/prompts/presets/refactoring.md
  scripts/prompts/presets/tech-learning.md
Due: nixfmt, shellcheck

style(claude): fragile-hardcoding-guard hook JSON 출력 형식 주석 추가
  modules/shared/programs/claude/files/hooks/fragile-hardcoding-guard.sh
Due: shellcheck

fix(skills): 제거된 managing-shortcuts 스킬 참조 제거
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/managing-macos/SKILL.md
Due: none

fix(skills): PR 리뷰 피드백 반영 — description 영어화, 미사용 trigger 제거
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-mise/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/sharing-text/SKILL.md
  .claude/skills/viewing-immich-photo/SKILL.md
  docs/SKILL_WRITING_GUIDE.md
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/llm-migration-guide/SKILL.md
  modules/shared/programs/claude/files/skills/pr-detailed/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
Due: none

refactor(skills): Phase 3 구조 개선 — 중복 제거, hub-and-spoke 추출 (#257)
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/references/known-issues.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/shottr-credentials.md
  .claude/skills/managing-minipc/SKILL.md
Due: none

docs(skills): skill-creator 서브에이전트 실행 금지 안티패턴 추가
  docs/SKILL_WRITING_GUIDE.md
Due: none

chore: skill-creator eval이 생성한 trigger-eval.json 파일 정리
  .claude/skills/automating-hammerspoon/evals/trigger-eval.json
  .claude/skills/configuring-claude-code/evals/trigger-eval.json
  .claude/skills/configuring-codex/evals/trigger-eval.json
  .claude/skills/configuring-git/evals/trigger-eval.json
  .claude/skills/configuring-neovim/evals/trigger-eval.json
  .claude/skills/hosting-anki/evals/trigger-eval.json
  .claude/skills/hosting-copyparty/evals/trigger-eval.json
  .claude/skills/hosting-karakeep/evals/trigger-eval.json
  .claude/skills/hosting-vaultwarden/evals/trigger-eval.json
  .claude/skills/managing-macos/evals/trigger-eval.json
  .claude/skills/managing-minipc/evals/trigger-eval.json
  .claude/skills/managing-mise/evals/trigger-eval.json
  .claude/skills/managing-secrets/evals/trigger-eval.json
  .claude/skills/managing-ssh/evals/trigger-eval.json
  .claude/skills/managing-tmux/evals/trigger-eval.json
  .claude/skills/managing-vscode/evals/trigger-eval.json
  .claude/skills/running-containers/evals/trigger-eval.json
  .claude/skills/sharing-text/evals/trigger-eval.json
  .claude/skills/syncing-atuin/evals/trigger-eval.json
  .claude/skills/understanding-nix/evals/trigger-eval.json
  .claude/skills/viewing-immich-photo/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/create-issue/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/da-feedback/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/documenting-intent/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/llm-migration-guide/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/maintaining-skills/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/parallel-audit/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/pr-detailed/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/using-claude-p/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/using-codex-exec/evals/trigger-eval.json
Due: none

test(skills): E2E trigger eval 인프라 + 12개 스킬 description 개선 (#276)
  .claude/scripts/improve-description.sh
  .claude/scripts/trigger-eval.sh
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/evals/queries.json
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/evals/queries.json
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/evals/queries.json
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/evals/queries.json
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/evals/queries.json
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-karakeep/evals/queries.json
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/evals/queries.json
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-secrets/evals/queries.json
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/evals/queries.json
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/evals/queries.json
  CLAUDE.md
  modules/shared/programs/claude/files/skills/da-feedback/evals/queries.json
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
  modules/shared/programs/claude/files/skills/pr-detailed/evals/queries.json
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/queries.json
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/evals/queries.json
  modules/shared/programs/claude/files/skills/using-codex-exec/evals/queries.json
Due: shellcheck

fix(scripts): DA 피드백 반영 — 이중 초기화, shorten fallback, 경로 처리 통일
  .claude/scripts/improve-description.sh
  .claude/scripts/trigger-eval.sh
Due: shellcheck

fix(skills): CodeRabbit 피드백 반영 — triple-quote, 개행 트리거, 제네릭 키워드
  .claude/scripts/improve-description.sh
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-vscode/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
Due: shellcheck

refactor(skills): eval 인프라 + Override를 user-scope(global)로 이동
  CLAUDE.md
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/improve-description.sh
  modules/shared/programs/claude/files/scripts/trigger-eval.sh
Due: shellcheck

test(skills): E2E trigger eval 인프라 + description 개선 (#276) (#280)
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/evals/queries.json
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/evals/queries.json
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/evals/queries.json
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/evals/queries.json
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/evals/queries.json
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-karakeep/evals/queries.json
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/evals/queries.json
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-secrets/evals/queries.json
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/evals/queries.json
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/evals/queries.json
  CLAUDE.md
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/improve-description.sh
  modules/shared/programs/claude/files/scripts/trigger-eval.sh
  modules/shared/programs/claude/files/skills/da-feedback/evals/queries.json
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
  modules/shared/programs/claude/files/skills/pr-detailed/evals/queries.json
  modules/shared/programs/claude/files/skills/review-pr-feedback/evals/queries.json
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/evals/queries.json
  modules/shared/programs/claude/files/skills/using-codex-exec/evals/queries.json
Due: shellcheck

fix(hooks): eval 실행 시 skill-usage.log 오염 방지 (#283)
  modules/shared/programs/claude/files/hooks/log-skill.sh
  modules/shared/programs/claude/files/scripts/improve-description.sh
  modules/shared/programs/claude/files/scripts/trigger-eval.sh
Due: shellcheck

feat(statusline): rate_limits progress bar 추가 (v2.1.80)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(statusline): DA R1 피드백 반영 — 빈 줄 제거, 기본값 통일, why 주석 추가
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(statusline): 전수조사 피드백 — 헤더 주석 갱신, pct clamp 추가
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(statusline): 소수점 used_percentage 방어 — bash 산술 에러 방지
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

feat(statusline): rate_limits progress bar 추가 (v2.1.80) (#284)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

style: improve-description.sh에 SKILL_EVAL_MODE 주석 추가
  modules/shared/programs/claude/files/scripts/improve-description.sh
Due: shellcheck

fix(nix): eval 스크립트 Home Manager 배포 등록 누락 수정
  modules/shared/programs/claude/default.nix
Due: nixfmt

fix(hooks): eval 실행 시 skill-usage.log 오염 방지 (#285)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/log-skill.sh
  modules/shared/programs/claude/files/scripts/improve-description.sh
  modules/shared/programs/claude/files/scripts/trigger-eval.sh
Due: nixfmt, shellcheck

refactor(skills): configuring-claude-code YAGNI 삭제 + 보존 가치 지식 CIR 인라인 (#282)
  .agents/skills/configuring-claude-code
  .claude/scripts/wrap-git-with-nix-develop.sh
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/evals/queries.json
  .claude/skills/configuring-claude-code/references/hooks.md
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/evals/queries.json
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/managing-vscode/SKILL.md
  README.md
  docs/SKILL_WRITING_GUIDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
Due: nixfmt, shellcheck

fix: DA Round 1 피드백 반영
  docs/SKILL_WRITING_GUIDE.md
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

fix: 하드코딩된 스킬 수 제거 — fragile 수치 안티패턴
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  docs/SKILL_WRITING_GUIDE.md
Due: none

refactor(skills): configuring-claude-code YAGNI 삭제 + CIR 인라인 보존 (#287)
  .agents/skills/configuring-claude-code
  .claude/scripts/wrap-git-with-nix-develop.sh
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/evals/queries.json
  .claude/skills/configuring-claude-code/references/hooks.md
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/evals/queries.json
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/managing-vscode/SKILL.md
  README.md
  docs/SKILL_WRITING_GUIDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/claude/files/skills/managing-status-icons/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
Due: nixfmt, shellcheck
