Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

feat(awesome-anki): auto-update에 Pushover 알림 + health check 추가
  modules/nixos/programs/docker/awesome-anki.nix
  secrets/secrets.nix
Due: nixfmt

chore(secrets): awesome-anki Pushover credentials 시크릿 추가
  secrets/pushover-awesome-anki.age
Due: none

style: ConditionPathExists를 기존 패턴과 동일하게 문자열로 통일
  modules/nixos/programs/docker/awesome-anki.nix
Due: nixfmt

feat(awesome-anki): auto-update Pushover 알림 + health check (#165)
  modules/nixos/programs/docker/awesome-anki.nix
  secrets/pushover-awesome-anki.age
  secrets/secrets.nix
Due: nixfmt

feat(shell): nfu 명령어 — 원자적 flake input 업데이트 워크플로우
  .claude/skills/understanding-nix/SKILL.md
  CLAUDE.md
  README.md
  docs/TRIAL_AND_ERROR.md
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/nfu.sh
  scripts/fix-fod-hashes.sh
  scripts/update-input.sh
Due: nixfmt, shellcheck

fix(nfu): DA 피드백 반영 — flake.lock 파싱 검증 + 크로스플랫폼 경고
  modules/shared/scripts/nfu.sh
Due: shellcheck

fix(nfu): --cores 숫자 검증 추가 (CodeRabbit 피드백)
  modules/shared/scripts/nfu.sh
Due: shellcheck

chore(git): .claude/worktrees global gitignore 추가
  modules/shared/programs/git/default.nix
Due: nixfmt

revert(fzf): Tab/Shift+Tab 커스텀 키바인딩을 fzf 기본값으로 롤백
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-tag.sh
Due: nixfmt, shellcheck

fix(nfu): --cores 0 거부 + README 트리 정렬 (CodeRabbit 피드백)
  README.md
  modules/shared/scripts/nfu.sh
Due: shellcheck

feat(shell): nfu 명령어 — 원자적 flake input 업데이트 (#172)
  .claude/skills/understanding-nix/SKILL.md
  CLAUDE.md
  README.md
  docs/TRIAL_AND_ERROR.md
  modules/shared/programs/git/default.nix
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/nfu.sh
  scripts/fix-fod-hashes.sh
  scripts/update-input.sh
Due: nixfmt, shellcheck

revert(fzf): Tab/Shift+Tab 커스텀 키바인딩을 fzf 기본값으로 롤백 (#173)
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/pane-tag.sh
Due: nixfmt, shellcheck

fix(nfu): 빌드 검증 중 진행 상황이 표시되지 않는 문제 수정
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(nfu): 빌드 검증 중 진행 상황이 표시되지 않는 문제 수정 (#174)
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(nfu): Ctrl+C 오탐 수정 + 소스 빌드 사전 확인 + nixos-unstable 전환
  flake.nix
  modules/shared/scripts/nfu.sh
  scripts/fix-fod-hashes.sh
Due: nixfmt, shellcheck

chore: flake.lock을 nixos-unstable 채널로 업데이트
  flake.lock
Due: none

fix(fix-fod-hashes): DA 피드백 반영 — 취소 시 롤백 안내 + 줄 번호 참조 제거
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(nfu): Ctrl+C 오탐 수정 + 소스 빌드 사전 확인 + nixos-unstable 전환 (#175)
  flake.lock
  flake.nix
  modules/shared/scripts/nfu.sh
  scripts/fix-fod-hashes.sh
Due: nixfmt, shellcheck

fix(claude-wrapper): slow path에서 Killed: 9 에러 수정
  modules/shared/programs/claude/files/scripts/claude-wrapper.sh
Due: shellcheck

refactor(claude-wrapper): Devil's Advocate 피드백 반영
  modules/shared/programs/claude/files/scripts/claude-wrapper.sh
Due: shellcheck

fix(backup): karakeep-backup/immich-backup runtimeInputs에 curl 추가
  modules/nixos/programs/docker/immich-backup.nix
  modules/nixos/programs/docker/karakeep-backup.nix
Due: nixfmt

fix(backup): karakeep-backup/immich-backup runtimeInputs에 curl 추가 (#178)
  modules/nixos/programs/docker/immich-backup.nix
  modules/nixos/programs/docker/karakeep-backup.nix
Due: nixfmt

feat(fzf): fd 통일 + bat/eza 미리보기 추가 (#167)
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(fzf): 치트시트 미리보기 섹션 들여쓰기를 기존 패턴에 맞춤
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
Due: none

fix(fzf): Ctrl+T 미리보기에서 디렉토리 감지 시 eza fallback 추가
  modules/shared/programs/shell/default.nix
Due: nixfmt

docs(fzf): Ctrl+T/Ctrl+G 동작 차이 명확화
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
Due: none

feat(fzf): fd 통일 + bat/eza 미리보기 추가 (#179)
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

refactor(shell): 커스텀 wt/wt-cleanup을 내장 claude --worktree로 대체 (#177)
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/evals/trigger-eval.json
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/evals/trigger-eval.json
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/configuring-git/references/troubleshooting.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  docs/TROUBLESHOOTING.md
  lefthook.yml
  modules/darwin/programs/cursor/files/settings.json
  modules/shared/programs/cheat/cheatsheets/tmux/keybinding
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/claude-wrapper.sh
  modules/shared/programs/codex/default.nix
  modules/shared/programs/git/default.nix
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/git-worktree-functions.sh
  tests/run-wt-regression.sh
Due: nixfmt, shellcheck

fix(docs): DA 리뷰 피드백 반영 — stale 참조 정리
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/evals/trigger-eval.json
  .claude/skills/configuring-codex/SKILL.md
Due: none

refactor(shell): 커스텀 wt/wt-cleanup을 내장 claude --worktree로 대체 (#180)
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/evals/trigger-eval.json
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/evals/trigger-eval.json
  .claude/skills/configuring-codex/references/runbook-codex-compat.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/evals/trigger-eval.json
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/configuring-git/references/troubleshooting.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  docs/TROUBLESHOOTING.md
  lefthook.yml
  modules/darwin/programs/cursor/files/settings.json
  modules/shared/programs/cheat/cheatsheets/tmux/keybinding
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/claude-wrapper.sh
  modules/shared/programs/codex/default.nix
  modules/shared/programs/git/default.nix
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/git-worktree-functions.sh
  tests/run-wt-regression.sh
Due: nixfmt, shellcheck

docs(vscode): DA 피드백 반영 + CIR 인라인 주석 추가
  .claude/skills/configuring-claude-code/evals/trigger-eval.json
  .claude/skills/configuring-claude-code/references/hooks.md
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  flake.nix
  libraries/nixpkgs/default.nix
  modules/darwin/programs/vscode/default.nix
Due: nixfmt

feat(vscode): Cursor → VSCode 마이그레이션 (#171)
  .agents/skills/managing-cursor
  .agents/skills/managing-vscode
  .claude/skills/configuring-neovim/evals/trigger-eval.json
  .claude/skills/managing-cursor/SKILL.md
  .claude/skills/managing-cursor/evals/trigger-eval.json
  .claude/skills/managing-cursor/references/troubleshooting.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/evals/trigger-eval.json
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/evals/trigger-eval.json
  .claude/skills/managing-vscode/references/extensions.md
  .claude/skills/managing-vscode/references/settings.md
  .claude/skills/managing-vscode/references/troubleshooting.md
  .envrc
  CLAUDE.md
  README.md
  modules/darwin/home.nix
  modules/darwin/programs/cursor/default.nix
  modules/darwin/programs/cursor/files/snippets/javascript.json
  modules/darwin/programs/cursor/files/snippets/javascriptreact.json
  modules/darwin/programs/cursor/files/snippets/typescript.json
  modules/darwin/programs/cursor/files/snippets/typescriptreact.json
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/keybindings.json
  modules/darwin/programs/vscode/files/settings.json
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

fix(skills): DA 최종 피드백 반영 — stale Cursor 참조 + wt 에디터 문서 수정
  .claude/skills/managing-minipc/evals/trigger-eval.json
  .claude/skills/managing-mise/evals/trigger-eval.json
  .claude/skills/managing-vscode/evals/trigger-eval.json
Due: none

feat(vscode): Cursor → VSCode 마이그레이션 (#181)
  .agents/skills/managing-cursor
  .agents/skills/managing-vscode
  .claude/skills/configuring-claude-code/evals/trigger-eval.json
  .claude/skills/configuring-claude-code/references/hooks.md
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/configuring-neovim/evals/trigger-eval.json
  .claude/skills/managing-cursor/SKILL.md
  .claude/skills/managing-cursor/evals/trigger-eval.json
  .claude/skills/managing-cursor/references/troubleshooting.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/evals/trigger-eval.json
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-minipc/evals/trigger-eval.json
  .claude/skills/managing-mise/evals/trigger-eval.json
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/evals/trigger-eval.json
  .claude/skills/managing-vscode/references/extensions.md
  .claude/skills/managing-vscode/references/settings.md
  .claude/skills/managing-vscode/references/troubleshooting.md
  .envrc
  CLAUDE.md
  README.md
  flake.nix
  libraries/nixpkgs/default.nix
  modules/darwin/home.nix
  modules/darwin/programs/cursor/default.nix
  modules/darwin/programs/cursor/files/snippets/javascript.json
  modules/darwin/programs/cursor/files/snippets/javascriptreact.json
  modules/darwin/programs/cursor/files/snippets/typescript.json
  modules/darwin/programs/cursor/files/snippets/typescriptreact.json
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/keybindings.json
  modules/darwin/programs/vscode/files/settings.json
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

fix(anki): 불필요한 doInstallCheck overlay 제거로 Hydra 캐시 복원
  libraries/nixpkgs/default.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

docs(anki): overlay 제거 의사결정 CIR 기록
  libraries/nixpkgs/default.nix
Due: nixfmt

fix(anki): 불필요한 doInstallCheck overlay 제거로 Hydra 캐시 복원 (#183)
  libraries/nixpkgs/default.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

fix(vscode): deprecated nixfmt-rfc-style → nixfmt으로 교체
  .claude/skills/managing-vscode/references/settings.md
  modules/darwin/programs/vscode/default.nix
Due: nixfmt

chore(vscode): `settings.json` trailing comma 추가
  modules/darwin/programs/vscode/files/settings.json
Due: none

feat(ghostty): Ghostty 1.3.0 신규 기능 통합 및 불필요한 alias 제거
  modules/darwin/programs/ghostty/default.nix
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
