Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

fix(skills): block nested codex self-verification in Correctness reviewer (#638)
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
Due: none

fix(codex): match exact legacy hook commands
  .claude/prds/prd-codex-user-legacy-hooks.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-03-verifier-tests.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-04-validation-handoff.md
  modules/shared/scripts/lib/rebuild/codex-legacy-hooks.sh
  tests/shell-script-tests.sh
Due: shellcheck

fix(skills): apply self-verification guard to DA reviewers (#638)
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
Due: none

docs(prd): close codex legacy hook cleanup
  .claude/prds/prd-codex-user-legacy-hooks.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-04-validation-handoff.md
Due: none

fix(codex): address legacy hook review feedback
  .claude/prds/prd-codex-user-legacy-hooks.md
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/lib/rebuild/codex-legacy-hooks.sh
  modules/shared/scripts/lib/rebuild/common.sh
  scripts/ai/verify-ai-compat.sh
  tests/shell-script-tests.sh
Due: shellcheck

hardening(skills): prevent mktemp suffix hallucination
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_plan.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_pr.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: none

hardening(skills): prevent mktemp suffix hallucination (#644)
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_plan.md
  modules/shared/programs/claude/files/skills/run-da/modes/for_pr.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: none

fix(skills): guard DA reviewers from nested codex exec (#643)
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
Due: none

fix(codex): prune stale user hook artifacts (#642)
  .claude/prds/prd-codex-user-legacy-hooks.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-01-scope-lock.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-02-cleanup-implementation.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-03-verifier-tests.md
  .claude/prds/prd-codex-user-legacy-hooks/phase-04-validation-handoff.md
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/lib/rebuild/codex-legacy-hooks.sh
  modules/shared/scripts/lib/rebuild/common.sh
  scripts/ai/verify-ai-compat.sh
  tests/shell-script-tests.sh
Due: shellcheck

revert(editor): Zed → VSCode IDE 마이그레이션 일괄 롤백 (#630)
  .agents/skills/managing-vscode
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/evals/queries.json
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/evals/queries.json
  .claude/skills/managing-vscode/references/extensions.md
  .claude/skills/managing-vscode/references/settings.md
  .claude/skills/managing-vscode/references/troubleshooting.md
  README.md
  docs/TRIAL_AND_ERROR.md
  flake.lock
  flake.nix
  libraries/nixpkgs/default.nix
  modules/darwin/home.nix
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/keybindings.json
  modules/darwin/programs/vscode/files/settings.json
  modules/darwin/programs/zed/default.nix
  modules/darwin/programs/zed/files/keymap.json
  modules/darwin/programs/zed/files/settings.json
  modules/shared/programs/claude/default.nix
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: nixfmt

refactor(skills): clarify parallel-audit args parsing (#635)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fix(skills): align parallel-audit argument hint (#635)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fix(skills): use cwd-relative agenix edit commands
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/references/troubleshooting.md
  .claude/skills/managing-minipc/references/host-prerequisites.md
  .claude/skills/managing-secrets/references/workflows.md
Due: none

fix(codex): align live hook env fixture contract
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  tests/fixtures/codex-hooks/README.md
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

docs(skills): address parallel-audit review feedback (#635)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
Due: none

fix(skills): keep agenix residual caveat
  .claude/skills/managing-minipc/references/host-prerequisites.md
Due: none

fix(skills): use cwd-relative agenix rekey commands
  .claude/skills/managing-secrets/references/troubleshooting.md
  .claude/skills/managing-secrets/references/workflows.md
Due: none

fix(codex): align live hook env fixture contract (#647)
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  tests/fixtures/codex-hooks/README.md
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(skills): clean copyparty agenix references
  .claude/skills/hosting-copyparty/references/setup.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  .claude/skills/managing-minipc/references/host-prerequisites.md
Due: none

docs: close pinning guard PRD
  .claude/prds/prd-pinning-pretooluse-guard.md
  .claude/prds/prd-pinning-pretooluse-guard/phase-05-validation-docs-closeout.md
Due: none

docs(skills): harden plan approval contract
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

docs(skills): stabilize post-implementation approval scope
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

fix(skills): use cwd-relative agenix commands (#649)
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/references/setup.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/references/troubleshooting.md
  .claude/skills/managing-minipc/references/host-prerequisites.md
  .claude/skills/managing-secrets/references/troubleshooting.md
  .claude/skills/managing-secrets/references/workflows.md
Due: none

docs(skills): bind prd approval runtime tools
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

fix(skills): clean remaining agenix docs
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-secrets/references/troubleshooting.md
  .claude/skills/running-containers/SKILL.md
Due: none

fix(hooks): address pinning guard feedback
  .claude/prds/prd-pinning-pretooluse-guard.md
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-multimatch.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-multimatch.json
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

docs(skills): define prd approval packet
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
Due: none

docs(skills): simplify prd approval record
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
Due: none

docs(skills): clarify prd approval provenance
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
Due: none

fix(skills): clean remaining agenix docs (#652)
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-secrets/references/troubleshooting.md
  .claude/skills/running-containers/SKILL.md
Due: none

docs(skills): keep prd approval output durable
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
Due: none

docs(skills): consolidate post-implementation step ids
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
Due: none

docs(skills): preserve post-implementation order
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
Due: none

docs(skills): avoid all-phase prd approval packet
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/output-templates.md
Due: none

fix(skills): lock down native fan-out authorization
  AGENTS.override.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/run-da/references/hardening-contract.md
  modules/shared/programs/claude/files/skills/run-da/references/runtime-mapping.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

fix(hooks): allow GitHub attachment URLs in pinning scanner
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-mixed-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-pass.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-github-attachment-pass.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-mixed-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-mixed-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-pass.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-github-attachment-pass.json
Due: shellcheck

fix(skills): tighten fan-out verifier anchors
  modules/shared/programs/claude/files/skills/plan-with-questions/references/fanout-fanin.md
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
