Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(pinning): compare path-aware finding records
  modules/shared/programs/claude/files/hooks/pinning-guard.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-prds-pattern-b-token-change-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-prds-pattern-b-token-change-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-b-to-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-b-to-c-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-write-plans-pattern-c-to-b-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-write-plans-pattern-c-to-b-deny.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): preserve outside-path count gate
  modules/shared/programs/claude/files/hooks/pinning-guard.sh
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-edit-outside-equal-count-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-edit-outside-equal-count-clean.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): clarify path-aware fixture setup
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-b-to-c-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-write-plans-pattern-c-to-b-deny.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): cover audit edge cases
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-prds-traversal-pattern-a-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-prds-traversal-pattern-a-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-mixed-prds-outside-pattern-a-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-mixed-prds-outside-pattern-a-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-plans-pattern-c-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-plans-pattern-c-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-prds-pattern-b-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-prds-pattern-b-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-prds-pattern-d-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-prds-pattern-d-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-update-prds-pattern-a-clean.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-update-prds-pattern-a-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-prds-pattern-a-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-prds-pattern-a-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-notebook-plans-pattern-a-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-notebook-plans-pattern-a-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-traversal-pattern-a-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-traversal-pattern-a-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-mixed-prds-outside-pattern-a-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-mixed-prds-outside-pattern-a-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-b-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-b-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-d-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-d-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-update-prds-pattern-a-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-update-prds-pattern-a-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-edit-plans-pattern-a-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-edit-plans-pattern-a-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-notebook-prds-pattern-a-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-notebook-prds-pattern-a-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-write-prds-pattern-a-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-write-prds-pattern-a-clean.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): align fixture docs with coverage
  tests/fixtures/codex-hooks/README.md
Due: none

fix(pinning): harden apply patch attribution
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/codex/files/hooks/pinning-alert.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-prds-tab-traversal-pattern-a-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-prds-tab-traversal-pattern-a-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-multimatch.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-tab-traversal-pattern-a-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-tab-traversal-pattern-a-deny.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): trim helper surface
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): fail closed for prd symlinks
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): sandbox alert fixtures
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/README.md
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): sandbox alert path prefixes
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): macOS /private/tmp 정규화로 인한 DA scratch whitelist 누락 보완
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
Due: shellcheck

fix(pinning): sandbox da path fixtures
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(nrs): home-manager.backupCommand로 mkOutOfStoreSymlink atomic-rename collision 자가 치유 (#687)
  CLAUDE.md
  modules/darwin/home.nix
Due: nixfmt

fix(nrs): 코드 리뷰 피드백 반영 — backupCommand 정책 명시화 + 로깅/주석 정확화 (#687)
  CLAUDE.md
  modules/darwin/home.nix
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
Due: nixfmt, shellcheck

fix(nrs): backup 확장자 상수를 let-binding으로 통합 (#687)
  modules/darwin/home.nix
Due: nixfmt

fix(pinning): preserve path exemptions without realpath
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/commit-msg/line-token-b-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-edit-positive-4patterns.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-prds-pattern-b-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-multifile.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-prds-pattern-b-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-bash-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-prds-pattern-b-token-change-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-notebook-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-da-traversal-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-plans-pattern-b-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-b-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-multifile.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-multimatch.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-b-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-bash-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-write-plans-pattern-c-to-b-deny.expected
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

revert(pinning): drop optional nit changes
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/commit-msg/line-token-b-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-edit-positive-4patterns.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-prds-pattern-b-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-multifile.expected
  tests/fixtures/codex-hooks/stdin/pinning-codex-applypatch-prds-pattern-b-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-bash-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-edit-prds-pattern-b-token-change-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-notebook-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-da-traversal-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-plans-pattern-b-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-b-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-multifile.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-multimatch.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-b-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-bash-positive.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-write-plans-pattern-c-to-b-deny.expected
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(pinning): tighten PRD plan path scope
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-nested-prds-pattern-a-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-nested-prds-pattern-a-positive.json
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-prds-txt-pattern-b-positive.expected
  tests/fixtures/codex-hooks/stdin/pinning-claude-write-prds-txt-pattern-b-positive.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-nested-prds-pattern-a-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-nested-prds-pattern-a-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-txt-pattern-b-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-txt-pattern-b-deny.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(nrs): home-manager.backupCommand로 mkOutOfStoreSymlink atomic-rename collision 자가 치유 (#687)
  CLAUDE.md
  modules/darwin/home.nix
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
Due: nixfmt, shellcheck

fix(skills): allow approved run-da preflight skip
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
Due: none

fix(skills): clarify run-da preflight state
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
Due: none

fix(skills): tighten preflight handoff contract
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
Due: none

fix(skills): address preflight audit findings
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
Due: none

fix(skills): require fresh rejected skip handoff
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
Due: none

fix(skills): allow approved run-da preflight skip (#694)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_action.md
  modules/shared/programs/claude/files/skills/plan-with-questions/modes/for_prd.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/da-integration.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/plan-file-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/post-implementation.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/resume-state.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/run-da-preflight-gate.md
  modules/shared/programs/claude/files/skills/plan-with-questions/references/runtime-boundaries.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/intensity-procedure.md
  modules/shared/programs/claude/files/skills/run-da/references/main-agent-obligations.md
Due: none

feat(vscode): add Islands Dark theme
  .claude/skills/managing-vscode/references/extensions.md
  flake.lock
  flake.nix
  modules/darwin/configuration.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/settings.json
  modules/darwin/programs/vscode/islands-dark.nix
Due: nixfmt

fix(vscode): harden Islands Dark integration
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/references/extensions.md
  modules/darwin/configuration.nix
  modules/darwin/programs/vscode/islands-dark.nix
Due: nixfmt

fix(vscode): guard Islands Dark source updates
  .claude/skills/managing-vscode/references/extensions.md
  modules/darwin/programs/vscode/islands-dark.nix
Due: nixfmt

fix(vscode): preserve signed VSCode bundle
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/references/extensions.md
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/islands-dark.nix
Due: nixfmt

feat(vscode): add Islands Dark theme
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/references/extensions.md
  flake.lock
  flake.nix
  modules/darwin/configuration.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/settings.json
  modules/darwin/programs/vscode/islands-dark.nix
Due: nixfmt

revert(vscode): remove Islands Dark theme
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/references/extensions.md
  flake.lock
  flake.nix
  modules/darwin/configuration.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/settings.json
  modules/darwin/programs/vscode/islands-dark.nix
Due: nixfmt

fix(vscode): configure Biome for JSONC settings
  biome.jsonc
Due: none

chore(vscode): remove unused Biome config
  biome.jsonc
Due: none

revert(vscode): remove Islands Dark theme (#697)
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/managing-vscode/references/extensions.md
  flake.lock
  flake.nix
  modules/darwin/configuration.nix
  modules/darwin/programs/vscode/default.nix
  modules/darwin/programs/vscode/files/settings.json
  modules/darwin/programs/vscode/islands-dark.nix
Due: nixfmt

docs(cheat): nvim 윈도우 분할/이동 키 정리, Explorer 토글 설명 명확화
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
  modules/shared/programs/cheat/cheatsheets/nvim/search
Due: none

docs(cheat): :vsp/:sp 파일 지정 시 버퍼 동기화 없음 명시
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
Due: none

docs(cheat): nvim 윈도우 분할/이동 키 정리, Explorer 토글 설명 명확화 (#698)
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
  modules/shared/programs/cheat/cheatsheets/nvim/search
Due: none

refactor(skills): `plan-with-questions` description 1,024자 미만으로 단축
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

chore(claude): remove codex-plugin-cc plugin and marketplace
  modules/shared/programs/claude/files/settings.json
Due: none
