Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(skills): 코드리뷰 피드백 14건 반영
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/evals/trigger-eval.json
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/references/troubleshooting.md
  .claude/skills/hosting-karakeep/references/update-guide.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-minipc/evals/trigger-eval.json
  .claude/skills/managing-mise/SKILL.md
  .claude/skills/managing-mise/evals/trigger-eval.json
  .claude/skills/managing-tmux/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/evals/trigger-eval.json
Due: none

fix(skills): running-containers에서 서비스별 update/backup 트리거 제거
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/evals/trigger-eval.json
Due: none

fix(shell): push() 함수 에러 처리 개선 — credential 검증, curl --fail-with-body, 성공/실패 분기
  .claude/skills/sharing-text/references/push-implementation.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(claude): user scope로 앤트로픽 공식 slack 플러그인 추가
  modules/shared/programs/claude/files/settings.json
Due: none

fix(shell): CodeRabbitAI 피드백 반영 — credential local 스코프, 문서 동기화
  .claude/skills/sharing-text/references/push-implementation.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(shell): push() 함수 에러 처리 개선 (#152)
  .claude/skills/sharing-text/references/push-implementation.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(tmux): Jira 이슈 관리 단위를 pane에서 window로 전환 + wt 통합 자동화
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  modules/shared/programs/cheat/cheatsheets/tmux/keybinding
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/git-worktree-functions.sh
Due: nixfmt, shellcheck

docs(tmux): 처음 시작 섹션에서 숫자 카운트 제거
  .claude/skills/managing-tmux/references/shortcuts.md
  modules/shared/programs/cheat/cheatsheets/tmux/keybinding
Due: none

docs(tmux): wt-cleanup 현재 윈도우 예외 명시 + 창 이름 변경 설명 완화
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  modules/shared/programs/cheat/cheatsheets/tmux/keybinding
Due: none

docs(tmux): 워크트리-윈도우 연동 섹션을 목차에 추가
  .claude/skills/managing-tmux/references/shortcuts.md
Due: none

feat(tmux): Jira 이슈 관리 단위를 pane에서 window로 전환 + wt 통합 자동화 (#153)
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/shortcuts.md
  modules/shared/programs/cheat/cheatsheets/tmux/keybinding
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/git-worktree-functions.sh
Due: nixfmt, shellcheck

feat(fzf): cheatsheet 추가 + Alt+C→Ctrl+G 한글 IME 호환 리바인드
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(cheat): fzf cheatsheet에서 부정확한 다중선택 설명 제거
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
Due: none

feat(fzf): cheatsheet 추가 + Alt+C→Ctrl+G 한글 IME 호환 리바인드 (#154)
  modules/shared/programs/cheat/cheatsheets/fzf/keybinding
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(lefthook): worktree에서 pre-commit이 staging area 초기화하는 버그 수정 (#125)
  .claude/scripts/detect-empty-commit.sh
  flake.nix
  lefthook.yml
  tests/run-wt-regression.sh
Due: nixfmt, shellcheck

fix(lefthook): Devil's Advocate 리뷰 반영
  .claude/scripts/detect-empty-commit.sh
  lefthook.yml
  tests/run-wt-regression.sh
Due: shellcheck

fix(lefthook): 빈 커밋 감지 훅에서 amend/merge commit 제외
  .claude/scripts/detect-empty-commit.sh
Due: shellcheck

refactor(lefthook): detect-empty-commit.sh 효율 개선
  .claude/scripts/detect-empty-commit.sh
Due: shellcheck

feat(skills): CIR/ADR 의사결정 이력 기록·조회 스킬 추가 (#122)
  CLAUDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/documenting-intent/SKILL.md
  modules/shared/programs/claude/files/skills/documenting-intent/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/documenting-intent/references/philosophy.md
  modules/shared/programs/claude/files/skills/documenting-intent/references/templates.md
Due: nixfmt

fix(lefthook): worktree에서 pre-commit이 staging area 초기화하여 빈 커밋 생성 (#125) (#155)
  .claude/scripts/detect-empty-commit.sh
  flake.nix
  tests/run-wt-regression.sh
Due: nixfmt, shellcheck

fix(skills): documenting-intent 라우팅 키워드를 project-scope와 통일
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

feat(skills): CIR/ADR 의사결정 이력 기록·조회 스킬 추가 (#156)
  CLAUDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/documenting-intent/SKILL.md
  modules/shared/programs/claude/files/skills/documenting-intent/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/documenting-intent/references/philosophy.md
  modules/shared/programs/claude/files/skills/documenting-intent/references/templates.md
Due: nixfmt

feat(karakeep): SingleFile 중복 북마크 제출 시 Pushover 알림 추가
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
Due: none

fix(karakeep): 중복 알림 경로 fail-open 보장 (try/except + isinstance 방어)
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
Due: none

feat(karakeep): SingleFile 중복 북마크 제출 시 Pushover 알림 추가 (#157)
  modules/nixos/programs/docker/karakeep-singlefile-bridge/files/singlefile-bridge.py
Due: none

feat(vaultwarden): 백업 실패 시 Pushover 알림 추가
  modules/nixos/programs/docker/vaultwarden-backup.nix
Due: nixfmt

fix(vaultwarden): runtimeInputs에 curl 추가 (알림 전송 실패 수정)
  modules/nixos/programs/docker/vaultwarden-backup.nix
Due: nixfmt

feat(vaultwarden): 백업 실패 시 Pushover 알림 추가 (#158)
  modules/nixos/programs/docker/vaultwarden-backup.nix
Due: nixfmt

feat(eval-tests,smoke-test): Caddy vhost 완전성 검증 + 런타임 스모크 테스트
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/smoke-test.nix
  tests/eval-tests.nix
Due: nixfmt

fix(smoke-test): DA 피드백 반영 — 런타임 안정성 + 보안 강화
  modules/nixos/programs/smoke-test.nix
Due: nixfmt

fix(smoke-test): Uptime Kuma(302), Karakeep(307) 기대 HTTP 코드 수정
  modules/nixos/programs/smoke-test.nix
Due: nixfmt

fix(smoke-test): 비활성 서비스 false positive 방지 — 조건부 검증
  modules/nixos/programs/smoke-test.nix
Due: nixfmt

fix(smoke-test): Pushover credential 검증 추가 — 기존 패턴 일관성
  modules/nixos/programs/smoke-test.nix
Due: nixfmt

feat(eval-tests,smoke-test): Caddy vhost 완전성 검증 + 런타임 스모크 테스트 (#160)
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/smoke-test.nix
  tests/eval-tests.nix
Due: nixfmt

feat(docker): podman auto-update로 awesome-anki 자동 배포 구축
  modules/nixos/programs/docker/awesome-anki.nix
  modules/nixos/programs/docker/runtime.nix
Due: nixfmt

fix(docker): podman auto-update → 커스텀 digest 비교 스크립트로 전환
  modules/nixos/programs/docker/awesome-anki.nix
  modules/nixos/programs/docker/runtime.nix
Due: nixfmt

refactor(docker): imageName 변수로 이미지 참조 DRY 적용
  modules/nixos/programs/docker/awesome-anki.nix
Due: nixfmt

feat(docker): podman auto-update로 awesome-anki 자동 배포 (#162)
  modules/nixos/programs/docker/awesome-anki.nix
Due: nixfmt
