Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

chore(skills): maintaining-skills 스킬 삭제 (#355)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
  modules/shared/programs/claude/files/skills/maintaining-skills/references/quality-criteria.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

fix(scripts): all-holdout-fail 시 train score 기반 best_iteration 갱신 (#322)
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

chore(skills): maintaining-skills 스킬 삭제 (#355) (#359)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
  modules/shared/programs/claude/files/skills/maintaining-skills/references/quality-criteria.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

refactor(hosting): rolling tag → 고정 버전 태그 전환 (#306)
  modules/nixos/programs/copyparty-update/files/update-script.sh
  modules/nixos/programs/docker/copyparty.nix
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/docker/karakeep.nix
  modules/nixos/programs/docker/uptime-kuma.nix
  modules/nixos/programs/immich-update/default.nix
  modules/nixos/programs/immich-update/files/update-script.sh
  modules/nixos/programs/karakeep-update/files/update-script.sh
  modules/nixos/programs/uptime-kuma-update/files/update-script.sh
Due: nixfmt, shellcheck

fix(hosting): DA 피드백 반영 — pull 메시지 + Immich 알림 형식
  modules/nixos/programs/copyparty-update/files/update-script.sh
  modules/nixos/programs/immich-update/files/update-script.sh
  modules/nixos/programs/karakeep-update/files/update-script.sh
  modules/nixos/programs/uptime-kuma-update/files/update-script.sh
Due: shellcheck

feat(claude): MCP vs agent-browser 벤치마크 기반 브라우저 도구 라우팅 규칙 추가 (#357)
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
Due: none

fix(scripts): all-holdout-fail 시 train score 기반 best_iteration 갱신 (#322) (#360)
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(claude): DA 피드백 반영 — 플랫폼 주석 추가 + 정량 수치 제거
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

refactor(hosting): rolling tag → 고정 버전 태그 전환 (#361)
  modules/nixos/programs/copyparty-update/files/update-script.sh
  modules/nixos/programs/docker/copyparty.nix
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/docker/karakeep.nix
  modules/nixos/programs/docker/uptime-kuma.nix
  modules/nixos/programs/immich-update/default.nix
  modules/nixos/programs/immich-update/files/update-script.sh
  modules/nixos/programs/karakeep-update/files/update-script.sh
  modules/nixos/programs/uptime-kuma-update/files/update-script.sh
Due: nixfmt, shellcheck

test(devtools): MCP vs agent-browser 벤치마크 기반 브라우저 도구 라우팅 규칙 추가 (#362)
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
Due: none

fix(scripts): improve-description.sh inline Python 변수 보간 injection 수정 (#301)
  modules/shared/programs/claude/files/scripts/improve-description.sh
Due: shellcheck

fix(scripts): improve-description.sh inline Python 변수 보간 injection 수정 (#301) (#363)
  modules/shared/programs/claude/files/scripts/improve-description.sh
Due: shellcheck

feat(skills): run-da Review Intensity 추가 — SKIP/LITE/FULL 경중 기반 DA 스케일링
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

fix(skills): DA for_pr R1 피드백 반영 — 예시 코드, LITE 예시, 정책 파일 예외
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

feat(skills): run-da Review Intensity — 경중 기반 DA 스케일링 (#364)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/evals/queries.json
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

refactor(scripts): trigger-eval.sh → run-eval.sh 리네이밍 (#318)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-eval.sh
  modules/shared/programs/claude/files/scripts/run-loop.sh
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: nixfmt, shellcheck

settings(claude): 추론레벨 max로 고정
  modules/shared/programs/claude/files/settings.json
Due: none

refactor(scripts): trigger-eval.sh → run-eval.sh 리네이밍 (#318) (#365)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-eval.sh
  modules/shared/programs/claude/files/scripts/run-loop.sh
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: nixfmt, shellcheck

settings(claude): `MAX_THINKING_TOKENS` 설정 제거
  modules/shared/programs/claude/files/settings.json
Due: none

refactor(zed): nixpkgs → Homebrew cask 전환으로 자동 업데이트 활성화
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/zed/default.nix
  modules/darwin/programs/zed/files/settings.json
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

docs(zed): DA READABILITY 피드백 반영 — 모듈 책임/scope/업데이터 구분 주석 보강
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/zed/default.nix
  modules/darwin/programs/zed/files/settings.json
Due: nixfmt

docs(skills): managing-macos features.md Zed 설치 방식 참조 업데이트
  .claude/skills/managing-macos/references/features.md
Due: none

refactor(zed): nixpkgs → Homebrew cask 전환으로 자동 업데이트 활성화 (#367)
  .claude/skills/managing-macos/references/features.md
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/zed/default.nix
  modules/darwin/programs/zed/files/settings.json
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

refactor(skills): plan-with-questions /parallel-audit 매직넘버 제거
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

settings(claude): 공식 notion MCP 추가
  modules/shared/programs/claude/files/settings.json
Due: none

refactor(skills): plan-with-questions /parallel-audit 매직넘버 제거 (#368)
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

feat(zed): VSCode 누락 키맵 3종 추가 — 패널 크기, 패인 이동, 탭 복원
  modules/darwin/programs/zed/files/keymap.json
Due: none

feat(zed): VSCode 누락 키맵 3종 추가 — 패널 크기, 패인 이동, 탭 복원 (#369)
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(zed): Cmd+- zoom 복원 — JetBrains fold 충돌 해소 + fold/unfold 재배치
  modules/darwin/programs/zed/files/keymap.json
Due: none

fix(zed): Cmd+- zoom 복원 — JetBrains fold 충돌 해소 + fold/unfold 재배치 (#370)
  modules/darwin/programs/zed/files/keymap.json
Due: none

feat(cheat): nvim/buffer cheatsheet에 종료 키맵 추가
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
Due: none

feat(cheat): nvim/buffer cheatsheet에 종료 키맵 추가 (#371)
  modules/shared/programs/cheat/cheatsheets/nvim/buffer
Due: none

fix(macos): Dropzone 액션 에러 핸들링 추가 (PR 리뷰 반영)
  modules/darwin/programs/dropzone/default.nix
Due: nixfmt

fix(macos): Dropzone DA for_pr Round 1 피드백 반영
  modules/darwin/programs/dropzone/default.nix
  modules/darwin/programs/homebrew.nix
  modules/shared/programs/secrets/default.nix
Due: nixfmt

feat(macos): Dropzone 5 masApps 선언적 설치 추가
  modules/darwin/programs/homebrew.nix
Due: nixfmt

feat(macos): Dropzone 5 모듈 추가 — FolderActions UI 프론트엔드 + Pushover 텍스트 전송
  modules/darwin/home.nix
  modules/darwin/programs/dropzone/default.nix
  modules/darwin/programs/dropzone/files/icon-placeholder.png
  modules/shared/programs/secrets/default.nix
Due: nixfmt

fix(macos): masApps 비활성화 — App Store에서 Dropzone 5 구매 불가
  modules/darwin/programs/homebrew.nix
Due: nixfmt

feat(macos): mas CLI 선언적 설치 + masApps 임시 비활성화
  modules/darwin/programs/homebrew.nix
Due: nixfmt

fix(macos): Dropzone 비-MAS 버전 대응 + 아이콘 + 자동 등록
  modules/darwin/programs/dropzone/default.nix
  modules/darwin/programs/dropzone/files/icon-compress-video.png
  modules/darwin/programs/dropzone/files/icon-convert-to-gif.png
  modules/darwin/programs/dropzone/files/icon-placeholder.png
  modules/darwin/programs/dropzone/files/icon-pushover-text.png
  modules/darwin/programs/dropzone/files/icon-rename-asset.png
Due: nixfmt

settings(claude): 공식 codex plugin 추가
  modules/shared/programs/claude/files/settings.json
Due: none
