Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

chore(flake): update inputs (disko, home-manager, nix-darwin, nix-vscode-extensions, nixpkgs, yazi-flavors)
  flake.lock
Due: none

chore(caddy): update FOD hash after flake input update
  modules/nixos/programs/caddy.nix
Due: nixfmt

chore(flake): update inputs + caddy FOD hash (multi-host) (#807)
  flake.lock
  modules/nixos/programs/caddy.nix
Due: nixfmt

perf(codex): MiniPC startup latency 완화 (#772) (#800)
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/shell/default.nix
Due: nixfmt

docs(cheat): pgrep "활성 상태 보기 ≠ pgrep" 매칭 함정 박제
  modules/shared/programs/cheat/cheatsheets/process/pgrep
Due: none

docs(cheat): pgrep "활성 상태 보기 ≠ pgrep" 매칭 함정 박제 (#808)
  modules/shared/programs/cheat/cheatsheets/process/pgrep
Due: none

docs(codex): hooks rollback 가이드를 codex_hooks → hooks로 정정
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
Due: none

fix(statusline): plan 세션 state 가드를 SIDECAR_IO_ENABLED로 통일
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: shellcheck

fix(statusline): plan 아이콘 false positive 유발하는 프로젝트 단위 폴백 제거
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: shellcheck

test(statusline): plan 테스트 XDG_* 경로를 PLAN_HOME 하위로 pin
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: none

fix(statusline): plan 아이콘 false positive 제거 (#811)
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: shellcheck

docs(archive): 주요unknown 표기 띄어쓰기 정리 (PR #812 리뷰 반영)
  docs/archive/plan-with-questions-design-notes.md
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
