Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(tests): darwin nrs 테스트의 LaunchAgents 디렉토리 누락 및 readlink stub 수정
  tests/shell-script-tests.sh
Due: shellcheck

fix(awesome-anki,tests): pull 재시도 및 darwin nrs 테스트 수정 (#448)
  modules/nixos/programs/docker/awesome-anki.nix
  tests/shell-script-tests.sh
Due: nixfmt, shellcheck

fix(claude): Cache TTL "0" sentinel의 5:00→expired 갑작스러운 전환 수정 (#449)
  modules/shared/programs/claude/files/hooks/record-last-stop.sh
  modules/shared/programs/claude/files/hooks/record-prompt-submit.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/settings.json
Due: shellcheck

fix: settings.json에서 무관한 advisorModel 설정 제거
  modules/shared/programs/claude/files/settings.json
Due: none

fix(claude): Cache TTL "0" sentinel의 5:00→expired 갑작스러운 전환 수정 (#449) (#450)
  modules/shared/programs/claude/files/hooks/record-last-stop.sh
  modules/shared/programs/claude/files/hooks/record-prompt-submit.sh
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/settings.json
Due: shellcheck

settings(codex): `service_tier = "fast"` 고정
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
Due: none

fix(skills): run-da Arbiter에서 Bash tool 간 ARBITER_DIR 변수 유실 방지
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

fix(skills): DA for_pr 피드백 반영 — exit code 체크, $_DA_SID, 예시 주석
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

feat(claude): Cache TTL 1시간 대응 + 캐시 히트/미스 표시 (#451)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(skills): DA for_pr R2 피드백 — 자기모순 예시 제거 + 실패 메시지 세분화
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

fix(skills): DA for_pr R3 피드백 — Intensity/reviewer 변수 대응 + ARBITER_FAILED 계약
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

feat(claude): 캐시 가이드 문서 + TTL 아이콘 클릭 링크 추가 (#451)
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(skills): 용어 일관성 — "단일 Bash 호출" → "단일 Bash tool 호출"
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

fix(claude): sticky guard 실제 작동 + 가이드 문서 수정 (#451)
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude): Extra Usage 다운그레이드 감지 — sticky one-way 제거 (#451)
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

docs(claude): pure-hit stale 분석 결과를 CIR에 문서화 (#451)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

feat(claude): Cache TTL 1시간 대응 + 캐시 히트/미스 표시 (#451)
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(skills): run-da Arbiter에서 Bash tool 간 ARBITER_DIR 변수 유실 방지 (#443) (#452)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
Due: none

chore(claude): pain-point 수집 + archive + recall 일괄 제거 (#455)
  docs/superpowers/plans/2026-03-28-pain-point-collection.md
  docs/superpowers/plans/2026-04-03-codex-hooks-sync.md
  docs/superpowers/specs/2026-03-28-pain-point-collection-design.md
  docs/superpowers/specs/2026-04-03-codex-hooks-sync-design.md
  flake.lock
  flake.nix
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/auto-archive.sh
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
  modules/shared/programs/claude/files/hooks/record-last-stop.sh
  modules/shared/programs/claude/files/scripts/claude-archive.sh
  modules/shared/programs/claude/files/scripts/show-pain-points.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/archive/SKILL.md
  modules/shared/programs/claude/files/skills/show-pains/SKILL.md
  modules/shared/programs/claude/files/skills/show-pains/references/template.html
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/test-hooks-sync.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-drift.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-same.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/project-settings.json
  modules/shared/programs/recall/default.nix
  modules/shared/programs/shell/default.nix
Due: nixfmt, shellcheck

chore(docs): DA for_pr 피드백 반영 — stale 문서 정리
  docs/superpowers/plans/2026-04-03-codex-hooks-sync.md
  docs/superpowers/specs/2026-03-31-archive-claude-code-session-design.md
  docs/superpowers/specs/2026-04-03-codex-hooks-sync-design.md
Due: none

fix(docs): MD028 blockquote lint — historical note와 agentic worker 분리
  docs/superpowers/plans/2026-04-03-codex-hooks-sync.md
Due: none

chore(claude): pain-point 수집 + archive + recall 일괄 제거 (#456)
  docs/superpowers/plans/2026-03-28-pain-point-collection.md
  docs/superpowers/plans/2026-04-03-codex-hooks-sync.md
  docs/superpowers/specs/2026-03-28-pain-point-collection-design.md
  docs/superpowers/specs/2026-03-31-archive-claude-code-session-design.md
  docs/superpowers/specs/2026-04-03-codex-hooks-sync-design.md
  flake.lock
  flake.nix
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/auto-archive.sh
  modules/shared/programs/claude/files/hooks/collect-pain-points.sh
  modules/shared/programs/claude/files/hooks/detect-pain-point.sh
  modules/shared/programs/claude/files/hooks/read-pain-points.sh
  modules/shared/programs/claude/files/hooks/record-last-stop.sh
  modules/shared/programs/claude/files/scripts/claude-archive.sh
  modules/shared/programs/claude/files/scripts/show-pain-points.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/archive/SKILL.md
  modules/shared/programs/claude/files/skills/show-pains/SKILL.md
  modules/shared/programs/claude/files/skills/show-pains/references/template.html
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/test-hooks-sync.sh
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-drift.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/effective-settings-same.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/testdata/hooks/project-settings.json
  modules/shared/programs/recall/default.nix
  modules/shared/programs/shell/default.nix
Due: nixfmt, shellcheck

fix(skills): codex exec 인라인 인자를 stdin pipe로 전환 — stdin hang 구조적 해결
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(skills): DA for_pr 피드백 반영 — parallel-audit DA_DIR 절차 + §13 deprecation 주석
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
Due: none

fix(skills): patterns.md 패턴 6 file redirect를 stdin pipe로 전환
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(skills): codex exec 인라인 인자를 stdin pipe로 전환 — stdin hang 구조적 해결 (#457)
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

feat(skills): codex-fan-out 스킬 + plan-with-questions codex exec 전환 + cache guide 보강 (#458)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: nixfmt

fix(skills): DA for_pr Round 1 피드백 반영
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
Due: none

fix(skills): DA for_pr Round 2 피드백 반영
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
Due: none

fix(skills): 전수조사 피드백 반영 + patterns.md stale 수정
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: shellcheck

fix(skills): sha1sum fallback을 command -v 분기로 수정
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
Due: none

fix(skills): stateful-violation 금지 목록에 main-agent-only command, host mutation 추가
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
Due: none

fix(skills): 자유 탐색 DA 피드백 반영 — workaround 재평가 단서 + 이름 혼동 해소
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
Due: none

feat(skills): codex-fan-out 스킬 + plan-with-questions codex exec 전환 + cache guide 보강 (#460)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: nixfmt, shellcheck

feat(skills): create-issue/write-handoff LLM 친화성 개선 + 공유 체크리스트 도입
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

fix(skills): DA for_pr Round 1 피드백 반영 — 라벨 체계 동기화 + 범위 정합성
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

fix(skills): DA for_pr Round 2 피드백 반영 — 3회 반복 지적 + 단순 수정
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

fix(skills): DA for_pr Round 2 피드백 반영 — CONFIRMED 8건
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/llm-friendly-checklist.md
Due: none

fix(skills): parallel-audit 피드백 반영 — 경로/HEREDOC 위험 해소
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
Due: none

fix(skills): PR 리뷰 4건 반영 — HEREDOC/fresh-session/cross-skill 구조적 결함 해소
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/patterns.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
Due: none
