Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(claude-rc): DA R1 피드백 반영 — self-kill/pane/arg 버그 수정
  modules/nixos/scripts/claude-rc.sh
Due: shellcheck

fix(claude-rc): DA R2 피드백 반영 — 중복 inner loop 방지 + 옵션 검증
  modules/nixos/scripts/claude-rc.sh
Due: shellcheck

fix(claude-rc): DA R3 피드백 반영 — tmux 환경변수 기반 stale 감지
  modules/nixos/scripts/claude-rc.sh
Due: shellcheck

feat(claude-rc): MiniPC Remote Control 상시 서버 래퍼 (#226)
  modules/nixos/scripts/claude-rc.sh
  modules/shared/programs/shell/nixos.nix
Due: nixfmt, shellcheck

feat(claude-rc): --cleanup 서브커맨드 추가 (#227)
  modules/nixos/scripts/claude-rc.sh
Due: shellcheck

fix(claude-rc): cleanup 세션 내부 실행 시 self-kill 방지
  modules/nixos/scripts/claude-rc.sh
Due: shellcheck

fix(claude): statusline plan 아이콘 — clear context 후 사라지는 버그 수정
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude-rc): orphan sweep git worktree list 실패 시 안전 중단
  modules/nixos/scripts/claude-rc.sh
Due: shellcheck

fix(claude): statusline plan 아이콘 — clear context 후 사라지는 버그 수정 (#229)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

docs(claude-rc): cleanup YAGNI 경고 주석 추가
  modules/nixos/scripts/claude-rc.sh
Due: shellcheck

fix(claude-rc): git worktree list 실패 시 early return → fall-through
  modules/nixos/scripts/claude-rc.sh
Due: shellcheck

docs(skill): using-codex-exec v0.114.0 전면 재작성
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

refactor(nrs-lock): 스마트 lock 범위 + stale 감지 + Stop/SessionEnd 자동 정리
  modules/darwin/scripts/nrs.sh
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/programs/claude/files/hooks/nrs-session-cleanup.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/scripts/nrs-lock.sh
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

docs(skill): DA 피드백 반영 — yolo 트리거 한정 및 패턴 2b 경고 강화
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

fix(nrs-lock): DA 피드백 — PID-alive 가드 추가 (stale 판정 + 세션 정리)
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/programs/claude/files/hooks/nrs-session-cleanup.sh
  modules/shared/scripts/nrs-lock.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs-lock): DA R2 — guard main worktree 바이패스 + 세션 정리 TOCTOU 방지
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/programs/claude/files/hooks/nrs-session-cleanup.sh
Due: shellcheck

docs(skill): DA R2 — resume --all은 필터 수정자로 정정
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
Due: none

docs(nrs): cheatsheet lock 동작 설명 업데이트
  modules/shared/programs/cheat/cheatsheets/nrs/command
Due: none

docs(skill): DA R3 — 패턴 2b scope 경고 문구 정정
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

docs(skill): skill-reviewer 피드백 반영 — title 설명, eval 보강, gotcha 정리
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/evals/trigger-eval.json
Due: none

fix(nrs-lock): guard main bypass를 same-worktree 체크보다 먼저 배치
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
Due: shellcheck

fix(codex): using-codex-exec 스킬 Codex 자기 참조 트리거 방지
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/codex/default.nix
Due: nixfmt, shellcheck

remove(nrs-lock): PreToolUse guard hook 완전 제거
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/programs/claude/files/settings.json
Due: nixfmt, shellcheck

docs(skill): using-codex-exec v0.114.0 전면 재작성 (#233)
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
  modules/shared/programs/codex/default.nix
Due: nixfmt, shellcheck

refactor(nrs-lock): 스마트 lock 범위 + stale 감지 + 자동 정리 (#231)
  modules/darwin/scripts/nrs.sh
  modules/shared/programs/cheat/cheatsheets/nrs/command
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/nrs-lock-guard.sh
  modules/shared/programs/claude/files/hooks/nrs-session-cleanup.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/scripts/nrs-lock.sh
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

fix(claude): `settings.json` trailing commad 제거
  modules/shared/programs/claude/files/settings.json
Due: none

feat(nrs): worktree 심링크 자동 전환/복원 시스템 (#232)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/worktree-path-guard.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/shell/darwin.nix
  modules/shared/programs/shell/default.nix
  modules/shared/programs/shell/nixos.nix
  modules/shared/scripts/nrs-relink.sh
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

fix(nrs-relink): DA 피드백 반영 — HMF discovery, status 판정, NO_CHANGES 경로
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

fix(nrs-relink): fallback HMF discovery %% 패턴 수정
  modules/shared/scripts/nrs-relink.sh
Due: shellcheck

feat(nrs): worktree 심링크 자동 전환/복원 시스템 (#239)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/worktree-path-guard.sh
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/shell/darwin.nix
  modules/shared/programs/shell/default.nix
  modules/shared/programs/shell/nixos.nix
  modules/shared/scripts/nrs-relink.sh
  modules/shared/scripts/wt.sh
Due: nixfmt, shellcheck

fix(nrs): main에서 실행 시 worktree 심링크 자동 복원
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): DA 피드백 반영 — 다중 probe + 주석 정밀화
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(nrs): main에서 실행 시 worktree 심링크 자동 복원 (#240)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

chore(darwin): Shottr 모듈 임시 비활성화
  modules/darwin/home.nix
Due: nixfmt

fix(darwin): main nrs --force 시 pre-rebuild symlink restore 추가
  modules/darwin/scripts/nrs.sh
Due: shellcheck

feat(claude-rc): --cleanup 서브커맨드 추가 (#228)
  modules/nixos/scripts/claude-rc.sh
Due: shellcheck

fix(darwin): Shottr defaults write 에러 핸들링으로 HM activation 중단 방지
  modules/darwin/home.nix
  modules/darwin/programs/shottr/default.nix
Due: nixfmt

fix(darwin): Shottr defaults write 에러 핸들링으로 HM activation 중단 방지 (#243)
  modules/darwin/home.nix
  modules/darwin/programs/shottr/default.nix
Due: nixfmt

refactor(shell): 스크립트 배포 경로에서 .sh 확장자 제거 (#246)
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrp.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/shell/darwin.nix
  modules/shared/programs/shell/default.nix
  modules/shared/programs/shell/nixos.nix
  modules/shared/scripts/nfu.sh
  modules/shared/scripts/nrs-lock.sh
  modules/shared/scripts/nrs-relink.sh
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

feat(skill): claude -p 비대화형 모드 사용법 및 harness 셀프테스트 스킬 생성
  CLAUDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/evals/trigger-eval.json
  modules/shared/programs/claude/files/skills/using-claude-p/references/flag-matrix.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/harness-testing.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/patterns.md
Due: nixfmt
