Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

feat(skills): Superpowers 통합 + Tier 1 벤치마킹 이식 (#309)
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/running-containers/SKILL.md
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/da-domains.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
Due: none

feat(statusline): SSH 환경 아이콘 최적화 + rate limits 유효 폭 이원화
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(statusline): COLS=80 detail 회귀 수정 + SSH 분기 단순화
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(scripts): trigger-eval.sh --batch 에러 메시지 + injection 수정
  modules/shared/programs/claude/files/scripts/trigger-eval.sh
Due: shellcheck

fix(skills): parallel-audit eval 쿼리 개선 — 일반적 쿼리를 고유 기능 특화로 교체
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
Due: none

fix(skills): 4개 스킬 description trigger 정확도 최적화
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/running-containers/SKILL.md
Due: none

chore(skills): plan-with-questions evals 추가 + description 최적화
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
Due: none

docs(skills): Superpowers 라우팅 동기화 절차를 maintaining-skills에 통합
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
Due: none

fix(skills): DA for_pr 피드백 반영 — CSO Trigger 라인 복원 + queries 패턴 정규화
  .claude/skills/managing-vscode/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
Due: none

fix(skills): 4개 스킬 이슈 일괄 처리 — trigger 최적화 + eval 추가 + 스크립트 수정 (#315)
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-vscode/SKILL.md
  .claude/skills/running-containers/SKILL.md
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/trigger-eval.sh
  modules/shared/programs/claude/files/skills/maintaining-skills/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/evals/queries.json
  modules/shared/programs/claude/files/skills/plan-with-questions/SKILL.md
  modules/shared/programs/claude/files/skills/plan-with-questions/evals/queries.json
Due: shellcheck

feat(statusline): SSH 환경 아이콘 최적화 + rate limits 유효 폭 이원화 (#314)
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

feat(scripts): run_loop.py를 claude -p 기반 run-loop.sh로 마이그레이션
  .gitignore
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: nixfmt, shellcheck

fix(scripts): DA for_pr R1 피드백 반영 — trap/history/exit_reason/seed
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): PR #317 리뷰 피드백 반영
  .gitignore
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): PR #317 R2 피드백 — 방어적 가드 3건 추가
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

feat(scripts): run_loop.py를 claude -p 기반 run-loop.sh로 마이그레이션 (#316) (#317)
  .gitignore
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: nixfmt, shellcheck

feat(scripts): run-loop.sh 완전 기능 패리티 — run_loop.py 모든 플래그 지원
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
  modules/shared/programs/claude/files/scripts/trigger-eval.sh
Due: nixfmt, shellcheck

fix(scripts): DA for_pr R1 피드백 7건 반영
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): 전수조사 피드백 — 후방호환 alias + 리포트 경로
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): iter-N-train.json에 description 포함 — 리포트 히스토리 빈 description 수정
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex 리뷰 피드백 — test eval 크래시 방지 + 라이브 리포트
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R2 피드백 — null test_results 크래시 + 라이브 리포트 auto-refresh
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R3 피드백 — partial iteration 제외 + description 정합 + mkdir
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R4 피드백 — description 양쪽 보존 + threshold 기반 스코어
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R5 — description=pre-improve 확정 + 라이브 리포트 completion 체크
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R6 — 리포트에서 improved_description 우선 표시
  modules/shared/programs/claude/files/scripts/generate-report.py
Due: none

fix(scripts): Codex R7 — holdout=0 description 조건 분기 + 라이브 리포트 improved_description
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): test score 0일 때 (train) 오표시 수정 (CodeRabbit)
  modules/shared/programs/claude/files/scripts/generate-report.py
Due: none

fix(scripts): Codex R8 — baseline test eval + report HTML gitignore
  .gitignore
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R9 — baseline test를 iter-0-test.json에 저장
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R9-R10 — best_score를 쉘 변수에서 직접 전달 + holdout=0 Test열 숨김
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R11 — empty test_passed 크래시 방지
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R12 — 실패한 test eval을 0점으로 위장하지 않도록
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R13 — best_test_passed=-1 가드
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R14 — early exit + test fail 시 best_iteration 설정
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R15 — holdout 실패 시 train score로 올바르게 폴백
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

feat(scripts): run-loop.sh 완전 기능 패리티 — run_loop.py 전 플래그 지원 (#319)
  .gitignore
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
  modules/shared/programs/claude/files/scripts/trigger-eval.sh
Due: nixfmt, shellcheck

refactor(scripts): run-loop.sh eval 순서 변경 — train/test 동일 description 보장 (#320)
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): run-loop.sh Codex R1 — test eval graceful degradation + iter-complete 타이밍
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

fix(scripts): Codex R2 — holdout 전면 실패 시 best fallback + report test 열 복원
  modules/shared/programs/claude/files/scripts/generate-report.py
  modules/shared/programs/claude/files/scripts/run-loop.sh
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
