Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

chore: add batch script for project structure improvement issues
  scripts/create-improvement-issues.sh
Due: shellcheck

refactor(scripts): nrs/nrp 공통 함수를 rebuild-common.sh로 추출 — 4개 스크립트 중복 60% 제거
  .agents/skills/managing-macos/SKILL.md
  .agents/skills/managing-minipc/SKILL.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/features.md
  modules/darwin/scripts/nrp.sh
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrp.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

chore(nixos): configuration.nix의 lm-sensors TODO 주석 제거 → 이슈 이관 (#14)
  modules/nixos/configuration.nix
Due: nixfmt

feat(nixos): lm-sensors 온도 모니터링 자동화 + Pushover 알림 (#15)
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/lib/service-lib.sh
  modules/nixos/programs/temp-monitor/default.nix
  modules/nixos/programs/temp-monitor/files/check-temp.sh
Due: nixfmt, shellcheck

docs(skills): temp-monitor 구현 반영 — managing-minipc, managing-secrets 문서 최신화
  .agents/skills/managing-minipc/SKILL.md
  .agents/skills/managing-secrets/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-minipc/references/features.md
  .claude/skills/managing-secrets/SKILL.md
Due: none

chore(codex): Codex CLI 0.101.0 → 0.103.0 버전 업데이트
  libraries/packages/codex-cli.nix
Due: nixfmt

refactor(claude): user-scope CLAUDE.md 구조 개선 — 스킬 라우팅 통합, 중복 제거
  CLAUDE.md
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

feat(claude-code): `andrej-karpathy-skills` 추가
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/karpathy-guidelines/SKILL.md
  modules/shared/programs/claude/files/skills/karpathy-guidelines/references/EXAMPLES.md
Due: nixfmt

feat(claude-code): 기본 모델을 1M Context 버전으로 고정
  modules/shared/programs/claude/files/settings.json
Due: none

chore(codex): enable multi-agent, apps, and idle-sleep prevention
  modules/shared/programs/codex/files/config.toml
Due: none

feat(linkwarden): Linkwarden 홈서버 서비스 추가
  .agents/skills/hosting-linkwarden/SKILL.md
  .agents/skills/hosting-linkwarden/agents/openai.yaml
  .agents/skills/hosting-linkwarden/references
  .agents/skills/managing-minipc/SKILL.md
  .agents/skills/running-containers/SKILL.md
  .claude/skills/hosting-linkwarden/SKILL.md
  .claude/skills/hosting-linkwarden/references/setup.md
  .claude/skills/hosting-linkwarden/references/troubleshooting.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/running-containers/SKILL.md
  CLAUDE.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/linkwarden-backup/default.nix
  modules/nixos/programs/linkwarden-update/default.nix
  modules/nixos/programs/linkwarden-update/files/version-check.sh
  modules/nixos/programs/linkwarden/default.nix
  modules/shared/programs/claude/files/settings.json
  secrets/secrets.nix
Due: nixfmt, shellcheck

refactor(linkwarden): Devil's Advocate 피드백 반영
  .agents/skills/hosting-linkwarden/SKILL.md
  .agents/skills/running-containers/SKILL.md
  .claude/skills/hosting-linkwarden/SKILL.md
  .claude/skills/running-containers/SKILL.md
  CLAUDE.md
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/linkwarden-backup/default.nix
  modules/nixos/programs/linkwarden-update/default.nix
  modules/nixos/programs/linkwarden/default.nix
Due: nixfmt

chore(secrets): Linkwarden agenix 시크릿 3개 추가
  secrets/linkwarden-nextauth-secret.age
  secrets/meilisearch-master-key.age
  secrets/pushover-linkwarden.age
Due: none

fix(linkwarden-backup): SC2024 sudo redirect → pg_dump -f 플래그 사용
  modules/nixos/programs/linkwarden-backup/default.nix
Due: nixfmt

fix(linkwarden-backup): sudo → runuser (writeShellApplication PATH에 sudo 없음)
  modules/nixos/programs/linkwarden-backup/default.nix
Due: nixfmt

fix(linkwarden-backup): pg_dump -f → redirect (백업 디렉토리 root 소유)
  modules/nixos/programs/linkwarden-backup/default.nix
Due: nixfmt

chore(linkwarden): 첫 사용자 등록을 위해 일시적으로 registration 활성화
  modules/nixos/programs/linkwarden/default.nix
Due: nixfmt

chore(linkwarden): 첫 사용자 등록 완료 — registration 비활성화
  modules/nixos/programs/linkwarden/default.nix
Due: nixfmt

fix(linkwarden): storageLocation 경로 이중화 수정 (archives/archives/)
  modules/nixos/programs/linkwarden/default.nix
Due: nixfmt

feat(font): Sarasa Mono K Nerd Font로 전면 교체
  .claude/skills/managing-macos/references/features.md
  libraries/packages/sarasa-mono-k-nerd-font.nix
  modules/darwin/configuration.nix
  modules/darwin/programs/cursor/files/settings.json
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

fix: CodeRabbit 리뷰 피드백 반영
  .claude/skills/managing-macos/references/features.md
  libraries/packages/sarasa-mono-k-nerd-font.nix
  modules/darwin/programs/cursor/files/settings.json
Due: nixfmt

feat(darwin): declarative Shottr management with Vaultwarden sync
  .agents/skills/hosting-vaultwarden/SKILL.md
  .agents/skills/hosting-vaultwarden/agents/openai.yaml
  .agents/skills/managing-macos/SKILL.md
  .agents/skills/managing-macos/agents/openai.yaml
  .agents/skills/managing-secrets/SKILL.md
  .agents/skills/managing-secrets/agents/openai.yaml
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  libraries/constants.nix
  libraries/packages.nix
  modules/darwin/home.nix
  modules/darwin/programs/folder-actions/default.nix
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/shottr/default.nix
  modules/darwin/programs/shottr/files/shottr-token-sync.sh
  modules/shared/programs/secrets/default.nix
  secrets/secrets.nix
  secrets/shottr-upload-token.age
Due: nixfmt, shellcheck

fix: Cursor 폰트 사용처 테이블에 fallback 정보 추가
  .claude/skills/managing-macos/references/features.md
Due: none

feat(font): Sarasa Mono K Nerd Font로 전면 교체 (#16)
  .claude/skills/managing-macos/references/features.md
  libraries/packages/sarasa-mono-k-nerd-font.nix
  modules/darwin/configuration.nix
  modules/darwin/programs/cursor/files/settings.json
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

feat(archivebox): Linkwarden 철거 + ArchiveBox 웹 아카이버 도입
  .agents/skills/hosting-archivebox/SKILL.md
  .agents/skills/hosting-linkwarden/SKILL.md
  .agents/skills/hosting-linkwarden/agents/openai.yaml
  .agents/skills/hosting-linkwarden/references
  .agents/skills/managing-minipc/SKILL.md
  .agents/skills/running-containers/SKILL.md
  .claude/skills/hosting-archivebox/SKILL.md
  .claude/skills/hosting-linkwarden/SKILL.md
  .claude/skills/hosting-linkwarden/references/setup.md
  .claude/skills/hosting-linkwarden/references/troubleshooting.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/running-containers/SKILL.md
  CLAUDE.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/docker/archivebox-backup.nix
  modules/nixos/programs/docker/archivebox.nix
  modules/nixos/programs/linkwarden-backup/default.nix
  modules/nixos/programs/linkwarden-update/default.nix
  modules/nixos/programs/linkwarden-update/files/version-check.sh
  modules/nixos/programs/linkwarden/default.nix
  secrets/linkwarden-nextauth-secret.age
  secrets/meilisearch-master-key.age
  secrets/pushover-archivebox.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

chore(secrets): add archivebox admin password
  secrets/archivebox-admin-password.age
Due: none

feat(archivebox): add event notifications and admin password sync
  .agents/skills/hosting-archivebox/SKILL.md
  .agents/skills/running-containers/SKILL.md
  .claude/skills/hosting-archivebox/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/immich-update.md
  .claude/skills/running-containers/references/service-update-system.md
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/archivebox-update/default.nix
  modules/nixos/programs/archivebox-update/files/update-script.sh
  modules/nixos/programs/docker/archivebox-notify.nix
  modules/nixos/programs/docker/archivebox-notify/files/event-poller.sh
  modules/nixos/programs/docker/archivebox-notify/files/install-hook.sh
  modules/nixos/programs/docker/archivebox-notify/files/notify-hook.py
  modules/nixos/programs/docker/archivebox-notify/files/server-error-notify.sh
  modules/nixos/programs/docker/archivebox.nix
  modules/nixos/programs/docker/archivebox/files/sync-admin-password.sh
  secrets/archivebox-admin-password.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(archivebox-notify): detect re-archive events via archiveresult rowid
  modules/nixos/programs/docker/archivebox-notify/files/event-poller.sh
Due: shellcheck

fix(archivebox-notify): alias result rowid in sqlite json parsing
  modules/nixos/programs/docker/archivebox-notify/files/event-poller.sh
Due: shellcheck

docs(skills): update archivebox notify behavior and delay notes
  .agents/skills/hosting-archivebox/SKILL.md
  .agents/skills/running-containers/SKILL.md
  .claude/skills/hosting-archivebox/SKILL.md
  .claude/skills/running-containers/SKILL.md
Due: none

refactor(shottr): 업로드 토큰 제거, 라이센스 pre-fill로 전환
  .agents/skills/hosting-vaultwarden/SKILL.md
  .agents/skills/hosting-vaultwarden/agents/openai.yaml
  .agents/skills/managing-macos/SKILL.md
  .agents/skills/managing-macos/agents/openai.yaml
  .agents/skills/managing-secrets/SKILL.md
  .agents/skills/managing-secrets/agents/openai.yaml
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  libraries/packages.nix
  modules/darwin/programs/shottr/default.nix
  modules/darwin/programs/shottr/files/shottr-token-sync.sh
  modules/shared/programs/secrets/default.nix
  secrets/secrets.nix
  secrets/shottr-license.age
  secrets/shottr-upload-token.age
Due: nixfmt, shellcheck

feat(darwin): Shottr 선언적 관리 + ArchiveBox 제거 (#17)
  .agents/skills/hosting-vaultwarden/agents/openai.yaml
  .agents/skills/managing-macos/SKILL.md
  .agents/skills/managing-macos/agents/openai.yaml
  .agents/skills/managing-secrets/SKILL.md
  .agents/skills/managing-secrets/agents/openai.yaml
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  libraries/constants.nix
  modules/darwin/home.nix
  modules/darwin/programs/folder-actions/default.nix
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
  modules/darwin/programs/homebrew.nix
  modules/darwin/programs/shottr/default.nix
  modules/shared/programs/secrets/default.nix
  secrets/secrets.nix
  secrets/shottr-license.age
Due: nixfmt, shellcheck

docs(shottr): home.activation에서 절대 경로 사용 이유 주석 추가
  modules/darwin/programs/shottr/default.nix
Due: nixfmt

refactor(codex): replace Nix derivation with brew cask and activation hook
  libraries/packages.nix
  libraries/packages/codex-cli.nix
  modules/darwin/programs/homebrew.nix
  modules/darwin/scripts/nrs.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/programs/codex/default.nix
  modules/shared/scripts/rebuild-common.sh
  scripts/update-codex-cli.sh
Due: nixfmt, shellcheck

docs(shottr): carbonModifiers/carbonKeyCode 값에 키맵 주석 추가
  modules/darwin/programs/shottr/default.nix
Due: nixfmt

fix(shottr): nrs 후 Shottr 자동 재시작 + agenix crash loop 예방
  .agents/skills/managing-secrets/SKILL.md
  .agents/skills/managing-secrets/agents/openai.yaml
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-secrets/references/troubleshooting.md
  modules/darwin/programs/shottr/default.nix
  modules/shared/programs/secrets/default.nix
Due: nixfmt

chore(codex): sync openai.yaml for vaultwarden, macos, archivebox skills
  .agents/skills/hosting-archivebox/agents/openai.yaml
  .agents/skills/hosting-vaultwarden/agents/openai.yaml
  .agents/skills/managing-macos/agents/openai.yaml
Due: none

feat(shottr): Manual Scrolling Capture 활성화 + restart 안정화
  modules/darwin/programs/shottr/default.nix
Due: nixfmt

refactor: IdeaProjects → Workspace 경로 전면 마이그레이션
  .claude/skills/configuring-codex/references/runbook-codex-compat-2026-02-08.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  .claude/skills/hosting-vaultwarden/references/troubleshooting.md
  .claude/skills/managing-macos/references/troubleshooting.md
  .claude/skills/managing-mise/references/troubleshooting.md
  .claude/skills/understanding-nix/references/features.md
  .claude/skills/understanding-nix/references/troubleshooting.md
  README.md
  docs/TRIAL_AND_ERROR.md
  flake.nix
  modules/shared/programs/claude/files/settings.json
  modules/shared/programs/claude/files/skills/agent-browser/references/troubleshooting.md
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/direnv/default.nix
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck
