Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}
  priority: 2

shellcheck:
  run: shellcheck -S warning {staged_files}
  priority: 2

feat(codex): AI 음성 인식 기능 활성화
  modules/shared/programs/codex/files/config.darwin.toml
Due: none

fix(tmux): open-url 마지막 URL 누락 버그 수정 및 UX 개선
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
Due: shellcheck

chore(flake): 전체 inputs 최신화
  flake.lock
Due: none

fix(caddy): inputs 최신화 후 plugin vendorHash 갱신
  modules/nixos/programs/caddy.nix
Due: nixfmt

feat(scripts): flake update 후 FOD hash mismatch 자동 수정
  scripts/fix-fod-hashes.sh
  scripts/update-input.sh
Due: shellcheck

fix(scripts): 코드 리뷰 피드백 반영
  scripts/fix-fod-hashes.sh
  scripts/update-input.sh
Due: shellcheck

fix(scripts): Codex 리뷰 피드백 반영
  scripts/fix-fod-hashes.sh
  scripts/update-input.sh
Due: shellcheck

fix(scripts): Codex round 1 피드백 반영
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(scripts): Codex round 2 피드백 반영
  scripts/fix-fod-hashes.sh
  scripts/update-input.sh
Due: shellcheck

fix(scripts): Codex round 3 피드백 반영
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(scripts): Codex round 4 피드백 반영
  scripts/fix-fod-hashes.sh
  scripts/update-input.sh
Due: shellcheck

docs(scripts): 크로스 호스트 제한사항 명시
  scripts/fix-fod-hashes.sh
  scripts/update-input.sh
Due: shellcheck

fix(scripts): Codex round 5 피드백 반영
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(scripts): Codex round 6 피드백 반영
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(scripts): Codex round 7 피드백 반영
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(scripts): Codex round 8 피드백 반영
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(scripts): Codex round 9 피드백 반영
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(scripts): Codex round 10 피드백 반영
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(scripts): Codex round 11 피드백 반영
  scripts/fix-fod-hashes.sh
Due: shellcheck

fix(tmux): open-url 마지막 URL 누락 버그 수정 및 UX 개선 (#112)
  modules/shared/programs/tmux/files/scripts/pane-note.sh
  modules/shared/programs/tmux/files/scripts/smoke-test.sh
Due: shellcheck

fix(caddy): FOD hash 갱신 + 자동 수정 스크립트 (#113)
  modules/nixos/programs/caddy.nix
  scripts/fix-fod-hashes.sh
  scripts/update-input.sh
Due: nixfmt, shellcheck

refactor(folder-actions): harden lock lifecycle and preserve ffmpeg stderr (#102)
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
Due: shellcheck

fix(folder-actions): reclaim dead-owner locks immediately across scripts
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
Due: shellcheck

fix(folder-actions): apply CodeRabbit liveness and timestamp feedback
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
Due: shellcheck

chore(folder-actions): apply CodeRabbit nitpick portability cleanups
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
Due: shellcheck

fix(nixos): anki installCheckPhase 실패 우회 + nixpkgs-shared 적용
  flake.nix
  libraries/nixpkgs/default.nix
Due: nixfmt

refactor(folder-actions): ffmpeg stderr 보존 + lock 라이프사이클 하드닝 (#102) (#114)
  modules/darwin/programs/folder-actions/files/scripts/compress-rar.sh
  modules/darwin/programs/folder-actions/files/scripts/compress-video.sh
  modules/darwin/programs/folder-actions/files/scripts/convert-video-to-gif.sh
  modules/darwin/programs/folder-actions/files/scripts/rename-asset.sh
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
Due: shellcheck

feat(rebuild): nrs/nrp 소스 빌드 pre-flight 체크 추가
  .claude/skills/managing-minipc/SKILL.md
  modules/nixos/scripts/nrp.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

feat(rebuild): nrs/nrp 소스 빌드 pre-flight 체크 (#115)
  .claude/skills/managing-minipc/SKILL.md
  flake.nix
  libraries/nixpkgs/default.nix
  modules/nixos/scripts/nrp.sh
  modules/nixos/scripts/nrs.sh
  modules/shared/scripts/rebuild-common.sh
Due: nixfmt, shellcheck

fix(claude): hooks trust 자동 주입으로 interactive mode 훅 실행 보장 (#111)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/claude-wrapper.sh
  modules/shared/programs/shell/default.nix
Due: nixfmt, shellcheck

fix(claude): codex 리뷰 피드백 반영 — fail-open 강화 및 lock 견고성 개선
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/claude-wrapper.sh
Due: nixfmt, shellcheck

fix(claude): wrapper jq 필터에 non-object 타입 가드 추가
  modules/shared/programs/claude/files/scripts/claude-wrapper.sh
Due: shellcheck

fix(claude): hooks trust 자동 주입으로 interactive mode 훅 실행 보장 (#116)
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/scripts/claude-wrapper.sh
  modules/shared/programs/shell/default.nix
Due: nixfmt, shellcheck

fix(rebuild): activation-script을 known-trivial 패턴에 추가
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

fix(rebuild): activation-script을 known-trivial 패턴에 추가 (#117)
  modules/shared/scripts/rebuild-common.sh
Due: shellcheck

feat(prompts): 프롬프트 템플릿 모듈화 및 프리셋 체계 구축
  scripts/prompts/modules/DA-피드백.md
  scripts/prompts/modules/PR.md
  scripts/prompts/modules/계획.md
  scripts/prompts/modules/원칙.md
  scripts/prompts/modules/커밋.md
  scripts/prompts/presets/PR-피드백.md
  scripts/prompts/presets/기능개발-라이트.md
  scripts/prompts/presets/기능개발-풀.md
  scripts/prompts/presets/기술학습.md
  scripts/prompts/presets/도메인무지-이슈.md
  scripts/prompts/presets/리팩토링.md
  scripts/prompts/presets/버그수정.md
  scripts/prompts/presets/코드리뷰.md
  scripts/prompts/presets/탐색조사.md
Due: none

docs(prompts): 프리셋 헤더 표현 및 안내 문구 정리
  scripts/prompts/presets/PR-피드백.md
  scripts/prompts/presets/기능개발-라이트.md
  scripts/prompts/presets/기능개발-풀.md
  scripts/prompts/presets/기술학습.md
  scripts/prompts/presets/도메인무지-이슈.md
  scripts/prompts/presets/리팩토링.md
  scripts/prompts/presets/버그수정.md
  scripts/prompts/presets/코드리뷰.md
  scripts/prompts/presets/탐색조사.md
Due: none

docs(prompts): strict DA 반복 기준 명확화
  scripts/prompts/presets/기능개발-풀.md
Due: none

docs(prompts): coderabbit 피드백 반영 및 markdown fence 정규화
  scripts/prompts/modules/DA-피드백.md
  scripts/prompts/modules/PR.md
  scripts/prompts/modules/계획.md
  scripts/prompts/modules/원칙.md
  scripts/prompts/modules/커밋.md
  scripts/prompts/presets/PR-피드백.md
  scripts/prompts/presets/기능개발-라이트.md
  scripts/prompts/presets/기능개발-풀.md
  scripts/prompts/presets/기술학습.md
  scripts/prompts/presets/도메인무지-이슈.md
  scripts/prompts/presets/리팩토링.md
  scripts/prompts/presets/버그수정.md
  scripts/prompts/presets/코드리뷰.md
  scripts/prompts/presets/탐색조사.md
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
