Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}

shellcheck:
  run: shellcheck -S warning {staged_files}

refactor(firewall): trustedInterfaces로 인한 no-op 방화벽 룰 제거
  libraries/constants.nix
  modules/nixos/programs/anki-sync-server/default.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/tailscale.nix
Due: nixfmt

docs(skills): 방화벽 보안 모델 및 인증서 모니터링 반영
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/running-containers/SKILL.md
Due: none

fix(immich): Tailscale IP 대신 localhost/Caddy 프록시로 API 접근 수정
  .claude/skills/running-containers/references/immich-update.md
  .claude/skills/running-containers/references/scriptable-immich-upload.md
  .claude/skills/running-containers/references/troubleshooting.md
  modules/darwin/programs/folder-actions/default.nix
  modules/nixos/programs/immich-cleanup/default.nix
  modules/nixos/programs/immich-update/default.nix
Due: nixfmt

feat(darwin): 네트워크 볼륨 .DS_Store 생성 방지
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  modules/darwin/configuration.nix
Due: nixfmt

feat(homeserver): 통합 서비스 업데이트 시스템 구현
  modules/nixos/configuration.nix
  modules/nixos/lib/service-lib.nix
  modules/nixos/lib/service-lib.sh
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/copyparty-update/default.nix
  modules/nixos/programs/copyparty-update/files/update-script.sh
  modules/nixos/programs/copyparty-update/files/version-check.sh
  modules/nixos/programs/immich-cleanup/default.nix
  modules/nixos/programs/immich-cleanup/files/cleanup-script.sh
  modules/nixos/programs/immich-update/files/update-script.sh
  modules/nixos/programs/immich-update/files/version-check.sh
  modules/nixos/programs/uptime-kuma-update/default.nix
  modules/nixos/programs/uptime-kuma-update/files/update-script.sh
  modules/nixos/programs/uptime-kuma-update/files/version-check.sh
  secrets/pushover-copyparty.age
  secrets/pushover-uptime-kuma.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(service-lib): set -e에서 [ ] && 패턴 exit 1 버그 수정
  modules/nixos/lib/service-lib.sh
Due: shellcheck

docs(skills): 통합 서비스 업데이트 시스템 반영
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/immich-update.md
  .claude/skills/running-containers/references/service-update-system.md
Due: none

feat(shared): agent-browser 글로벌 설치 + Claude Code Skill 추가
  .claude/skills/agent-browser/SKILL.md
  .claude/skills/agent-browser/references/authentication.md
  .claude/skills/agent-browser/references/commands.md
  .claude/skills/agent-browser/references/proxy-support.md
  .claude/skills/agent-browser/references/session-management.md
  .claude/skills/agent-browser/references/snapshot-refs.md
  .claude/skills/agent-browser/references/troubleshooting.md
  .claude/skills/agent-browser/references/video-recording.md
  .claude/skills/agent-browser/templates/authenticated-session.sh
  .claude/skills/agent-browser/templates/capture-workflow.sh
  .claude/skills/agent-browser/templates/form-automation.sh
  CLAUDE.md
  modules/darwin/home.nix
  modules/nixos/configuration.nix
  modules/nixos/home.nix
  modules/shared/programs/agent-browser/default.nix
  scripts/update-agent-browser-skill.sh
Due: nixfmt, shellcheck

fix(nixos): nix-ld.libraries에 libgbm 패키지 추가
  modules/nixos/configuration.nix
Due: nixfmt

refactor(skills): agent-browser 스킬을 user 스코프로 이동
  CLAUDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/.gitkeep
  modules/shared/programs/claude/files/skills/agent-browser/SKILL.md
  modules/shared/programs/claude/files/skills/agent-browser/references/authentication.md
  modules/shared/programs/claude/files/skills/agent-browser/references/commands.md
  modules/shared/programs/claude/files/skills/agent-browser/references/proxy-support.md
  modules/shared/programs/claude/files/skills/agent-browser/references/session-management.md
  modules/shared/programs/claude/files/skills/agent-browser/references/snapshot-refs.md
  modules/shared/programs/claude/files/skills/agent-browser/references/troubleshooting.md
  modules/shared/programs/claude/files/skills/agent-browser/references/video-recording.md
  modules/shared/programs/claude/files/skills/agent-browser/templates/authenticated-session.sh
  modules/shared/programs/claude/files/skills/agent-browser/templates/capture-workflow.sh
  modules/shared/programs/claude/files/skills/agent-browser/templates/form-automation.sh
  scripts/update-agent-browser-skill.sh
Due: nixfmt, shellcheck

feat(claude): NixOS에서 agent-browser 자동 선택하도록 변경
  modules/shared/programs/claude/files/CLAUDE.md
Due: none

feat(shared): Codex CLI 호환 레이어 추가 (trust 설정 포함)
  .claude/skills/configuring-claude-code/SKILL.md
  .gitignore
  AGENTS.override.md
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.toml
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

Add Codex skill split and enforce skill consistency checks
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat-2026-02-08.md
  README.md
  docs/TROUBLESHOOTING.md
  lefthook.yml
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.toml
  scripts/ai/verify-ai-compat.sh
  scripts/ai/warn-skill-consistency.sh
Due: nixfmt, shellcheck

feat(shared): Codex CLI를 Nix 패키지로 관리
  .claude/skills/configuring-codex/SKILL.md
  libraries/packages.nix
  libraries/packages/codex-cli.nix
  scripts/update-codex-cli.sh
Due: nixfmt, shellcheck

chore(shell): add codex dangerous-mode alias
  modules/shared/programs/shell/default.nix
Due: nixfmt

chore(codex): align skill diagnostics and default runtime policy
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-codex/references/runbook-codex-compat-2026-02-08.md
  modules/shared/programs/codex/files/config.toml
  scripts/ai/verify-ai-compat.sh
Due: shellcheck

refactor: 프로젝트 구조 개선 — shell 함수 추출, 서비스 업데이트 공통화, dead code 제거
  flake.nix
  libraries/home-manager/default.nix
  modules/nixos/lib/generic-version-check.sh
  modules/nixos/lib/mk-update-module.nix
  modules/nixos/programs/copyparty-update/default.nix
  modules/nixos/programs/copyparty-update/files/version-check.sh
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/uptime-kuma-update/default.nix
  modules/shared/programs/shell/default.nix
  modules/shared/scripts/git-diff-fzf-functions.sh
  modules/shared/scripts/git-worktree-functions.sh
Due: nixfmt, shellcheck

docs: 리팩토링 반영하여 스킬 문서 및 README 최신화
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/running-containers/references/immich-update.md
  .claude/skills/running-containers/references/service-update-system.md
  README.md
Due: none

feat(claude): include last assistant reply in stop pushover alert
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

feat(claude): add syncing-codex-harness global skill
  CLAUDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/codex-structure.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/mcp-conversion.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/openai-yaml-generation.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: nixfmt, shellcheck

feat(syncing-codex-harness): 인코딩 수정, 새 서브커맨드, 글로벌 gitignore
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/agents-override-template.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/codex-structure.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/mcp-conversion.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/openai-yaml-generation.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/default.nix
  modules/shared/programs/git/default.nix
Due: nixfmt, shellcheck

chore(git): AGENTS.md, AGENTS.override.md 글로벌 gitignore 추가
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/git/default.nix
Due: nixfmt, shellcheck

fix(syncing-codex-harness): MCP trust 자동 등록 및 충돌 기반 접두사
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/files/config.toml
Due: shellcheck

chore(nix): update nixpkgs (2026-01-25 → 2026-02-09)
  flake.lock
Due: none

debug(pushover): Stop hook 알림에서 최종 응답 대신 중간 턴 텍스트가 표시되는 문제 디버그 로그 추가
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

fix(pushover): Stop hook transcript race condition 수정 — 파일 안정화 대기 로직 추가
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

refactor(hooks): Pushover hook을 mkOutOfStoreSymlink로 전환 + ask 알림에 선택지 표시 추가
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/hooks/ask-notification.sh
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: nixfmt, shellcheck

revert(hooks): ask-notification.sh 선택지 표시 변경 원복
  modules/shared/programs/claude/files/hooks/ask-notification.sh
Due: shellcheck

fix(hooks): ask-notification에 선택지(options) 레이블 표시 추가 + 마지막 항목 누락 버그 수정
  modules/shared/programs/claude/files/hooks/ask-notification.sh
Due: shellcheck

docs(skills): configuring-claude-code 스킬 문서에 hooks mkOutOfStoreSymlink 전환 반영
  .agents/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/references/hooks.md
Due: none

chore(cursor): nix-vscode-extensions 업데이트 (2026-01-26 → 2026-02-10)
  flake.lock
Due: none

fix(nixos): deprecated xorg.* 패키지 참조를 top-level 이름으로 마이그레이션
  modules/nixos/configuration.nix
Due: nixfmt

refactor: Podman 서브넷 constants 중앙화 + constants 직접 import를 extraSpecialArgs로 통일
  libraries/constants.nix
  modules/nixos/lib/mk-update-module.nix
  modules/nixos/programs/docker/copyparty.nix
  modules/nixos/programs/uptime-kuma-update/default.nix
  modules/shared/programs/claude/default.nix
Due: nixfmt

docs: mk-update-module 시그니처 주석 추가 + 스킬 문서에 constants 참조 표기
  .agents/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/references/setup.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  modules/nixos/lib/mk-update-module.nix
Due: nixfmt

security(nixos): 방화벽 LAN 노출 차단 + Caddy 보안 헤더 추가 + Tailscale exit node 비활성화
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/mosh.nix
  modules/nixos/programs/ssh.nix
  modules/nixos/programs/tailscale.nix
Due: nixfmt

feat(nixos): Vaultwarden 셀프호스팅 비밀번호 관리자 추가
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/docker/vaultwarden-backup.nix
  modules/nixos/programs/docker/vaultwarden.nix
  secrets/secrets.nix
  secrets/vaultwarden-admin-token.age
Due: nixfmt

docs: hosting-vaultwarden 스킬 생성 + running-containers/CLAUDE.md 업데이트
  .agents/skills/hosting-vaultwarden/SKILL.md
  .agents/skills/hosting-vaultwarden/agents/openai.yaml
  .agents/skills/hosting-vaultwarden/references
  .agents/skills/running-containers/SKILL.md
  .agents/skills/running-containers/agents/openai.yaml
  .agents/skills/running-containers/references
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/hosting-vaultwarden/references/setup.md
  .claude/skills/hosting-vaultwarden/references/troubleshooting.md
  CLAUDE.md
Due: none

refactor(codex): 스킬 description 키워드 선행 패턴 + 투영 파이프라인 개선
  .claude/skills/automating-hammerspoon/SKILL.md
  .claude/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-cursor/SKILL.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/managing-mise/SKILL.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-ssh/SKILL.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/sharing-text/SKILL.md
  .claude/skills/syncing-atuin/SKILL.md
  .claude/skills/understanding-nix/SKILL.md
  CLAUDE.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/codex-structure.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/openai-yaml-generation.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/default.nix
  scripts/ai/verify-ai-compat.sh
Due: nixfmt, shellcheck

chore: .agents/ 파생 파일 git 추적 제거
  .agents/skills/configuring-claude-code/SKILL.md
  .agents/skills/hosting-copyparty/SKILL.md
  .agents/skills/hosting-vaultwarden/SKILL.md
  .agents/skills/hosting-vaultwarden/agents/openai.yaml
  .agents/skills/hosting-vaultwarden/references
  .agents/skills/running-containers/SKILL.md
  .agents/skills/running-containers/agents/openai.yaml
  .agents/skills/running-containers/references
Due: none

feat(hooks): plan-notification에 계획 파일 내용 포함 + 말줄임표(…) 추가
  .agents/skills/configuring-claude-code/SKILL.md
  .claude/skills/configuring-claude-code/references/troubleshooting.md
  modules/shared/programs/claude/files/hooks/plan-notification.sh
  modules/shared/programs/claude/files/hooks/stop-notification.sh
Due: shellcheck

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
