Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}

shellcheck:
  run: shellcheck -S warning {staged_files}

chore(nixos): 로케일을 영어로 변경 (ko_KR → en_US)
  modules/nixos/configuration.nix
Due: nixfmt

feat(claude-code): `claude` 별칭에 Claude in Chrome 활성화 기능도 추가
  .claude/skills/configuring-claude-code/SKILL.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(claude): viewing-immich-photo 스킬 추가 — Nix 템플릿으로 경로 중앙 관리
  .claude/skills/running-containers/SKILL.md
  .gitignore
  CLAUDE.md
  libraries/constants.nix
  modules/shared/programs/claude/default.nix
Due: nixfmt

feat(claude-code): `settings.json` 설정 수정
  modules/shared/programs/claude/files/settings.json
Due: none

revert(claude-code): `settings.json`에서 기본 모델 설정 제거
  modules/shared/programs/claude/files/settings.json
Due: none

feat(darwin): `ttyper` 타이핑 연습 CLI 추가 및 managing-macos 스킬 문서 최신화
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  libraries/packages.nix
Due: nixfmt

feat(nixos): Immich 버전 체크 자동화 및 수동 업데이트 스크립트 추가
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/immich-update.md
  CLAUDE.md
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/immich-cleanup/default.nix
  modules/nixos/programs/immich-update/default.nix
  modules/nixos/programs/immich-update/files/update-script.sh
  modules/nixos/programs/immich-update/files/version-check.sh
Due: nixfmt, shellcheck

fix(nixos): immich-update 감사 피드백 반영 — flock, 백업 검증, 워치독, ML 체크
  modules/nixos/programs/immich-cleanup/files/cleanup-script.sh
  modules/nixos/programs/immich-update/files/update-script.sh
  modules/nixos/programs/immich-update/files/version-check.sh
Due: shellcheck

docs(skill): immich-update 감사 피드백 반영 — 안전장치 문서화
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/immich-update.md
Due: none

feat(lazygit): lazygit delta pager 통합 및 delta feature 구조 개선
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/config.md
  .claude/skills/configuring-git/references/troubleshooting.md
  CLAUDE.md
  libraries/packages.nix
  modules/darwin/home.nix
  modules/nixos/home.nix
  modules/shared/programs/git/default.nix
  modules/shared/programs/lazygit/default.nix
Due: nixfmt

feat(lazygit): 좁은 화면(< 120컬럼)에서는 side-by-side 비활성화
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(lazygit): 동적 side-by-side 제어 (터미널 너비 기반)
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(shell): lazygit alias `lg` 추가
  .claude/skills/configuring-git/SKILL.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(shell): 비대화형 셸에서 delta side-by-side 비활성화
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/config.md
  .claude/skills/configuring-git/references/troubleshooting.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(delta): less pager에 마우스 스크롤 활성화
  modules/shared/programs/git/default.nix
Due: nixfmt

feat(delta): 짧은 diff 자동 종료(-F) 추가 및 pager 주석 보강
  modules/shared/programs/git/default.nix
Due: nixfmt

feat(delta): -F를 -e로 교체 (끝 스크롤 시 자동 종료)
  modules/shared/programs/git/default.nix
Due: nixfmt

docs(skill): delta pager 설정 및 iOS 터치 스크롤 제약 문서화
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/config.md
  .claude/skills/configuring-git/references/troubleshooting.md
Due: none

refactor(shell): claude alias를 c로 단축
  .claude/skills/configuring-claude-code/SKILL.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

refactor(skills): progressive disclosure 적용 — 세부 콘텐츠를 references/로 분리
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/commands.md
  .claude/skills/configuring-git/references/config.md
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/references/cheatsheet.md
  .claude/skills/configuring-neovim/references/details.md
  .claude/skills/configuring-neovim/references/korean-input.md
  .claude/skills/configuring-neovim/references/packages.md
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/managing-secrets/references/workflows.md
  .claude/skills/managing-tmux/SKILL.md
  .claude/skills/managing-tmux/references/pane-notepad.md
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/folder-action.md
  .claude/skills/running-containers/references/mobile-ssh-image.md
  .claude/skills/sharing-text/SKILL.md
  .claude/skills/sharing-text/references/archive-qr.md
Due: none

feat(broot): Enter 키로 파일 선택 시 nvim으로 열기
  modules/shared/programs/broot/default.nix
Due: nixfmt

feat(git): ved→gdf 리네이밍 + fzf preview에 delta 렌더링 적용
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/commands.md
  modules/shared/programs/git/default.nix
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(git): gdl 추가 — 직전 커밋 파일을 fzf로 선택하여 nvim으로 열기
  .claude/skills/configuring-git/SKILL.md
  .claude/skills/configuring-git/references/commands.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(homeserver): Anki sync server 셀프호스팅 추가
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  .claude/skills/running-containers/SKILL.md
  CLAUDE.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-sync-server/backup.nix
  modules/nixos/programs/anki-sync-server/default.nix
  secrets/anki-sync-password.age
  secrets/secrets.nix
Due: nixfmt

fix(anki-sync): 비밀번호 재암호화 (이스케이프 문자 제거)
  secrets/anki-sync-password.age
Due: none

docs(skills): AnkiWeb UI 혼동 + age 파이프 이스케이프 트러블슈팅 추가
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  .claude/skills/managing-secrets/references/troubleshooting.md
Due: none

docs(readme): Anki sync server 항목 추가
  README.md
Due: none

refactor(homeserver): Plex 서비스 완전 제거
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/troubleshooting.md
  CLAUDE.md
  README.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/docker/plex.nix
  modules/nixos/programs/docker/runtime.nix
Due: nixfmt

feat(claude): Astral 플러그인 통합 및 user-scope CLAUDE.md 추가
  .claude/skills/configuring-claude-code/SKILL.md
  libraries/packages.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/CLAUDE.md
  modules/shared/programs/claude/files/settings.json
Due: nixfmt

feat(homeserver): Copyparty 셀프호스팅 파일 서버 추가
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/references/setup.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  .claude/skills/running-containers/SKILL.md
  CLAUDE.md
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/docker/copyparty.nix
  secrets/copyparty-password.age
  secrets/secrets.nix
Due: nixfmt

fix(copyparty): 중복 마운트 제거 (루트 볼륨만 유지)
  modules/nixos/programs/docker/copyparty.nix
Due: nixfmt

fix(copyparty): initcfg 루트 볼륨 충돌 해결
  modules/nixos/programs/docker/copyparty.nix
Due: nixfmt

docs(skills): Copyparty 스킬 문서 최신화 (배포 트러블슈팅 반영)
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/references/setup.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
Due: none

feat(homeserver): Caddy HTTPS 리버스 프록시 + 커스텀 도메인 (greenhead.dev)
  libraries/constants.nix
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/caddy.nix
  modules/nixos/programs/docker/copyparty.nix
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/docker/uptime-kuma.nix
  secrets/cloudflare-dns-api-token.age
  secrets/secrets.nix
Due: nixfmt

fix(caddy): Cloudflare DNS 플러그인 버전 태그 추가 (v0.2.2)
  modules/nixos/programs/caddy.nix
Due: nixfmt

fix(caddy): withPlugins 해시 추가
  modules/nixos/programs/caddy.nix
Due: nixfmt

fix(copyparty): rproxy 모드 활성화 (CORS 403 해결)
  modules/nixos/programs/docker/copyparty.nix
Due: nixfmt

fix(copyparty): xff-src 추가 (Podman 브릿지 네트워크 프록시 신뢰)
  modules/nixos/programs/docker/copyparty.nix
Due: nixfmt

fix(uptime-kuma): host 네트워크 모드로 전환 (localhost 모니터링 지원)
  modules/nixos/programs/docker/uptime-kuma.nix
Due: nixfmt

docs(skills): Caddy HTTPS 프록시, Uptime Kuma host 네트워크 반영
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-copyparty/references/setup.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  .claude/skills/managing-minipc/SKILL.md
  .claude/skills/running-containers/SKILL.md
Due: none

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
