Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(skills): create-issue template에서 partial hash 인용 형식 제거 (#582)
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
Due: none

docs(hooks): commit-msg-pinning 작동 범위 주석 명확화 (#582)
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

feat(skills): LLM pinning guardrails — commit-msg hook + create-pr/create-issue instruction + SKILL.md baked ID 정리 (#583)
  .claude/research/2026-04-28-llm-pinning-audit.md
  README.md
  lefthook.yml
  modules/shared/programs/claude/files/skills/create-issue/SKILL.md
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/review-pr-feedback/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/protocol.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/write-handoff/SKILL.md
  scripts/ai/commit-msg-pinning.sh
  scripts/ai/warn-skill-consistency.sh
Due: shellcheck

feat(codex): Phase 1 — inline TOML hooks 이식 + Stop dispatcher + programmatic noise guard (#585)
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
  modules/shared/programs/codex/files/hooks/nrs-session-cleanup.sh
  modules/shared/programs/codex/files/hooks/record-last-stop.sh
  modules/shared/programs/codex/files/hooks/record-prompt-submit.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
Due: nixfmt, shellcheck

fix(codex): DA for_pr R1 반영 — Codex 0.124+ stdin schema/marker SSOT 정정 (#585)
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/codex/files/hooks/record-last-stop.sh
  modules/shared/programs/codex/files/hooks/record-prompt-submit.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
Due: shellcheck

fix(codex): DA for_pr R2 반영 — marker SSOT 일관성 + 매직넘버 + 헤더 표현 (#585)
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
  modules/shared/programs/codex/files/hooks/nrs-session-cleanup.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
Due: shellcheck

fix(codex): DA for_pr R3 반영 — transcript stability magic numbers 명명 (#585)
  modules/shared/programs/codex/files/hooks/stop-notification.sh
Due: shellcheck

docs(skills): parallel-audit PERF-1/DOC-CONSISTENCY-1 반영 — using-codex-exec marker 통일 (#585)
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
Due: none

feat(codex): Phase 1 — Codex 0.124+ stable hooks 자연 매핑 entries + Stop dispatcher + programmatic guard (#585) (#588)
  modules/shared/programs/claude/files/skills/codex-fan-out/SKILL.md
  modules/shared/programs/claude/files/skills/parallel-audit/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/SKILL.md
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/using-codex-exec/SKILL.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/known-issues.md
  modules/shared/programs/claude/files/skills/using-codex-exec/references/patterns.md
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  modules/shared/programs/codex/files/hooks/_stop-dispatcher.sh
  modules/shared/programs/codex/files/hooks/nrs-session-cleanup.sh
  modules/shared/programs/codex/files/hooks/record-last-stop.sh
  modules/shared/programs/codex/files/hooks/record-prompt-submit.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
Due: nixfmt, shellcheck

fix(zed): setZedAsDefaultEditor activation 실패 wrapping (#594)
  modules/darwin/programs/zed/default.nix
Due: nixfmt

fix(zed): for_pr R1 Design-1 반영 — 첫 duti 실패의 target/stderr를 한 줄 요약에 포함
  modules/darwin/programs/zed/default.nix
Due: nixfmt

fix(zed): public UTI 등록을 별도 helper로 분리해 실패 visibility 보존
  modules/darwin/programs/zed/default.nix
Due: nixfmt

fix(zed): public UTI 실패 시 최종 메시지를 'applied with warnings'로 분기
  modules/darwin/programs/zed/default.nix
Due: nixfmt

fix(zed): parallel-audit 반영 — catastrophic 감지 + TRIAL_AND_ERROR.md 정정
  docs/TRIAL_AND_ERROR.md
  modules/darwin/programs/zed/default.nix
Due: nixfmt

test(codex-hooks): verify-ai-compat 확장 + Codex 0.124+ hook fixture self-test
  README.md
  lefthook.yml
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/stop-codex-0.124.json
  tests/fixtures/codex-hooks/stdin/stop-no-last-message.json
  tests/fixtures/codex-hooks/stdin/userpromptsubmit-codex-0.124.json
  tests/fixtures/codex-hooks/sync-preservation/scenario-A-template-event.toml
  tests/fixtures/codex-hooks/sync-preservation/scenario-B-user-added-same-event.toml
  tests/fixtures/codex-hooks/sync-preservation/scenario-C-user-different-event.toml
  tests/fixtures/codex-hooks/sync-preservation/scenario-D-mcp-servers-coexist.toml
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

test(codex-hooks): verify-ai-compat 확장 + Codex 0.124+ hook fixture self-test (#595)
  README.md
  lefthook.yml
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
  scripts/ai/verify-ai-compat.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/stop-codex-0.124.json
  tests/fixtures/codex-hooks/stdin/stop-no-last-message.json
  tests/fixtures/codex-hooks/stdin/userpromptsubmit-codex-0.124.json
  tests/fixtures/codex-hooks/sync-preservation/scenario-A-template-event.toml
  tests/fixtures/codex-hooks/sync-preservation/scenario-B-user-added-same-event.toml
  tests/fixtures/codex-hooks/sync-preservation/scenario-C-user-different-event.toml
  tests/fixtures/codex-hooks/sync-preservation/scenario-D-mcp-servers-coexist.toml
  tests/lib/codex-hook-expectations.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(zed): setZedAsDefaultEditor activation duti dyn.* UTI -50 wrapping (#594) (#596)
  docs/TRIAL_AND_ERROR.md
  modules/darwin/programs/zed/default.nix
Due: nixfmt

refactor(skills): configuring-codex SKILL.md 도구-중립 cleanup (#556)
  .claude/skills/configuring-codex/SKILL.md
Due: none

refactor(skills): running-containers SKILL.md 도구-중립 cleanup (#556)
  .claude/skills/running-containers/SKILL.md
Due: none

fix(codex): Stop 알림 신뢰성/보안 — Codex transcript schema 분기 + Pushover redaction + timeout fail-open (#589)
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
  tests/fixtures/codex-hooks/stdin/stop-no-last-message-codex-transcript.json
  tests/fixtures/codex-hooks/stdin/stop-with-secret-reply.json
  tests/fixtures/codex-hooks/transcripts/codex-0.124-sample.jsonl
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

refactor(skills): syncing-codex-harness SKILL.md 도구-중립 cleanup + DA 반영 (#556)
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

refactor(skills): hosting-copyparty SKILL.md 도구-중립 cleanup (#556)
  .claude/skills/hosting-copyparty/SKILL.md
Due: none

refactor(skills): hosting-karakeep SKILL.md 도구-중립 cleanup (#556)
  .claude/skills/hosting-karakeep/SKILL.md
Due: none

refactor(skills): hosting-vaultwarden SKILL.md 도구-중립 cleanup (#556)
  .claude/skills/hosting-vaultwarden/SKILL.md
Due: none

refactor(skills): playwright-cli SKILL.md 도구-중립 cleanup (#556)
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
Due: none

refactor(skills): managing-minipc SKILL.md 도구-중립 cleanup (#556)
  .claude/skills/managing-minipc/SKILL.md
Due: none

refactor(skills): create-pr SKILL.md 도구-중립 cleanup (#556)
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
Due: none

fix(codex): DA for_pr 반영 — JWT regex 보강 + 2차 redaction 제거 + helper marker + ask/plan drift 해소 (#589)
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/stop-with-secret-reply.json
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(skills): cleanup batch DA 피드백 4건 반영 (#556)
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

fix(codex): MAINTAINABILITY-1 반영 — redact_secrets pattern 주석 family 라벨 (#589)
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
Due: shellcheck

fix(codex): comment wording 정밀도 — helper marker block만 enforce 명시 (#589)
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
Due: shellcheck

fix(skills): syncing-codex-harness mcp-config source 부재 silent 삭제 가드 (#556)
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

fix(skills): user-scope MCP 가드 + 섹션 제목 정확화 (#556)
  .claude/skills/hosting-copyparty/SKILL.md
  .claude/skills/hosting-karakeep/SKILL.md
  .claude/skills/hosting-vaultwarden/SKILL.md
  .claude/skills/managing-minipc/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

fix(codex): parallel-audit 반영 — jq 부재 redaction fail-closed + 카테고리 6 주석 동기화 (#589)
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(skills): User-scope MCP 상세 예시에도 test -f 가드 적용 (#556)
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

fix(skills): parallel-audit 발견 2건 반영 (#556)
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
Due: none

chore: stop-notification hook 주석에서 fragile 메타데이터 제거 + pinning hook 패턴 결함 수정
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
  scripts/ai/commit-msg-pinning.sh
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

fix(codex): Stop 알림 신뢰성/보안 (#597)
  modules/shared/programs/claude/files/hooks/stop-notification.sh
  modules/shared/programs/codex/files/hooks/stop-notification.sh
  scripts/ai/commit-msg-pinning.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/stop-no-last-message-codex-transcript.json
  tests/fixtures/codex-hooks/stdin/stop-with-secret-reply.json
  tests/fixtures/codex-hooks/transcripts/codex-0.124-sample.jsonl
  tests/test-codex-hook-fixtures.sh
Due: shellcheck

feat: expand pinning guardrails
  .github/workflows/pinning-check.yml
  flake.nix
  lefthook.yml
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  modules/shared/programs/claude/files/skills/create-pr/SKILL.md
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  modules/shared/programs/claude/files/skills/write-handoff/references/guide-template.md
  scripts/ai/commit-msg-pinning.sh
  scripts/ai/lib/pinning-rules.json
  scripts/ai/pre-commit-pinning.sh
  tests/test-pinning-rules.sh
Due: nixfmt, shellcheck

fix: address pinning review issues
  modules/shared/programs/claude/files/skills/create-issue/references/issue-template.md
  scripts/ai/commit-msg-pinning.sh
  scripts/ai/lib/pinning-common.sh
  scripts/ai/pre-commit-pinning.sh
Due: shellcheck
