Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

nixfmt:
  run: nixfmt --check {staged_files}

shellcheck:
  run: shellcheck -S warning {staged_files}

refactor(neovim): LazyVim v14+ deprecated 설정 정리 및 성능 개선
  modules/shared/programs/neovim/files/nvim/lazy-lock.json
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/neovim/files/nvim/lua/config/lazy.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/colorscheme.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/disabled.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/ui.lua
Due: none

refactor(tmux): SSH 자동 연결 및 미사용 claude-session 스크립트 제거
  .claude/skills/managing-tmux/references/shortcuts.md
  modules/nixos/home.nix
  modules/shared/programs/shell/nixos.nix
Due: nixfmt

feat(neovim): neo-tree→snacks.explorer 전환, 한영 IM 자동전환, ved 함수 추가
  .claude/skills/configuring-neovim/README.md
  .claude/skills/configuring-neovim/SKILL.md
  modules/darwin/programs/homebrew.nix
  modules/shared/programs/neovim/files/nvim/lazy-lock.json
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/colorscheme.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/disabled.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
  modules/shared/programs/shell/default.nix
Due: nixfmt

fix(claude-code): User Scope로 적용된 플러그인 중, 불필요한 플러그인 제거
  modules/shared/programs/claude/files/settings.json
Due: none

refactor(neovim): langmapper.nvim 제거 — 한글 IME 조합 지연으로 실용성 없음
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  CLAUDE.md
  modules/shared/programs/neovim/files/nvim/lazy-lock.json
  modules/shared/programs/neovim/files/nvim/lua/plugins/korean.lua
Due: none

feat(neovim): langmapper.nvim + FocusGained로 한글 입력소스 개선
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  CLAUDE.md
  modules/shared/programs/neovim/files/nvim/lazy-lock.json
  modules/shared/programs/neovim/files/nvim/lua/config/autocmds.lua
  modules/shared/programs/neovim/files/nvim/lua/plugins/korean.lua
Due: none

feat(folder-actions): Immich FolderAction 자동 업로드 구현
  .claude/skills/managing-secrets/SKILL.md
  .claude/skills/running-containers/SKILL.md
  modules/darwin/programs/folder-actions/default.nix
  modules/darwin/programs/folder-actions/files/scripts/upload-immich.sh
  modules/shared/programs/secrets/default.nix
  secrets/immich-api-key.age
  secrets/pushover-immich.age
  secrets/secrets.nix
Due: nixfmt, shellcheck

fix(neovim): nixfmt-rfc-style → nixfmt — deprecated alias 경고 제거
  .claude/skills/configuring-neovim/SKILL.md
  modules/shared/programs/neovim/default.nix
Due: nixfmt

fix(ssh): enableDefaultConfig = false — NixOS SSH deprecated 경고 제거
  modules/nixos/programs/ssh-client/default.nix
Due: nixfmt

fix(neovim): markdownlint-cli2 추가 + spell 비활성화 — markdown 편집 개선
  modules/shared/programs/neovim/default.nix
  modules/shared/programs/neovim/files/nvim/lua/config/autocmds.lua
  modules/shared/programs/neovim/files/nvim/lua/config/options.lua
Due: nixfmt

feat(immich): 모바일 SSH에서 Claude Code로 이미지 전달 기능 추가
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/immich-setup.md
  .claude/skills/running-containers/references/scriptable-immich-upload.md
  .claude/skills/running-containers/references/troubleshooting.md
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/immich-cleanup/default.nix
  modules/nixos/programs/immich-cleanup/files/cleanup-script.sh
Due: nixfmt, shellcheck

feat(shell): qr 함수 추가 — MiniPC→iPhone 텍스트 공유
  .claude/skills/sharing-qr/SKILL.md
  CLAUDE.md
  libraries/packages.nix
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(shell): qr 함수에 Unix-like 파이프 입력 지원 추가
  .claude/skills/sharing-qr/SKILL.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(shell): qr 함수에 긴 텍스트 Pushover 자동 전송 추가
  .claude/skills/sharing-qr/SKILL.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

refactor(shell): qr 함수를 push 함수로 변경 — Pushover 전용
  .claude/skills/sharing-qr/SKILL.md
  .claude/skills/sharing-text/SKILL.md
  CLAUDE.md
  modules/shared/programs/shell/default.nix
Due: nixfmt

docs(sharing-text): 지원 범위 섹션 추가 — 유니코드/이모지/파이프 테스트 결과 반영
  .claude/skills/sharing-text/SKILL.md
Due: none

refactor(immich-cleanup): 매일 전체 삭제 + Pushover 알림 + 에러 처리 강화
  .claude/skills/running-containers/SKILL.md
  .claude/skills/running-containers/references/immich-setup.md
  .claude/skills/running-containers/references/scriptable-immich-upload.md
  modules/nixos/configuration.nix
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/immich-cleanup/default.nix
  modules/nixos/programs/immich-cleanup/files/cleanup-script.sh
Due: nixfmt, shellcheck

fix(immich-cleanup): systemd 설정 오류 수정
  modules/nixos/programs/immich-cleanup/default.nix
  modules/nixos/programs/immich-cleanup/files/cleanup-script.sh
Due: nixfmt, shellcheck

docs(running-containers): immich-cleanup 알림 케이스 및 트러블슈팅 추가
  .claude/skills/running-containers/references/scriptable-immich-upload.md
  .claude/skills/running-containers/references/troubleshooting.md
Due: none

feat(neovim): vim-abolish case 전환 플러그인 추가 — README 정리 및 FAQ 이동
  .claude/skills/configuring-neovim/README.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: none

docs(configuring-neovim): HTML/JSX 섹션에 dst 추가 — 태그만 삭제 (nvim-surround)
  .claude/skills/configuring-neovim/README.md
Due: none

docs(configuring-neovim): 검색 섹션에 N (이전 매칭) 추가
  .claude/skills/configuring-neovim/README.md
Due: none

docs(configuring-neovim): xp (두 글자 순서 바꾸기) 삭제 — 실무 활용도 낮음
  .claude/skills/configuring-neovim/README.md
Due: none

docs(configuring-neovim): MixedCase/dash-case → PascalCase/kebab-case 용어 통일
  .claude/skills/configuring-neovim/README.md
Due: none

docs(configuring-neovim): 코드 액션 (<leader>ca) 삭제 — 실무 활용도 낮음
  .claude/skills/configuring-neovim/README.md
Due: none

feat(neovim): auto-save.nvim 플러그인 추가 — 실시간 diff 지원
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: none

chore(neovim): lazy-lock.json 업데이트 — auto-save, vim-abolish 추가
  modules/shared/programs/neovim/files/nvim/lazy-lock.json
Due: none

feat(neovim): 파일 경로 복사 키맵 추가 — <leader>yp (상대), <leader>yP (절대)
  .claude/skills/configuring-neovim/README.md
  modules/shared/programs/neovim/files/nvim/lua/config/keymaps.lua
Due: none

docs(configuring-neovim): vim-abolish에서 dot.case/space case/Title Case 제거 — 실무 활용도 낮음
  .claude/skills/configuring-neovim/README.md
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: none

docs(configuring-neovim): 선택 확장/축소 키맵 추가 — Ctrl+Space, Backspace (treesitter)
  .claude/skills/configuring-neovim/README.md
Due: none

feat(neovim): flash.nvim backdrop 활성화 — 점프 레이블 가독성 개선
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: none

fix(neovim): flash.nvim treesitter 모드에도 backdrop 적용 — Ctrl+Space 가독성 개선
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: none

feat(neovim): nvim-treesitter-context 추가 — 코드 컨텍스트 상단 고정 (sticky scroll)
  modules/shared/programs/neovim/files/nvim/lazy-lock.json
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: none

feat(neovim): markdownlint 규칙 비활성화 — MD013/MD033/MD034/MD041 노이즈 제거
  modules/shared/programs/neovim/default.nix
Due: nixfmt

fix(neovim): auto-save.nvim deprecated 옵션 제거 — execution_message 경고 해결
  modules/shared/programs/neovim/files/nvim/lua/plugins/editor.lua
Due: none

feat(neovim): markdownlint 규칙 추가 비활성화 — MD032/MD060 false positive 해결
  modules/shared/programs/neovim/default.nix
Due: nixfmt

chore(neovim): lazy-lock.json 업데이트 — 플러그인 버전 동기화
  modules/shared/programs/neovim/files/nvim/lazy-lock.json
Due: none

fix(neovim): markdownlint-cli2 설정 파일 경로 명시 — nvim-lint에 --config 옵션 추가
  .claude/skills/configuring-neovim/references/troubleshooting.md
  modules/shared/programs/neovim/files/nvim/lua/plugins/lint.lua
Due: none

fix(homebrew): macism 전체 경로로 수정 — 서드파티 tap formula 자동 설치
  .claude/skills/configuring-neovim/SKILL.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  .claude/skills/managing-macos/references/features.md
  modules/darwin/programs/homebrew.nix
Due: nixfmt

refactor(docker): 컨테이너 타임존을 시스템 설정으로 중앙화
  .claude/skills/running-containers/SKILL.md
  modules/nixos/programs/docker/immich.nix
  modules/nixos/programs/docker/plex.nix
  modules/nixos/programs/docker/uptime-kuma.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: *.nix
  shellcheck: any of: *.sh
