Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

chore(skills): SSOT 정합 / 표기 일관성 정비 3건 (#741) (#744)
  modules/shared/programs/claude/files/skills/run-da/references/arbiter-scaling.md
  modules/shared/programs/claude/files/skills/set-icons/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/SKILL.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/gotchas.md
  modules/shared/programs/claude/files/skills/using-claude-p/references/patterns.md
Due: none

style(skills): consulting-step-shell.md em-dash → 콜론+공백 (사용자 선호 반영)
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
Due: none

chore(skills): check-skill-noise.sh robustness + lefthook pre-commit 통합 (#740) (#745)
  lefthook.yml
  modules/shared/programs/claude/files/skills/plan-with-questions/references/consulting-step-shell.md
  scripts/ai/check-skill-noise.sh
Due: shellcheck

docs(skills): add text fence languages
  .claude/skills/automating-hammerspoon/references/troubleshooting.md
  .claude/skills/configuring-git/references/troubleshooting.md
  .claude/skills/hosting-copyparty/references/troubleshooting.md
  .claude/skills/managing-macos/references/troubleshooting.md
Due: none

fix(lefthook): validate pre-commit staged snapshot
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  README.md
  flake.nix
  lefthook.yml
  scripts/ai/check-lefthook-staged-config.sh
  scripts/ai/install-lefthook-hooks.sh
  scripts/ai/run-gitleaks-staged-policy.sh
  scripts/ai/run-staged-snapshot.sh
  scripts/ai/validate-gitleaks-staged-policy.py
  scripts/ai/warn-skill-consistency.sh
  tests/test-precommit-staged-snapshot.sh
Due: nixfmt, shellcheck

fix(lefthook): address PR feedback
  .claude/skills/understanding-nix/references/features.md
  flake.nix
  scripts/ai/validate-gitleaks-staged-policy.py
  scripts/ai/warn-skill-consistency.sh
  tests/test-precommit-staged-snapshot.sh
Due: nixfmt, shellcheck

fix(lefthook): validate pre-commit staged snapshot (#750)
  .claude/skills/understanding-nix/SKILL.md
  .claude/skills/understanding-nix/references/features.md
  README.md
  flake.nix
  lefthook.yml
  scripts/ai/check-lefthook-staged-config.sh
  scripts/ai/install-lefthook-hooks.sh
  scripts/ai/run-gitleaks-staged-policy.sh
  scripts/ai/run-staged-snapshot.sh
  scripts/ai/validate-gitleaks-staged-policy.py
  scripts/ai/warn-skill-consistency.sh
  tests/test-precommit-staged-snapshot.sh
Due: nixfmt, shellcheck

feat(cheat): rg(ripgrep) cheatsheet 추가
  modules/shared/programs/cheat/cheatsheets/rg/command
Due: none

fix(cheat): rg cheatsheet 리뷰 피드백 반영
  modules/shared/programs/cheat/cheatsheets/rg/command
Due: none

fix(cheat): --max-columns-preview Tip 표현 명확화
  modules/shared/programs/cheat/cheatsheets/rg/command
Due: none

feat(cheat): rg(ripgrep) cheatsheet 추가 (#752)
  modules/shared/programs/cheat/cheatsheets/rg/command
Due: none

fix(cheat): rg cheatsheet -uu/Tip binary 처리 정확화
  modules/shared/programs/cheat/cheatsheets/rg/command
Due: none

fix(cheat): rg cheatsheet -uu/Tip binary 처리 정확화 (#755)
  modules/shared/programs/cheat/cheatsheets/rg/command
Due: none

docs(create-pr): document fixed-string grep checks
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  modules/shared/programs/claude/files/skills/create-pr/references/pre-merge-guide.md
Due: none

fix(ghostty): pin dark theme for cmux
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

fix(shell): guard Ghostty zsh integration source
  modules/shared/programs/shell/darwin.nix
Due: nixfmt

docs(create-pr): document fixed-string grep checks (#771)
  modules/shared/programs/claude/files/skills/create-pr/references/pr-template.md
  modules/shared/programs/claude/files/skills/create-pr/references/pre-merge-guide.md
Due: none

docs(claude-code): .claude/plans/ 디렉토리 정책 README 추가 (#756 P0)
  .claude/plans/README.md
  .gitignore
Due: none

docs(skills): playwright-cli SKILL 0.1.8 → 0.1.13 sync (#503 follow-up)
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/spec-driven-testing.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/test-generation.md
Due: none

fix(claude/statusline): v2.1.139 폭 측정 회귀 해결 — fallback chain 도입
  flake.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/docs/statusline-env.md
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: nixfmt, shellcheck

fix(docs): inline fence marker를 code span으로 wrap (#756 PR feedback)
  .claude/plans/README.md
Due: none

refactor(claude/statusline): for_pr 검토 결과 반영 — bats hook + 문서/상수 정리
  lefthook.yml
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/docs/statusline-env.md
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(claude/statusline): 폭 측정 안정성 보강 — octal guard + nix shell wrap + 변환 표
  lefthook.yml
  modules/shared/programs/claude/files/docs/statusline-env.md
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: shellcheck

docs(skills): playwright-cli sync 자동 검토 피드백 반영
  modules/shared/programs/claude/files/skills/playwright-cli/references/spec-driven-testing.md
Due: none

docs(skills): playwright-cli sync 자동 검토 피드백 반영 (보강)
  modules/shared/programs/claude/files/skills/playwright-cli/SKILL.md
  modules/shared/programs/claude/files/skills/playwright-cli/references/session-management.md
Due: none

fix(claude/statusline): 폭 입력 가드 강화 + lefthook bats 프로젝트 lock 일치
  lefthook.yml
  modules/shared/programs/claude/files/docs/statusline-env.md
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

chore(maintenance): governance surface 관찰 + research/ 정리 (#762)
  CLAUDE.md
  docs/README.md
  docs/archive/2026-04-28-llm-pinning-audit.md
Due: none

docs(claude/statusline): 주석/docs 정확도 보정
  modules/shared/programs/claude/files/docs/statusline-env.md
  modules/shared/programs/claude/files/scripts/statusline.sh
Due: shellcheck

fix(docs): governance surface 설명에서 brittle 줄번호 제거 (#762)
  docs/README.md
Due: none

test(claude/statusline): SC 검증 허점 보강 — dynamic timestamp + detail=2 명시
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: none

test(claude/statusline): SC 검증 허점 보강 — dynamic timestamp + ANSI strip + detail=2 정정
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: none

test(claude/statusline): audit 결과 반영 — invalid matrix + stdin path + env priority 케이스
  modules/shared/programs/claude/files/docs/statusline-env.md
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: none

fix(pinning): split review-mode category into workflow + volatile sub-patterns
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  modules/shared/programs/codex/files/hooks/pinning-guard.sh
  tests/fixtures/codex-hooks/README.md
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-body-temp-traversal-pattern-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-body-temp-traversal-pattern-c-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-issue-draft-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-issue-draft-pattern-c-workflow-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-plans-pattern-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-plans-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-plans-pattern-c-workflow-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-b-to-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-b-to-c-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-claude-write-prds-pattern-c-workflow-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-deny.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-deny.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-plans-pattern-c-workflow-clean.json
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-c-workflow-clean.expected
  tests/fixtures/codex-hooks/stdin/pretooluse-pinning-guard-codex-applypatch-prds-pattern-c-workflow-clean.json
Due: shellcheck

refactor(pinning): preserve sub-category tag + collapse canonicalize helper
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
  scripts/ai/commit-msg-pinning.sh
Due: shellcheck

fix(pinning): address CodeRabbit feedback on PR #778
  modules/shared/programs/claude/files/lib/pinning-patterns.sh
Due: shellcheck

fix(claude/statusline): v2.1.139 폭 측정 회귀 — fallback chain 도입 (#776)
  flake.nix
  lefthook.yml
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/docs/cache-guide.md
  modules/shared/programs/claude/files/docs/statusline-env.md
  modules/shared/programs/claude/files/scripts/statusline.sh
  modules/shared/programs/claude/files/scripts/tests/statusline.bats
Due: nixfmt, shellcheck

docs(claude-code): .claude/plans/ 디렉토리 정책 README (#756 P0) (#773)
  .claude/plans/README.md
  .gitignore
Due: none
