Repository shren207/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, shellcheck

lefthook.yml:

pre-commit:
  piped: true
  commands:
    regen-openai-yaml:
      run: bash ./scripts/ai/regen-and-stage-openai-yaml.sh
      priority: 1
    ai-skills-consistency:
      run: bash ./scripts/ai/warn-skill-consistency.sh
      priority: 2
    gitleaks:
      run: gitleaks protect --staged --no-banner --redact
      priority: 2
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      priority: 2
    shellcheck:
      glob: "*.sh"
      run: shellcheck -S warning {staged_files}
      priority: 2
    eval-tests:
      run: bash ./tests/run-eval-tests.sh
      priority: 2

pre-push:
  commands:
    flake-check:
      run: nix flake check --no-build --all-systems

fix(anki): headless 첫 부팅 hang 해결 — prefs21.db 초기화 + GPU 비활성 (#65)
  modules/nixos/programs/anki-connect/default.nix
Due: nixfmt

docs(anki): headless 부팅 이슈 트러블슈팅 + 버전 정보 추가
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
Due: none

docs(anki): headless 부팅 이슈 트러블슈팅 + 버전 정보 (#67)
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
Due: none

feat(anki): automate anki-connect sync pipeline
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-connect/default.nix
  modules/nixos/programs/anki-connect/sync.nix
Due: nixfmt

feat(anki): automate anki-connect sync pipeline (#68)
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-connect/default.nix
  modules/nixos/programs/anki-connect/sync.nix
Due: nixfmt

fix(anki): delay bootstrap marker until copy is valid
  modules/nixos/programs/anki-connect/default.nix
Due: nixfmt

fix(anki): delay bootstrap marker until copy is valid (#69)
  modules/nixos/programs/anki-connect/default.nix
Due: nixfmt

feat: add darwin chrome-devtools MCP integration
  modules/darwin/programs/hammerspoon/default.nix
  modules/darwin/programs/hammerspoon/files/ensure-chrome-debug-port.sh
  modules/darwin/programs/hammerspoon/files/init.lua
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/mcp.darwin.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/mcp-conversion.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.darwin.toml
Due: nixfmt, shellcheck

refactor: switch chrome-devtools MCP to autoConnect strategy
  modules/darwin/programs/hammerspoon/default.nix
  modules/darwin/programs/hammerspoon/files/ensure-chrome-autoconnect.sh
  modules/darwin/programs/hammerspoon/files/ensure-chrome-debug-port.sh
  modules/darwin/programs/hammerspoon/files/init.lua
  modules/shared/programs/claude/files/mcp.darwin.json
  modules/shared/programs/codex/files/config.darwin.toml
Due: nixfmt, shellcheck

fix(codex): 불필요한 trust_level 설정 제거
  modules/shared/programs/codex/files/config.darwin.toml
  modules/shared/programs/codex/files/config.toml
Due: none

fix: address codereview issues in mcp sync and autoconnect flow
  modules/darwin/programs/hammerspoon/files/ensure-chrome-autoconnect.sh
  modules/darwin/programs/hammerspoon/files/init.lua
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/mcp-conversion.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

docs: add detailed chrome-devtools-mcp autoConnect user guide
  README.md
  docs/CHROME_DEVTOOLS_MCP_AUTOCONNECT.md
Due: none

fix(codex): clean stale worktree symlinks before HM link checks
  modules/shared/programs/codex/default.nix
Due: nixfmt

feat: macOS chrome-devtools-mcp autoConnect 전략 전환 및 user-scope MCP 정비 (#74)
  README.md
  docs/CHROME_DEVTOOLS_MCP_AUTOCONNECT.md
  modules/darwin/programs/hammerspoon/default.nix
  modules/darwin/programs/hammerspoon/files/ensure-chrome-autoconnect.sh
  modules/darwin/programs/hammerspoon/files/init.lua
  modules/shared/programs/claude/default.nix
  modules/shared/programs/claude/files/mcp.darwin.json
  modules/shared/programs/claude/files/skills/syncing-codex-harness/SKILL.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/mcp-conversion.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
  modules/shared/programs/codex/default.nix
  modules/shared/programs/codex/files/config.darwin.toml
Due: nixfmt, shellcheck

test(eval): derive maxValueBytes expectation from option default
  tests/eval-tests.nix
Due: nixfmt

fix(anki-connect): address PR review hardening feedback
  .claude/skills/hosting-anki/references/setup.md
  modules/nixos/programs/anki-connect/addons/anki-connect-config-actions.patch
  modules/nixos/programs/anki-connect/default.nix
  tests/eval-tests.nix
Due: nixfmt

feat(anki-connect): add guarded config API actions
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  CLAUDE.md
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-connect/addons/anki-connect-config-actions.patch
  modules/nixos/programs/anki-connect/default.nix
  tests/eval-tests.nix
Due: nixfmt

chore(anki-connect): tighten contracts from second review
  .claude/skills/hosting-anki/references/troubleshooting.md
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-connect/addons/anki-connect-config-actions.patch
  modules/nixos/programs/anki-connect/default.nix
Due: nixfmt

fix(anki-connect): make config-actions patch apply under -p1
  modules/nixos/programs/anki-connect/addons/anki-connect-config-actions.patch
Due: none

feat: miniPC AnkiConnect에 getConfig/setConfig 커스텀 액션 제공 (#72)
  .claude/skills/hosting-anki/SKILL.md
  .claude/skills/hosting-anki/references/setup.md
  .claude/skills/hosting-anki/references/troubleshooting.md
  CLAUDE.md
  modules/nixos/options/homeserver.nix
  modules/nixos/programs/anki-connect/addons/anki-connect-config-actions.patch
  modules/nixos/programs/anki-connect/default.nix
  tests/eval-tests.nix
Due: nixfmt

feat(claude): --add-dir로 추가한 작업 디렉터리의 CLAUDE.md 및 메모리도 로드하도록 수정
  modules/shared/programs/claude/files/settings.json
Due: none

docs(envrc): nix-direnv race condition 주의사항 주석 추가
  .envrc
Due: none

fix(codex): replace_mcp_sections() 정규식을 줄 단위 파싱으로 교체하여 TOML 배열 리터럴 오인 버그 수정 (#82)
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/mcp-conversion.md
  modules/shared/programs/claude/files/skills/syncing-codex-harness/references/sync.sh
Due: shellcheck

refactor(font): Sarasa Mono K Nerd Font 제거, JetBrains Mono 단독 전환
  .claude/skills/managing-macos/references/features.md
  README.md
  libraries/packages/sarasa-mono-k-nerd-font.nix
  modules/darwin/configuration.nix
  modules/darwin/programs/cursor/files/settings.json
  modules/darwin/programs/ghostty/default.nix
Due: nixfmt

feat(wt): 워크트리 생성 시 .claude/, .codex/, .agents/ 자동 복사
  modules/shared/scripts/git-worktree-functions.sh
Due: shellcheck

chore(darwin): homebrew.nix dead code 활성화 — import 추가 및 스킬 문서 정비 (#81)
  .claude/skills/configuring-neovim/references/korean-input.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  .claude/skills/managing-cursor/references/troubleshooting.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  modules/darwin/configuration.nix
  modules/darwin/programs/homebrew.nix
Due: nixfmt

refactor(darwin): shottr, ghostty를 Homebrew Cask에서 Nix 패키지로 전환
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  libraries/packages.nix
  modules/darwin/programs/homebrew.nix
Due: nixfmt

fix(darwin): ghostty → ghostty-bin (macOS는 프리빌트 바이너리만 지원)
  libraries/packages.nix
Due: nixfmt

fix(darwin): ghostty를 Homebrew Cask로 복원 — pkgs.ghostty-bin은 .app 번들 미포함
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  libraries/packages.nix
  modules/darwin/programs/homebrew.nix
Due: nixfmt

docs(skills): PR #83 리뷰 피드백 반영 — adopt loop 완성 및 코드 블록 언어 식별자 추가
  .claude/skills/managing-macos/references/features.md
Due: none

chore(darwin): homebrew.nix dead code 활성화 — import 추가 및 스킬 문서 정비 (#81)
  .claude/skills/configuring-neovim/references/korean-input.md
  .claude/skills/configuring-neovim/references/troubleshooting.md
  .claude/skills/managing-cursor/references/troubleshooting.md
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  libraries/packages.nix
  modules/darwin/configuration.nix
  modules/darwin/programs/homebrew.nix
Due: nixfmt

feat(atuin): 호스트별 inline_height 동적 분리 — MacBook 40, MiniPC 9 유지
  modules/shared/programs/shell/default.nix
Due: nixfmt

feat(atuin): 호스트별 inline_height 동적 분리 — MacBook 40, MiniPC 9 유지 (#88)
  modules/shared/programs/shell/default.nix
Due: nixfmt

refactor(darwin): hostType별 Tailscale 의존 기능 분리 — work Mac에 불필요한 설정 제거
  modules/darwin/configuration.nix
  modules/darwin/programs/folder-actions/default.nix
  modules/darwin/programs/shottr/default.nix
  modules/darwin/programs/ssh/default.nix
Due: nixfmt

fix(skill): codex exec review 서브커맨드 플래그 구분 명확화 및 자기 교정 메커니즘 도입
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/using-codex-exec/SKILL.md
  .claude/skills/using-codex-exec/references/troubleshooting.md
  CLAUDE.md
Due: none

refactor(darwin): Shottr 경로 분기 제거(YAGNI) 및 hostType 분기 주석 보강
  modules/darwin/configuration.nix
  modules/darwin/programs/folder-actions/default.nix
  modules/darwin/programs/shottr/default.nix
  modules/darwin/programs/ssh/default.nix
Due: nixfmt

fix(skill): codex exec review 서브커맨드 플래그 구분 명확화 및 자기 교정 메커니즘 도입 (#89)
  .claude/skills/configuring-codex/SKILL.md
  .claude/skills/using-codex-exec/SKILL.md
  .claude/skills/using-codex-exec/references/troubleshooting.md
  CLAUDE.md
Due: none

docs(folder-actions): 헤더 주석에 upload-immich(personal) 표기 추가
  modules/darwin/programs/folder-actions/default.nix
Due: nixfmt

docs(darwin): hostType 분기 주석 간결화 — 중복 설명 제거
  modules/darwin/configuration.nix
  modules/darwin/programs/folder-actions/default.nix
  modules/darwin/programs/ssh/default.nix
Due: nixfmt

fix(darwin): Figma cask 제거 및 Homebrew 업그레이드 정책 도입
  .claude/skills/managing-macos/SKILL.md
  .claude/skills/managing-macos/references/features.md
  modules/darwin/programs/homebrew.nix
Due: nixfmt
